.accordion
  & + .accordion
    margin-top: vw(30, 1920)
    @media (max-width: 767px)
      margin-top: vmin(11, 320)
  &__panel
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    padding: vw(26, 1920) vw(38, 1920)
    cursor: pointer
    background: $white
    border-radius: vw(10, 1920)
    @media (max-width: 767px)
      padding: vmin(11, 320) vmin(47, 320) vmin(12, 320) vmin(18, 320)
      border-radius: vmin(6, 320)
    .accordion.active &
      border-radius: vw(10, 1920) vw(10, 1920) 0 0
      @media (max-width: 767px)
        border-radius: vmin(6, 320) vmin(6, 320) 0 0
  &__icon
    position: absolute
    top: 50%
    right: vw(19, 1920)
    transform: translateY(-50%) rotate(0deg)
    width: vw(18, 1920)
    height: vw(9, 1920)
    background: url('../images/5ka/triangle-2.svg') center no-repeat
    background-size: contain
    transition: transform .2s ease-in-out
    transform-origin: 50% 50%
    @media (max-width: 767px)
      width: vmin(10, 320)
      height: vmin(5, 320)
      right: vmin(12, 320)
    .accordion.active &
      transform: translateY(-50%) rotate(180deg)
  &__title
    font: 700 vw(30, 1920) $font-alt
    line-height: vw(38, 1920)
    width: 100%
    color: #0055A5
    @media (max-width: 767px)
      font-size: vmin(15, 320)
      line-height: vmin(18, 320)
  &__content
    display: none
    background: $white
    border-radius: 0 0 vw(10, 1920) vw(10, 1920)
    @media (max-width: 767px)
      border-radius: 0 0 vmin(6, 320) vmin(6, 320)
  &__content-inner
    font: 400 vw(24, 1920) $font-alt
    line-height: vw(32, 1920)
    padding: 0 vw(79, 1920) vw(16, 1920) vw(38, 1920)
    color: $black-ll
    @media (max-width: 767px)
      font-size: vmin(15, 320)
      line-height: vmin(18, 320)
      padding: 0 vmin(18, 320) vmin(26, 320) vmin(18, 320)
