#apm-widget
    position: absolute
    top: 0
    left: 0
.apm-form-container
    margin: 0 auto
    text-align: center
    position: relative
    background: 0 0
    padding-bottom: 16px
.apm-uploader-input
    opacity: 0
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    cursor: pointer
.apm-qr-code
    width: 20px
    height: 20px
    vertical-align: middle
.apm-btn-manual-input, .apm-block-btn.apm-action-button
    font: 700 vw(30, 1920) $font-alt
    line-height: vw(37, 1920)
    background-color: $red-l
    border-radius: vw(100, 1920)
    text-align: center
    border: 1px solid $red-l
    color: $white
    padding: vw(26, 1920) vw(35, 1920)
    min-width: vw(512, 1920)
    overflow: hidden
    margin: 0 auto
    position: relative
    display: inline-block
    box-sizing: border-box
    cursor: pointer
    transition: all 0.2s ease-in-out
    @media (max-width: 767px)
      font: 700 vmin(16, 320) $font-alt
      line-height: vmin(19, 320)
      border-radius: vmin(100, 320)
      padding: vmin(12, 320) 0
      min-width: vmin(289, 320)
    &:hover
      background-color: $white
      color: $red-l
.apm-btn-link
    text-decoration: none
    display: block
    text-align: center
    width: 100%
    & + &
        margin-top: 16px
        @media (max-width: 767px)
            margin-top: vmin(10, 320)
.apm-qr-btn-text
    text-transform: none
    &:first-letter
        text-transform: uppercase
.apm-action-button
    text-align: center
    margin: 0
.apm-modal-widget
    width: 320px
    background-color: #fff
    margin: auto
    padding-bottom: 40px
div.apm-title
    padding: 0
h3.apm-title
    font: 400 vw(80, 1920) $font-special
    line-height: vw(90, 1920)
    text-transform: uppercase
    text-align: center
    margin-bottom: vw(16, 1920)
    margin-top: 0
    color: $sea
    @media (max-width: 767px)
      font-size: vmin(40, 320)
      line-height: vmin(48, 320)
      margin-bottom: vmin(10, 320)
h3.apm-title-manual
    padding-top: 0
.apm-description-title
    padding: 0
.apm-p
    font: 400 vw(30, 1920) $font-alt
    line-height: vw(40, 1920)
    text-align: center
    margin: 0 0 vw(16, 1920) !important
    color: $blue-l
    @media (max-width: 767px)
      font-size: vmin(15, 320)
      line-height: vmin(20, 320)
      margin: 0 0 vmin(10, 320) !important
.apm-block-wrong-qr
    margin: 0 auto vw(36, 1920)
    @media (max-width: 767px)
        margin-bottom: vmin(32, 320)
.apm-number-sign
    width: 24px
    height: 22px
    font-size: 18px
    font-weight: 700
    font-style: normal
    font-stretch: normal
    line-height: normal
    letter-spacing: 3px
    text-align: center
    color: #ff5d5f
.apm-receipt-number
    width: 89px
    height: 29px
    font-size: 24px
    font-weight: 700
    font-style: normal
    font-stretch: normal
    line-height: normal
    letter-spacing: 4px
    text-align: center
    color: #714141
.apm-phone-input
    border: 2px solid transparent
    border-radius: vw(10, 1920)
    font: vw(24, 1920) $font-alt
    line-height: vw(28, 1920)
    padding: vw(22, 1920) vw(19, 1920)
    max-width: vw(512, 1920)
    width: 100%
    color: $black-ll
    background: $white
    appearance: none
    display: block
    box-shadow: none
    box-sizing: border-box
    @media (max-width: 767px)
        padding: vmin(14, 320) vmin(13, 320)
        font-size: vmin(15, 320)
        line-height: vmin(18, 320)
        border-radius: vmin(5, 320)
        max-width: none
        margin-bottom: vmin(8, 320)
.apm-img-error-block
    width: vw(191, 1920)
    height: vw(191, 1920)
    margin: 0 auto vw(19, 1920)
    background: url('../images/5ka/error.png') center no-repeat
    background-size: contain
    @media (max-width: 767px)
        margin-bottom: vmin(24, 320)
        width: vmin(112, 320)
        height: vmin(112, 320)
.apm-img-error
    display: none
.apm-img-in-progress-block
    text-align: center
    position: relative
.apm-btn-transparent
    position: relative
    overflow: hidden
    margin: 0 auto
    width: 256px
    height: 48px
    border-radius: 4px
    line-height: 48px
    text-align: center
    padding: 16px 0 0
.apm-btn-link-transparent
    color: #4190ff
.apm-p-input
    display: block
    max-width: vw(512, 1920)
    margin-left: auto
    margin-right: auto
    font: 400 vw(15, 1920) $font-alt
    line-height: 1
    color: $grey
    margin-top: vw(30, 1920)
    margin-bottom: vw(8, 1920)
    @media (max-width: 767px)
        max-width: none
        margin-bottom: vmin(4, 320)
        margin-top: vmin(15, 320)
        font-size: vmin(11, 320)
.apm-validation-error
    font: 400 vw(16, 1920) $font-alt
    line-height: vw(19, 1920)
    color: $red-l
    margin-top: vw(4, 1920)
    margin-left: auto
    margin-right: auto
    max-width: vw(512, 1920)
    @media (max-width: 767px)
        font-size: vmin(11, 320)
        line-height: vmin(13, 320)
        margin-top: vmin(4, 320)
        max-width: none
.apm-qr-input
    margin-left: auto
    margin-right: auto
.apm-submit-qr
    margin-top: vmin(24, 320)
    @media (max-width: 767px)
        margin-top: vmin(24, 320)
.apm-block-qr
    text-align: left
    margin-top: vmin(20, 320)
    @media (max-width: 767px)
        margin-top: vmin(20, 320)
.apm-block-qr-video
    padding: 0
.apm-qr-video
    width: 100%
.apm-btn-main
    & > .apm-btn-link
        display: none
.apm-action-button-dupe
    margin: auto
.apm-modal
    overflow-x: hidden
    overflow-y: auto
    position: fixed
    top: 0
    left: 0
    width: 100vw
    z-index: 1050
    height: 100%
    outline: 0
.apm-modal-dialog
    position: relative
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    max-height: 100vh
    width: 100%
    pointer-events: none
    max-width: vw(904, 1920)
    @media (max-width: 767px)
      transform: none
      max-width: none
      top: 0
      left: 0
      margin-top: 0
      min-height: 100vh
.apm-modal-content
    position: relative
    display: -ms-flexbox
    display: flex
    -ms-flex-direction: column
    flex-direction: column
    width: 100%
    pointer-events: auto
    background: $sky url('../images/5ka/popup-bg.png') 0 0 no-repeat
    background-size: 100% auto
    border-radius: vw(30, 1920)
    outline: 0
    @media (max-width: 767px)
        height: 100vh
        overflow-y: auto
        border-radius: 0
        border: none
        backdrop-filter: none
#qr-upload-photos-button, #qr-manual-input-button
  .apm-btn-manual-input
    background-color: $blue-d
    border-color: $blue-d
    &:hover
      background-color: $white
      color: $blue-d
.apm-modal-header
    display: -ms-flexbox
    display: flex
    -ms-flex-align: start
    align-items: flex-start
    -ms-flex-pack: justify
    justify-content: space-between
.apm-close
    position: absolute
    top: 0
    right: vw(-33, 1920)
    z-index: 5
    width: vw(22, 1920)
    height: vw(22, 1920)
    border: none
    cursor: pointer
    background: url('../images/5ka/cross.svg') center no-repeat
    background-size: contain
    @media (max-width: 767px)
      top: vmin(16, 320)
      right: vmin(14, 320)
      width: vmin(12, 320)
      height: vmin(12, 320)
.apm-modal-body
    position: relative
    -ms-flex: 1 1 auto
    flex: 1 1 auto
    width: 100%
    padding: vw(72, 1920) vw(66, 1920) vw(59, 1920)
    @media (max-width: 767px)
      padding: vmin(35, 320) vmin(15, 320) vmin(61, 320)
.apm-block-qr-video
    margin: 0 auto vw(45, 1920)
    width: vw(427, 1920)
    height: vw(300, 1920)
    overflow: hidden
    @media (max-width: 767px)
      margin: 0 auto vmin(10, 320)
      width: 100%
      height: vmin(250, 320)
.apm-modal-open
    overflow: hidden
.apm-modal-backdrop
    position: fixed
    top: 0
    left: 0
    z-index: 1040
    width: 100vw
    height: 100vh
    background: rgba($blue-d, .8)
#apm-manual-upload
  text-align: center
  padding-top: vw(18, 1920)
#apm-upload-button
    border-radius: vw(100, 1920)
    text-align: center
    border: 1px solid $blue-d
    background-color: $blue-d
    border-color: $blue-d
    padding: vw(26, 1920) vw(35, 1920)
    min-width: vw(512, 1920)
    box-sizing: border-box
    transition: all .2s ease-in-out
    @media (max-width: 767px)
      font: 700 vmin(16, 320) $font-alt
      line-height: vmin(19, 320)
      border-radius: vmin(100, 320)
      padding: vmin(12, 320) vmin(45, 320) vmin(12, 320) 0
      min-width: vmin(289, 320)
    .btn-content
        background: transparent
        padding: 0
        color: blue
    &:hover
        background-color: transparent
        color: $blue-d
        .text
            color: $blue-d
        .icon
            fill: $blue-d
    .icon
        width: vw(32, 1920)
        height: vw(32, 1920)
        flex: 0 0 vw(32, 1920)
        margin-right: vw(40, 1920)
        vertical-align: middle
        fill: $white
        @media (max-width: 767px)
            margin-right: vmin(16, 320)
            width: vmin(16, 320)
            height: vmin(16, 320)
            flex: 0 0 vmin(16, 320)
            margin-right: vmin(40, 320)
    .text
        font: 700 vw(30, 1920) $font-alt
        line-height: vw(37, 1920)
        vertical-align: middle
        color: $white
        @media (max-width: 767px)
            font-size: vmin(16, 320)
#apm-manual-upload
    .apm-qr-btn-text:first-letter
        text-transform: uppercase
#apm-photos-thumbnails-container
    margin: vw(43, 1920) 0 0
    display: flex
    display: -ms-flexbox
    justify-content: flex-start
    align-items: flex-start
    @media (max-width: 767px)
        margin: vmin(20, 320) vmin(-5, 320) vmin(32, 320)
.apm-photo-thumbnail-wrapper
    width: vw(142, 1920)
    height: vw(142, 1920)
    margin: vw(7, 1920)
    position: relative
    @media (max-width: 767px)
        margin: vmin(5, 320)
        width: vmin(83, 320)
        height: vmin(83, 320)
.apm-photo-thumbnail-image
    min-width: 100%
    min-height: 100%
    width: 100%
    height: auto
    overflow: hidden
    border-radius: vw(10, 1920)
    @media (max-width: 767px)
      border-radius: vmin(10, 320)
.apm-remove-photo-button
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: transparent
    color: #D9C9A7
    display: flex
    display: -ms-flexbox
    justify-content: center
    align-items: center
    cursor: pointer
    border: none
    opacity: 0
    transition: opacity 0.3s
    z-index: 10
    @media (max-width: 767px)
      opacity: 1
    &::before
        content: ''
        width: vw(27, 1920)
        height: vw(27, 1920)
        border-radius: 50%
        position: absolute
        top: vw(7, 1920)
        right: vw(7, 1920)
        cursor: inherit
        box-sizing: border-box
        background: url('../images/5ka/cross.svg') center no-repeat
        background-size: vw(10, 1920)
        background-color: $sea
        @media (max-width: 767px)
            background-size: vmin(10, 320)
            width: vmin(20, 320)
            height: vmin(20, 320)
            top: 0
            right: 0
    &:hover
        opacity: 1
