.btn-5ka
  font: 700 vw(30, 1920) $font-alt
  line-height: vw(37, 1920)
  background-color: $red-l
  border-radius: vw(100, 1920)
  text-align: center
  border: 1px solid $red-l
  color: $white
  padding: vw(26, 1920) vw(35, 1920)
  min-width: vw(454, 1920)
  box-sizing: border-box
  transition: all .2s ease-in-out
  @media (max-width: 767px)
    font: 700 vmin(16, 320) $font-alt
    line-height: vmin(19, 320)
    border-radius: vmin(100, 320)
    padding: vmin(12, 320) 0
    min-width: vmin(289, 320)
  &:hover
    background-color: $white
    color: $red-l
  &--blue
    background-color: $blue-d
    border-color: $blue-d
    &:hover
      background-color: $white
      color: $blue-d
  &--black
    background-color: $black
    border-color: $black
    &:hover
      color: $black
  &--icon
    display: block
    position: relative
    text-align: right
    padding-right: vw(60, 1920)
    @media (max-width: 767px)
      padding-right: vmin(60, 320)
    &:hover
      .icon-apple
        fill: $black
    .icon-apple
      position: absolute
      left: vw(37, 1920)
      top: 50%
      transform: translateY(-50%)
      width: vw(44, 1920)
      height: vw(54, 1920)
      fill: $white
      @media (max-width: 767px)
        width: vmin(20, 320)
        height: vmin(24, 320)
        left: vmin(13, 320)
  &--plain
    padding: 0
    background: transparent
    color: $sea
    border: none
    min-width: 0
    font: 400 vw(24, 1920) $font-alt
    line-height: vw(29, 1920)
    text-decoration: underline
    @media (max-width: 767px)
      font: 700 vmin(15, 320) $font-alt
      line-height: vmin(18, 320)
    &:hover
      text-decoration: none
      background: transparent
      color: $sea
