.field
  text-align: left
  display: flex
  justify-content: flex-start
  align-items: center
  & + &
    margin-top: vw(28, 1920)
    @media (max-width: 767px)
      margin-top: vmin(14, 320)
  &--checkbox + .field--checkbox
    margin-top: vw(22, 1920) !important
    @media (max-width: 767px)
      margin-top: vmin(10, 320) !important
  &--select
    flex-direction: column
    align-items: flex-start
    .field__label-text
      position: static
      font: 400 vw(20, 1920) $font-alt
      line-height: vw(28, 1920)
      color: #0055A5
      margin-bottom: vw(8, 1920)
      @media (max-width: 767px)
        font-size: vmin(15, 320)
        line-height: vmin(18, 320)
        margin-bottom: vmin(11, 320)
  &--radio
    min-width: vw(402, 1920)
    height: vw(75, 1920)
    @media (max-width: 767px)
      height: vmin(46, 320)
      min-width: 0
      width: 100%
    .field__input
      &:checked ~ .field__check
        border-color: $marine
    .popup &
      margin-left: auto
      margin-right: auto
      margin-bottom: vw(29, 1920)
      @media (max-width: 767px)
        margin-bottom: 0
  &__input,
  &__placeholder,
  &__file,
  &__file .selected
    border: 2px solid transparent
    border-radius: vw(10, 1920)
    font: vw(24, 1920) $font-alt
    line-height: vw(28, 1920)
    padding: vw(30, 1920) vw(19, 1920) vw(14, 1920)
    box-sizing: border-box
    @media (max-width: 767px)
      padding: vmin(20, 320) vmin(13, 320) vmin(8, 320)
      font-size: vmin(15, 320)
      line-height: vmin(18, 320)
      border-radius: vmin(5, 320)
  &__input
    &[type="file"], &[type="radio"]
      width: 0
      height: 0
      position: absolute
      padding: 0
      overflow: hidden
      opacity: 0
      border: none
    &--textarea
      height: vw(205, 1920)
      box-sizing: border-box
      resize: none
      @media (max-width: 767px)
        height: vmin(232, 320)
  &__input,
  &__file
    display: block
    width: 100%
    color: $black-ll
    box-sizing: border-box
    background: $white
    appearance: none
  &__label
    position: relative
    display: block
    min-width: vw(402, 1920)
    @media (max-width: 767px)
      min-width: 0
      width: 100%
    &--radio
      position: relative
      font: 400 vw(24, 1920) $font-alt
      line-height: vw(28, 1920)
      color: $black-ll
      padding-left: vw(51, 1920)
      min-width: 0
      @media (max-width: 767px)
        padding-left: vmin(35, 320)
        font-size: vmin(15, 320)
        line-height: vmin(18, 320)
      .field__check
        width: vw(40, 1920)
        height: vw(40, 1920)
        background: $white
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        border-radius: 50%
        box-sizing: border-box
        border: vw(14, 1920) solid $white
        cursor: pointer
        transition: all .3s ease-in-out
        @media (max-width: 767px)
          width: vmin(26, 320)
          height: vmin(26, 320)
          border-width: vmin(9, 320)
      &::after
        opacity: 0
        border: vw(14, 1920) solid $marine
        transition: opacity .3s ease-in-out
      & + .field__label
        margin-left: vw(30, 1920)
        @media (max-width: 767px)
          margin-left: vmin(15, 320)
    &--error
      .field__input
        border-color: $red-l
  &__label-text
    position: absolute
    top: vw(13, 1920)
    left: vw(21, 1920)
    font: 400 vw(15, 1920) $font-alt
    line-height: 1
    color: $grey
    z-index: 1
    @media (max-width: 767px)
      font-size: vmin(11, 320)
      top: vmin(8, 320)
      left: vmin(13, 320)
  &__label-title
    font: 400 vw(24, 1920) $font-alt
    line-height: vw(28, 1920)
    color: $black-ll
    margin-right: vw(12, 1920)
    @media (max-width: 767px)
      font-size: vmin(15, 320)
      line-height: vmin(18, 320)
      margin-right: vmin(20, 320)
  &__error
    width: 100%
    position: absolute
    bottom: vw(-20, 1920)
    left: 0
    text-align: right
    font: 400 vw(16, 1920) $font-alt
    line-height: vw(19, 1920)
    color: $red-l
    @media (max-width: 767px)
      font-size: vmin(11, 320)
      line-height: vmin(13, 320)
      position: static
.form-5ka
  &__field
    position: relative
  &__change
    margin-top: vw(28, 1920)
    @media (max-width: 767px)
      margin-top: vmin(16, 320)
  &--center
    width: vw(441, 1920)
    margin-left: auto
    margin-right: auto
    @media (max-width: 767px)
      width: 100%
    .field__label
      width: 100%
  &--cols
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    @media (max-width: 767px)
      display: block
    .field
      &:nth-child(2)
        margin-top: 0
        @media (max-width: 767px)
          margin-top: vmin(14, 320)
      &__label
        .popup &
          min-width: vw(371, 1920)
        &--radio
          .popup &
            min-width: 0
.field--checkbox
  background-color: transparent !important
  padding: 0 !important
  .field
    &__label
      display: flex
      justify-content: flex-start
      align-items: center
    &__check
      width: vw(18, 1920)
      height: vw(10, 1920)
      position: absolute
      top: 42%
      left: 50%
      border: vw(4, 1920) solid $white
      border-top: none
      border-right: none
      background: transparent
      opacity: 0
      transform: translate(-50%, -50%) rotate(-45deg)
      z-index: 1
      transition: opacity .3s ease-in-out
      @media (max-width: 767px)
        width: vmin(10, 320)
        height: vmin(6, 320)
        border: vmin(2, 320) solid $white
        border-top: none
        border-right: none
    &__input
      position: absolute
      opacity: 0
      pointer-events: none
      &:checked ~ .field__check, &:checked ~ .field__bg
        opacity: 1
    &__bg
      width: 100%
      height: 100%
      border-radius: vw(7, 1920)
      background: #45A9DC
      opacity: 0
      transition: opacity .3s ease-in-out
      @media (max-width: 767px)
        border-radius: vmin(7, 320)
    &__box
      display: flex
      justify-content: center
      align-items: center
      flex: 0 0 vw(39, 1920)
      width: vw(39, 1920)
      height: vw(39, 1920)
      border-radius: vw(7, 1920)
      background: $white
      margin-right: vw(19, 1920)
      cursor: pointer
      position: relative
      @media (max-width: 767px)
        flex: 0 0 vmin(22, 320)
        width: vmin(22, 320)
        height: vmin(22, 320)
        margin-right: vmin(12, 320)
        border-radius: vmin(7, 320)
    &__text
      font: 400 vw(24, 1920) $font-alt
      line-height: vw(28, 1920)
      color: $blue-l
      @media (max-width: 767px)
        font-size: vmin(15, 320)
        line-height: vmin(28, 320)
      a
        color: inherit
        text-decoration: underline
        &:hover
          text-decoration: none
  .icon-check
    width: 100%
    height: 100%
    opacity: 0
    transition: opacity 0.3s
  &.is-checked .icon-check
    opacity: 1
.g-recaptcha
  width: 100%
  margin-top: vw(29, 1920)
  margin-left: auto
  margin-right: auto
  @media (max-width: 767px)
    margin-top: vmin(21, 320)
  & > div
    margin: 0 auto
    max-width: 100%
  iframe
    max-width: 100%
