html
  &.popup-opened
    overflow: hidden
body
  .popup-opened &
    overflow: hidden
.popup
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100%
  z-index: 99
  display: none
  background: rgba($blue-d, .8)
  overflow-y: auto
  @supports (-ms-ime-align:auto)
    overflow-x: hidden
  &.unclosed
    .popup__close
      display: none
  &--blank
    a
      color: $blue-l
      text-decoration: underline
      &:hover
        text-decoration: none
    p
      & + p
        margin-top: vw(30, 1920)
        @media (max-width: 767px)
          margin-top: vmin(15, 320)
  &__inner
    background: $sky url('../images/5ka/popup-bg.png') 0 0 no-repeat
    background-size: 100% auto
    border-radius: vw(30, 1920)
    overflow: hidden
    position: relative
    @media (max-width: 767px)
      border: none
      border-radius: 0
      margin-top: 0
      box-shadow: none
      min-height: 100vh
    .popup--blank &
      background: $white
      color: $blue-l
  &__window
    width: 100%
    max-height: 100vh
    max-width: vw(904, 1920)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: none
    @media (max-width: 767px)
      transform: none
      max-width: none
      top: 0
      left: 0
      margin-top: 0
      min-height: 100vh
    .popup--big &
      max-width: vw(1000, 1920)
      @media (max-width: 767px)
        max-width: none
  &__form
    &-wrapper
      width: vw(770, 1920)
      margin-left: auto
      margin-right: auto
      @media (max-width: 767px)
        width: 100%
        padding: 0 vmin(15, 320)
    &-bottom
      width: vw(435, 1920)
      margin: vw(35, 1920) auto 0
      @media (max-width: 767px)
        width: 100%
        margin-top: vmin(15, 320)
  &__btns
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-direction: column
    margin-top: vw(35, 1920)
    padding-bottom: vw(60, 1920)
    @media (max-width: 767px)
      margin-top: vmin(15, 320)
      padding-bottom: vmin(32, 320)
    .prize-5ka &
      padding: 0
      margin: 0
      align-items: center
    .btn-5ka--plain
      font-weight: 400
    .btn-5ka
      min-width: 100%
      .prize-5ka &
        min-width: 0
        @media (max-width: 767px)
          padding-left: vmin(40, 320)
          padding-right: vmin(40, 320)
      &--plain
        min-width: 0
    .btn-5ka + .btn-5ka
      margin-top: vw(35, 1920)
      @media (max-width: 767px)
        margin-top: vmin(15, 320)
  &__heading
    color: $sea
    text-align: center
    margin-bottom: vw(19, 1920)
    @media (max-width: 767px)
      margin-bottom: vmin(4, 320)
    .feedback-5ka &
      @media (max-width: 767px)
        margin-bottom: vmin(27, 320)
  &__text
    color: $blue-l
    text-align: center
    margin-bottom: vw(40, 1920)
    font-weight: 400
    @media (max-width: 767px)
      margin-bottom: vmin(15, 320)
      line-height: vmin(20, 320)
    p
      margin: 0
    p + p
      margin-top: vw(11, 1920)
      @media (max-width: 767px)
        margin-top: vmin(20, 320)
  &__img
    display: block
    margin: 0 auto
    &--logo
      width: vw(375, 1920)
      height: vw(225, 1920)
      margin-left: 0
      margin-bottom: vw(10, 1920)
      @media (max-width: 767px)
        width: vmin(180, 320)
        height: auto
        margin-bottom: vmin(10, 320)
    &--prize
      width: vw(270, 1920)
      height: vw(359, 1920)
      margin-bottom: vw(26, 1920)
      @media (max-width: 767px)
        width: vmin(112, 320)
        height: vmin(150, 320)
        margin-bottom: vmin(15, 320)
  &__close
    position: absolute
    top: 0
    right: vw(-55, 1920)
    z-index: 5
    width: vw(22, 1920)
    height: vw(22, 1920)
    cursor: pointer
    background: url('../images/5ka/cross.svg') 0 0 no-repeat
    background-size: contain
    @media (max-width: 767px)
      width: vmin(12, 320)
      height: vmin(12, 320)
      right: vmin(14, 320)
      top: vmin(16, 320)
      background: url('../images/5ka/cross-b.svg') 0 0 no-repeat
      background-size: contain
  &__services
    padding: vw(40, 1920) 0 vw(60, 1920)
    width: 100%
    text-align: center
    background: #45A9DC
    @media (max-width: 767px)
      padding: vmin(16, 320) 0 vmin(34, 320)
    &-heading
      text-align: center
      color: $white
      margin-bottom: vw(33, 1920)
      @media (max-width: 767px)
        margin-bottom: vmin(12, 320)
  &-service
    display: inline-block
    width: vw(82, 1920)
    height: vw(82, 1920)
    background-color: $white
    border-radius: 50%
    margin-right: vw(37, 1920)
    position: relative
    transition: all .2s ease-in-out
    @media (max-width: 767px)
      width: vmin(46, 320)
      height: vmin(46, 320)
      margin-right: vmin(22, 320)
    &:last-child
      margin-right: 0
    &:hover
      background-color: $blue-l
      svg
        fill: $white
    svg
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      fill: $blue-l
      transition: all .2s ease-in-out
    &--fb
      svg
        width: vw(16, 1920)
        height: vw(34, 1920)
        @media (max-width: 767px)
          width: vmin(9, 320)
          height: vmin(19, 320)
    &--vk
      svg
        width: vw(39, 1920)
        height: vw(23, 1920)
        @media (max-width: 767px)
          width: vmin(22, 320)
          height: vmin(13, 320)
    &--ok
      svg
        width: vw(24, 1920)
        height: vw(38, 1920)
        @media (max-width: 767px)
          width: vmin(13, 320)
          height: vmin(21, 320)
    &--gmail
      svg
        width: vw(41, 1920)
        height: vw(33, 1920)
        @media (max-width: 767px)
          width: vmin(23, 320)
          height: vmin(18, 320)
    &--apple
      margin: 0 auto vw(29, 1920)
      max-width: vw(438, 1920)
      @media (max-width: 767px)
        margin-bottom: vmin(22, 320)
        max-width: vmin(289, 320)
  &__content
    width: 100%
    position: relative
    box-sizing: border-box
    &.prize-5ka
      padding: vw(51, 1920) vw(20, 1920) vw(91, 1920)
      @media (max-width: 767px)
        padding: vmin(22, 320) vmin(15, 320) vmin(38, 320)
    &.code-5ka
      padding: vw(51, 1920) vw(20, 1920) 0
      @media (max-width: 767px)
        padding: vmin(22, 320) vmin(15, 320) 0
    .popup--blank &
      padding: vw(21, 1920) vw(66, 1920) vw(50, 1920) vw(84, 1920)
      @media (max-width: 767px)
        padding: vmin(22, 320) vmin(15, 320)
    &.feedback-5ka
      padding-top: vw(67, 1920)
      padding-bottom: vw(41, 1920)
      @media (max-width: 767px)
        padding: vmin(32, 320) vmin(15, 320) vmin(22, 320)
