.table
  width: vw(1156, 1920)
  margin: 0 auto
  position: relative
  @media (max-width: 767px)
    width: 100%
  .faq-5ka &
    width: 100%
  &--search
    .table__head
      border-radius: 0 0 vw(20, 1920) vw(20, 1920)
  div
    box-sizing: border-box
  .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical
    right: -16px
  .mCSB_outside[style*="max-height: none"] + .mCS-minimal.mCSB_scrollTools_vertical
    display: none !important
  &-search
    width: 100%
    background-color: $white
    display: flex
    justify-content: center
    align-items: center
    padding: vw(23, 1920) 0
    border-radius: vw(20, 1920) vw(20, 1920) 0 0
    @media (max-width: 767px)
      border-radius: vmin(5, 320)
      padding: vmin(13, 320) 0
      width: vmin(290, 320)
      margin: 0 auto
    &__form
      display: flex
      justify-content: space-between
      align-items: center
      width: vw(424, 1920)
      @media (max-width: 767px)
        width: vmin(266, 320)
    &__input
      width: vw(388, 1920)
      font: 400 vw(24, 1920) $font-alt
      line-height: vw(28, 1920)
      color: $black-ll
      background: transparent
      border: none
      @media (max-width: 767px)
        width: vmin(231, 320)
        font-size: vmin(15, 320)
        line-height: vmin(17, 320)
      &::placeholder
        font: 400 vw(24, 1920) $font-alt
        line-height: vw(28, 1920)
        color: $black-ll
        opacity: 1
        @media (max-width: 767px)
          font-size: vmin(15, 320)
          line-height: vmin(17, 320)
    &__btn
      width: vw(22, 1920)
      height: vw(21, 1920)
      padding-bottom: vw(2, 1920)
      background: url('../images/5ka/search.svg') center no-repeat
      background-size: contain
      border: none
      @media (max-width: 767px)
        width: vmin(17, 320)
        height: vmin(16, 320)
        padding-bottom: vmin(2, 320)
  &__head
    display: flex
    justify-content: flex-start
    align-items: flex-end
    color: $white
    font: 700 vw(24, 1920) $font-alt
    line-height: vw(38, 1920)
    padding: vw(18, 1920) 0 vw(19, 1920)
    background-color: $marine
    border-radius: vw(20, 1920)
    @media (max-width: 767px)
      display: none
    .table__col
      min-width: vw(237, 1920)
      padding-right: vw(20, 1920)
      @media (max-width: 767px)
        min-width: 0
        padding-right: 0
      &:first-child
        padding-left: vw(43, 1920)
        @media (max-width: 767px)
          padding-left: 0
      &--count
        min-width: vw(378, 1920)
        @media (max-width: 767px)
          min-width: 0
      &--date
        min-width: vw(319, 1920)
        @media (max-width: 767px)
          min-width: 0
      &--prizes
        min-width: vw(477, 1920)
        @media (max-width: 767px)
          min-width: 0
      &--name
        min-width: vw(226, 1920)
        @media (max-width: 767px)
          min-width: 0
      &--date-draw
        min-width: vw(278, 1920)
        @media (max-width: 767px)
          min-width: 0
      &--prize
        min-width: vw(357, 1920)
        @media (max-width: 767px)
          min-width: 0
      &--phone
        min-width: vw(251, 1920)
        @media (max-width: 767px)
          min-width: 0
  &__body
    font: 400 vw(24, 1920) $font-alt
    line-height: 1
    color: #042270
    max-height: vw(725, 1920)
    @media (max-width: 767px)
      max-height: none
      font-size: vmin(16, 320)
    .faq-5ka &
      max-height: none
    &--full
      max-height: none
    .table__col
      min-width: vw(237, 1920)
      padding-right: vw(20, 1920)
      @media (max-width: 767px)
        padding-left: 0
        padding-right: 0
        min-width: 0 !important
        margin-bottom: vmin(10, 320)
      &:first-child
        padding-left: vw(43, 1920)
        @media (max-width: 767px)
          padding-left: 0
      &:last-child
        @media (max-width: 767px)
          margin-bottom: 0
      &--count
        text-align: center
        min-width: vw(378, 1920)
        padding-right: vw(40, 1920)
        @media (max-width: 767px)
          min-width: 0
          padding-right: 0
          text-align: left
      &--date
        min-width: vw(319, 1920)
        @media (max-width: 767px)
          min-width: 0
      &--prizes
        min-width: vw(477, 1920)
        @media (max-width: 767px)
          min-width: 0
      &--name
        min-width: vw(226, 1920)
        @media (max-width: 767px)
          min-width: 0
      &--date-draw
        min-width: vw(278, 1920)
        @media (max-width: 767px)
          min-width: 0
      &--prize
        min-width: vw(357, 1920)
        @media (max-width: 767px)
          min-width: 0
      &--phone
        min-width: vw(251, 1920)
        @media (max-width: 767px)
          min-width: 0
      .label
        display: none
        font: 400 vmin(12, 320) $font-alt
        line-height: vmin(14, 320)
        color: $black-l
        @media (max-width: 767px)
          display: inline-block
  &__row
    display: flex
    justify-content: flex-start
    align-items: center
    padding: vw(21, 1920) 0 vw(20, 1920)
    border-bottom: 1px solid $marine
    transition: all .2s ease-in-out
    @media (max-width: 767px)
      padding: vmin(21, 320) vmin(15, 320)
      display: block
    .winners-5ka--no-winners &
      display: none
    &:hover
      background-color: $white
    &:last-child
      border-bottom: 0
    &--no-winners
      display: none
      &:hover
        background: transparent
      .winners-5ka--no-winners &
        display: block
        border: none
        text-align: center
        padding-top: vw(45, 1920)
        @media (max-width: 767px)
          padding-top: vmin(20, 320)
      img
        display: block
        margin: vw(50, 1920) auto 0
        width: vw(374, 1920)
        height: auto
        @media (max-width: 767px)
          width: 80%
          margin-top: vmin(30, 320)
  &__btn
    margin: 0 auto
  .value
    position: relative
    &:hover
      .table-tooltip
        opacity: 1
    a
      text-decoration: underline
  .table-tooltip
    position: absolute
    bottom: vw(33, 1920)
    left: 20%
    transform: translateX(-50%)
    filter: drop-shadow(0px 4px 10px rgba(0, 85, 165, 0.2))
    background: $blue-l
    border-radius: vw(6, 1920)
    color: $white
    text-align: center
    width: vw(215, 1920)
    font: 400 vw(18, 1920) $font-alt
    line-height: vw(20, 1920)
    padding: vw(14, 1920) vw(19, 1920)
    pointer-events: none
    opacity: 0
    z-index: 1
    transition: opacity .2s ease-in-out
    @media (max-width: 767px)
      bottom: vmin(25, 320)
      left: vmin(19, 320)
      transform: none
      border-radius: vmin(6, 320)
      width: vmin(154, 320)
      font-size: vmin(13, 320)
      line-height: vmin(20, 320)
      padding: vmin(9, 320) vmin(11, 320)
    &::after
      content: ''
      width: vw(29, 1920)
      height: vw(15, 1920)
      position: absolute
      bottom: vw(-9, 1920)
      left: 50%
      transform: translateX(-50%)
      background: url('../images/5ka/triangle.svg') 0 0 no-repeat
      background-size: contain
      @media (max-width: 767px)
        width: vmin(29, 320)
        height: vmin(15, 320)
        bottom: vmin(-9, 320)
        left: vmin(14, 320)
        transform: none
