.tabs
  &__panel
  .popup &
    @media (max-width: 767px)
      margin-top: vmin(40, 320)
  .tab__inner
    position: relative
    & + .tab__inner
      margin-top: 12px
      @media (max-width: 767px)
        margin-top: vmin(12, 320)
  &__content
    margin-top: vw(59, 1920)
    @media (max-width: 767px)
      margin-top: 0
    .popup &
      margin-top: vw(95, 1920)
      @media (max-width: 767px)
        margin-top: vmin(27, 320)
  &__controls
    display: flex
    justify-content: center
    align-items: flex-start
  .tab
    display: none
.tab-ctrl
  border: 2px solid $sky-l
  border-radius: vw(100, 1920)
  background: #45A9DC
  margin-right: vw(30, 1920)
  padding: vw(20, 1920) vw(30, 1920)
  cursor: pointer
  min-width: vw(400, 1920)
  @media (max-width: 767px)
    border-radius: vmin(100, 320)
    margin-right: vmin(5, 320)
    padding: vmin(8, 320)
    min-width: vmin(88, 320)
  .popup &
    border: none
    border-radius: 0
    width: 50%
    min-width: 0
    padding: vw(40, 1920) vw(30, 1920)
    margin-right: 0
    @media (max-width: 767px)
      padding: vmin(20, 320) vmin(20, 320)
      margin-right: 0
  &:last-child
    margin-right: 0
  &__title
    font: 700 vw(30, 1920) $font-alt
    line-height: vw(36, 1920)
    color: #1C5690
    text-align: center
    @media (max-width: 767px)
      font-size: vmin(12, 320)
      line-height: vmin(14, 320)
  &.active
    background: $white
    border-color: $white
    .popup &
      background: transparent
      border-color: $sea
