.title-5ka
  &--large
    font: 400 vw(80, 1920) $font-special
    line-height: vw(96, 1920)
    text-transform: uppercase
    @media (max-width: 767px)
      font-size: vmin(40, 320)
      line-height: vmin(48, 320)
  &--big
    font: 400 vw(60, 1920) $font-special
    line-height: vw(72, 1920)
    text-transform: uppercase
    @media (max-width: 767px)
      font-size: vmin(30, 320)
      line-height: vmin(36, 320)
.text-5ka
  &--large
    font: 700 vw(36, 1920) $font-alt
    line-height: vw(30, 1920)
    @media (max-width: 767px)
      font-size: vmin(18, 320)
      line-height: vmin(20, 320)
  &--big
    font: 700 vw(30, 1920) $font-alt
    line-height: vw(34, 1920)
    @media (max-width: 767px)
      font-size: vmin(15, 320)
      line-height: vmin(34, 320)
  &--base
    font: 400 vw(24, 1920) $font-alt
    line-height: vw(30, 1920)
    @media (max-width: 767px)
      font-size: vmin(15, 320)
      line-height: vmin(18, 320)
