<div id="code-5ka-popup" class="popup">
  <div class="popup__window">
    <div class="popup__close btn-close-popup"></div>
    <div class="popup__inner">
      <div class="popup__content code-5ka">
        <div class="popup__heading title-5ka--large">Введите номер карты</div>
        <form class="form-5ka--center" action="#">
          <div class="field form-5ka__field">
            <div class="field__label-text">Номер &laquo;Выручай-карты&raquo;</div>
            <label class="field__label" for="lk-data-number">
              <input class="field__input" id="lk-data-number" type="text" name="number" value="75489499686">
            </label>
          </div>
          <div class="popup__btns">
            <button class="btn-5ka" type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
