<div id="feedback-5ka-popup" class="popup">
  <div class="popup__window">
    <div class="popup__close btn-close-popup"></div>
    <div class="popup__inner">
      <div class="popup__content feedback-5ka">
        <div class="popup__heading title-5ka--large">Обратная связь</div>
        <form class="form-5ka--center" action="#">
          <div class="field form-5ka__field">
            <div class="field__label-text">Ваше имя</div>
            <label class="field__label" for="feedback-5ka-name">
              <input class="field__input" id="feedback-5ka-name" type="text" name="name" value="Анна">
            </label>
          </div>
          <div class="field form-5ka__field">
            <div class="field__label-text">Ваш e-mail</div>
            <label class="field__label" for="feedback-5ka-email">
              <input class="field__input" id="feedback-5ka-email" type="email" name="email" value="A_Petrova@gmail.com">
            </label>
          </div>
          <div class="field form-5ka__field field--select">
            <div class="field__label-text">Тема обращения</div>
            <label class="field__label" for="feedback-5ka-theme_id">
              <select class="field__select js-select" id="feedback-5ka-theme_id" name="theme_id">
                <option selected="" id="1">Общие вопросы</option>
                <option id="2">Технические вопросы</option>
                <option id="3">Административные вопросы</option>
              </select>
            </label>
          </div>
          <div class="field form-5ka__field">
            <div class="field__label-text">Сообщение</div>
            <label class="field__label field__label--msg" for="feedback-message">
              <textarea class="field__input field__input--textarea" id="5ka-feedback-message" type="textarea" name="5ka-message"></textarea>
            </label>
          </div>
          <div class="g-recaptcha" id="g-recaptcha" data-sitekey="123"></div>
          <div class="popup__btns">
            <button class="btn-5ka" type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
