<div id="login-5ka-popup" class="popup">
  <div class="popup__window">
    <div class="popup__close btn-close-popup"></div>
    <div class="popup__inner">
      <div class="popup__content login-5ka">
        <div class="tabs">
          <div class="tabs__panel">
            <div class="tabs__controls">
              <div class="tab-ctrl" data-tab="#tab-login">
                <div class="tab-ctrl__title">Войти</div>
              </div>
              <div class="tab-ctrl" data-tab="#tab-register">
                <div class="tab-ctrl__title">Зарегистрироваться</div>
              </div>
            </div>
          </div>
          <div class="tabs__content">
            <div class="tab" id="tab-login">
              <div class="tab__inner">
                <div class="popup__form-wrapper">
                  <form class="form-5ka--center" action="#">
                    <div class="field form-5ka__field">
                      <div class="field__label-text">E-mail</div>
                      <label class="field__label" for="login-5ka-email">
                        <input class="field__input" id="login-5ka-email" type="email" name="email" value="">
                      </label>
                    </div>
                    <div class="field form-5ka__field">
                      <div class="field__label-text">Пароль</div>
                      <label class="field__label" for="login-5ka-password">
                        <input class="field__input" id="login-5ka-password" type="password" name="password" value="">
                      </label>
                    </div>
                    <div class="popup__form-bottom">
                      <div class="popup__btns">
                        <a href="#" class="btn-5ka btn-5ka--plain">Забыли пароль?</a>
                        <button class="btn-5ka" type="submit">Войти</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="tab" id="tab-register">
              <div class="tab__inner">
                <div class="popup__form-wrapper">
                  <form class="form-5ka--cols" action="#">
                    <div class="field form-5ka__field">
                      <div class="field__label-text">Имя</div>
                      <label class="field__label" for="login-5ka-name">
                        <input class="field__input" id="login-5ka-name" type="text" name="name" value="Анна">
                      </label>
                    </div>
                    <div class="field form-5ka__field">
                      <div class="field__label-text">Фамилия</div>
                      <label class="field__label" for="login-5ka-surname">
                        <input class="field__input" id="login-5ka-surname" type="text" name="surname" value="Петрова">
                      </label>
                    </div>
                    <div class="field form-5ka__field">
                      <div class="field__label-text">E-mail</div>
                      <label class="field__label field__label--error" for="login-5ka-email">
                        <input class="field__input" id="login-5ka-email" type="email" name="email" value="A_Petrova@gmail.com">
                        <div class="field__error">Заполните поле</div>
                      </label>
                    </div>
                    <div class="field form-5ka__field">
                      <div class="field__label-text">Телефон</div>
                      <label class="field__label" for="login-5ka-phone">
                        <input class="field__input" id="login-5ka-phone" type="text" name="phone" value="+7 (911) 234-67-00">
                      </label>
                    </div>
                    <div class="field form-5ka__field">
                      <div class="field__label-text">Дата рождения</div>
                      <label class="field__label" for="login-5ka-birthday">
                        <input class="field__input" id="login-5ka-birthday" type="text" name="birthday" data-inputmask="'alias': 'datetime', 'inputFormat': 'dd.mm.yyyy', 'placeholder': 'дд.мм.гггг'" value="01.01.1980">
                      </label>
                    </div>
                    <div class="field form-5ka__field">
                      <div class="field__label-text">Город</div>
                      <label class="field__label" for="login-5ka-city">
                        <input class="field__input" id="login-5ka-city" type="text" name="city" value="Москва">
                      </label>
                    </div>
                    <div class="field form-5ka__field">
                      <div class="field__label-text">Пароль</div>
                      <label class="field__label" for="login-5ka-password">
                        <input class="field__input" id="login-5ka-password" type="password" name="password" value="">
                      </label>
                    </div>
                    <div class="field form-5ka__field">
                      <div class="field__label-text">Повтор пароля</div>
                      <label class="field__label" for="login-5ka-password">
                        <input class="field__input" id="login-5ka-password" type="password" name="password" value="">
                      </label>
                    </div>
                    <div class="popup__form-bottom">
                      <div class="field field--radio form-5ka__field">
                        <div class="field__label-title">Пол</div>
                        <label for="lk-data-man" class="field__label field__label--radio">Мужской
                          <input type="radio" class="field__input" id="lk-data-man" name="gender" checked>
                          <div class="field__check"></div>
                        </label>
                        <label for="lk-data-woman" class="field__label field__label--radio">Женский
                          <input type="radio" class="field__input" id="lk-data-woman" name="gender">
                          <div class="field__check"></div>
                        </label>
                      </div>
                      <div class="field form__field field--checkbox">
                        <label class="field__label" for="register-popup-rules_agreement">
                          <div class="field__box">
                            <input class="field__input" id="register-popup-rules_agreement" type="checkbox" name="rules_agreement">
                            <div class="field__check"></div>
                            <div class="field__bg"></div>
                          </div>
                          <div class="field__text">Согласие с правилами акции</div>
                        </label>
                      </div>
                      <div class="field form__field field--checkbox">
                        <label class="field__label" for="register-popup-personal_data_processing_agreeement">
                          <div class="field__box">
                            <input class="field__input" id="register-popup-personal_data_processing_agreeement" type="checkbox" name="personal_data_processing_agreeement">
                            <div class="field__check"></div>
                            <div class="field__bg"></div>
                          </div>
                          <div class="field__text">Пользовательское соглашение</div>
                        </label>
                      </div>
                      <div class="g-recaptcha" id="g-recaptcha" data-sitekey="123"></div>
                      <div class="popup__btns">
                        <button class="btn-5ka" type="submit">Войти</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="popup__services">
                  <div class="popup__services-heading text-5ka--big">Зарегистрироваться через</div>
                  <a href="#" class="btn-5ka btn-5ka--black btn-5ka--icon popup-service--apple"><svg class="icon-apple"><use xlink:href="#apple"></use></svg>Войти через Apple</a>
                  <a class="popup-service popup-service--fb" href="#">
                    <svg ><use xlink:href="#fb-5ka"></use></svg>
                  </a>
                  <a class="popup-service popup-service--vk" href="#">
                    <svg ><use xlink:href="#vk-5ka"></use></svg>
                  </a>
                  <a class="popup-service popup-service--ok" href="#">
                    <svg ><use xlink:href="#ok-5ka"></use></svg>
                  </a>
                  <a class="popup-service popup-service--gmail" href="#">
                    <svg ><use xlink:href="#gmail-5ka"></use></svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
