<div id="prize-5ka-popup" class="popup">
  <div class="popup__window">
    <div class="popup__close btn-close-popup"></div>
    <div class="popup__inner">
      <div class="popup__content prize-5ka">
        <img class="popup__img popup__img--prize" src="assets/images/5ka/prize.png" alt="">
        <div class="popup__heading title-5ka--large">поздравляем!</div>
        <div class="popup__text text-5ka--big">
          <p>Ваш приз&nbsp;&mdash; удвоенные баллы на&nbsp;&laquo;Выручай-карту&raquo;</p>
          <p>Для получения приза:</p>
        </div>
        <div class="popup__btns">
          <button class="btn-5ka btn-popup" data-target="#code-5ka-popup">Подтвердить номер &laquo;Выручай-карты&raquo;</button>
        </div>
      </div>
    </div>
  </div>
</div>
