<div id="rus-5ka-popup" class="popup popup--big popup--blank">
  <div class="popup__window">
    <div class="popup__close btn-close-popup"></div>
    <div class="popup__inner">
      <div class="popup__content rus-5ka">
        <img class="popup__img popup__img--logo" src="assets/images/5ka/logo-rus.png" alt="">
        <div class="text-5ka--large">Фонд продовольствия &laquo;Русь&raquo;:</div>
        <div class="text-5ka--base">
          <p>Всероссийский благотворительный фонд &laquo;Фонд продовольствия &laquo;Русь&raquo; зарегистрирован 25&nbsp;октября 2012 года и&nbsp;<b>является первым в&nbsp;России &laquo;банком еды&raquo; или &laquo;банком продовольствия&raquo;, который оказывает помощь продуктами питания социально незащищенным слоям населения по&nbsp;всей России</b>.</p>
          <p>Бесплатные продукты от&nbsp;Фонда получают малоимущие семьи с&nbsp;детьми и&nbsp;нуждающиеся пенсионеры. Распределение продуктов происходит через приходы Русской Православной Церкви и&nbsp;иные религиозные организации, благотворительные организации, а&nbsp;также органы социальной защиты населения. Работа идет с&nbsp;крупнейшими российскими производителями товаров народного потребления, ритейл сетями, сетями общественного питания, которые по&nbsp;договорам пожертвования на&nbsp;постоянной основе передают свою продукцию в&nbsp;Фонд продовольствия &laquo;Русь&raquo; с&nbsp;заводов и&nbsp;складов по&nbsp;всей стране. Речь идет об&nbsp;излишках продуктов, пригодных к&nbsp;употреблению по&nbsp;всем нормам действующего законодательства.</p>
          <p><b>Технология работы &laquo;банка еды&raquo; эффективно борется с&nbsp;уничтожением продовольственных излишков, внося свой вклад в&nbsp;сохранение экологии, с&nbsp;одной стороны, и&nbsp;решает задачу по&nbsp;обеспечению продовольственной безопасности страны, направляя продукты нуждающимся, с&nbsp;другой стороны.</b></p>
          <p>Узнать подробнее на сайте <a href="https://foodbankrus.ru/" target="_blank">https://foodbankrus.ru/</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
