.faq-5ka
  padding: 133px 0 vw(125, 1920)
  background: $sky
  @media (max-width: 767px)
    padding: vmin(72, 320) 0 vmin(95, 320)
  &__title
    text-align: center
    color: $sea
    margin-bottom: vw(46, 1920)
    @media (max-width: 767px)
      margin-bottom: vmin(18, 320)
  &__inner
    width: vw(955, 1920)
    margin: 0 auto
    @media (max-width: 767px)
      width: 100%
      padding: 0 vmin(15, 320)
.feedback-side
  width: vw(399, 1920)
  height: vw(518, 1920)
  padding-top: vw(225, 1920)
  position: absolute
  top: vw(388, 1920)
  right: vw(54, 1920)
  background: url('../images/5ka/ellipse.png') center no-repeat
  background-size: contain
  text-align: center
  @media (max-width: 767px)
    position: relative
    top: auto
    right: auto
    background-image: url('../images/5ka/ellipse-m.png')
    background-size: contain
    width: vmin(213, 320)
    height: vmin(177, 320)
    padding-top: vmin(100, 320)
    margin: vmin(71, 320) auto 0
  &__img
    display: block
    width: vw(229, 1920)
    height: vw(287, 1920)
    position: absolute
    top: vw(-87, 1920)
    left: vw(80, 1920)
    @media (max-width: 767px)
      width: vmin(112, 320)
      height: vmin(141, 320)
      top: vmin(-51, 320)
      left: vmin(50, 320)
  &__title
    color: $white
    margin: 0 auto vw(20, 1920)
    max-width: vw(253, 1920)
    @media (max-width: 767px)
      line-height: vmin(18, 320)
      max-width: vmin(126, 320)
  &__btn
    min-width: 0
    @media (max-width: 767px)
      position: absolute
      bottom: vmin(-65, 320)
      left: 50%
      transform: translateX(-50%)
      min-width: vmin(289, 320)
