._sk

    .logo 
        margin-top: 32px
        margin-right: 8px
        width: 94px

        @media (max-width: 768px)
            margin-top: 15px
            margin-left: 10px
            width: 68px

    ._fixed .logo
        margin-top: 5px
        margin-right: 20px
        width: 50px

    .intro__main-col
        background-color: #005eb8
        background-image: url("../images/bg-sk.jpg")
        background-repeat: no-repeat
        background-position: center
        background-size: cover

        @media (max-width: 768px)
            background-image: url("../images/bg-sk-m.jpg")
            background-position: center top

    .intro__aside-col,
    .intro-popup
        background-color: #005eb8

    .intro-slide__text-col
        padding-top: 88px
        padding-left: 90px
        width: 68%

        @media (max-width: 768px)
            padding-top: 0
            padding-bottom: 32px
            padding-left: 10px
            padding-right: 20px
            width: 100%

            br 
                display: none

    .aside-block__title
        margin-bottom: 20px
        padding-top: 40px
        line-height: 55px
        letter-spacing: 1px

        @media (max-width: 1279px)
            font-size: 43px

        .icon 
            margin-bottom: 56px

            @media (max-width: 1279px)
                margin-bottom: 20px

        .text 
            padding: 0 

    .aside-block__text
        color: rgba(255, 255, 255, 0.7)
        box-sizing: border-box
        padding: 0
        max-width: 280px

        @media (max-width: 1279px)
            padding: 0
            font-size: 15px
            line-height: 20px

    .aside-block__btn
        width: 216px
    
    .intro-slider 

        @media (max-width: 768px)
            min-height: 100vh

    .intro-slider .swiper-pagination 
        left: 156px

        @media (max-width: 768px)
            left: 20px
            transform: none 
            bottom: 40px

    .intro__wrapper 

        @media (max-width: 768px)
            min-height: auto
            height: auto

    .intro-slide 

        @media (max-width: 768px)
            box-sizing: border-box
            display: flex
            flex-direction: column 
            justify-content: center
            padding-top: 112px
            min-height: 100vh

    .intro-slide__offer 
        margin-left: -13px

        @media (max-width: 768px)
            margin-left: 0

    .intro-slide__offer svg
        margin-right: 17px

        @media (max-width: 768px)
            margin-right: 9px
            margin-top: 0

    .intro-slide__title 
        padding-bottom: 0
        font-size: 78px
        line-height: 90px
        min-height: 303px

        @media (max-width: 1024px)
            font-size: 42px
            line-height: 60px

        @media (max-width: 768px)
            margin-bottom: 40px
            min-height: auto
            font-size: 40px
            line-height: 52px

    .user-block 
        justify-content: center

    .user-block .cur
        color: #fff 
        background-color: $yellow

    .link-card
        background-color: #0b66a3

    .product .qty
        background-color: #ffe06b
        color: #c41a33
    
.gifts-section._sk 

    .gifts-section

        &__title 
            margin-bottom: 0
            line-height: 72px
            color: $textColor

            @media (max-width: 768px)
                padding-top: 22px

        &__lead 
            margin-top: 13px
            max-width: 710px

    .gift-block
        background-color: #0d71d0

        &:nth-child(2)
            background-color: #005eb8
        
        &:nth-child(3)
            background-color: #0254a2
        
        &:nth-child(4)
            background-color: #004687