._muu 
    .logo
        margin-top: 32px
        margin-right: 8px
        width: 94px

        @media (max-width: 768px)
            margin-top: 15px
            margin-left: 10px
            width: 68px

    ._fixed .logo
        margin-top: 5px
        margin-right: auto
        width: 50px

    .intro__main-col
        background-color: #293763
        //background-blend-mode: overlay, normal
        background-image: url("../images/pic@2x.png"), radial-gradient(circle at 75% 52%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), linear-gradient(#293763, #293763)
        background-repeat: no-repeat
        background-position: left top, 0 0, 0 0
        background-size: 86vw auto, auto, auto

        @media (max-width: 1024px)
            background-size: 100vw auto, auto, auto

        @media (max-width: 768px)
            background-image: url("../images/fill-1@2x.png"), radial-gradient(circle at 75% 52%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), linear-gradient(#293763, #293763)
            background-size: 116px auto, auto, auto
            background-position: top right, 0 0, 0 0

    .intro__aside-col,
    .intro-popup
        background-color: #344884

    .intro-slide__text-col
        padding-top: 123px

        @media (max-width: 768px)
            padding-top: 12px
            padding-left: 20px

    .aside-block__title
        margin-bottom: 20px
        padding-top: 30px
        line-height: 55px
        letter-spacing: 1px

        @media (max-width: 1279px)
            font-size: 43px

        .icon
            margin-bottom: 48px

            @media (max-width: 1279px)
                margin-bottom: 20px

        .text
            padding: 0 20px

            @media (max-width: 768px)
                padding: 0

    .aside-block__text
        color: rgba(255, 255, 255, 0.7)
        box-sizing: border-box
        padding: 0 20px

        @media (max-width: 1279px)
            padding: 0
            font-size: 15px
            line-height: 20px

    .aside-block__btn
        width: 216px

    .intro-slider .swiper-pagination

        @media (max-width: 768px)
            left: 10px
            transform: none
            bottom: 40px

    .intro__wrapper

        @media (max-width: 768px)
            min-height: auto
            height: auto

    .intro-slide

        @media (max-width: 768px)
            box-sizing: border-box
            min-height: 570px

    .intro-slide__title
        padding-bottom: 0
        font-size: 60px

        @media (max-width: 1024px)
            font-size: 42px
            line-height: 60px

        @media (max-width: 768px)
            margin-bottom: 26px
            min-height: auto
            max-width: 450px
            font-size: 40px
            line-height: 52px

    .user-block .cur
        color: #fff
        background-color: $yellow

    .link-card
        background-color: #293763

.gifts-section._muu

    .gifts-section

        &__title
            margin-bottom: 12px
            line-height: 72px
            color: $textColor

    .gift-block
        background-color: #576fb1

        &:nth-child(2)
            background-color: #4d5e8f

        &:nth-child(3)
            background-color: #3e4e7a

        &:nth-child(4)
            background-color: #32416c
