._bigcup 

    .logo 
        margin-top: 32px
        margin-right: 8px
        width: 94px

        @media (max-width: 768px)
            margin-top: 15px
            margin-left: 10px
            width: 68px

    ._fixed .logo
        margin-top: 5px
        margin-right: auto
        width: 50px

    .intro__main-col
        background-color: #293763
        background-image: linear-gradient(254deg, rgba(114, 114, 114, 0.17), rgba(65, 77, 88, 0.7) 42%, rgba(49, 71, 91, 0.72)), url("../images/children.jpg")
        background-repeat: no-repeat
        background-position: 0 0, center
        background-size: auto, cover

        @media (max-width: 768px)
            background-image: linear-gradient(222deg, rgba(114, 114, 114, 0.17), rgba(65, 77, 88, 0.7) 42%, rgba(49, 71, 91, 0.72)), url("../images/children-m.jpg")
            background-position: 0 0, center top

    .intro__aside-col,
    .intro-popup
        background-color: #0b66a3

    .intro-slide__text-col
        padding-top: 142px
        padding-left: 146px
        width: 68%

        @media (max-width: 768px)
            padding-top: 43px
            padding-left: 20px
            width: 100%

            br 
                display: none

    .aside-block__title
        margin-bottom: 20px
        padding-top: 30px
        line-height: 55px
        letter-spacing: 1px

        @media (max-width: 1279px)
            font-size: 43px

        .icon 
            margin-bottom: 48px

            @media (max-width: 1279px)
                margin-bottom: 20px

        .text 
            padding: 0 20px 

            @media (max-width: 768px)
                padding: 0

    .aside-block__text
        color: rgba(255, 255, 255, 0.7)
        box-sizing: border-box
        padding: 0

        @media (max-width: 1279px)
            padding: 0
            font-size: 15px
            line-height: 20px

    .aside-block__btn
        width: 216px
    
    .intro-slider 

        @media (max-width: 768px)
            min-height: 100vh

    .intro-slider .swiper-pagination 
        left: 156px

        @media (max-width: 768px)
            left: 20px
            transform: none 
            bottom: 40px

    .intro__wrapper 

        @media (max-width: 768px)
            min-height: auto
            height: auto

    .intro-slide 

        @media (max-width: 768px)
            box-sizing: border-box
            display: flex
            flex-direction: column 
            justify-content: center
            min-height: 100vh

    .intro-slide__offer svg
        margin-right: 17px

        @media (max-width: 768px)
            margin-right: 9px
            margin-top: 0

    .intro-slide__title 
        padding-bottom: 0
        font-size: 60px
        min-height: 236px

        @media (max-width: 1024px)
            font-size: 42px
            line-height: 60px

        @media (max-width: 768px)
            margin-bottom: 37px
            min-height: auto
            font-size: 40px
            line-height: 52px

    .user-block .cur
        color: #fff 
        background-color: $yellow

    .link-card
        background-color: #0b66a3
    
.gifts-section._bigcup 

    .gifts-section

        &__title 
            margin-bottom: 12px
            line-height: 72px
            color: $textColor

    .gift-block
        background-color: #cf3b2e

        &:nth-child(2)
            background-color: #de573f
        
        &:nth-child(3)
            background-color: #cf3b2e
        
        &:nth-child(4)
            background-color: #de573f