._vkusnoteevo

    &._01

        .intro__main-col
            background-image: url("../images/vkusnoteevo-big02.jpg")

            @media (max-width: 768px)
                background-image: url("../images/vkusnoteevo-big02-m.jpg")

            @media (min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 2)
                background-image: url("../images/vkusnoteevo-big02@2x.jpg")

                @media (max-width: 768px)
                    background-image: url("../images/vkusnoteevo-big02-m@2x.jpg")
                
        
        .intro-slide__title
            width: 840px

    .logo 
        margin-top: 32px
        margin-right: 8px
        width: 94px

        @media (max-width: 768px)
            margin-top: 15px
            margin-left: 10px
            width: 68px

    ._fixed .logo
        margin-top: 5px
        margin-right: 20px
        width: 50px

    .intro__main-col
        background-color: #c41a33
        background-image: url("../images/bg-vkusnoteevo.jpg")
        background-repeat: no-repeat
        background-position: center
        background-size: cover

        @media (max-width: 768px)
            background-image: url("../images/bg-vkusnoteevo-m.jpg")
            background-position: center top

    .intro__aside-col,
    .intro-popup
        background-color: #c41a33

    .intro-slide__text-col
        padding-top: 115px
        padding-left: 90px
        width: 68%

        @media (max-width: 768px)
            padding-top: 0
            padding-bottom: 32px
            padding-left: 20px
            padding-right: 30px
            width: 100%

            br 
                display: none

    .aside-block__title
        margin-bottom: 20px
        padding-top: 30px
        line-height: 55px
        letter-spacing: 1px

        @media (max-width: 1279px)
            font-size: 43px

        .icon 
            margin-bottom: 48px

            @media (max-width: 1279px)
                margin-bottom: 20px

        .text 
            padding: 0 20px 

            @media (max-width: 768px)
                padding: 0

    .aside-block__text
        color: rgba(255, 255, 255, 0.7)
        box-sizing: border-box
        padding: 0

        @media (max-width: 1279px)
            padding: 0
            font-size: 15px
            line-height: 20px

    .aside-block__btn
        width: 216px
    
    .intro-slider 

        @media (max-width: 768px)
            min-height: 100vh

    .intro-slider .swiper-pagination 
        left: 156px

        @media (max-width: 768px)
            left: 20px
            transform: none 
            bottom: 40px

    .intro__wrapper 

        @media (max-width: 768px)
            min-height: auto
            height: auto

    .intro-slide 

        @media (max-width: 768px)
            box-sizing: border-box
            display: flex
            flex-direction: column 
            justify-content: center
            min-height: 100vh

    .intro-slide__offer svg
        margin-right: 17px

        @media (max-width: 768px)
            margin-right: 9px
            margin-top: 0

    .intro-slide__title 
        padding-bottom: 0
        font-size: 90px
        line-height: 90px
        min-height: 275px

        @media (max-width: 1024px)
            font-size: 42px
            line-height: 60px

        @media (max-width: 768px)
            margin-bottom: 80px
            min-height: auto
            font-size: 40px
            line-height: 52px

    .user-block 
        justify-content: center

    .user-block .cur
        color: #fff 
        background-color: $yellow

    .link-card
        background-color: #0b66a3

    .product .qty
        background-color: #ffe06b
        color: #c41a33
    
.gifts-section._vkusnoteevo 

    .gifts-section

        &__title 
            margin-bottom: 12px
            line-height: 72px
            color: $textColor

    .gift-block
        background-color: #e31130

        &:nth-child(2)
            background-color: #c41a33
        
        &:nth-child(3)
            background-color: #b10b23
        
        &:nth-child(4)
            background-color: #9e0017