._krai

    .logo 
        margin-top: 32px
        margin-right: 8px
        width: 94px

        @media (max-width: 768px)
            margin-top: 15px
            margin-left: 10px
            width: 68px

    .page-header._fixed .logo
        margin-top: 5px
        margin-right: 20px
        width: 50px

    .page-header._fixed .logo-landing
       width: 79px
       height: 52px
    
    .logo-landing 

        &._special
            margin-left: 13px
            width: 121px

            @media (max-width: 768px)
                margin-left: 0
                padding: 0 8px 10px
                height: 120px
                width: 104px
                display: flex
                flex-direction: colum 
                align-items: center
                border-color: rgba(79, 106, 178, 0.3)
    .intro

        &__main-col
            background-color: #fff
            background-image: url("../images/bg-krai.jpg")
            background-repeat: no-repeat
            background-position: center
            background-size: cover 

            @media (max-width: 768px)
                background-image: url("../images/bg-krai-m.jpg")
                background-position: center top

        &__aside-col,
        &-popup
            background-color: #4f6ab2

        &__wrapper 

            @media (max-width: 768px)
                min-height: auto
                height: auto

    .intro-slider 

        @media (max-width: 768px)
            min-height: 100vh

        .swiper-pagination 
            left: 156px

            @media (max-width: 768px)
                left: 20px
                transform: none 
                bottom: 40px

    .intro-slide

        @media (max-width: 768px)
            box-sizing: border-box
            display: flex
            flex-direction: column 
            justify-content: center
            padding-bottom: 0
            min-height: 100vh
        
        &__text-col
            padding-top: 145px
            padding-left: 90px
            width: 68%

            @media (max-width: 768px)
                padding-top: 0
                padding-bottom: 75px
                padding-left: 20px
                padding-right: 30px
                width: 100%

                br 
                    display: none
        
        &__offer svg
            margin-right: 17px

            @media (max-width: 768px)
                margin-right: 9px
                margin-top: 0

        &__title 
            padding-bottom: 0
            max-width: 660px
            font-size: 80px
            line-height: 80px
            min-height: 218px

            @media (max-width: 1024px)
                font-size: 42px
                line-height: 60px

            @media (max-width: 768px)
                margin-bottom: 40px
                min-height: auto
                font-size: 38px
                line-height: 52px

    .aside-block
        
        &__title
            margin-bottom: 20px
            padding-top: 30px
            line-height: 55px
            letter-spacing: 1px

            @media (max-width: 1279px)
                font-size: 43px

            .icon 
                margin-bottom: 48px

                @media (max-width: 1279px)
                    margin-bottom: 20px

            .text 
                padding: 0 20px 

                @media (max-width: 768px)
                    padding: 0

        &__text
            color: rgba(255, 255, 255, 0.7)
            box-sizing: border-box
            padding: 0
            max-width: 225px

            @media (max-width: 1279px)
                padding: 0
                font-size: 15px
                line-height: 20px

        &__btn
            width: 216px

    .user-block 
        justify-content: center

    .user-block .cur
        color: #fff 
        background-color: $yellow

    .link-card
        background-color: #0b66a3

    .product .qty
        background-color: #edb41d
        color: #4f6ab2

    &._special 

        .logo svg 
            fill: #1a90e1

        .main-navigation__link
            color: $textColor

        .intro 

            &__main-col
                background-color: #fff
                background-image: url("../images/milk-294@2x.png"), url("../images/bg-red-circles@2x.png")
                background-repeat: no-repeat
                background-position: right 5vw center, top center
                background-size: auto 72%, cover

                @media (max-width: 768px)
                    background-image: url("../images/milk-294-m@2x.png"), url("../images/bg-red-circles@2x.png")
                    background-position: center top, center right
                    background-size: 38% auto, auto 100%

        .intro-slide 
            color: $textColor

            &__title,
            &__offer  
                color: $textColor

            &__text-col 
                padding-top: 105px

                @media (max-width: 768px)
                    padding-right: 15px
                    padding-top: 65px  

            &__title 
                margin-bottom: 20px
                max-width: 500px
                font-size: 90px
                line-height: 1

                @media (max-width: 768px)
                    font-size: 50px
                    line-height: 53px

            &__offer 
                margin-bottom: 14px

                @media (max-width: 768px)
                    margin-left: -10px

                img 

                    @media (max-width: 768px)
                        margin-right: 5px

        .aside-block

            &__title 

                .icon 
                    margin-bottom: 30px

            &__text 
                max-width: 100%

        .menu-trigger 

            span,
            span::before,
            span::after 
                background-color: $blue

        .page-header 

            &__wrapper 

                @media (max-width: 768px)  
                    max-height: 120px

    .main-navigation
        margin-left: auto

    .user-block

        @media (max-width: 1024px)

            &__name,
            .points,
            &__add 
                color: $blue

            &__add::before,
            &__add::after 
                background-color: $blue

    .page-header._full

        .menu-trigger
            span::before,
            span::after
                background-color: #fff

        .main-navigation__link 
            color: #fff

        .user-block

            @media (max-width: 1024px)

                &__name,
                .points,
                &__add 
                    color: #fff

                &__add::before,
                &__add::after 
                    background-color: #fff
    
.gifts-section._krai 

    .gifts-section

        &__title 
            margin-bottom: 12px
            line-height: 72px
            color: $textColor

    .gift-block
        background-color: #4f6ab2

        &:nth-child(even)
            background-color: #5d7dd2
    