.l-container
  max-width: vw(1458, 1920)
  margin: 0 auto
  @media (max-width: 767px)
    max-width: none
.lk-5ka
  padding: 133px 0 vw(125, 1920)
  background: $sky
  @media (max-width: 767px)
    padding: vmin(72, 320) 0 vmin(35, 320)
  &__title
    text-align: center
    color: $sea
    margin-bottom: vw(46, 1920)
    @media (max-width: 767px)
      margin-bottom: vmin(18, 320)
  .main-5ka-info
    position: absolute
    top: vw(-13, 1920)
    right: vw(-95, 1920)
    @media (min-height: 1001px)
      right: vh(-160, 1000)
    @media (max-width: 1100px)
      right: vw(-95, 1920)
    @media (max-width: 767px)
      position: relative
      right: auto
      top: auto
      margin-top: vmin(25, 320)
    &::before
      display: none
    &__title
      @media (max-width: 767px)
        padding-top: vmin(31, 320)
    &__basket-total
      @media (max-width: 767px)
        background: url('../images/5ka/shapes.png') 0 0 no-repeat
        background-size: contain
    &__invest
      margin-top: vh(29, 1000)
      @media (max-width: 1100px)
        margin-top: vw(53, 1920)
      @media (max-width: 767px)
        margin-top: vmin(22, 320)
.lk-data
  padding-top: vw(24, 1920)
  @media (max-width: 767px)
    margin-top: vmin(13, 320)
    padding: 0 vmin(15, 320)
    padding-top: 0
  &__form
    width: vw(855, 1920)
    position: relative
    z-index: 1
    @media (max-width: 767px)
      width: 100%
  &__btns
    margin-top: vw(61, 1920)
    position: relative
    z-index: 1
    @media (max-width: 767px)
      margin-top: vmin(24, 320)
    .btn-5ka
      margin-right: vw(15, 1920)
      @media (max-width: 767px)
        margin-right: 0
      & + .btn-5ka
        @media (max-width: 767px)
          margin-top: vmin(15, 320)
  &__subtitle
    color: $sea
    margin-bottom: vw(32, 1920)
    @media (max-width: 767px)
      margin-bottom: vmin(3, 320)
      margin-top: vmin(25, 320)
  &-check-register
    display: flex
    justify-content: flex-start
    align-items: flex-start
    margin-bottom: vw(53, 1920)
    @media (max-width: 767px)
      display: block
    &__inner
      display: flex
      justify-content: flex-start
      align-items: center
      margin-right: vw(30, 1920)
      @media (max-width: 767px)
        margin-right: 0
        justify-content: space-between
        margin-bottom: vmin(12, 320)
    &__title
      color: $blue-l
      text-align: right
      margin-right: vw(18, 1920)
      @media (max-width: 767px)
        margin-right: 0
      br
        @media (max-width: 767px)
          display: none
    &__count
      display: flex
      justify-content: center
      align-items: center
      width: vw(90, 1920)
      height: vw(90, 1920)
      background-color: $white
      font: 700 vw(36, 1920) $font-alt
      line-height: vw(44, 1920)
      color: $blue-l
      border-radius: 50%
      @media (max-width: 767px)
        font-size: vmin(15, 320)
        line-height: vmin(18, 320)
        width: vmin(40, 320)
        height: vmin(40, 320)
