._5ka
  div
    box-sizing: border-box
  main
    min-height: calc(100vh - 260px)
    box-sizing: border-box
    @media (max-width: 1024px)
      min-height: calc(100vh - 206px)
.main-5ka
  position: relative
  box-sizing: border-box
  div
    position: relative
  &-intro
    height: 100vh
    max-height: 1000px
    background: linear-gradient(180deg, #7FC3EA 9.58%, #43A8DC 100%)
    overflow: hidden
    @media (max-width: 1100px)
      height: auto
      max-height: none
    &__inner
      display: flex
      align-items: flex-end
      justify-content: space-between
      padding: 90px vh(102, 1000) 0 vh(145, 1000)
      height: 100%
      @media (max-width: 1279px)
        padding-top: 70px
      @media (max-width: 1280px)
        padding-left: vh(70, 1000)
      @media (max-width: 1100px)
        padding: 80px vw(102, 1920) 0 vw(174, 1920)
      @media (max-width: 1023px)
        padding-top: 80px
      @media (max-width: 767px)
        padding: 40px  0 0
        max-width: vmin(320, 320)
        display: block
        margin: 0 auto
    .btn-5ka
      margin: vh(50, 1000) auto 0
      transform: translateX(vh(-180, 1000))
      @media (max-width: 1100px)
        margin: vw(50, 1920) auto 0
        transform: translateX(vw(-80, 1000))
      @media (max-width: 767px)
        margin: 0
        position: absolute
        bottom: vmin(34, 320)
        left: 50%
        transform: translateX(-50%)
  &__kv
    height: 100%
    display: flex
    align-items: flex-end
    justify-content: flex-start
    padding-top: vh(10, 1000)
    @media (max-width: 767px)
      display: block
      height: auto
      padding-top: vmin(10, 320)
    img
      height: vh(877, 1000)
      max-height: 100%
      width: auto
      display: block
      transform: translateZ(0)
      @media (max-width: 1100px)
        height: vw(877, 1920)
      @media (max-width: 767px)
        width: vmin(312, 320)
        height: auto
        margin: 0 auto
        max-height: none
        margin-right: 0
    &-logo
      position: absolute
      right: 0
      bottom: 0
      height: vh(233, 1000)
      width: auto
      display: block
      transform: translateZ(0)
      @media (max-width: 1100px)
        height: vw(233, 1920)
  &-info
    display: flex
    align-items: flex-start
    justify-content: flex-end
    flex-direction: column
    padding-bottom: vh(128, 1000)
    @media (max-width: 1100px)
      padding-bottom: vw(128, 1920)
    @media (max-width: 767px)
      padding-bottom: 0
      margin-top: vmin(-128, 320)
    //&::before
      content: ''
      width: vh(101, 1000)
      height: vh(101, 1000)
      position: absolute
      top: vh(-5, 1000)
      right: vh(-5, 1000)
      background: url('../images/5ka/5ka-logo.png') 0 0 no-repeat
      background-size: contain
      @media (max-width: 1100px)
        width: vw(101, 1920)
        height: vw(101, 1920)
        top: vw(-5, 1920)
        right: vw(-5, 1920)
      @media (max-width: 767px)
        display: none
    &__pack
      width: vh(360, 1000)
      height: vh(481, 1000)
      position: absolute
      right: vh(30, 1000)
      bottom: vh(-110, 1000)
      @media (max-width: 1100px)
        width: vw(360, 1920)
        height: vw(481, 1920)
        right: vw(30, 1920)
        bottom: vw(-110, 1920)
      @media (max-width: 767px)
        width: vmin(132, 320)
        height: vmin(176, 320)
        right: vmin(45, 320)
        bottom: vmin(-40, 320)
    &__basket-total
      width: vh(664, 1000)
      height: vh(573, 1000)
      background: url('../images/5ka/shapes.png') 0 0 no-repeat
      background-size: contain
      @media (max-width: 1100px)
        width: vw(664, 1920)
        height: vw(573, 1920)
      @media (max-width: 767px)
        width: 100%
        height: vmin(303, 320)
        background: url('../images/5ka/shapes-m.png') 0 0 no-repeat
        background-size: contain
    &__title
      padding-top: vh(109, 1000)
      font: 400 vh(30, 1000) $font-alt
      line-height: vh(34, 1000)
      color: $white
      text-align: center
      @media (max-width: 1100px)
        padding-top: vw(109, 1920)
        font: 400 vw(30, 1920) $font-alt
        line-height: vw(34, 1920)
      @media (max-width: 767px)
        padding-top: vmin(63, 320)
        font: 400 vmin(15, 320) $font-alt
        line-height: vmin(22, 320)
    &__inner
      padding: vh(22, 1000) vh(26, 1000)
      border-radius: vh(100, 1000)
      color: $blue-l
      background: $white
      display: inline-flex
      align-items: center
      justify-content: flex-start
      position: relative
      z-index: 2
      @media (max-width: 1100px)
        padding: vw(22, 1920) vw(26, 1920)
        border-radius: vw(100, 1920)
      @media (max-width: 767px)
        padding: vmin(10, 320) vmin(17, 320)
        border-radius: vmin(100, 320)
    &__invest
      margin-left: vh(250, 1000)
      margin-top: vh(53, 1000)
      position: relative
      @media (max-width: 1100px)
        width: vw(265, 1920)
        margin-left: vw(250, 1920)
        margin-top: vw(53, 1920)
      @media (max-width: 767px)
        width: vmin(172, 320)
        margin-left: vmin(108, 320)
        margin-top: vmin(22, 320)
      &::before
        content: ''
        width: vh(190, 1000)
        height: vh(165, 1000)
        position: absolute
        left: vh(-140, 1000)
        bottom: vh(-80, 1000)
        background: url('../images/5ka/basket.png') 0 0 no-repeat
        background-size: contain
        z-index: 1
        @media (max-width: 1100px)
          width: vw(190, 1920)
          height: vw(165, 1920)
          left: vw(-140, 1920)
          bottom: vw(-80, 1920)
        @media (max-width: 767px)
          width: vmin(93, 320)
          height: vmin(81, 320)
          left: vmin(-70, 320)
          bottom: vmin(-24, 320)
    &__total
      font: 700 vh(36, 1000) $font-alt
      line-height: vh(44, 1000)
      margin-right: vh(18, 1000)
      @media (max-width: 1100px)
        font: 700 vw(36, 1920) $font-alt
        line-height: vw(44, 1920)
        margin-right: vw(18, 1920)
      @media (max-width: 767px)
        font: 700 vmin(24, 320) $font-alt
        line-height: vmin(29, 320)
        margin-right: vmin(12, 320)
    &__text
      font: 400 vh(24, 1000) $font-alt
      line-height: vh(29, 1000)
      max-width: vh(125, 1000)
      @media (max-width: 1100px)
        font: 400 vw(24, 1920) $font-alt
        line-height: vw(29, 1920)
        max-width: vw(125, 1920)
      @media (max-width: 767px)
        font: 700 vmin(15, 320) $font-alt
        line-height: vmin(16, 320)
        max-width: vmin(77, 320)
  &-steps
    padding: vw(64, 1920) vw(79, 1920) vw(76, 1920)
    @media (max-width: 767px)
      padding: vmin(26, 320) vmin(6, 320) vmin(34, 320)
    .title-5ka--large
      color: $sea
      text-align: center
      margin-bottom: vw(56, 1920)
      @media (max-width: 767px)
        margin-bottom: vmin(25, 320)
    &__inner
      display: flex
      align-items: flex-start
      justify-content: space-between
      @media (max-width: 767px)
        flex-wrap: wrap
        justify-content: center
        max-width: vmin(320,320)
        margin-left: auto
        margin-right: auto
    &__top
      min-height: vw(254, 1920)
      @media (max-width: 767px)
        min-height: 0
    &__img
      img
        display: block
        margin: 0 auto
        max-width: 100%
        height: auto
        position: relative
        z-index: 1
      &::before
        content: ''
        width: vw(200, 1920)
        height: vw(200, 1920)
        +vAlignAbs()
        border-radius: 50%
        background: $marine
        @media (max-width: 767px)
          width: vmin(100, 320)
          height: vmin(100, 320)
    &__step
      width: vw(298, 1920)
      @media (max-width: 767px)
        width: 50% !important
        margin-top: vmin(129, 320)
      a
        color: #0073C4
        text-decoration: underline
        &:hover
          text-decoration: none
      &::after
        content: ''
        width: vw(120, 1920)
        height: vw(18, 1920)
        position: absolute
        top: vw(60, 1920)
        right: vw(-87, 1920)
        background: url('../images/5ka/arrow.svg') 0 0 no-repeat
        background-size: contain
        @media (max-width: 767px)
          width: vmin(76, 320)
          height: vmin(11, 320)
          top: vmin(70, 320)
          right: vmin(-90, 320)
          transform-origin: 50% 50%
          transform: rotate(45deg)
      &:nth-child(2n)
        &::after
          transform-origin: 50% 50%
          transform: rotate(180deg)
          top: vw(140, 1920)
          @media (max-width: 767px)
            top: vmin(70, 320)
            transform: rotate(45deg)
      &:first-child
        @media (max-width: 767px)
          margin-top: 0
        &::after
          right: vw(-105, 1920)
          @media (max-width: 767px)
            right: vmin(-90, 320)
      &:last-child
        @media (max-width: 767px)
          margin-top: vmin(10, 320)
        &::after
          display: none
      &--wide
        width: vw(302, 1920)
      &:nth-child(1)
        img
          width: vw(243, 1920)
          @media (max-width: 767px)
            width: vmin(117, 320)
      &:nth-child(2)
        &::after
          @media (max-width: 767px)
            left: vmin(-105, 320)
            top: vmin(120, 320)
            right: auto
            transform: scale(-1, 1) rotate(45deg)
        img
          width: vw(200, 1920)
          @media (max-width: 767px)
            width: vmin(100, 320)
      &:nth-child(3)
        @media (max-width: 767px)
          margin-top: 0
        img
          width: vw(206, 1920)
          @media (max-width: 767px)
            width: vmin(103, 320)
      &:nth-child(4)
        &::after
          display: none
        img
          width: vw(256, 1920)
          @media (max-width: 767px)
            width: vmin(128, 320)
      &:nth-child(5)
        img
          width: vw(218, 1920)
          @media (max-width: 767px)
            width: vmin(111, 320)
    &__title
      color: $sea
      text-align: center
      margin-bottom: vw(10, 1920)
      @media (max-width: 767px)
        margin-bottom: vmin(2, 320)
    &__text
      text-align: center
      color: $black-l
  &-prizes
    background-color: $sky
    padding: vw(71, 1920) vw(79, 1920) vw(105, 1920)
    @media (max-width: 767px)
      padding: vmin(30, 320) vmin(15, 320) vmin(40, 320)
    .title-5ka--large
      color: $sea
      text-align: center
      margin-bottom: vw(56, 1920)
      @media (max-width: 767px)
        margin-bottom: vmin(20, 320)
    &__prize
      @media (max-width: 767px)
        margin-bottom: vmin(39, 320)
      &:nth-child(1)
        @media (max-width: 767px)
          order: 1
      &:nth-child(2)
        @media (max-width: 767px)
          order: 3
      &:nth-child(3)
        @media (max-width: 767px)
          order: 2
      &--pack
        padding-top: vw(10, 1920)
        @media (max-width: 767px)
          margin-bottom: 0
          padding-top: 0
    &__inner
      display: flex
      align-items: flex-start
      justify-content: space-between
      max-width: vw(1482, 1920)
      margin: 0 auto
      @media (max-width: 767px)
        flex-direction: column
        justify-content: flex-start
        align-items: center
    &__pack
      display: block
      width: vw(463, 1920)
      height: auto
      @media (max-width: 767px)
        width: vmin(161, 320)
    &__btns
      text-align: center
      margin-top: vw(58, 1920)
      @media (max-width: 767px)
        margin-top: vmin(31, 320)
    &__img
      margin-bottom: vw(30, 1920)
      @media (max-width: 767px)
        margin-bottom: vmin(10, 320)
      img
        display: block
        width: vw(450, 1920)
        height: auto
        margin: 0 auto
        @media (max-width: 767px)
          width: vmin(180, 320)
    &__text
      text-align: center
      color: $blue-l
      max-width: vw(400, 1920)
      margin: 0 auto
      @media (max-width: 767px)
        max-width: vmin(226, 320)
    &__title
      text-align: center
      color: $sea
      margin-bottom: vw(20, 1920)
      @media (max-width: 767px)
        margin-bottom: vmin(5, 320)
  &-about
    background-color: $red-l
    padding: vw(79, 1920) 0 vw(100, 1920)
    @media (max-width: 767px)
      padding: vmin(30, 320) 0 vmin(42, 320)
    &__inner
      display: flex
      align-items: flex-start
      justify-content: space-between
      flex-flow: wrap
      @media (max-width: 767px)
        flex-direction: column
        align-items: center
        justify-content: flex-start
        max-width: vmin(320,320)
        margin-left: auto
        margin-right: auto
    &__title
      margin-bottom: vw(37, 1920)
      @media (max-width: 767px)
        margin-bottom: vmin(30, 320)
    &__item
      &--logos
        width: vw(510, 1920)
        height: vw(807, 1920)
        background: url('../images/5ka/logos.png') 0 0 no-repeat
        background-size: contain
        margin-top: vw(30, 1920)
        @media (max-width: 767px)
          background-image: url('../images/5ka/logos-m.png')
          width: vmin(295, 320)
          height: vmin(266, 320)
          margin-top: vmin(40, 320)
          order: 3
      &--pack
        width: vw(525, 1920)
        margin-top: vw(50, 1920)
        @media (max-width: 767px)
          width: 100%
          order: 2
          margin-top: 0
          position: absolute !important
          top: vmin(108, 320)
          left: 0
      &--info
        width: vw(772, 1920)
        @media (max-width: 767px)
          width: 100%
          padding: 0 vmin(26, 320) 0 vmin(20, 320)
          order: 1
    &__pack
      width: vw(434, 1920)
      height: auto
      display: block
      @media (max-width: 767px)
        width: vmin(169, 320)
        margin: 0 auto
        transform: translateX(-12%)
    &__btns
      text-align: center
      margin-top: vw(35, 1920)
      @media (max-width: 767px)
        margin-top: vmin(20, 320)
    &__title
      color: $white
    &__text
      color: $white
      @media (max-width: 767px)
        padding-top: vmin(220, 320)
        text-align: left
        line-height: vmin(22, 320)
      a
        color: $sky
        text-decoration: underline
        &:hover
          text-decoration: none
    &__carousel
      margin-top: vw(50, 1920)
      @media (max-width: 767px)
        margin-top: vmin(30, 320)
      img
        width: vw(700, 1920)
        height: auto
        display: block
        @media (max-width: 767px)
          width: 100%
._desktop-5ka
  @media (max-width: 767px)
    display: none !important
._mobile-5ka
  display: none !important
  @media (max-width: 767px)
    display: block !important
.popups-5ka
  background: $sky
  padding-top: 150px
  .btn-5ka
    margin-bottom: 20px
  .btn-5ka + .btn-5ka
    margin-left: 12px
