.stayhome
    padding-top: 80px
    margin-top: 20px
    background-color: #0295d4
    height: 760px
    display: flex
    box-sizing: border-box

    @media (max-width: 1024px)
      height: 600px

    @media (max-width: 767px)
      display: block
      height: 800px

    &._show
      @media (max-width: 1024px)
        height: 760px

      @media (max-width: 767px)
        height: 600px

      iframe.active
        opacity: 1
        pointer-events: auto

    &-promo

      .intro__wrapper
        height: 720px

        //@media (max-width: 860px)
          height: 400px

        @media (max-width: 767px)
          height: 553px
          min-height: 0

      .intro-slide
        padding-top: 80px

        @media (max-width: 1024px)
          padding-top: 135px

        @media (max-width: 767px)
          padding-top: 95px

      .intro-slide__image-col
        top: 80px
        background-color: #fff

        @media (max-width: 1300px)
          width: 100%

        @media (max-width: 1024px)
          top: 135px

        @media (max-width: 767px)
          top: 95px

      #animation_container60, #canvas60
        @media (max-width: 860px)
          width: 100% !important
          height: auto !important

      #animation_container60-2, #canvas60-2
        width: 100% !important
        height: auto !important

    &-start
      ._show &
        display: none

    &-nav
      opacity: 0
      pointer-events: none
      transition: opacity .5s ease-in-out

      ._show &
        opacity: 1
        pointer-events: auto

      .swiper-button-prev, .swiper-button-next
        width: 40px
        height: 51px
        background-color: #fff
        background-size: 12px 23px
        margin-top: 0
        top: 0
        box-sizing: border-box
        transition: background-color .3s ease-in-out

        @media (max-width: 767px)
          height: 38px
          background-size: 10px 17px

        &:hover
          background-color: #0295d4
          border: 1px solid #fff

          @media (max-width: 767px)
            border: none
            background-color: #fff

      .swiper-button-prev
        border-radius: 40px 0 0 40px
        border-right: 1px solid #0295d4
        left: 0

        &:hover
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")

          @media (max-width: 767px)
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E")

      .swiper-button-next
        border-radius: 0 40px 40px 0
        border-left: 1px solid #0295d4
        right: 0

        &:hover
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")

          @media (max-width: 767px)
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E")

      .swiper-container
        width: 325px
        height: 51px
        padding: 0 40px
        box-sizing: border-box
        border-radius: 40px
        margin: 0 0 18px

        @media (max-width: 1024px)
          width: 290px

        @media (max-width: 767px)
          height: 38px
          width: 264px
          border: 1px solid #0295d4
          margin: 0 auto

      .swiper-slide
        color: #0495d4
        text-transform: uppercase
        font-size: 16px
        font-family: 'Geometria'
        text-align: center
        line-height: 51px
        background: #fff

        @media (max-width: 767px)
          line-height: 38px
          font-size: 12px

      .stayhome__text
        padding-left: 12px

        @media (max-width: 1024px)
          max-width: 290px

        @media (max-width: 767px)
          margin-top: 333px
          padding: 12px 80px 0 32px
          line-height: 15px
          font-size: 13px

    &__img
      margin: 40px auto 0
      display: block
      max-width: 100%
      transform: translateX(-60px)

      @media (max-width: 1024px)
        transform: translateX(-50px)

      @media (max-width: 767px)
        display: none

    &__sidebar
      width: 478px
      padding-left: 80px
      padding-top: 60px
      box-sizing: border-box

      @media (max-width: 1024px)
        padding-left: 40px
        padding-top: 80px
        width: 370px

      @media (max-width: 767px)
        padding: 40px 0 0
        width: 100%
        position: relative
        z-index: 2

      ._mobile
        display: none

        @media (max-width: 767px)
          display: block
          width: 100%
          height: auto

      .btn
        margin-top: 70px
        max-width: 270px

        @media (max-width: 767px)
          margin: 20px auto 0

    &__content
      width: calc(100% - 478px)
      background: url("../images/stayhome-banner.png") top right no-repeat
      background-size: 100% auto
      height: 680px
      position: relative

      @media (max-width: 1024px)
        height: 400px
        width: calc(100% - 370px)
        background-position: center

      @media (max-width: 767px)
        width: 100%
        height: 390px
        position: absolute
        top: 100px
        left: 0
        background: none

      ._show &
        background: none

    iframe
      position: absolute
      top: 0
      left: 0
      opacity: 0
      pointer-events: none
      transition: opacity .5s ease-in-out

      @media (max-width: 767px)
        position: absolute
        top: 0
        left: 0

      @media (max-width: 767px)
        height: 390px

    &__title
      margin: 0 0 6px
      max-width: 367px
      text-transform: uppercase
      font-family: "HappyFoxCondensed", serif
      font-weight: 400
      font-size: 50px
      line-height: 60px
      letter-spacing: 0.5px
      color: #fff

      @media (max-width: 1024px)
          font-size: 31px
          line-height: 37px

      @media (max-width: 767px)
        max-width: 234px
        padding: 0 32px

    &__descr
      min-height: 66px
      position: relative

      @media (max-width: 1024px)
        min-height: 30px

      .stayhome__text
        position: absolute
        top: 0
        left: 0
        opacity: 0
        pointer-events: none
        transition: opacity .5s ease-in-out

        &.active
          opacity: 1
          pointer-events: auto

    &__text
      font-size: 18px
      line-height: 22px
      letter-spacing: -0.3px
      max-width: 340px
      margin: 0
      color: #fff
      font-family: 'Geometria'
      margin-bottom: 10px

      @media (max-width: 1024px)
          font-size: 13px
          line-height: 15px
          max-width: 260px

      @media (max-width: 767px)
        max-width: 240px
        padding: 0 32px

      &:last-child
        margin-bottom: 0
