.winners-5ka
  padding: 133px 0 vw(125, 1920)
  background: $sky
  @media (max-width: 767px)
    padding: vmin(72, 320) 0 vmin(35, 320)
  &__title
    text-align: center
    color: $sea
    margin-bottom: vw(46, 1920)
    @media (max-width: 767px)
      margin-bottom: vmin(18, 320)
    br
      display: none
      @media (max-width: 767px)
        display: inline
  &__img
    position: absolute
    display: block
    height: auto
    &--1
      top: vw(447, 1920)
      left: 0
      width: vw(269, 1920)
      .winners-5ka--no-winners &
        display: none
    &--2
      top: vw(259, 1920)
      right: 0
      width: vw(302, 1920)
      .winners-5ka--no-winners &
        display: none
    &--m
      position: static
      margin: 0 auto vmin(15, 320)
      .winners-5ka--no-winners &
        display: none !important
