.account-btn
    @include hover
    position: relative
    width: 18px
    height: 18px
    border: 1px solid #fff 
    border-radius: 50%

    svg 
        @include center 
        fill: #fff

    &._linked
        width: 20px
        height: 20px
        border: none

    &--vk 

        &._linked
            background-image: linear-gradient(to bottom, #51739a, #6489b0)

    &--ok 

        &._linked
            background-image: linear-gradient(to bottom, #ee8308, #f3990a)

    &--fb 

        &._linked
            background-image: linear-gradient(to bottom, #315493, #315493)
            