.actions
    padding-top: 35px
    
    &__title 
        margin: 0 0 35px 0
        text-align: center
        font-family: $font-special 
        font-weight: 400
        font-size: 60px
        line-height: 80px
        color: #185491

        @media (max-width: 767px)
            font-size: 42px
            line-height: 60px