.ar-section
    padding-top: 60px

    &__top
        display: flex

        @media (max-width: 768px)
            display: block

    &__title-block
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        background-color: #013764
        width: 33%



        @media (max-width: 768px)
            width: 100%
            box-sizing: border-box
            padding: 35px 20px

    &__title
        display: block
        font-size: 82px
        line-height: 90px
        color: #fff
        font-family: $font-special
        flex: none

        @media (max-width: 1024px)
            font-size: 52px
            line-height: 58px

        @media (max-width: 768px)
            font-size: 32px
            line-height: 47px

        br
            @media (max-width: 768px)
                display: none

    &__subtitle
        color: #fff
        font-size: 13px
        line-height: 20px
        text-transform: uppercase
        text-align: center
        max-width: 210px
        letter-spacing: 0.09em

        @media (max-width: 1024px)
            font-size: 10px
            line-height: 15px

    &__upload
        margin-top: 65px
        margin-left: -43px

        @media (max-width: 1024px)
            margin-left: 0
            margin-top: 40px

        &-list
            margin-top: 17px
            list-style-type: none
            display: flex
            justify-content: center

        &-item
            display: flex
            justify-content: center
            align-items: center
            border-radius: 8px
            width: 40px
            height: 40px
            background-color: #fff

            &:first-child
                margin-right: 10px

            img
                display: block

    &__video
        width: 100%
        display: block

        &-wrap
            width: 67%

            @media (max-width: 768px)
                width: 100%

    &__image
        display: block
        max-width: 100%
        margin: 0 auto

        @media (max-width: 768px)
            max-width: 300%
            height: auto

    &__images
        padding: 30px 40px
        box-sizing: border-box

        @media (max-width: 768px)
            position: relative
            z-index: 2
            padding: 15px 0
            width: 100%
            overflow-x: scroll

        .swipe-right
            width: 80px
            height: 80px
            position: absolute
            right: 0
            top: 50%
            transform: translateY(-50%)
            background: url("../images/arrow-right-ar.png") 0 0 no-repeat
            display: none
            transition: opacity .3s ease-in-out

            @media (max-width: 768px)
                display: block

            &._hide
                opacity: 0