.article-card
	position: relative
	display: flex
	flex-direction: column
	color: #fff
	background-color: #1b558f
	overflow: hidden
	cursor: pointer

	&__inner
		position: relative
		padding-top: 128.72%

		@media (max-width: 1024px)
			padding-top: 60%

		@media (max-width: 767px)
			padding-top: 70%

		@media (max-width: 480px)
			padding-top: 120%

	&__bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0

		&::after
			content: ""
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: 100%
			background-image: linear-gradient(to top, #062c53 0%, rgba(#062c53, 0.5) 100px, rgba(#fff, 0) 100%)
			background-repeat: no-repeat
			background-size: 100% 100%
			background-position: left bottom
			opacity: 0.9
			transition: all 0.5s ease
			transform: translate3d(0)
			will-change: all

		img
			display: block
			width: 100%
			height: 100%
			object-fit: cover
			object-position: top center
			font-family: 'object-fit: cover object-position: top center'
			background-size: cover

	&__content
		position: absolute
		bottom: 0
		left: 0
		right: 0
		padding: 100px 25px 25px

		@media (max-width: 1280px)
			padding: 20px

	&__flag
		position: absolute
		top: 15px
		left: 15px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		width: 68px
		height: 68px
		font-family: $font
		text-align: center
		font-size: 10px
		line-height: 0
		color: rgba(#062c53, 0.5)
		background-color: #e9ad00
		border-radius: 50%
		z-index: 1

		@media (max-width: 1280px)
			width: 50px
			height: 50px

		@media (max-width: 1024px)
			left: auto
			right: 15px

		b
			margin: 8px 0
			font-weight: 700
			font-size: 28px
			line-height: 21px
			color: #062c53

			@media (max-width: 1280px)
				margin: 6px 0 2px
				font-size: 22px

	&__title
		margin: 0 0 -7px
		max-width: 190px
		font-family: $font
		font-weight: 400
		text-transform: uppercase
		font-size: 13px
		line-height: 21px
		letter-spacing: 1.2px
		transition: margin-bottom 0.5s ease
		transform: translate3d(0)
		will-change: margin-bottom

	&__popup
		max-height: 0
		overflow: hidden
		transition: all 0.5s ease
		transform: translate3d(0)
		will-change: all

	&__text
		position: relative
		margin-top: 15px
		padding-top: 20px
		max-width: 500px
		font-family: $font
		font-size: 15px
		line-height: 1.2

		&::before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 51px
			height: 1px
			background-color: #fff
			opacity: 0.6

		p
			margin: 0 0 20px

			&:last-child
				margin-bottom: 0

	&__btn
		display: inline-block
		vertical-align: top
		margin-top: 12px
		padding-left: 30px
		padding-right: 30px

		@media (max-width: 1439px)
			padding-left: 20px
			padding-right: 20px
			font-size: 10px
			line-height: 35px

	&__links
		display: flex
		margin-bottom: 10px

	&__store-link
		@include hover
		position: relative
		display: block
		margin: 0 12px 12px 0
		width: 42px
		height: 42px
		background-color: #fff
		border-radius: 9px

		img
			@include center
			display: block
			max-width: 80%
			height: auto

	&:hover

		.article-card__bg::after
			background-color: #1b558f
			opacity: 1

		.article-card__popup
			max-height: 400px

		.article-card__title
			margin-bottom: 0
			font-weight: 700

		.article-card__links
			margin-bottom: 0

	&.elements-layout__item--wide

		.article-card__title
			max-width: 210px

		.article-card__inner
			padding-top: 45.03%

			@media (max-width: 1024px)
				padding-top: 60%

			@media (max-width: 767px)
				padding-top: 70%

			@media (max-width: 480px)
				padding-top: 140%

