.aside-block
    display: flex 
    flex-direction: column
    align-items: center
    box-sizing: border-box
    padding-left: 40px
    padding-right: 40px
    max-width: 100%
    height: 100%

    @media (max-width: 1024px)
        padding-top: 20px

    ._bigcup-add &
        padding-left: 20px
        padding-right: 20px

    &__title 
        display: flex 
        flex-direction: column
        align-items: center
        margin: 0 0 80px 0
        max-width: 100%
        text-align: center
        text-transform: uppercase
        font-family: $font-special 
        font-weight: 400
        font-size: 50px
        line-height: 60px
        color: #fff 
        letter-spacing: 3px

        @media (max-width: 1024px)
            display: none

        .icon 
            margin-bottom: 20px

        .text 
            max-width: 100%

        svg,
        img 
            display: block

        img 
            max-width: 100%
            height: auto

    &__btn 
        width: 200px

    &__descr 
        margin: 13px 0 47px 0
        font-family: $font-alt 
        font-weight: 400
        font-size: 14px
        line-height: 20px
        color: #fff

        @media (max-width: 1024px)
            position: relative
            margin-bottom: 24px

        .points 
            color: $yellow

    &__profile 
        @include hover
        font-weight: 700
        color: #fff
        border-bottom: 1px solid #fff

    &__activities
        @include hover
        margin: 0 auto
        margin-top: auto
        font-family: $font 
        font-weight: 400
        font-size: 13px
        line-height: 20px
        color: #fff 
        letter-spacing: 1.1px

        @media (max-width: 1024px)
            position: relative

        span 
            border-bottom: 1px solid #fff

    &__text 
        margin: 0 auto 40px
        max-width: 220px
        text-align: center
        font-size: 17px
        line-height: 24px
        color: #fff
