.intro-slide #animation_container1, .intro-slide #animation_container2, .intro-slide #animation_container3, .intro-slide #animation_container4, .intro-slide #animation_container5, .intro-slide #animation_container6, .intro-slide #animation_container7, .intro-slide #animation_container8, .intro-slide #animation_container9, .intro-slide #animation_container10,
.intro-slide #animation_container11, .intro-slide #animation_container12, .intro-slide #animation_container13, .intro-slide #animation_container14, .intro-slide #animation_container15, .intro-slide #animation_container16,
.intro-slide #animation_container16-2, .intro-slide #animation_container17, .intro-slide #animation_container18, .intro-slide #animation_container19, .intro-slide #animation_container19-2, .intro-slide #animation_container20, .intro-slide #animation_container20-2, .intro-slide #animation_container21, .intro-slide #animation_container22, .intro-slide #animation_container23, .intro-slide #animation_container24, .intro-slide #animation_container25, .intro-slide #animation_container26, .intro-slide #animation_container27, .intro-slide #animation_container28, .intro-slide #animation_container29,
.intro-slide #animation_container29-2, .intro-slide #animation_container30, .intro-slide #animation_container30-2, .intro-slide #animation_container31, .intro-slide #animation_container32, .intro-slide #animation_container32-2, .intro-slide #animation_container33, .intro-slide #animation_container33-2,.intro-slide #animation_container34, .intro-slide #animation_container34-2, .intro-slide #animation_container35, .intro-slide #animation_container35-2, .intro-slide #animation_container36, .intro-slide #animation_container36-2,
.intro-slide #animation_container37, .intro-slide #animation_container38, .intro-slide #animation_container38-2, .intro-slide #animation_container39, .intro-slide #animation_container39-2, .intro-slide #animation_container40, .intro-slide #animation_container40-2, .intro-slide #animation_container41, .intro-slide #animation_container41-2, .intro-slide #animation_container42, .intro-slide #animation_container43, .intro-slide #animation_container43-2, .intro-slide #animation_container44, .intro-slide #animation_container45, .intro-slide #animation_container46, .intro-slide #animation_container46-2, .intro-slide #animation_container47, .intro-slide #animation_container47-2, .intro-slide #animation_container49, .intro-slide #animation_container49-2, .intro-slide #animation_container50, .intro-slide #animation_container50-2, .intro-slide #animation_container51, .intro-slide #animation_container51-2, .intro-slide #animation_container52, .intro-slide #animation_container52-2,.intro-slide #animation_container53, .intro-slide #animation_container53-2, .intro-slide #animation_container54, .intro-slide #animation_container54-2, .intro-slide #animation_container55, .intro-slide #animation_container55-2,
.intro-slide #animation_containerpr, .intro-slide #animation_containerpr-2,.intro-slide #animation_container56, .intro-slide #animation_container56-2, .intro-slide #animation_container57, .intro-slide #animation_container57-2, .intro-slide #animation_container58, .intro-slide #animation_container58-2, .intro-slide #animation_container59, .intro-slide #animation_container59-2,
.intro-slide #animation_containerpr2, .intro-slide #animation_containerpr2-2
    position: absolute
    top: 0
    bottom: 0
    right: 15%
    background-image: none
    width: 100% !important
    height: auto !important
    pointer-events: none

    canvas
        position: absolute
        right: -10%
        bottom: 60px
        max-height: 100% !important
        width: auto !important
        transform: scale(1.1,1.1)
        background-image: none

        @media (max-width: 1000px)
            bottom: 100px

        @media (max-width: 900px)
            transform: scale(1,1)

        @media (max-width: 767px)
            max-width: 440px
            width: 100% !important
            height: auto !important
            right: 7.5%
            bottom: auto
            top: 350px
            transform: scale(1.5,1.5)

#animation_container48
    position: absolute
    top: 0
    bottom: 0
    left: 0
    background-image: none
    width: 100% !important
    height: auto !important

    canvas
        position: absolute
        left: 0
        bottom: 0
        max-height: 100% !important
        width: auto !important
        background-image: none
        transform: none

.intro-slide #animation_container2, .intro-slide #animation_container3, .intro-slide #animation_container4
    @media (max-width: 970px)
        right: 7%

    @media (max-width: 767px)
        right: 15%

.intro-slide #animation_container4
    @media (max-width: 767px)
        top: 50px

.intro-slide #animation_container5
    @media (max-width: 767px)
        right: 25%
        top: 50px

    canvas
        @media (max-width: 767px)
            width: 100% !important
            height: auto !important
            max-width: 440px

.intro-slide #animation_container6
    @media (max-width: 767px)
        right: 25%

.intro-slide #animation_container7, .intro-slide #animation_container12, .intro-slide #animation_container13, .intro-slide #animation_container15, .intro-slide #animation_container16, .intro-slide #animation_container16-2, .intro-slide #animation_container20, .intro-slide #animation_container20-2, .intro-slide #animation_container29-2, .intro-slide #animation_container30, .intro-slide #animation_container30-2, .intro-slide #animation_container32, .intro-slide #animation_container32-2, .intro-slide #animation_container33, .intro-slide #animation_container33-2, .intro-slide #animation_container34, .intro-slide #animation_container34-2, .intro-slide #animation_container35, .intro-slide #animation_container35-2, .intro-slide #animation_container36, .intro-slide #animation_container36-2, .intro-slide #animation_container38, .intro-slide #animation_container38-2,.intro-slide #animation_container39, .intro-slide #animation_container39-2,.intro-slide #animation_container40, .intro-slide #animation_container40-2, .intro-slide #animation_container41, .intro-slide #animation_container41-2, .intro-slide #animation_container42, .intro-slide #animation_container43, .intro-slide #animation_container43-2, .intro-slide #animation_container44, .intro-slide #animation_container45, .intro-slide #animation_container46, .intro-slide #animation_container46-2, .intro-slide #animation_container47, .intro-slide #animation_container47-2, .intro-slide #animation_container49, .intro-slide #animation_container49-2, .intro-slide #animation_container50, .intro-slide #animation_container50-2, .intro-slide #animation_container51, .intro-slide #animation_container51-2, .intro-slide #animation_container52, .intro-slide #animation_container52-2,
.intro-slide #animation_container53, .intro-slide #animation_container53-2, .intro-slide #animation_container54, .intro-slide #animation_container54-2, .intro-slide #animation_container55, .intro-slide #animation_container55-2,
.intro-slide #animation_containerpr, .intro-slide #animation_containerpr-2, .intro-slide #animation_container56, .intro-slide #animation_container56-2, .intro-slide #animation_container57, .intro-slide #animation_container57-2, .intro-slide #animation_container58, .intro-slide #animation_container58-2, .intro-slide #animation_container59, .intro-slide #animation_container59-2,
.intro-slide #animation_containerpr2, .intro-slide #animation_containerpr2-2
    right: 0
    top: 0
    height: 680px !important
    width: 100% !important

    //@media (max-width: 767px)
        height: auto !important
        width: 100% !important
        right: 7.5%
        bottom: auto
        top: 140px

    canvas
        width: auto !important
        height: 100% !important
        right: 0 !important
        top: -100px
        bottom: auto

        @media (max-width: 1000px)
            right: -15% !important

        @media (max-width: 880px)
            right: -25% !important

        @media (max-width: 767px)
            right: 5% !important
            top: 360px
            //width: 100% !important
            //max-width: 400px
            //height: auto !important
            max-width: none !important
            top: 0
            height: 780px !important
            width: auto !important

//#animation_container
    right: 0
    top: 0
    height: 680px !important
    width: 100% !important

._flag
    #animation_container7

        canvas
            @media (max-width: 767px)
                top: 0
                max-width: 300px

.intro-slide #animation_container8
    @media (min-width: 768px)
        bottom: 0
        right: 0
        top: auto
        position: relative

        canvas
            top: auto
            bottom: 0
            right: 0

    canvas
        @media (max-width: 767px)
            max-height: 90% !important
            top: 370px

.intro-slide #animation_container9
    top: 15%
    right: 14%

    @media (min-width: 1600px)
        right: 12%

    @media (max-width: 1024px)
        right: 12%

    @media (max-width: 767px)
        top: 2%
        right: 10%

.intro-slide #animation_container10
    top: 20%

    @media (max-width: 1024px)
        top: 25%
        right: 10%

    @media (max-width: 767px)
        top: 6%
        right: 23%

    @media (max-width: 400px)
        top: 9%
    canvas
        @media (max-width: 767px)
            width: 90% !important

.intro-slide #animation_container11
    top: 0
    height: 100% !important
    width: auto
    right: 0

    @media (max-width: 767px)
        width: 140% !important
        height: auto !important
        top: 35%

    canvas
        right: 0
        bottom: auto
        top: 0
        transform: none

        @media (max-width: 1280px)
            right: -13%

        @media (max-width: 1024px)
            right: 0

        @media (max-width: 880px)
            right: -13%

        @media (max-width: 767px)
            right: 0
            max-width: none

.intro-slide #animation_container12
    canvas
        @media (min-width: 1500px)
            width: 100% !important
            height: auto !important
            max-height: none !important

        @media (max-width: 767px)
            right: -450px !important

.intro-slide #animation_container13
    canvas
        @media (min-width: 1500px)
            width: 100% !important
            height: auto !important
            max-height: none !important

        @media (max-width: 767px)
            right: 75px !important

.intro-slide #animation_container14
    @media (max-width: 1024px)
        right: 2%

    @media (max-width: 880px)
        right: -4%

    @media (max-width: 767px)
        right: 20%

.intro-slide #animation_container15
    @media (max-width: 880px)
        right: 50px

    canvas
        @media (min-width: 1500px)
            width: 100% !important
            height: auto !important
            max-height: none !important

.intro-slide #animation_container16, .intro-slide #animation_container16-2
    @media (max-width: 880px)
        //right: 50px

    canvas
        @media (min-width: 1500px)
            width: 100% !important
            height: auto !important
            max-height: none !important

.intro-slide #animation_container16-2
    right: -95%

.intro-slide #animation_container17
    right: 0

    @media (max-width: 880px)
        right: -12%

    @media (max-width: 767px)
        right: 0

    canvas
        right: 0
        bottom: 0

        @media (max-width: 767px)
            top: 365px

.intro-slide #animation_container18
    right: 0

    @media (max-width: 880px)
        right: -12%

    @media (max-width: 767px)
        right: 0

    canvas
        transform: none
        right: 0
        bottom: 0

        @media (max-width: 767px)
            top: 345px
            transform: scale(2)
            right: 42%

.intro-slide #animation_container19
    canvas
        @media (max-width: 1000px)
            right: -16%
            bottom: 50px

        @media (max-width: 880px)
            right: -32%

.intro-slide #animation_container19-2
    @media (max-width: 767px)
        right: 0

    canvas
        @media (max-width: 767px)
            right: 0
            transform: scale(1)
            top: 0

.intro-slide #animation_container20
    canvas
        @media (max-width: 1000px)
            right: 0 !important

        @media (max-width: 880px)
            right: -15% !important

.intro-slide #animation_container20-2
    canvas
        top: 8%
        right: 5% !important

.intro-slide #animation_container21
    @media (max-width: 880px)
        right: 0 !important

    canvas
        @media (max-width: 767px)
            right: 40% !important

.intro-slide #animation_container22
    canvas
        @media (max-width: 1000px)
            right: -20% !important

        @media (max-width: 880px)
            right: -31% !important

        @media (max-width: 767px)
            right: 18% !important

.intro-slide #animation_container23
    canvas
        @media (max-width: 1000px)
            right: -20% !important

        @media (max-width: 880px)
            right: -28% !important

        @media (max-width: 767px)
            right: 39% !important
            transform: scale(1.8, 1.8)

.intro-slide #animation_container24
    canvas
        @media (max-width: 880px)
            right: -25% !important

        @media (max-width: 767px)
            right: 17% !important
            top: 330px
            transform: scale(1.8, 1.8)

.intro-slide #animation_container25
    canvas
        @media (max-width: 880px)
            right: -25% !important

        @media (max-width: 767px)
            right: 16% !important

.intro-slide #animation_container26
    canvas
        bottom: 10px

        @media (max-width: 1000px)
            bottom: 20px
            right: -20% !important

        @media (max-width: 880px)
            right: -33% !important

        @media (max-width: 767px)
            right: 19% !important
            transform: scale(1.8, 1.8)

.intro-slide #animation_container27
    canvas
        @media (max-width: 900px)
            bottom: 20px
            right: -25% !important

        @media (max-width: 767px)
            right: 19% !important

.intro-slide #animation_container28
    canvas
        @media (max-width: 1000px)
            right: -25% !important
            bottom: 50px

        @media (max-width: 800px)
            right: -35% !important

        @media (max-width: 767px)
            right: 23% !important
            bottom: 20px

.intro-slide #animation_container29
    right: 14%

    canvas
        bottom: 0
        right: -11%

        @media (max-width: 900px)
            right: -25% !important

        @media (max-width: 767px)
            right: 23% !important
            top: 400px

.intro-slide #animation_container29-2
    canvas
        @media (max-width: 767px)
            transform: scale(1.2, 1.2)
            right: 9% !important
            top: 70px !important

//.intro-slide #animation_container30-2
//    canvas
//        @media (max-width: 767px)
//            width: 100% !important
//            height: auto !important

#_preload_div_, #_preload_div_32, #_preload_div_33, #_preload_div_34, #_preload_div_35, #_preload_div_36, #_preload_div_37, #_preload_div_39, #_preload_div_40, #_preload_div_41, #_preload_div_42, #_preload_div_43, #_preload_div_44, #_preload_div_45, #_preload_div_46, #_preload_div_47, #_preload_div_48, #_preload_div_49, #_preload_div_50, #_preload_div_51, #_preload_div_52, #_preload_div_53, #_preload_div_54, #_preload_div_55, #_preload_div_pr, #_preload_div_56, #_preload_div_57, #_preload_div_58, #_preload_div_59, #_preload_div_60
    z-index: 99
    height: 100% !important

    @media (max-width: 767px)
        top: 50% !important
        left: 50% !important
        width: 170px !important
        height: 170px !important
        transform: translate(-50%, -50%)

    img
        +vAlignAbs()

.intro-slide #animation_container31
    canvas
        bottom: 0 !important

        @media (max-width: 1000px)
            right: -25% !important

        @media (max-width: 767px)
            transform: scale(1.8, 1.8)
            right: 23% !important
            top: 330px !important

.intro-slide #animation_container32-2
    canvas
        @media (max-width: 767px)
            right: 8% !important
            top: 150px

.intro-slide #animation_container33-2
    canvas
        @media (max-width: 767px)
            top: 60px

.intro-slide #animation_container34-2, .intro-slide #animation_container35-2
    canvas
        @media (max-width: 767px)
            top: 90px

.intro-slide #animation_container36-2
    canvas
        @media (max-width: 767px)
            top: -15px

.intro-slide #animation_container37
    canvas
        @media (max-width: 880px)
            right: -35% !important

        @media (max-width: 767px)
            transform: scale(2, 2)
            right: 22% !important
            top: 300px

.intro-slide #animation_container38-2
    canvas
        @media (max-width: 767px)
            top: 140px

.intro-slide #animation_container39
    canvas
        @media (max-width: 1280px)
            right: 6% !important

        @media (max-width: 1023px)
            right: -4% !important

        @media (max-width: 900px)
            right: -8% !important

.intro-slide #animation_container39-2
    canvas
        @media (max-width: 767px)
            top: 75px
            right: 40px !important

.intro-slide #animation_container41-2
    canvas
        @media (max-width: 767px)
            top: 75px

.intro-slide #animation_container42
    canvas
        @media (max-width: 767px)
            right: 28% !important
            top: 340px
            height: auto !important
            width: 120% !important

.intro-slide #animation_container43
    canvas
        @media (max-width: 850px)
            right: -14% !important

.intro-slide #animation_container43-2
    canvas
        @media (max-width: 767px)
            transform: none !important
            width: 100% !important
            height: auto !important
            max-height: none !important

.intro-slide #animation_container44
    canvas
        @media (max-width: 767px)
            right: 28% !important
            top: 340px
            height: auto !important
            width: 120% !important

.intro-slide #animation_container45
    canvas
        @media (max-width: 767px)
            width: 100% !important
            height: auto !important
            top: 340px
            right: 15% !important

.intro-slide #animation_container46-2
    canvas
        @media (max-width: 767px)
            top: 115px
            right: 5% !important

.intro-slide #animation_container47-2
    top: auto
    bottom: 0

    canvas
        transform: none
        top: auto
        bottom: 0
        width: 100% !important
        height: auto !important
        max-height: none !important

.intro-slide #animation_container52-2
    canvas
        @media (max-width: 767px)
            top: 115px

.intro-slide #animation_containerpr-2
    canvas
        @media (max-width: 767px)
            top: 115px

.intro-slide #animation_containerpr2-2
    canvas
        @media (max-width: 767px)
            top: 160px
