.bigcup-products
    padding-bottom: 62px

    @media (max-width: 768px)
        padding-bottom: 40px

    .product__img
        display: flex
        align-items: flex-end

    &__promo 
        margin-bottom: -2px
        color: #fff
        background-color: #0b66a3
        background-image: url("../images/cow-wave.png")
        background-repeat: no-repeat
        background-size: 100% auto 
        background-position: bottom -1px left

        @media (max-width: 768px)
            margin-bottom: 14px
            padding-top: 48px
            background-image: url("../images/asset-3@2x.png")
            background-position: bottom -25vw left

        ._bigcup-add &
            background-image: url("../images/cow-wave.png"), url("../images/family.png")
            background-size: 100% auto, auto 96%
            background-position: bottom -1px left, right top

            @media (max-width: 768px)
                background-image: url("../images/asset-3@2x.png")
                background-position: bottom -25vw left

        &-wrapper 
            display: flex
            justify-content: flex-end
            margin: 0 auto
            padding: 0 20px
            padding-top: 140px
            padding-bottom: 16vw
            max-width: 1224px
            background-image: url("../images/hearts@2x.png")
            background-repeat: no-repeat
            background-size: 34% auto
            background-position: left bottom 9vw

            @media (max-width: 1440px)
                background-position: left 7vw bottom 9vw

            @media (max-width: 768px)
                padding: 0 11px
                padding-top: 15px
                padding-bottom: 29vw
                background-image: none

            ._bigcup-add &
                justify-content: flex-start
                background-image: none

        &-content 
            width: 46%

            @media (max-width: 768px)
                width: 100%

        h3 
            margin: 0 0 29px
            max-width: 350px
            text-transform: uppercase
            font-family: $font-special 
            font-weight: 400
            font-size: 50px
            line-height: 60px

            @media (max-width: 768px)
                margin-bottom: 18px
                max-width: 270px
                font-size: 40px
                line-height: 48px

        p 
            margin: 0
            max-width: 515px
            font-size: 17px
            line-height: 24px
            color: rgba(255, 255, 255, 0.7)

            @media (max-width: 768px)
                font-size: 14px
                line-height: 20px

    .muu-products__title
        max-width: 822px