.blog-post
    margin-right: 40px
    padding: 60px 0 42px 40px
    //overflow: hidden

    @media (max-width: 767px)
        margin-right: 20px
        padding-left: 20px
        padding-top: 78px
        padding-bottom: 40px

    &__title
        margin: 0 0 40px 0
        max-width: 500px
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 60px
        line-height: 60px
        color: $d-blue

        @media (max-width: 767px)
            margin-bottom: 22px
            font-size: 40px
            line-height: 40px

    &__info-row
        @include row-component

        @media (max-width: 767px)
            flex-wrap: wrap
            align-items: flex-start

    &__tag 
        @include hover
        box-sizing: border-box
        margin-right: 10px
        padding: 5px 10px 3px 10px
        min-width: 138px
        text-transform: uppercase
        text-align: center
        font-family: $font-alt 
        font-weight: 700
        font-size: 10px
        line-height: 20px
        letter-spacing: 1.2px
        color: $d-blue 
        border: 1px solid $d-blue
        border-radius: 15px

        @media (max-width: 767px)
            margin-bottom: 17px

    &__datetime 
        margin-right: auto
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 700
        font-size: 10px
        line-height: 20px
        letter-spacing: 1.2px
        color: rgba(0, 0, 0, 0.6)

        @media (max-width: 767px)
            line-height: 30px

    &__actions 
        justify-content: flex-end

    h4
        margin: 30px 0 40px 0
        max-width: 700px
        font-weight: 400
        font-size: 22px
        line-height: 27px

        @media (max-width: 1024px)
            max-width: 675px

        @media (max-width: 767px)
            margin-top: 42px
            margin-bottom: 33px

    img,
    video
        display: block
        margin: 40px 0 44px 0
        width: 100%
        height: auto
        border: none

        @media (max-width: 767px)
            margin-top: 33px
            // height: 100%
            // width: auto

    video
        @media (max-width: 767px)
            height: auto
            width: 100%

    p 
        margin: 0 0 22px 0
        max-width: 800px
        font-weight: 400
        font-size: 17px
        line-height: 22px

        @media (max-width: 1024px)
            max-width: 675px  

    h3 
        margin: 0 0 22px 0
        max-width: 800px
        font-weight: 700
        font-size: 22px
        line-height: 22px

    &__footer
        @include row-component
        width: calc(99vw - 200px)

        @media (max-width: 1023px)
            flex-direction: column 
            align-items: flex-start
            width: calc(100% - 60px)

        @media (max-width: 767px)
            flex-direction: row
            flex-wrap: wrap
            justify-content: flex-start
            align-items: flex-start
            margin-top: 38px
            width: 100%

    &__footer-row 

        @media (max-width: 767px)
            width: 100%

    &__share 
        margin-left: auto
        min-width: 173px

        @media (max-width: 1023px)
            margin-left: 0
            margin-bottom: 30px
            min-width: 190px

        .icon 
            display: none

        svg 
            display: block
            fill: #fff

        @media (max-width: 767px)
            margin-left: 0
            padding-left: 0
            padding-right: 0
            width: 50px
            height: 50px
            min-width: 50px

            .text
                display: none

            .icon 
                display: block

    &__social 
        margin-left: 3px

        @media (max-width: 1023px)
            margin-left: 0

            .social-btn 
                margin-left: 0
                margin-right: 20px

    &__like 
        min-width: 190px

        @media (max-width: 767px)
            margin-right: auto
            width: 190px
            margin-bottom: 18px

.blog-actions
    @include row-component
    text-transform: uppercase
    font-family: $font-alt 
    font-weight: 700
    font-size: 10px
    line-height: 10px
    letter-spacing: 1.2px
    color: rgba(0, 0, 0, 0.6)

.blog-action
    @include row-component
    margin-left: 21px
    color: rgba(0, 0, 0, 0.6)

    @media (max-width: 767px)
        margin-left: 0
        margin-right: 17px

    &__icon 
        margin-right: 5px

    &__num 
        padding-top: 3px

    svg 
        display: block
        fill: rgba(0, 0, 0, 0.6)

.like-btn
    
    &__icon 
        margin: 0 10px

    &__text,
    &__num 
        padding-top: 2px

