.btn
    @include hover
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    padding: 0 24px
    text-align: center
    text-transform: uppercase
    font-family: $font
    font-weight: 400
    font-size: 13px
    line-height: 48px
    color: #fff
    letter-spacing: 1.2px
    background-color: $transparent
    border: 1px solid $transparent
    border-radius: 25px
    outline: none
    transition: opacity 0.4s ease
    cursor: pointer

    svg
        display: block

    &[disabled="disabled"]
        opacity: .5

    &--transparent
        padding: 0
        border: 1px solid #fff

        &._yellow
            font-weight: 700
            color: #373737
            background-color: #edb41d
            border-color: #edb41d

    &--blue
        color: #185491
        border-color: #185491

    &--lblue
        color: $blue
        border-color: $blue

        svg
            display: block
            fill: $blue

    &--fullblue
        color: #fff
        background-color: $d-blue
        border-color: $d-blue
        transition: color 0.3s ease, background-color 0.3s ease

        &:not([disabled="disabled"]):hover
            color: $d-blue
            background-color: $transparent
            opacity: 1

        &.btn--milky

            &:not([disabled="disabled"]):hover
                color: $d-blue
                background-color: $d-blue

    &--fullblue-l
        color: #fff
        background-color: $blue
        border-color: $blue
        transition: color 0.3s ease, background-color 0.3s ease

        &:not([disabled="disabled"]):hover
            color: $blue
            background-color: $transparent
            opacity: 1

        &.btn--milky

            &:not([disabled="disabled"]):hover
                color: $blue
                background-color: $blue

    &--fullwhite
        color: $blue
        background-color: #fff
        border-color: #fff

    &--fullyellow
        color: #fff
        background-color: $yellow
        border-color: $yellow

    &--friend
        margin-top: 20px
        position: relative
        transition: opacity .3s  ease-in-out

        &._hide
            opacity: 0
            pointer-events: none
            z-index: -1

    &--activity
        display: flex
        flex-direction: column
        margin-bottom: 20px
        padding-top: 9px
        padding-bottom: 8px
        line-height: 0
        transition: opacity 0.3s ease

        &:hover
            color: #fff
            opacity: 0.7

            .modal._prize &
                background-color: transparent

        .modal._prize &
            padding-left: 48px
            padding-right: 48px

        .slogan
            line-height: 18px

        .reward
            text-transform: initial
            font-size: 10px
            font-weight: 900
            line-height: 14px

        .cur
            position: relative
            top: -1px
            box-sizing: border-box
            display: inline-block
            vertical-align: middle
            margin: 0 3px
            padding-left: 1px
            width: 14px
            height: 14px
            text-align: center
            font-family: $font
            font-weight: 900
            font-size: 10px
            line-height: 15px
            color: $yellow
            background-color: #fff
            border-radius: 50%

    &--white
        color: $d-blue
        background-color: #fff
        border-color: #fff

        .cur
            color: #fff
            background-color: $yellow


    &--milky
        position: relative
        overflow: hidden
        transition: color 1s ease 0.4s

        &:not([disabled="disabled"]):hover
            opacity: 1
            color: $blue

        .text
            position: relative
            display: block
            padding: 0 24px

        .wave-el
            position: absolute
            left: -10%
            right: -10%
            top: 120%
            display: block
            width: 120%
            height: 140%
            background-color: #fff

        &.wave

            .wave-el
                animation-name: wave
                animation-duration: 2s
                animation-iteration-count: infinite
                animation-timing-function: linear
                animation-direction: alternate

    &--minor
        font-size: 11px
        white-space: nowrap

    &--red
        padding: 13px 32px 7px
        text-transform: uppercase
        font-family: $font-special
        font-size: 48px
        line-height: 50px
        letter-spacing: 0.1px
        background-color: $red
        border: 5px solid #fff
        border-radius: 40px
        box-shadow: 5px 7px 12px rgba(4,35,56,.2)
        transition: box-shadow 0.3s ease

        @media (max-width: $screenM)
            padding: 13px 20px 7px
            font-size: 40px
            line-height: 44px

        @media (max-width: $screenXS)
            font-size: 34px

        &:not([disabled="disabled"]):hover
            opacity: 1
            box-shadow: 5px 2px 5px rgba(4,35,56,.15)

    &--g-blue
        background-color: #edb31d
        background-image: linear-gradient(to right, #1939a5 0%, #5171e3 100%)

._safari
    .btn--milky
        transition-duration: .2s !important
        transition-delay: 0s !important

        &:not([disabled="disabled"]):hover
            background-color: #fff !important

@keyframes wave

    0%
        transform: rotate(-3deg)

    21%
        transform: rotate(3.4deg)

    40%
        transform: rotate(-2.3deg)

    64%
        transform: rotate(3.5deg)

    83%
        transform: rotate(-4.8deg)

    100%
        transform: rotate(0deg)
