*
  outline: none
.calendar
  background: #0294d4
  position: relative
  overflow: hidden


.events__card-info
  position: relative
  z-index: 20

.splash
  position: absolute
  left: 50%
  z-index: 5
  -webkit-transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
  -moz-transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
  -o-transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
  transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
  &.splash__1
    background: url("/assets/images/splash/1.png") no-repeat
    width: 81px
    height: 85px
    top: 1340px
    margin-left: 722px
  &.splash__2
    background: url("/assets/images/splash/2.png") no-repeat
    width: 29px
    height: 28px
    top: 234px
    margin-left: 834px
  &.splash__3
    background: url("/assets/images/splash/3.png") no-repeat
    width: 60px
    height: 59px
    top: 680px
    margin-left: -410px
  &.splash__4
    background: url("/assets/images/splash/4.png") no-repeat
    width: 41px
    height: 40px
    top: 792px
    margin-left: -764px
  &.splash__5
    background: url("/assets/images/splash/5.png") no-repeat
    width: 18px
    height: 18px
    top: 784px
    margin-left: -584px
  &.splash__6
    background: url("/assets/images/splash/6.png") no-repeat
    width: 18px
    height: 18px
    top: 694px
    margin-left: -290px
  &.splash__7
    background: url("/assets/images/splash/7.png") no-repeat
    width: 29px
    height: 27px
    top: 1334px
    margin-left: 124px
  &.splash__8
    background: url("/assets/images/splash/8.png") no-repeat
    width: 31px
    height: 29px
    top: 1300px
    margin-left: 360px
  &.splash__9
    background: url("/assets/images/splash/9.png") no-repeat
    width: 61px
    height: 60px
    top: 35px
    margin-left: -500px
  &.splash__10
    background: url("/assets/images/splash/10.png") no-repeat
    width: 78px
    height: 84px
    bottom: -150px
    margin-left: 250px
  &.splash__11
    background: url("/assets/images/splash/11.png") no-repeat
    width: 28px
    height: 27px
    bottom: -15px
    left: 0

.calendar__promo
  .container__custom
    padding-top: 200px
    position: relative
    padding-bottom: 200px
    z-index: 2

.container__custom
  padding-right: 40px
  padding-left: 40px
  max-width: 1500px
  margin-left: auto
  margin-right: auto

.calendar__promo-title
  font-size: 140px
  letter-spacing: 0.06em
  line-height: 177px
  margin-bottom: 25px
  color: #fff
  font-family: 'HappyFoxCondensed'

.calendar__bg
  position: absolute
  top: 0
  bottom: 0
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  left: 0
  right: 0
  opacity: 0.2


.calendar__promo-descr
  font-size: 28px
  color: #fff
  font-weight: 400
  max-width: 730px
  line-height: 48px
  letter-spacing: 0.025em
  font-family: 'Helvetica Neue'

.events__item-bl
  background: #093a64
  position: relative
  width: 300px
  height: 300px
  -webkit-transition: all 0.4s ease-in-out
  -moz-transition: all 0.4s ease-in-out
  -ms-transition: all 0.4s ease-in-out
  -o-transition: all 0.4s ease-in-out
  transition: all 0.4s ease-in-out
  &:hover
    -webkit-transform: scale(1.1)
    -moz-transform: scale(1.1)
    -ms-transform: scale(1.1)
    -o-transform: scale(1.1)
    transform: scale(1.1)
    -webkit-box-shadow: 0px 30px 90px 0px rgba(34, 79, 147, 0.5)
    -moz-box-shadow:    0px 30px 90px 0px rgba(34, 79, 147, 0.5)
    box-shadow:         0px 30px 90px 0px rgba(34, 79, 147, 0.5)
    z-index: 20
    .events__item-bg
      img
        opacity: 0.6

.events__bg-item-bl
  position: relative
  width: 300px
  height: 300px
  display: -webkit-box!important
  display: -ms-flexbox!important
  display: flex!important
  -webkit-box-align: center!important
  -ms-flex-align: center!important
  align-items: center!important
  max-width: 300px



.events__item-bg
  position: absolute
  top: 0
  bottom: 0
  left: 0
  background: #093a64
  right: 0
  img
    -webkit-transition: all 0.4s ease-in-out
    -moz-transition: all 0.4s ease-in-out
    -ms-transition: all 0.4s ease-in-out
    -o-transition: all 0.4s ease-in-out
    transition: all 0.4s ease-in-out
    opacity: 0.3

.events__item-day
  color: #fff
  font-size: 100px
  line-height: 100px
  font-family: 'HappyFoxCondensed'
  letter-spacing: 0.05em
  margin-bottom: 10px

.events__item-content
  width: 100%
  text-align: center
  padding-bottom: 20px
  position: relative
  z-index: 4

.events__item-title
  font-size: 48px
  color: #fff
  line-height: 48px
  letter-spacing: 0.05em
  font-family: 'HappyFoxCondensed'
  margin-bottom: 14px

.events__item-city
  font-size: 20px
  letter-spacing: 0.05em
  color: #fff

.events__bg-item
  img
    display: block
    width: 300px

.events__slider-box
  position: relative

.event__prev
  background: url("/assets/images/slide-prev.png") no-repeat
  width: 43px
  height: 21px
  background-size: contain
  cursor: pointer
  position: absolute
  z-index: 10
  top: 50%
  margin-top: -41px
  left: 40px

.event__next
  background: url("/assets/images/slide-next.png") no-repeat
  width: 43px
  height: 21px
  background-size: contain
  position: absolute
  cursor: pointer
  z-index: 10
  top: 50%
  margin-top: -41px
  right: 40px

.calendar__events
  margin-bottom: 65px

.events
  padding-top: 175px


.calendar__promo
  position: relative

.pager__custom
  position: absolute
  bottom: 20px
  left: 0
  width: 100%
  text-align: center
  ul
    list-style: none
    font-size: 0
    li
      display: inline-block
      &:not(:last-child)
        margin-right: 12px
    button
      width: 12px
      height: 12px
      background: #ffffff
      border-radius: 50%
      border: none
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -ms-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
      &:hover
        background: #0e93d3
    .slick-active
      button
        background: #0e93d3

.events__item
  padding-top: 40px
  padding-bottom: 110px
  margin: 0 -1px

.event__slider-wrap
  margin-right: -600px
  margin-left: -600px

.events__bg-item
  width: 300px !important

.calendar__events
  position: relative
  margin-top: -40px
  &:before
    background: url('/assets/images/milksplash1.png') no-repeat
    position: absolute
    top: -414px
    left: 50%
    margin-left: -992px
    content: ''
    width: 2505px
    height: 925px

.events__date-box
  width: 560px
  min-width: 560px
  background: #0f5192
  -webkit-box-shadow: 0px 30px 90px 0px rgba(34, 79, 147, 0.5)
  -moz-box-shadow:    0px 30px 90px 0px rgba(34, 79, 147, 0.5)
  box-shadow:         0px 30px 90px 0px rgba(34, 79, 147, 0.5)
  position: relative
  img
    display: block
    opacity: 0.2
    width: 100%

.events__date-bg
  display: block
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  opacity: 0.2
  height: 560px

.events__card-dates
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  display: -webkit-box!important
  display: -ms-flexbox!important
  display: flex!important
  -webkit-box-align: center!important
  -ms-flex-align: center!important
  align-items: center!important
  text-align: center

.events__card-dates-wrap
  width: 100%
  color: #fff

.events__card-date
  font-size: 60px
  line-height: 60px
  letter-spacing: 0.04em
  font-family: 'HappyFoxCondensed'
  &:not(:last-child)
    margin-bottom: 32px

.events__card
  display: -webkit-box!important
  display: -ms-flexbox!important
  display: flex!important
  -webkit-box-align: center!important
  -ms-flex-align: center!important
  align-items: center!important

.events__card-info-header
  display: -webkit-box!important
  display: -ms-flexbox!important
  display: flex!important
  -webkit-box-align: center!important
  -ms-flex-align: center!important
  align-items: center!important
  margin-bottom: 45px

.events__card-info
  padding-left: 100px

.events__card-ava
  width: 150px
  border: 6px solid #ffffff
  border-radius: 26px
  margin-right: 54px
  overflow: hidden
  img
    display: block
    width: 100%

.events__card-name
  text-transform: uppercase
  font-size: 90px
  line-height: 90px
  font-family: 'HappyFoxCondensed'
  letter-spacing: 0.04em
  color: #fff

.events__card-info-text
  font-size: 22px
  line-height: 32px
  letter-spacing: 0.04em
  color: #fff
  p
    margin: 0 0 24px 0
  & > *:last-child
    margin-bottom: 0 !important

.events__card
  margin-bottom: 290px
  &:last-child
    margin-bottom: 0

.events__list
  padding-bottom: 290px


.events__card
  &:nth-child(2n)
    .events__date-box
      order: 2
    .events__card-info
      padding-left: 0
      padding-right: 100px

.events__card
  position: relative
  &:nth-child(4n+1)
    &::before
      content: ''
      position: absolute
      background: url("/assets/images/event-milk-1.png") no-repeat
      width: 1689px
      height: 394px
      right: 50%
      margin-right: -10px
      bottom: -110px
  &:nth-child(4n+2)
    &::before
      content: ''
      position: absolute
      background: url("/assets/images/event-milk-2.png") no-repeat
      width: 1590px
      height: 837px
      left: 50%
      margin-left: 50px
      top: -152px
  &:nth-child(4n+3)
    &::before
      content: ''
      position: absolute
      background: url("/assets/images/event-milk-3.png") no-repeat
      width: 1104px
      height: 560px
      right: 50%
      margin-right: 120px
      bottom: -190px
  &:nth-child(4n+4)
    &::before
      content: ''
      position: absolute
      background: url("/assets/images/event-milk-4.png") no-repeat
      width: 822px
      height: 870px
      left: 50%
      margin-left: 298px
      top: -152px


.events__card-sm
  display: none

.events__date-box
  position: relative

@media screen and (max-width: 1500px)
  .splash.splash__1
    margin-left: 490px

  .splash.splash__2
    margin-left: 534px

@media screen and (max-width: 1439px)
  .events__date-box
    width: 480px
    min-width: 480px

  .event__slider-wrap
    margin-left: 0
    margin-right: 0

  .events__date-bg
    height: 480px

  .events__card-info
    padding-left: 70px

  .events__card
    &:nth-child(2n)
      .events__card-info
        padding-left: 0
        padding-right: 70px

  .events__card-name
    font-size: 75px
    line-height: 75px

  .events__card-date
    font-size: 50px
    line-height: 50px

  .events__card-info-text
    font-size: 20px
    line-height: 30px

  .events
    padding-top: 80px

  .calendar__promo-title
    font-size: 130px
    line-height: 165px

  .events__card-ava
    width: 125px

  .calendar__promo-descr
    font-size: 27px
    line-height: 45px

  .events__card
    margin-bottom: 230px

@media screen and (max-width: 992px)
  .events__card
    display: block !important

  .events__card-info-header
    display: none !important

  .events__date-box
    width: auto
    min-width: 0
    margin-left: -40px
    margin-right: -40px

  .slick-center
    .events__item-bl
      -webkit-transform: scale(1.1)
      -ms-transform: scale(1.1)
      transform: scale(1.1)
      -webkit-box-shadow: 0px 30px 90px 0px rgba(34, 79, 147, 0.5)
      box-shadow: 0px 30px 90px 0px rgba(34, 79, 147, 0.5)
      z-index: 20

  .events__card-sm
    display: block
    .events__card-name
      text-align: center
      margin-bottom: 35px

  .events__card-ava
    margin-right: auto
    width: 150px
    margin-bottom: -75px
    position: relative
    z-index: 5
    margin-left: auto

  .events__card-dates
    position: relative

  .events__card-date
    font-size: 50px
    line-height: 32px
    span
      font-size: 0px
      display: block

  .events__card-date:not(:last-child)
    margin-bottom: 52px

  .events__date-box
    height: auto
    padding-top: 150px
    padding-bottom: 150px
    position: relative
    margin-bottom: 30px

  .events__date-bg
    position: absolute
    top: 0
    bottom: 0
    height: auto
    right: 0
    left: 0

  .events__card-info
    padding-left: 0 !important
    padding-right: 0 !important
    position: relative
    z-index: 6

  .events__card
    position: relative
    &:nth-child(4n+1)
      &::before
        width: 659px
        height: 279px
        right: 50%
        margin-right: -10px
        background-size: contain
        bottom: -110px
    &:nth-child(4n+2)
      &::before
        content: ''
        position: absolute
        background: url("/assets/images/event-milk-2.png") no-repeat
        width: 1590px
        height: 837px
        left: 50%
        margin-left: 50px
        top: -152px
    &:nth-child(4n+3)
      &::before
        content: ''
        position: absolute
        background: url("/assets/images/event-milk-3.png") no-repeat
        width: 1104px
        height: 560px
        right: 50%
        margin-right: 120px
        bottom: -190px
    &:nth-child(4n+4)
      &::before
        content: ''
        position: absolute
        background: url("/assets/images/event-milk-4.png") no-repeat
        width: 822px
        height: 870px
        left: 50%
        margin-left: 298px
        top: -152px

  .events__list
    padding-bottom: 100px


@media screen and (max-width: 767px)
  .container__custom
    padding-right: 20px
    padding-left: 20px

  .calendar__promo-title
    font-size: 70px
    line-height: 70px
    margin-bottom: 35px

  .calendar__promo-descr
    font-size: 16px
    line-height: 24px

  .calendar__promo
    margin-top: 62px

  .calendar__promo .container__custom
    padding-top: 90px
    padding-bottom: 100px

  .events__item-day
    font-size: 60px
    line-height: 60px
    letter-spacing: 0.025em

  .events__item-title
    font-size: 28px
    line-height: 32px
    margin-bottom: 7px

  .events__item-city
    font-size: 12px

  .event__prev, .event__next
    display: none !important

  .pager__custom
    bottom: 4px
    ul
      button
        width: 8px
        height: 8px
        padding: 0 !important

  .events__bg-item-bl
    width: 180px
    height: 180px
    max-width: 180px

  .events__bg-item
    width: 180px !important
    img
      width: 100%

  .events__item-bl
    width: 180px
    height: 180px

  .calendar__events
    margin-bottom: 0
    &:before
      top: -128px
      margin-left: -493px
      width: 1505px
      height: 425px
      background-size: contain

  .events__card-name
    font-size: 60px
    line-height: 62px

  .events
    padding-top: 50px

  .events__card-date
    font-size: 40px
    line-height: 24px

  .events__card-info-text
    font-size: 18px
    line-height: 24px

  .events__card
    margin-bottom: 125px

  .calendar__promo-descr
    max-width: 274px

  .events__card-dates-wrap
    padding-left: 20px
    padding-right: 20px

  .events__card-multiple
    .events__date-box
      padding-bottom: 80px

  .events__date-box
    margin-right: -20px
    margin-left: -20px

@media screen and (max-width: 374px)
  .calendar__promo-title
    font-size: 58px
    line-height: 56px
    margin-bottom: 25px

  .calendar__promo-descr
    max-width: 252px