.catalog
    @media (max-width: 767px)
        padding-top: 20px
    
    &__wrapper 
        display: flex 
        flex-wrap: wrap

.catalog-card
    position: relative
    box-sizing: border-box
    padding: 30px
    padding-bottom: 8px
    width: 25%
    min-width: 25%

    @media (max-width: 1024px)
        width: 50%
        min-width: 50%

    @media (max-width: 767px)
        width: 100%
        min-width: 100%

    .flag 
        position: absolute
        top: 40px
        left: 40px
        padding: 0 16px
        text-transform: uppercase
        font-family: $font 
        font-weight: 700
        font-size: 10px
        line-height: 30px
        letter-spacing: 1.2px 
        color: #fff 
        background-color: $yellow
        border-radius: 15px

    &__image
        margin-bottom: 10px

        img 
            display: block
            margin: 0 auto
            max-width: 80%
            height: auto

    &__title 
        @include hover
        margin: 0 0 13px 0
        text-align: center
        font-family: $font-special
        font-weight: 400
        font-size: 40px
        line-height: 40px

        a 
            color: #185491

    &__descr 
        margin: 0 auto 10px auto
        max-width: 270px
        text-align: center
        font-size: 15px
        line-height: 20px
        color: rgba(0, 0, 0, 0.6)