.code-steps
    @include list-reset
    counter-reset: li
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 50px
    background-image: url("../images/snake.png")
    background-repeat: no-repeat 
    background-position: top 14vw left 28vw
    background-size: 45vw

    @media (max-width: 1100px)
        flex-direction: column 
        flex-wrap: nowrap
        align-items: center
        margin-top: 80px
        width: 100%
        background-image: none

    @media (max-width: $screenM)
        padding-bottom: 120px

.code-step
    position: relative
    margin: 0 4vw
    margin-top: -8vw
    width: 33vw
    height: 33vw
    text-align: center
    color: #fff
    cursor: pointer

    @media (max-width: 1100px)
        width: 40vw
        height: 40vw

    @media (max-width: $screenM)
        width: 48vw
        height: 48vw

    @media (max-width: $screenXS)
        margin: 0 0 120px
        width: calc(100vw - 40px)
        height: calc(100vw - 40px)
        max-width: 480px
        max-height: 480px

    &:nth-child(even)
        margin-top: 14.5vw

        @media (max-width: 1100px)
            align-self: flex-end
            margin-top: -10vw

    &:nth-child(odd)

        @media (max-width: 1100px)
            align-self: flex-start
            margin-top: -10vw

    &:nth-child(2)
        margin-top: 22vw

        @media (max-width: 1100px)
            margin-top: 0

        @media (max-width: $screenM)
            margin-top: -10vw

    &:last-child 
        margin-right: 45vw

        @media (max-width: 1100px)
            margin-right: 0

        @media (max-width: $screenXS)
            margin-bottom: 0

        .code-step__title
            max-width: 28vw

            @media (max-width: $screenXS)
                max-width: 60vw

    &:first-child 
        margin-top: 0

        @media (max-width: 1100px)
            margin-top: 0

        .code-step__title 
            padding-top: 56px

            @media (max-width: $screenXS)
                padding-top: 36px

    &:before 
        content: counter(li)
        counter-increment: li
        @include centerH
        top: -70px
        display: flex
        justify-content: center 
        align-items: center
        box-sizing: border-box
        padding-top: 6px
        width: 106px
        height: 106px
        color: #fff
        font-family: $font-special
        font-size: 66px
        line-height: 66px
        background-color: $red
        border: 5px solid #fff
        border-radius: 50%
        box-shadow: 5px 7px 12px rgba(4,35,56,.2)
        z-index: 1

        @media (max-width: $screenM)
            top: -48px
            width: 96px
            height: 96px
            font-size: 50px
            line-height: 50px

        @media (max-width: $screenXS)
            width: 80px
            height: 80px

    &__inner 
        position: relative
        opacity: 0
        //transform: scale(0)

    img 
        transition: transform 0.3s ease-in-out

    &__img 
        @include centerH
        top: 0
        box-sizing: border-box
        padding-top: 100%
        width: 100%
        transform: translateX(-50%)
        background-color: $blue
        border-radius: 50%
        overflow: hidden

        @media (max-width: $screenXL)
            max-width: 100%

        img 
            position: absolute
            display: block

    &__outer-img 
        position: absolute
        display: block

        @media (max-width: $screenXS)
            transform: scale(0.8)
            transform-origin: bottom center

    &__title 
        position: relative
        margin: 0 auto
        max-width: 23vw
        padding-top: 82px
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400    
        font-size: 66px
        line-height: 68px

        @media (max-width: $screenXL)
            padding-top: 40px
            font-size: 50px
            line-height: 54px

        @media (max-width: $screenM)
            padding-top: 50px
            font-size: 42px
            line-height: 42px

        @media (max-width: $screenXS)
            padding-top: 42px
            max-width: 60vw
            text-align: center

    &__subtitle
        position: relative
        margin: 0 auto 
        max-width: 19vw
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 36px
        line-height: 38px

        @media (max-width: $screenXL)
            font-size: 30px
            line-height: 33px

        @media (max-width: $screenM)
            max-width: 28vw
            font-size: 26px
            line-height: 30px

        @media (max-width: $screenXS)
            max-width: 75vw

        ._desktop 

            @media (max-width: $screenXS)
                display: none

    &__descr
        position: relative
        margin: 0 auto -10px
        max-width: 25vw
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 30px
        line-height: 32px

        @media (max-width: $screenXL)
            font-size: 26px
            line-height: 28px

        @media (max-width: $screenM)
            max-width: 32vw
            font-size: 24px

        @media (max-width: $screenXS)
            max-width: 75%

    &:hover

        img 
            transform: scale(1.1)

        @media (max-width: $screenXS)

            .code-step__outer-img
                transform: scale(1)

    &._step1

        .code-step__img

            img 
                top: 11%
                left: 3%
                width: 83%
                height: auto

    &._step2

        .code-step__outer-img
            top: 95%
            left: 14%
            //width: 100%
            height: auto

            @media (max-width: $screenM - 1)
                top: 110%
                left: 20%

            @media (max-width: $screenXS - 1)
                width: 70%
                top: 70%
                left: 18%

    &._step3

        .code-step__img

            img 
                top: 47.5%
                left: 34%
                width: 32%
                height: auto

    &._step4

        .code-step__img

            img 
                top: 37%
                left: 4%
                width: 62%
                height: auto

        .code-step__outer-img
            top: 203%
            left: 53%
            width: 29%
            height: auto

    &._step5

        .code-step__img

            img 
                top: 45%
                left: 8%
                width: 83%
                height: auto
