.comment-block
    margin-top: 50px

    &__expand 
        margin-bottom: 0
        font-weight: 700
        letter-spacing: 2px
        transition: margin-bottom 0.3s ease

        @media (max-width: 767px)
            width: 100%
            letter-spacing: 1px

        ._mobile 

            @media (max-width: 767px)
                display: none

        .expanded & 
            margin-bottom: 30px

        .icon 
            display: inline-block
            vertical-align: middle
            margin-right: 10px
            font-size: 28px
            line-height: 1

.comment-form
    max-width: 800px
    overflow: hidden 
    transition: max-height 0.3s ease

    @media (max-width: 1023px)
        width: calc(100% - 60px)

    @media (max-width: 767px)
        width: 100%

    &.collapsed
        max-height: 0

        .expanded &
            max-height: 200px

    &__row 
        display: flex
        align-items: flex-start
        margin-bottom: 15px

        &:last-child 
            margin-bottom: 0

            ._narrow 

                @media (max-width: 767px)
                    margin: 0
                    width: 0

            ._wide 

                @media (max-width: 767px)
                    width: 100%

                    .btn 
                        margin-right: auto
                        width: 100%

    &__col 
        margin-right: 20px 

        &:last-child 
            margin-right: 0

        &._narrow 
            flex: none 
            width: 100px

            @media (max-width: 767px)
                width: 40px

        &._wide 
            flex-grow: 1

    &__upload 
        position: relative

    &__file 
        position: absolute
        top: 0
        left: 0
        display: block
        width: 100px
        height: 100px
        opacity: 0

        @media (max-width: 767px)
            width: 40px
            height: 40px

    &__upload-link 
        @include hover
        position: relative
        display: block
        width: 100px
        height: 100px
        background-color: #d8d8d8
        border-radius: 50%
        z-index: 1
        cursor: pointer

        @media (max-width: 767px)
            width: 40px
            height: 40px

        svg 
            @include center 
            fill: $d-blue

            @media (max-width: 767px)
                display: block
                width: 30px
                height: 30px

    &__message 
        @include field-reset
        box-sizing: border-box
        display: inline-block
        vertical-align: top
        padding: 20px 25px
        width: 100%
        height: 130px
        resize: none
        font-size: 15px
        line-height: 23px
        border: 1px solid #999
        border-radius: 11px