.comment
	padding-top: 35px

	.comment
		position: relative
		padding-top: 30px
		padding-left: 115px

		&::before
			content: ""
			position: absolute
			left: 60px
			top: 65px
			width: 35px
			height: 35px
			background-image: url("../images/svg/replay.svg")
			background-repeat: no-repeat
			-webkit-background-size: cover
			background-size: cover
			background-position: center
			transform: scale(-1, 1)
			opacity: 0.4

		@media (max-width: 1023px)

			.comment .comment
				padding-left: 0

				.comment
					padding-left: 0

		@media (max-width: 767px)
			padding-left: 0

			&::before
				top: 75px
				left: 0

	&__head
		display: flex

	&__body
		flex-grow: 1

	&__image
		flex: none
		margin-right: 20px
		width: 96px
		height: 96px
		background-color: #d8d8d8
		background-image: url("../images/svg/camera-blue.svg")
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		border-radius: 50%

		@media (max-width: 767px)
			width: 40px
			height: 40px

	&__author.comment__author
		margin-bottom: 10px
		font-size: 17px
		line-height: 23px

	&__text

		p
			margin-bottom: 23px

			&:last-child
				margin-bottom: 0

	&__footer
		@include row-component
		margin-top: 25px

	&__date
		margin-right: 15px
		font-size: 15px
		line-height: 23px
		color: #999

		@media (max-width: 767px)
			font-size: 13px

	&__btn
		@include hover
		margin-right: 5px
		box-sizing: border-box
		padding: 9px 15px 7px
		min-width: 108px
		text-transform: uppercase
		text-align: center
		font-size: 10px
		line-height: 12px
		color: #1b558e
		background-color: #fff
		border: 1px solid #1b558e
		border-radius: 15px
		cursor: pointer

	.comment-form__message
		margin-bottom: 16px
		font-size: 17px

	.comment-form__submit
		min-width: 180px