.concept-content   
    padding-top: 67px
    padding-bottom: 107px
    font-family: $font-promo

    @media (max-width: 800px)
        padding-top: 40px
        padding-bottom: 60px
    
    &__wrapper
        max-width: 700px

        @media (max-width: 800px)
            max-width: 480px

        @media (max-width: 600px)
            max-width: 280px

    &__title 
        margin: 0 0 54px 0
        font-size: 33.33px
        line-height: 43.36px
        color: $blue

        @media (max-width: 800px)
            margin-bottom: 30px
            font-size: 24px
            line-height: 30px

        @media (max-width: 600px)
            font-size: 20px
            line-height: 24px

    &__text 
        margin: 0 0 5px 0
        font-weight: 300
        font-size: 31.25px
        line-height: 40.8px

        @media (max-width: 1600px)
            font-size: 24px
            line-height: 30px

        @media (max-width: 800px)
            font-size: 18px
            line-height: 26px

        @media (max-width: 600px)
            font-size: 16px
            line-height: 24px

    &__link 
        @include hover
        color: $textColor
        font-size: 22.92px
        line-height: 40.8px

        @media (max-width: 1600px)
            font-size: 18px
            line-height: 30px

        .sup 
            position: relative
            font-size: 31.25px

            @media (max-width: 1600px)
                font-size: 24px

        .text 
            color: $blue 
            border-bottom: 1px solid $blue
            pointer-events: none
