.concept-intro
    box-sizing: border-box
    padding-top: 60px
    color: #fff
    background-color: #2157a2
    background-repeat: no-repeat 
    background-size: 1920px auto
    background-position: bottom center

    @media (max-width: 1600px)
        background-size: cover
        background-position: center

    @media (max-width: 1200px)
        background-position: left -110px center

    &__wrapper 
        display: flex 
        flex-direction: column
        box-sizing: border-box
        padding-top: 50px
        max-width: 1110px
        min-height: 855px
        justify-content: center

        @media (max-width: 1600px)
            padding-bottom: 50px
            min-height: 100px

        @media (max-width: 1200px)
            max-width: 700px

        @media (max-width: 800px)
            max-width: 480px

        @media (max-width: 600px)
            max-width: 280px
            min-height: 500px !important


    &__title 
        margin: 0 0 70px 0
        max-width: 700px
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 123px
        line-height: 112px

        @media (max-width: 1600px)
            max-width: 530px
            font-size: 80px
            line-height: 80px

        @media (max-width: 600px)
            margin-bottom: 30px
            font-size: 48px
            line-height: 52px

    &__lead 
        margin: 0
        max-width: 910px
        font-family: $font-promo
        font-weight: 700
        font-size: 29.17px
        line-height: 33.33px

        @media (max-width: 1600px)
            max-width: 725px
            font-size: 24px
            line-height: 30px

        @media (max-width: 1200px)
            max-width: 600px

        @media (max-width: 800px)
            font-size: 20px
            line-height: 28px

    &._steps 

        @media (max-width: 1200px)
            background-position: center

        .concept-intro__wrapper
            min-height: 855px 
            justify-content: center

            @media (max-width: 1500px)
                min-height: 750px

            @media (max-width: 1200px)
                min-height: 600px

        .concept-intro__title
            max-width: 500px
            font-size: 131px
            line-height: 132px

            @media (max-width: 1600px) 
                font-size: 120px
                line-height: 120px

            @media (max-width: 1500px)
                font-size: 100px
                line-height: 100px

            @media (max-width: 700px)
                font-size: 48px
                line-height: 52px

        .concept-intro__lead
            max-width: 650px
            font-size: 31px
            line-height: 38px

            @media (max-width: 1600px) 
                font-size: 28px
                line-height: 36px

            @media (max-width: 1200px)
                max-width: 500px
                font-size: 24px
                line-height: 30px

            @media (max-width: 800px)
                max-width: 400px

            @media (max-width: 600px)
                font-size: 16px !important
                line-height: 24px !important

.concept
    margin-bottom: 90px

    &:last-child
        margin-bottom: 0