.elements-layout
	padding-top: 57px
	padding-bottom: 48px

	&__title
		margin: 0 0 18px
		text-align: center
		text-transform: uppercase
		font-family: $font-special
		font-weight: 400
		font-size: 60px
		line-height: 1.2
		color: #1c558e

	&__lead
		margin: 0 auto 33px
		max-width: 645px
		text-align: center
		font-size: 15px
		line-height: 21px
		color: #999

		p
			margin: 0 0 20px

			&:last-child
				margin-bottom: 0

	&__wrapper
		margin: 0 auto
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		padding: 0 20px
		max-width: 1320px

	&__items
		display: flex
		flex-wrap: wrap
		margin-left: -16px
		width: calc(100% + 32px)

		@media (max-width: 1280px)
			margin-left: -8px
			width: calc(100% + 16px)

	&__item
		margin: 0 16px 32px
		width: calc(25% - 32px)

		@media (max-width: 1280px)
			margin: 0 8px 16px
			width: calc(25% - 16px)

		@media (max-width: 1024px)
			width: calc(50% - 16px)

		@media (max-width: 767px)
			width: 100%

		&--wide
			width: calc(50% - 32px)

			@media (max-width: 1280px)
				width: calc(50% - 16px)

			@media (max-width: 767px)
				width: 100%
