.faq-section
    padding-bottom: 40px

    &__title 
        margin: 60px 0 60px 0
        padding-top: 60px
        text-transform: uppercase
        text-align: center
        font-family: $font-special 
        font-weight: 400
        font-size: 60px
        line-height: 60px
        color: $d-blue

        @media (max-width: 767px)
            margin: 30px 0 
            font-size: 42px
            line-height: 60px

    &__inner 
        margin: 0 auto
        max-width: 1000px

        @media (max-width: 1439px)
            max-width: 980px

        @media (max-width: 1024px)
            box-sizing: border-box
            padding: 0 40px 
            max-width: 100%

        @media (max-width: 767px)
            padding: 0 20px

.question
    margin-bottom: 20px

    &__trigger 
        position: relative
        margin-top: 20px
        padding: 10px 40px 10px 20px
        color: $d-blue
        background-color: #e5e8ef
        border-radius: 25px
        transition: background-color 0.3s ease, color 0.3s ease

        @media (max-width: 767px)
            padding-right: 50px

        p 
            margin: 0
            font-size: 20px
            line-height: 30px

            @media (max-width: 1024px)
                font-size: 17px
                line-height: 24px

            @media (max-width: 767px)
                font-size: 16px

        &:after 
            content: ""
            @include centerV
            right: 20px
            width: 0
            height: 0
            border-style: solid
            border-width: 13px 8px 0 8px
            border-color: $d-blue $transparent $transparent $transparent
            transition: transform 0.3s ease

    &__body 
        max-width: 800px
        max-height: 0 
        overflow: hidden 
        transition: max-height 0.3s ease

        p 
            margin: 20px 0
            font-size: 15px
            line-height: 22px

    &.opened 

        .question__trigger
            color: #fff 
            background-color: $blue

            &:after 
                transform: translateY(-50%) scale(1,-1)
                border-color: #fff $transparent $transparent $transparent

        .question__body
            max-height: 5000px

