.feedback-btn
    position: fixed
    top: 50%
    right: 0
    margin-top: -85px
    padding: 4px 15px 1px 15px
    text-transform: uppercase
    font-size: 14px
    line-height: 24px
    color: #fff
    background-color: #2FA2D7
    transform: translateY(-50%) rotate(-90deg)
    transform-origin: bottom right
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15)
    transition: box-shadow 0.3s ease
    z-index: 50

    &:hover,
    &:focus 
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05)
