.footer-promo
    display: flex 
    flex-direction: column
    padding: 40px

    &__title 
        margin: 0 0 20px 0
        padding-right: 15px
        text-transform: uppercase
        font-family: $font-special 
        font-weight: 400
        font-size: 42px
        line-height: 40px
        color: #fafcff

    &__logo 
        margin-top: auto
        align-self: flex-end
        width: 120px
        height: 120px

        svg 
            display: block
            fill: #fff