.form

    &__error-message,
    .help-block
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 700
        font-size: 10px
        line-height: 20px
        color: #d0021b
        display: none

        .invalid & 
            display: block

    &__field-wrapper 
        position: relative
        display: flex 
        flex-direction: column
        margin-bottom: 10px

        &._datepicker

            &:after 
                content: ""
                position: absolute
                bottom: 11px
                right: 11px
                width: 0
                height: 0
                border-style: solid
                border-width: 8px 5px 0 5px
                border-color: $blue $transparent $transparent $transparent
                pointer-events: none

        &._first 
            margin-top: 40px

    &__field-label 
        display: block
        text-transform: uppercase
        font-family: $font 
        font-weight: 700
        font-size: 10px
        line-height: 20px
        color: #fff

    &__field 
        @include field-reset
        box-sizing: border-box
        padding: 0 30px
        height: 30px
        width: 100%
        text-align: center
        font-family: $font-alt 
        font-size: 15px
        line-height: 30px
        color: rgba(0, 0, 0, 0.8)
        background-color: #fff

        .invalid & 
            color: #d0021b
            border-color: #d0021b

    &__message-field
        @include field-reset
        box-sizing: border-box
        padding: 0 11px
        width: 100%
        height: 91px
        font-family: $font-alt 
        font-size: 15px
        line-height: 28px
        color: rgba(0, 0, 0, 0.8)
        background-color: #fff
        border: 1px solid rgba(0, 0, 0, 0.2)
        resize: none

    &__upload-block
        position: relative
        overflow: hidden

    &__upload 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: 100%
        opacity: 0
        z-index: 1
        cursor: pointer

        &:hover + .form__upload-label,
        &:hover + .form__upload-field-label
            opacity: 0.9

    &__upload-label 
        position: relative
        display: block
        cursor: pointer
        transition: opacity 0.3s ease

    &__upload-field-label
        position: relative
        padding: 0 11px
        font-size: 15px
        line-height: 30px
        color: rgba(0, 0, 0, 0.8)
        background-color: rgba(0, 0, 0, 0.1)
        cursor: pointer
        transition: opacity 0.3s ease

        &:before, 
        &:after 
            content: ""
            width: 14px
            height: 2px
            background-color: $blue

        &:before
            @include centerV
            right: 10px

        &:after 
            position: absolute
            bottom: 14px
            right: 10px
            transform: rotate(90deg)

    &__uploaded-file
        display: flex
        font-size: 15px
        line-height: 30px
        color: #fff
        background-color: $blue

        .title 
            margin-left: 11px
            margin-right: auto

        .delete 
            @include hover
            position: absolute
            bottom: 5px
            right: 5px
            display: block
            width: 20px
            height: 20px
            font-size: 0
            cursor: pointer

            &:before, 
            &:after 
                content: ""
                position: absolute
                top: 8px
                left: 1px
                width: 14px
                height: 2px
                background-color: #fff 
                transform: rotate(45deg)

            &:after
                transform: rotate(-45deg)

    &__field-note
        position: absolute
        bottom: 0
        right: 18px
        text-transform: uppercase
        font-family: $font-alt
        font-weight: 700
        font-size: 10px
        line-height: 30px

        @media (max-width: 767px)
            bottom: 24px
            right: 0

        &._unverified
            color: #d0021b

    &__note-link 
        @include hover 
        color: $blue

    &__button-row 
        display: flex 
        justify-content: center
        margin-top: 20px

        ._qr-info &
            margin-top: 8px

        ._promo-end &
            margin-top: 8px

        .intro-slide__link
            ._qr-info &
                width: 257px

                @media (max-width: 767px)
                    position: static
                    transform: none

    &__submit 
        min-width: 200px

    &__checkbox 
        position: absolute
        top: 0
        left: 0
        opacity: 0

    &__checkbox-hide
        display: block
        text-align: center
        margin-top: 8px

    &__checkbox-label
        position: relative
        padding-left: 30px
        cursor: pointer

        &:before 
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 18px
            height: 18px
            border: 1px solid rgba(0, 0, 0, 0.2)

        &:after 
            content: ""
            position: absolute
            left: 6px
            top: 1px
            width: 6px
            height: 12px
            border: 2px solid rgba(0, 0, 0, 0.6)
            border-top: none
            border-left: none
            transform: rotate(45deg)
            opacity: 0
            transition: opacity 0.3s ease

        a 
            @include hover 
            color: $blue
            text-decoration: underline

    input:checked + .form__checkbox-label:after
        opacity: 1

    .validate-block
        padding: 15px
        background-color: #e1e1e1
        list-style-type: none
        font-size: 10px
        line-height: 12px
        text-transform: uppercase
        font-weight: bold

        &__item
            margin-bottom: 12px
            position: relative
            display: inline-block

            &:last-child
                margin-bottom: 0

            &.valid
                color: #1896d1

                &:after
                    content: ''
                    width: 16px
                    height: 16px
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    right: -23px
                    background: url("../images/check.png") center no-repeat

.form__checkbox-label + .form__error-message, .form__checkbox-label + .help-block
    padding-left: 30px

.invalid .help-block
    display: block

.selectric
    background-color: #fff 
    border: 1px solid rgba(0, 0, 0, 0.2)

    .label 
        height: 28px
        font-size: 15px
        line-height: 28px

    .button 
        background-color: $transparent
        width: 30px
        height: 30px

        &:after 
            content: ""
            position: absolute
            bottom: 2px
            right: 2px
            width: 0
            height: 0
            border-style: solid
            border-width: 8px 5px 0 5px
            border-color: $blue $transparent $transparent $transparent

.selectric-items

    li 
        font-size: 15px
        line-height: 28px

.captcha-image
    margin-top: 20px
    height: 28px
    border: 1px solid rgba(0, 0, 0, 0.2)

    @media (max-width: 767px)
        margin-top: 0

    img 
        display: block
        margin: 0 auto
        height: 100%
        width: auto

.subscribe

    &__radio
        margin-bottom: 30px

    &-radio
        position: absolute
        opacity: 0
        width: 0
        height: 0

        &:checked + .subscribe-label
            background-color: #efba01
            border-color: transparent

    &-label
        position: relative
        display: inline-block
        cursor: pointer
        padding: 35px 48px
        border-radius: 15px
        border: 1px solid rgba(#acacac, .5)
        transition: background-color 0.3s ease-in-out
        box-sizing: border-box

        @media (max-width: 767px)
            padding: 15px 20px

        &:first-of-type
            margin-right: 30px
            padding: 35px 56px

            @media (max-width: 767px)
                margin-right: 12px
                padding: 15px 26px

        &__title
            font-size: 24px
            line-height: 1
            color: #303030
            display: block
            text-align: center
            font-weight: 600
            margin-bottom: 10px
            text-transform: uppercase
            letter-spacing: -1px

            @media (max-width: 767px)
                font-size: 18px

        &__text
            font-size: 13px
            line-height: 1
            color: #303030
            text-transform: uppercase
            display: block
            text-align: center

            @media (max-width: 767px)
                font-size: 11px