.friend-block
    position: relative

    &__label
        position: absolute
        bottom: 0
        pointer-events: none
        opacity: 0
        z-index: -1
        transition: opacity .3s  ease-in-out

        &._show
            pointer-events: auto
            opacity: 1
            z-index: 1

    &__input
        border-radius: 25px
        outline: none
        width: 100%
        font-size: 17px
        color: #000
        height: 50px
        padding: 0 60px 0 20px
        box-sizing: border-box
        border: none

    &__copy
        width: 50px
        height: 50px
        position: absolute
        top: 0
        right: 0
        background: #1667a9 url("../images/copy_code.png") center no-repeat
        border-radius: 50%
        cursor: pointer