#animation_container
    padding-top: 60px
    width: 100% !important
    position: relative
    background-image: linear-gradient(to right, #1C5590 0%, #1C5590 50%, #1896D1 50%, #1896D1 100%)

    canvas
        left: 50%
        transform: translateX(-50%)
        background-color: $transparent !important
        background-image: linear-gradient(to right, #1C5590 0%, #1C5590 75%, #1896D1 75%, #1896D1 100%)

        @media (max-width: 1024px)
            width: 100% !important

        @media (max-width: 768px)
            left: 0
            transform: none

.game
    overflow: hidden
    position: relative

    @media (max-width: 768px)
        .page-footer__wrapper
            position: relative

            &:before
                content: ""
                position: absolute
                top: 0
                right: -169%
                width: 172%
                height: 100%
                background-color: #013764
                z-index: 2

    @media (max-width: 768px)
        .page-header
            box-shadow: none

            &:after
                content: ""
                position: absolute
                right: 0
                top: 0
                bottom: 0
                width: 101%
                height: 60px
                background-color: #fff
                transform: translateX(99.5%)
                z-index: 2

            &._full:after
                display: none

    @media (max-width: 768px) and (orientation: portrait)
        position: relative

        &:after
            content: ""
            position: fixed
            top: 0
            bottom: 0
            left: 0
            right: 0
            z-index: 10000
            background-color: #fff
            background-image: url("../images/rotate.png")
            background-repeat: no-repeat
            background-size: 50% auto
            background-position: center

    .page-header
        position: absolute !important