.gifts-section
    
    &__title 
        margin: 0 0 34px 0
        padding-top: 35px
        text-transform: uppercase
        text-align: center
        font-family: $font-special 
        font-weight: 400
        font-size: 60px
        line-height: 80px
        color: $d-blue

        @media (max-width: 767px)
            font-size: 42px
            line-height: 60px

    &__lead 
        margin: 12px auto 40px 
        max-width: 660px
        text-align: center
        font-size: 17px
        line-height: 24px
        color: rgba(0, 0, 0, 0.7)

        @media (max-width: 768px)
            padding: 0 20px 
            font-size: 14px
            line-height: 18px

    &__block-title
        margin: 0 0 30px
        text-transform: uppercase
        text-align: center
        font-family: $font-special
        font-weight: 400
        font-size: 42px
        line-height: 1

        @media (max-width: 767px)
            font-size: 36px

    &__inner 
        display: flex 
        flex-wrap: wrap

    .mobile-pagination.swiper-pagination-bullets

        @media (max-width: 767px)
            bottom: 30px

.gift-block 
    box-sizing: border-box
    display: flex 
    flex-direction: column 
    align-items: center
    padding: 40px 60px
    width: 25%
    min-width: 25%
    color: #fff
    background-color: $blue 

    @media (max-width: 1439px)
        padding-left: 20px
        padding-right: 20px

    @media (max-width: 1024px)  
        width: 50%
        min-width: 50%

    @media (max-width: 767px)
        width: 100%
        min-width: 100%
        min-height: 480px
        
    &._blue
        background-color: #185491
        
    &._d-blue:nth-child(2)
        background-color: #013765

    &._yellow:nth-child(2)
        background-color: $yellow

    &__tag 
        @include hover
        margin-bottom: 31px
        padding: 0 16px
        text-transform: uppercase
        font-family: $font
        font-size: 10px
        line-height: 28px
        letter-spacing: 1.2px 
        color: #fff
        border: 1px solid #fff
        border-radius: 15px

    &__amount 
        margin: 0 0 10px 0
        text-transform: uppercase
        font-family: $font-special 
        font-weight: 400
        font-size: 40px
        line-height: 40px

    &__rate 
        margin: 0 0 20px 0
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 400
        font-size: 13px
        line-height: 20px
        letter-spacing: 1.2px
    
    &__icon 
        min-height: 160px

    &__btn 
        margin-bottom: 0
        padding-top: 11px
        padding-bottom: 7px
        width: 100%
        max-width: 236px

        &:hover 
            color: $d-blue

        .slogan 
            line-height: 16px

        .cur 
            width: 13px
            height: 13px

    &__promo-title
        margin: 0 0 40px 0
        padding-top: 50px
        text-align: center
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 42px
        line-height: 40px
        color: $d-blue

        @media (max-width: 767px)
            margin-bottom: 10px
            font-size: 38px
            line-height: 40px

    &__link 
        @include hover 
        width: 179px

        @media (max-width: 767px)
            width: 150px

        img 
            display: block
            width: 100%
            height: auto

    &._center 
        justify-content: center

    &:nth-child(2)
        background-color: $d-blue

    &:nth-child(3)
        background-color: #013764

    &:nth-child(4)
        background-color: #062c53

    &:nth-child(5)
        width: 50%
        min-width: 50%
        background-color: $yellow

        @media (max-width: 767px)
            width: 100%
            min-width: 100%

    &:nth-child(6)
        width: 50%
        min-width: 50%
        background-color: #fff

        @media (max-width: 767px)
            width: 100%
            min-width: 100%