.gifts-table
	position: relative
	margin-bottom: 10px

	&__body
		display: flex

		@media (max-width: 1023px)
			display: block

	&__header
		position: absolute
		top: 0
		left: 0
		right: 0
		text-align: center
		text-transform: uppercase
		font-family: $font
		font-weight: 700
		font-size: 18px
		line-height: 63px
		color: #fff
		background-color: rgba(#000, 0.2)

		p
			margin: 0

	&__col
		position: relative
		display: flex
		padding-top: 63px
		flex: none
		width: 50%

		@media (max-width: 1023px)
			width: 100%

		@media (max-width: 767px)
			display: block

		&:first-child
			background-color: #003764

			.gift-block
				flex: none
				width: 50%

		&:last-child
			background-color: $yellow

			.gift-block
				flex: none
				width: 100%

	.gift-block

		&__rate
			position: relative
			font-family: $font

			&::before
				content: "x"
				display: inline-block
				vertical-align: middle
				padding-bottom: 2px
				text-transform: none