.grid
    display: flex 
    flex-wrap: wrap

    &__title 
        margin: 128px 0 59px
        width: 100%
        text-align: center
        font-family: $font-special 
        font-weight: 400
        font-size: 60px
        line-height: 72px

        @media (max-width: 1024px)
            margin: 64px 0 30px

.grid-item 

    &.col-1
        width: 25%
        min-width: 25%

        @media (max-width: 1024px)
            width: 50%
            min-width: 50%

        @media (max-width: 767px)
            width: 100%
            min-width: 100%

    &.col-2
        width: 50%
        min-width: 50%

        @media (max-width: 767px)
            width: 100%
            min-width: 100%