.habits
  display: flex
  height: vw(640, 1440)
  position: relative
  box-sizing: border-box
  @media (max-width: 767px)
    height: auto
  ._desktop
    @media (max-width: 767px)
      display: none
  ._mobile
    display: none
    @media (max-width: 767px)
      display: block
  div
    box-sizing: border-box
  &-slider
    height: vw(476, 1440) !important
    @media (max-width: 767px)
      height: auto !important
    .swiper-wrapper
      @media (max-width: 767px)
        flex-direction: column
    &__prev.swiper-button-prev, &__next.swiper-button-next
      width: vw(48, 1440)
      height: vw(24, 1440)
      background: url('../images/habits/arrow.svg') 0 0 no-repeat
      background-size: contain
      left: 50%
      transform: translateX(-50%)
      z-index: 1
      @media (max-width: 767px)
        display: none
      &::after
        display: none
    &__prev.swiper-button-prev
      top: vw(63, 1440)
    &__next.swiper-button-next
      bottom: vw(25, 1440)
      top: auto
      transform: translateX(-50%) rotate(180deg)
  &-nav
    width: 25%
    height: 100%
    padding: vw(97, 1440) vw(18, 1440) 0
    background: #1996D2
    position: relative
    transition: opacity .3s ease-in-out
    @media (max-width: 767px)
      width: 100%
      padding: vmin(70, 360) vmin(18, 360) vmin(43, 360)
      position: absolute
      top: 0
      left: 0
      opacity: 0
      z-index: -1
      pointer-events: none
    .opened &
      opacity: 0
      @media (max-width: 767px)
        opacity: 1
        z-index: 2
        pointer-events: auto
    &__item
      height: vw(119, 1440) !important
      background-repeat: no-repeat
      background-position: center
      background-size: 100% auto
      font: 400 vw(36, 1440) $font-special
      line-height: vw(119, 1440)
      text-transform: uppercase
      text-align: center
      color: #185491
      cursor: pointer
      @media (max-width: 767px)
        height: vmin(98, 360) !important
        font-size: vmin(36, 360)
        line-height: vmin(98, 360)
      & + .habits-nav__item
        @media (max-width: 767px)
          margin-top: vmin(15, 360) !important
      &--health
        background-image: url('../images/habits/habits-item-bg-1.png')
      &--fun
        background-image: url('../images/habits/habits-item-bg-2.png')
        background-size: 96% auto
      &--intelligence
        background-image: url('../images/habits/habits-item-bg-3.png')
      &--planning
        background-image: url('../images/habits/habits-item-bg-4.png')
        background-size: 96% auto
  &-content
    height: 100%
    flex: 1 1 auto
    padding: vw(120, 1440) 0 0 vw(99, 1440)
    position: relative
    background: radial-gradient(50% 50% at 50% 50%, #2A70AE 0%, #21578F 100%)
    @media (max-width: 767px)
      background: #94E1FE
      padding: vmin(50, 360) vmin(43, 360) vmin(348, 360)
      max-width: vmin(360, 360)
      margin-left: auto
      margin-right: auto
    .opened &
      @media (max-width: 767px)
        height: vmin(700, 360)
    &__title
      font: 400 vw(96, 1440) $font-special
      line-height: vw(96, 1440)
      text-transform: uppercase
      color: #185491
      margin-bottom: vw(59, 1440)
      position: relative
      z-index: 1
      @media (max-width: 767px)
        font-size: vmin(96, 360)
        line-height: vmin(96, 360)
        margin-bottom: vmin(20, 360)
      &::before
        @media (max-width: 767px)
          content: ''
          position: absolute
          left: 50%
          transform: translateX(-50%)
          background-size: contain
          background-position: center
          background-repeat: no-repeat
          pointer-events: none
          width: vmin(302, 360)
          height: vmin(89, 360)
          top: vmin(100, 360)
          background-image: url('../images/habits/line-3.png')
          z-index: -1
    &__text
      font: 400 vw(18, 1440) $font-geometria
      line-height: vw(20, 1440)
      color: #185491
      max-width: vw(374, 1440)
      position: relative
      z-index: 1
      @media (max-width: 767px)
        font-size: vmin(18, 360)
        line-height: vmin(20, 360)
        max-width: vmin(274, 360)
        margin-bottom: vmin(20, 360)
    &__start
      font: 400 vmin(64, 360) $font-special
      line-height: vmin(64, 360)
      text-transform: uppercase
      text-align: center
      color: #185491
      position: relative
      &::before, &::after
        content: ''
        position: absolute
        left: 50%
        transform: translateX(-50%)
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        pointer-events: none
      &::before
        width: vmin(182, 360)
        height: vmin(8, 360)
        top: vmin(60, 360)
        background-image: url('../images/habits/line.png')
      &::after
        width: vmin(160, 360)
        height: vmin(12, 360)
        top: vmin(125, 360)
        background-image: url('../images/habits/line-2.png')
    &__img
      display: block
      width: vw(1061, 1440)
      height: auto
      position: absolute
      top: vw(-10, 1440)
      left: 0
      transition: opacity .3s ease-in-out
      @media (max-width: 767px)
        width: 100%
        top: auto
        bottom: 0
      .opened &
        opacity: 0
  &-tab
    display: flex
    position: absolute
    top: 0
    left: 0
    flex-wrap: wrap
    opacity: 0
    pointer-events: none
    z-index: -1
    @media (max-width: 767px)
      height: 100%
      width: 100%
    &--health
      &.active
        .habits-tab__sidebar
          background-color: #C2D838
      .habits-tab__sidebar
        &::after
          background-image: url('../images/habits/apple.png')
          width: vw(212, 1440)
          height: vw(157, 1440)
          @media (max-width: 767px)
            width: vmin(212, 360)
            height: vmin(157, 360)
    &--fun
      &.active
        .habits-tab__sidebar
          background-color: #FF9842
      .habits-tab__sidebar
        &::after
          background-image: url('../images/habits/corgy.png')
          width: vw(234, 1440)
          height: vw(166, 1440)
          @media (max-width: 767px)
            width: vmin(234, 360)
            height: vmin(166, 360)
    &--intelligence
      &.active
        .habits-tab__sidebar
          background-color: #4ED667
      .habits-tab__sidebar
        &::after
          background-image: url('../images/habits/book.png')
          width: vw(232, 1440)
          height: vw(168, 1440)
          @media (max-width: 767px)
            width: vmin(232, 360)
            height: vmin(168, 360)
    &--planning
      &.active
        .habits-tab__sidebar
          background-color: #30BBFF
      .habits-tab__sidebar
        &::after
          background-image: url('../images/habits/plan.png')
          width: vw(166, 1440)
          height: vw(164, 1440)
          right: vw(20, 1440)
          @media (max-width: 767px)
            width: vmin(166, 360)
            height: vmin(164, 360)
            right: vmin(20, 360)
    &--responsible
      &.active
        .habits-tab__sidebar
          background-color: #4ED667
      .habits-tab__sidebar
        &::after
          background-image: url('../images/habits/recycle.png')
          width: vw(148, 1440)
          height: vw(169, 1440)
          @media (max-width: 767px)
            width: vmin(148, 360)
            height: vmin(169, 360)
    &.active
      opacity: 1
      pointer-events: auto
      z-index: 2
    &__inner
      transform: translateX(-100%)
      transition: transform .3s ease-in-out
      .active &
        transform: translateX(0)
    &__sidebar
      width: 25%
      padding: vw(63, 1440) vw(42, 1440) vw(20, 1440) vw(38, 1440)
      background-color: transparent
      position: relative
      transition: background-color .3s ease-in-out
      @media (max-width: 767px)
        width: 100%
        padding: vmin(63, 360) vmin(40, 360) vmin(20, 360)
      &::after
        content: ''
        position: absolute
        bottom: 0
        right: 0
        background-position: center
        background-repeat: no-repeat
        background-size: contain
    &__content
      width: 75%
      background: $white
      @media (max-width: 767px)
        display: none
      img
        display: block
        width: vw(1077, 1440)
        height: auto
        opacity: 0
        transition: opacity .3s ease-in-out
        .active &
          opacity: 1
    &__back
      font: 400 vw(24, 1440) $font-special
      line-height: vw(45, 1440)
      text-transform: uppercase
      color: #185491
      position: relative
      padding-left: vw(63, 1440)
      margin-bottom: vw(27, 1440)
      cursor: pointer
      @media (max-width: 767px)
        font-size: vmin(24, 360)
        line-height: vmin(45, 360)
        margin-bottom: vmin(32, 360)
        padding-left: vmin(63, 360)
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: vw(52, 1440)
        height: vw(45, 1440)
        background: url('../images/habits/back.svg') 0 0 no-repeat
        background-size: contain
        @media (max-width: 767px)
          width: vmin(52, 360)
          height: vmin(45, 360)
    &__title
      font: 400 vw(64, 1440) $font-special
      line-height: vw(64, 1440)
      text-transform: uppercase
      color: #185491
      margin-bottom: vw(31, 1440)
      @media (max-width: 767px)
        font-size: vmin(64, 360)
        line-height: vmin(64, 360)
        margin-bottom: vmin(31, 360)
    &__habit
      display: block
      padding: vw(10, 1440) 0 vw(15, 1440)
      font: 400 vw(18, 1440) $font-geometria
      line-height: vw(20, 1440)
      color: #185491
      @media (max-width: 767px)
        font-size: vmin(18, 360)
        line-height: vmin(20, 360)
        padding: vmin(10, 360) 0 vmin(15, 360)
