.history-block

    .pagination-block 

        @media (max-width: 767px)
            padding-right: 20px
            padding-left: 20px
    
    &__main 
        padding: 60px 40px 20px 40px

        @media (max-width: 1439px)
            padding-left: 20px
            padding-right: 20px

        @media (max-width: 767px)
            padding-right: 0
            padding-left: 0

    &__aside   
        padding: 160px 40px 20px 40px

        @media (max-width: 1439px)
            padding-left: 20px
            padding-right: 20px

        ._codes &
            @media (max-width: 1024px)
                padding-top: 0

        ._sticky & 
            padding-top: 60px
            //padding: 60px 40px 20px 40px

        .promocodes
            @media (max-width: 1024px)
                padding-top: 0
                padding-left: 0

            ul
                @media (max-width: 1024px)
                    display: flex
                    flex-wrap: wrap

            .promocode-card
                @media (max-width: 1024px)
                    width: 47%
                    min-height: 94px
                    display: flex
                    align-items: center
                    justify-content: center
                    box-shadow: 0 0 15px 0px rgba(#CECECE, .5)

                &:nth-child(odd)
                    @media (max-width: 1024px)
                        margin-right: 6%

    &__title 
        margin: 0 0 40px 0
        text-transform: uppercase
        text-align: center
        font-family: $font-special 
        font-weight: 400
        font-size: 60px
        line-height: 60px
        color: $d-blue

        @media (max-width: 767px)
            padding-left: 20px
            padding-right: 20px
            text-align: left
            font-size: 40px
            line-height: 40px

        &._mobile
            display: none

            @media (max-width: 1024px)
                display: block

    &__filters 
        @include list-reset 
        @include row-component

        .history-block__aside &
            @media (max-width: 1024px)
                padding-left: 0

        @media (max-width: 767px)
            flex-wrap: wrap 
            align-items: flex-start
            margin-bottom: 31px
            padding-right: 20px
            padding-left: 20px

        li 
            @include hover
            margin-right: 10px
            margin-bottom: 20px
            padding: 5px 16px 3px 16px
            text-transform: uppercase
            text-align: center
            font-family: $font-alt 
            font-weight: 700
            font-size: 10px
            line-height: 20px
            letter-spacing: 1.2px
            color: $d-blue 
            white-space: nowrap
            border: 1px solid $d-blue
            border-radius: 15px
            transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease
            cursor: pointer

            @media (max-width: 767px)
                margin-bottom: 10px
                margin-right: 7px
                letter-spacing: 1px

            &.active 
                color: #fff
                background-color: $blue
                border: 1px solid $blue

.history 
    
    @media (max-width: 767px)
        max-width: 100%
        overflow: auto

.table-header 
    position: fixed
    top: 60px
    left: 0
    display: none
    padding-top: 10px
    width: 100%
    height: 30px
    background-color: #fff
    overflow-x: auto
    overflow-y: hidden
    z-index: 1

    @media (max-width: 767px)

        &.fixed 
            display: block

.history-table
    margin-bottom: 20px
    width: 100%

    @media (max-width: 767px)
        margin-left: 20px
        margin-right: 20px
        width: auto

    &__link 
        @include hover
        color: $blue 
        border-bottom: 1px solid $blue

    tr 
        border-bottom: 1px solid rgba(0, 0, 0, 0.2)

        &:last-child 
            border-bottom: none

    th
        padding-bottom: 10px
        text-transform: uppercase
        text-align: left
        font-family: $font-alt 
        font-weight: 700
        font-size: 10px
        line-height: 20px
        color: $d-blue 

        @media (max-width: 1439px)
            padding-left: 10px

        &:first-child 
            width: 18.5%
            min-width: 18.5%

            @media (max-width: 1439px)
                padding-left: 0

            @media (max-width: 767px)
                min-width: 90px

        &.activity
            width: 73.1%

            @media (max-width: 767px)
                min-width: 160px

        &.points
            width: 8.4%

            @media (max-width: 767px)
                min-width: 90px

        &.date
            width: 29%

            @media (max-width: 1439px)
                width: 18%

        &.receipt
            width: 32.4%

            @media (max-width: 767px)
                min-width: 135px

        &.status
            width: 33.5%

            @media (max-width: 767px)
                min-width: 160px

        &.photo
            width: 3%

            @media (max-width: 767px)
                min-width: 36px

        &.cert
            width: 26.8%

            @media (max-width: 767px)
                min-width: 170px

        &.note 
            width: 22.5%
            min-width: 215px

        &:last-child

            @media (max-width: 767px)
                padding-right: 20px

    td 
        padding-top: 20px
        padding-bottom: 19px
        font-size: 15px
        line-height: 20px
        color: rgba(0, 0, 0, 0.6)

        @media (max-width: 1439px)
            padding-left: 10px

            &:first-child
                padding-left: 0

        @media (max-width: 767px)
            vertical-align: top

            &:last-child

                @media (max-width: 767px)
                    padding-right: 20px

    .points-qty
        font-weight: 700
        color: $yellow

    .camera-icon
        display: block
        margin: 0 auto 

        svg 
            display: block
            margin: 0 auto 
            fill: $blue

    .status-message 
        position: relative
        padding-left: 12px

        &:before 
            content: ""
            @include centerV
            left: 0
            width: 6px
            height: 6px
            border-radius: 50% 
            background-color: #ccc

        &._pending

            &:before
                background-color: $yellow

        &._new

            &:before
                background-color: #3cb819

        &._done 
            padding-left: 0

            &:before 
                display: none

.active-codes
    
    &__header p
        margin: 0
        font-size: 15px
        line-height: 20px
        color: rgba(0, 0, 0, 0.6)

    a 
        @include hover
        color: rgba(0, 0, 0, 0.6)

    ul 
        @include list-reset 

    li
        padding: 20px 0 19px 0
        font-size: 15px
        line-height: 20px
        color: rgba(0, 0, 0, 0.6)
        border-bottom: 1px solid rgba(0, 0, 0, 0.2)

        &:last-child
            border-bottom: none
