.intro-right
    padding-top: 60px
    max-height: 859px
    color: #fff
    background-image: url("../images/sky.jpg")
    background-repeat: no-repeat 
    background-size: cover 
    background-position: center
    position: relative
    overflow: hidden

    &__img
        left: 14%
        width: 27%
        height: auto
        max-height: 760px
        bottom: 0
        position: absolute
        z-index: 1

    &__wrapper
        display: flex 
        justify-content: flex-end
        box-sizing: border-box
        padding: 0 75px
        padding-top: 197px
        padding-bottom: 92px
        width: 100%

        @media (max-width: 1500px)
            padding-top: 150px
            bottom: 50px

        @media (max-width: 700px)
            padding: 0 30px
            padding-top: 90px

    &__col 
        box-sizing: border-box
        padding-left: 54px
        width: 50%
        position: relative
        z-index: 1

        @media (max-width: 700px)
            width: 100%
            padding-left: 0

    &._pack
        .intro__title
            @media (max-width: 1740px)
                font-size: 80px
                line-height: 80px

            @media (max-width: 700px)
                font-size: 48px
                line-height: 52px
                margin-bottom: 40px

        img
            @media (max-width: 700px)
                display: none