.intro
    position: relative

    &--5ka
      padding-top: 90px
      @media (max-width: 1279px)
        padding-top: 70px
      @media (max-width: 1023px)
        padding-top: 80px
      @media (max-width: 767px)
        padding-top: 40px

    &__title
        margin: 0 0 75px 0
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 131.25px
        line-height: 125px

        @media (max-width: 1500px)
            max-width: 500px
            font-size: 80px
            line-height: 80px

        @media (max-width: 800px)
            font-size: 48px
            line-height: 52px

    &__lead
        margin: 0
        font-family: $font-promo
        font-weight: 700
        font-size: 31.25px
        line-height: 40px

        @media (max-width: 1500px)
            font-size: 18px
            line-height: 26px

    &__wrapper
        display: flex
        height: 880px
        max-width: 100%

        @media (max-width: 1024px)
          flex-direction: column

        @media (max-width: 767px)
            min-height: 680px
            height: auto

        .intro--5ka &
          @media (max-width: 1600px)
            height: 780px
            min-height: 0
          @media (max-width: 1440px)
            height: 700px
          @media (max-width: 1366px)
            height: 550px
          @media (max-width: 1280px)
            height: 600px
          @media (max-width: 1024px)
            height: 617px
          @media (max-width: 860px)
            height: 506px
          @media (max-width: 767px)
            height: vmin(1725, 768)

    &__main-col
        box-sizing: border-box
        padding-top: 0
        padding-bottom: 0
        width: calc(100% - 478px)
        height: 100%
        background-image: radial-gradient(circle at 75% 52%, #2772b5, #1d5590), linear-gradient(#185491, #185491)

        @media (max-width: 1600px)
          width: calc(100% - 400px)

        @media (max-width: 1024px)
            width: 100%
            height: auto

    &__aside-col
        position: relative
        box-sizing: border-box
        padding-bottom: 20px
        width: 478px
        height: 100%
        background-color: $blue
        display: flex
        align-items: center
        justify-content: center

        @media (max-width: 1600px)
          width: 400px

        @media (max-width: 1280px)
          width: 400px

        @media (max-width: 1024px)
            display: block
            width: 100%
            padding-top: 37px

        @media (max-width: 1023px)
          padding-top: 12px

        @media (max-width: 767px)
          padding: vmin(41, 768) 0 0

    &__slider
        height: 100%
        &._landing-page

            .intro-slide__title
                min-height: 100px

        img
          .intro--5ka &
            display: block
            width: 100%
            height: auto
            @media (max-width: 1280px)
              display: none
            @media (max-width: 1024px)
              display: block
            @media (max-width: 767px)
              display: none

        .intro-slide__link--5ka
          .intro--5ka &
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%

        .intro-slide
          .intro--5ka &
            background-color:  #fff
            align-items: center
            padding-top: 0
            padding-bottom: 0
            @media (max-width: 1366px)
              min-height: 550px
              height: 550px
            @media (max-width: 1280px)
              min-height: 600px
              height: 600px
            @media (max-width: 1024px)
              min-height: 483px
              height: 483px
            @media (max-width: 860px)
              min-height: 370px
              height: 370px
            @media (max-width: 767px)
              min-height: vmin(1216, 768)
              height: vmin(1216, 768)
              padding-top: 0
          &--5ka-1
            background: url('../images/banner--5ka-1-bg-min.jpg') center no-repeat
            background-size: cover
            align-items: center !important
            @media (max-width: 1280px)
              background: url('../images/banner--5ka-1-bg-md.jpg') center no-repeat
              background-size: cover
            @media (max-width: 1024px)
              background: url('../images/banner--5ka-1-bg-min.jpg') center no-repeat
              background-size: cover
            @media (max-width: 767px)
              background:  url('../images/banner--5ka-1-m.jpg') top center no-repeat
              background-size: contain
            img
              width: auto
              margin-left: auto
              margin-right: auto
              max-width: 100%
              @media (max-width: 1024px)
                max-width: 94%
          &--5ka-2
            background: url('../images/banner--5ka-2-bg-min.png') center no-repeat
            background-size: cover
            @media (max-width: 767px)
              background:  url('../images/banner--5ka-2-m.jpg') top center no-repeat
              background-size: contain
          &--5ka-3
            @media (max-width: 767px)
              background:  url('../images/banner--5ka-3-m.jpg') top center no-repeat
              background-size: contain

    &--inner
        height: 0

        .intro__wrapper
            height: 0

        .intro__aside-col
            padding: 0

            @media (max-width: 1024px)
                display: flex

            @media (max-width: 767px)
                width: auto

    &-popup
        position: fixed
        right: 0
        left: 75%
        top: 0
        box-sizing: border-box
        height: 100vh
        min-height: 556px
        transform: translateX(100%)
        background-color: $blue
        pointer-events: none
        transition: transform 0.3s ease
        overflow: auto

        &__inner
            position: relative
            margin: 0 auto
            width: 100%
            max-width: 260px

        @media (max-width: 1024px)
            left: 50%
            height: 100vh

        @media (max-width: 767px)
            left: 0
            min-height: 100vh

        &.opened
            transform: translateX(0)
            pointer-events: auto
            z-index: 100

        &__close
            @include btn-reset
            @include hover
            position: absolute
            top: -80px
            left: 100%
            width: 20px
            height: 20px
            font-size: 0

            @media (max-width: 1439px)
                top: -33px
                right: 0
                left: auto

            @media (max-width: 767px)
                top: -50px
                right: auto
                left: 100%

            &:before,
            &:after
                content: ""
                position: absolute
                top: 9px
                left: -2px
                width: 24px
                height: 2px
                background-color: #fff
                transform: rotate(45deg)

            &:after
                transform: rotate(-45deg)
