.intro-left
    padding-top: 60px
    color: #fff
    background-repeat: no-repeat 
    background-size: cover 
    background-position: center

    .intro__title
        margin-bottom: 0

    &__wrapper
        display: flex
        justify-content: flex-start
        box-sizing: border-box
        padding: 0 75px
        padding-top: 235px
        padding-left: 168px
        padding-bottom: 125px
        width: 100%

        @media (max-width: 1500px)
            padding-top: 150px
            padding-bottom: 80px
            padding-left: 75px

        @media (max-width: 800px)
            padding-top: 80px
            padding-bottom: 40px
            padding-left: 0

    &__col 
        box-sizing: border-box
        padding-left: 54px
        width: 50%

        @media (max-width: 800px)
            width: 100%