.intro-slider
    height: 100%
    width: 100%

    @media (max-width: 1024px)
        z-index: 10

    &--full

      img
        display: block
        max-width: 100%
        height: auto
        width: 100%

    ._desktop
      @media (max-width: 767px)
        display: none

    ._mobile
      display: none
      @media (max-width: 767px)
        display: block

    .swiper-pagination
        top: auto
        bottom: 25px
        left: 40px
        margin: 0
        height: 12px
        text-align: left
        line-height: 10px

        @media (max-width: 767px)
            bottom: 28px
            left: 50%
            transform: translateX(-50%)
            margin-left: 5px
            width: auto

    .swiper-pagination-bullets .swiper-pagination-bullet
        margin: 0
        margin-right: 10px
        width: 8px
        height: 8px
        background-color: $transparent
        background-clip: content-box
        border: 1px solid #fff
        border-radius: 50%
        opacity: 1

        ._white-screen &
            border: 1px solid $blue

        &.swiper-pagination-bullet-active
            background-color: #fff

            ._white-screen &
                background-color: $blue

    .swiper-pagination-bullets
        &._white-screen
            .swiper-pagination-bullet
                border: 1px solid $blue

            .swiper-pagination-bullet-active
                background-color: $blue

    &--inner

        .intro-slide__title
            min-height: 204px

        .intro-slide__text-col
            padding-top: 91px

        .intro-slide__image-col
            padding-top: 52px

    ._candy &

        .intro-slide__image-col img
            display: block
            max-width: 46%

            @media (max-width: 1024px)
                margin-right: -140px
                max-width: 100%
                ransform: scale(0.7, 0.7)

    ._milk &

        .intro-slide__image-col
            padding-right: 0

        .intro-slide__image-col img

            @media (max-width: 1024px)
                margin-right: -100px
                max-width: none
                transform: scale(0.7, 0.7)

            @media (max-width: 767px)
                transform: scale(1, 1)

.intro-slide
    position: relative
    display: flex
    box-sizing: border-box
    padding-top: 100px
    padding-bottom: 60px
    height: 100%
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden

    &__icons
        display: flex

        @media (max-width: 767px)
            display: none

    &__icon
        margin-right: 48px
        max-width: 186px

        &:last-child
            margin-right: 0

            .intro-slide__icon-text
                @media (max-width: 1350px)
                    width: 140px

        &-text
            font-family: 'Circe'
            font-size: 12px
            line-height: 1.4
            letter-spacing: 0.5px
            text-transform: uppercase
            margin-bottom: 0
            color: #fff

            @media (max-width: 1023px)
                font-size: 10px

        &-img
            display: block
            max-width: 100%

    .dates
        position: absolute
        bottom: 60px
        left: 80px
        font-size: 13px
        line-height: 1
        color: #727272

        @media (max-width: 1439px)
            left: 40px

        @media (max-width: 767px)
            left: 50%
            transform: translateX(-50%)
            font-size: 9px
            bottom: 7px
            width: 93%
            text-align: center

    &._stars
        background-image: url("../images/banner2.png")

        @media (max-width: 767px)
            background-image: url("../images/banner2-m.png")

    &._white-screen
        background-image: url("../images/banner1.png")

        @media (max-width: 767px)
            background-image: url("../images/banner1-m.png")

        .emph:before
            background-color: #c9ddf7

    &._museum
        .intro-slide__block-text
            color: #fff

    &._sun
        background-image: url("../images/banner3.png")

        .intro-slide__block-text
            color: #fff

        .intro-slide__block-2
            .btn--milky
                margin-top: 40px

        &._flag
            .flag
                margin-bottom: 15px

            .intro-slide__title
                @media (max-width: 1919px)
                    max-width: 315px
                    line-height: 61px

        .btn--milky
            margin-top: 0

        .intro-slide__text
            min-height: 0

        .emph
            &:before
                background-color: #ff7a00

                @media (min-width: 1920px)
                    height: 62px
                    top: 16px

                @media (max-width: 767px)
                    height: 44px
                    top: 6px

        .intro-slide__title
            @media (min-width: 1920px)
                width: 690px

            @media (max-width: 767px)
                margin-left: auto
                margin-right: auto
                max-width: 300px
                min-height: 0
                text-align: center
                font-size: 46px
                line-height: 46px

    &._may
        background-image: none
        background-color: #fff

        .intro-slide__title, .intro-slide__text, .intro-slide__block-text
            color: #000

        .intro-slide__text-col
            position: relative
            z-index: 2
            @media (max-width: 767px)
                padding-right: 25px
                padding-left: 25px

        .intro-slide__block-1
            @media (max-width: 767px)
                .intro-slide__link
                    bottom: -440px

        .intro-slide__title
            @media (max-width: 767px)
                margin-left: auto
                margin-right: auto
                max-width: 300px !important
                min-height: 0 !important
                text-align: center
                font-size: 46px
                line-height: 46px !important

        &._flag
            @media (max-width: 1919px)
                .intro-slide__title
                    max-width: 410px

                .intro-slide__text
                    max-width: 375px

            .intro-slide__block-1
                @media (max-width: 767px)
                    .intro-slide__link
                        bottom: -330px

    &._dacha
        .intro-slide__title
            @media (min-width: 1920px)
                width: 600px

    &._childday
        background-image: url("../images/banner-childday-bg.jpg")

        @media (max-width: 767px)
            background-position: top right

        ._block-2 &
            background-image: url("../images/banner-childday-bg-2.jpg")

            @media (max-width: 767px)
                background-position: center

        .intro-slide__block-text
            color: #000

            .emph
                color: #fff

        .intro-slide__text
            a
                color: #000
                text-decoration: underline

                &:hover
                    text-decoration: none

    &._holyday
        ._block-2 &
            background-image: url("../images/banner4.jpg")

        .intro-slide__text
            min-height: 0

        &._flag
            .intro-slide__block-1
                @media (max-width: 767px)
                    .intro-slide__link
                        bottom: -300px

        .intro-slide__block-1
            .intro-slide__link
                @media (max-width: 767px)
                    bottom: -380px

        .intro-slide__text-col
            position: relative
            z-index: 2

            .intro-slide__title
                @media (max-width: 767px)
                    margin-left: auto
                    margin-right: auto
                    max-width: 300px
                    min-height: 0
                    text-align: center
                    font-size: 46px
                    line-height: 46px


    &._vacation
        //background-image: url("../images/vacation.jpg")

        //@media (max-width: 767px)
            background-position: top center

        ._block-2 &
            background-image: url("../images/banner3.png")

        &._flag
            .intro-slide__block-1
                @media (max-width: 767px)
                    .intro-slide__link
                        bottom: -300px

        .intro-slide__block-1
            .intro-slide__link
                @media (max-width: 767px)
                    bottom: -380px

        .intro-slide__block-text
            color: #fff

        .intro-slide__text-col
            position: relative
            z-index: 2

            .intro-slide__title
                @media (max-width: 767px)
                    margin-left: auto
                    margin-right: auto
                    max-width: 300px
                    min-height: 0
                    text-align: center
                    font-size: 46px
                    line-height: 46px

        .intro-slide__title
            @media (min-width: 1920px)
                font-size: 76px

    &._milkday
        .intro-slide__image-col img
            margin-right: 0
            transform: translateY(-50px)

    &._june
        background: #fff

        .intro-slide__image-col
            width: 100%
            top: 0

    &._travel
        background-image: url("../images/banner1-1.png")
        background-size: 100% 100%

        @media (max-width: 767px)
            background-image: url("../images/banner1-m.png")
            background-size: cover

        .intro-slide__text
            min-height: 0

        .intro-slide__image-col img
            align-self: center

    &._ar
        background-image: url("../images/july-ar.png")

        @media (max-width: 900px)
            background-position: top right -110px

        @media (max-width: 767px)
            background-image: url("../images/july-ar-mob.png")
            background-position: top center

        .dates
            max-width: 500px

            @media (max-width: 900px)
                max-width: 400px

        .intro-slide__title
            @media (max-width: 767px)
                font-size: 34px
                line-height: 32px
                text-align: left

            .emph:before
                @media (max-width: 767px)
                    height: 30px

        .intro-slide__link
            @media (max-width: 767px)
                position: static
                transform: none
                font-size: 13px

    &._ar2
        .intro-slide__text
            min-height: 75px
            font-family: 'Geometria'

            a
                font-family: 'Geometria'

        .intro-slide__image-col img
            align-self: center
            margin-right: 0

            @media (max-width: 900px)
                margin-right: -130px

    &._football
        //background-image: url("../images/july-football.jpg")

        @media (max-width: 1000px)
            background-position: top right -100px

        //@media (max-width: 767px)
            background-image: url("../images/july-football-mob.jpg")
            background-position: top center

        #animation_container15
            @media (max-width: 767px)
                display: none

        #animation_container16-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                font-size: 47px
                line-height: 50px
                z-index: 1
                position: relative

        .intro-slide__block-text
            color: #fff

        .intro-slide__text
            min-height: 75px
            display: flex
            align-items: center

            @media (max-width: 767px)
                font-size: 13px
                line-height: 15px
                min-height: 0

        ._block-2 &
            background-image: url("../images/july-football-2.jpg")

    &._august2
        background-image: url("../images/bg20.png")
        background-position: bottom center

        .intro-slide__block-text
            color: #fff

        .intro-slide__text, .intro-slide__title
            min-height: 0

        .intro-slide__title
            position: relative
            z-index: 1

            @media (max-width: 767px)
                font-size: 38px
                line-height: 46px

        .intro-slide__link
            z-index: 1

        #animation_container20
            @media (max-width: 767px)
                display: none

        #animation_container20-2
            display: none

            @media (max-width: 767px)
                display: block

    &._august3
        background-image: url("../images/banner2.png")

        .intro-slide__text, .intro-slide__title
            min-height: 0

        .intro-slide__title
            @media (max-width: 767px)
                br
                    display: none

                .emph
                    &:before
                        display: none

        .intro-slide__block-text
            color: #fff

    &._august-main
        @media (max-width: 767px)
            background: #fff

        #animation_container19
            @media (max-width: 767px)
                display: none

        #animation_container19-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__text
            min-height: 0

            @media (max-width: 767px)
                font-size: 40px
                line-height: 43px

        .intro-slide__title
            @media (max-width: 767px)
                font-size: 39px
                line-height: 43px

                .emph
                    color: #000
                    &:before
                        display: none

        .intro-slide__link
            z-index: 1

        .intro-slide__block-text
            span
                color: #fff

            @media (max-width: 767px)
                .emph
                    span
                        color: #000
                    &:before
                        display: none

    &._july-fam
        background-image: url("../images/banner4.png")

        .intro-slide__text
            min-height: 75px
            display: flex
            align-items: center

            @media (max-width: 767px)
                font-size: 13px
                line-height: 15px
                min-height: 0

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                font-size: 47px
                line-height: 1

            @media (max-width: 360px)
                font-size: 39px

            br
                @media (max-width: 767px)
                    display: none

        .intro-slide__block-text
            color: #fff

    &._school
        background-image: url("../images/banner6.png")

        @media (max-width: 767px)
            background-image: url("../images/banner-5mob.png")

        .intro-slide__text
            min-height: 75px
            display: flex
            align-items: center

            @media (max-width: 767px)
                display: none

        .intro-slide__link
            z-index: 2

        .intro-slide__block-text
            font-size: 66px
            line-height: 70px

            @media (max-width: 1280px)
                font-size: 60px
                line-height: 64px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 50px

    &._oct
        background-image: url("../images/banner8.png")

        .intro-slide__title
            @media (max-width: 767px)
                font-size: 53px
                line-height: 56px
                text-align: center

            br
                @media (max-width: 767px)
                    display: none

            .emph
                color: #000

                &:before
                    @media (max-width: 767px)
                        height: 45px

        .intro-slide__block-text
            color: #fff

            .emph
                color: #000

    &._herb
        background-image: url("../images/banner7.png")

        @media (min-width: 1500px)
            background-size: 100% auto
            background-position: left bottom

        @media (max-width: 767px)
            background-image: url("../images/banner-5mob.png")

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__title
            @media (max-width: 767px)
                font-size: 41px
                line-height: 44px

    &._hal
        background-image: url("../images/banner9.jpg")

        @media (min-width: 1500px)
            background-size: 100% auto
            background-position: left bottom

        @media (max-width: 767px)
            background-image: url("../images/banner2-m.png")

        .intro-slide__block-text
            color: #fff

            .emph
                color: #fff

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 80px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                text-align: center

    &._moroz
        background-image: linear-gradient(to bottom, #015293, #015293)

        #animation_container32
            @media (max-width: 767px)
                display: none

        #animation_container32-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0
            padding-bottom: 10px

            @media (max-width: 767px)
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            font-size: 62px
            line-height: 66px
            color: #fff

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

            .emph
                @media (max-width: 767px)
                    white-space: nowrap
                    display: inline-block

        .intro-slide__text-col .btn
            @media (max-width: 767px)
                z-index: 1

        .intro-slide__text-col
            @media (max-width: 767px)
                padding-left: 20px
                padding-right: 20px

    &._mama
        .intro-slide__title
            min-height: 0
            padding-bottom: 10px

            @media (max-width: 767px)
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            font-size: 62px
            line-height: 66px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

            .emph
                @media (max-width: 767px)
                    white-space: nowrap
                    display: inline-block

        .intro-slide__text-col .btn
            @media (max-width: 767px)
                z-index: 1

    &._jan-main
        background-image: url("../images/bg36.jpg")

        @media (max-width: 767px)
            background-image: url("../images/bg_vert36-2.jpg")

        #animation_container36
            @media (max-width: 767px)
                display: none

        #animation_container36-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

        .intro-slide__title
            @media (max-width: 767px)
                position: relative
                z-index: 1
                text-align: center

    &._feb
        background-image: url("../images/banner11.png")

        @media (max-width: 767px)
            background-image: url("../images/banner3-m.png")

        .intro-slide__block-text
            font-size: 70px
            line-height: 74px

            @media (max-width: 1024px)
                font-size: 60px
                line-height: 64px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

            .emph
                color: #fff

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__title
            span
                color: #fff

    &._feb-2
        #animation_container38
            @media (max-width: 767px)
                display: none

        #animation_container38-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__block-text
            font-size: 70px
            line-height: 74px

            @media (max-width: 1024px)
                font-size: 60px
                line-height: 64px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

            .emph
                color: #fff

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__title
            @media (max-width: 767px)
                font-size: 44px
                position: relative
                z-index: 1

            span
                color: #fff

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._may19
        background-color: #E51922

        .intro-slide__title
            min-height: 0
            color: #fff

            @media (max-width: 767px)
                line-height: 1.1
                font-size: 46px
                position: relative
                z-index: 1
                text-align: center

            .emph
                color: #000

                &:before
                    @media (max-width: 767px)
                        height: 44px

        .btn
            z-index: 1

    &._may19-2
        background-color: #E51922

        .intro-slide__title
            min-height: 0
            color: #fff

            @media (max-width: 767px)
                line-height: 1.1
                font-size: 46px
                position: relative
                z-index: 1
                text-align: center

            .emph
                color: #000

                &:before
                    @media (max-width: 767px)
                        height: 44px

        .btn
            z-index: 1

    &._may19-main
        background-color: #000

        #animation_container43
            @media (max-width: 767px)
                display: none

        #animation_container43-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                font-size: 48px
                line-height: 51px
                letter-spacing: 1.5px
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__block-text
            color: #fff

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        ._block-2 &
            background-image: url("../images/banner14.png")
            background-size: cover

            .intro-slide__block-text
                max-width: 940px

                @media (max-width: 767px)
                    font-size: 38px
                    line-height: 48px
                    max-width: 245px

            .emph
                white-space: nowrap

        .intro-slide__text-col
            @media (max-width: 767px)
                padding-right: 20px
                padding-left: 20px

            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._mar
        background-color: #12498b
        #animation_container39
            @media (max-width: 767px)
                display: none

        #animation_container39-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__block-text
            color: #fff

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        ._block-2 &
            background-image: url("../images/banner-party.png")
            background-size: cover

        .intro-slide__text-col
            @media (max-width: 767px)
                padding-right: 20px
                padding-left: 20px

            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._mar-2
        background: #fff
        #animation_container40
            @media (max-width: 767px)
                display: none

        #animation_container40-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__block-text
            font-size: 70px
            line-height: 74px

            @media (max-width: 1024px)
                font-size: 60px
                line-height: 64px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

            .emph
                color: #fff

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        ._block-2 &
            background-image: url("../images/banner12.png")
            background-size: cover

        .intro-slide__text-col
            @media (max-width: 767px)
                padding-right: 20px
                padding-left: 20px

            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._jun19
        background: #c6e8fc

        .intro-slide__block-text
            line-height: 1.1

            @media (max-width: 1024px)
                font-size: 60px
                line-height: 64px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        ._block-2 &
            background: #c6e8fc

            .emph
                color: #fff
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._jun19-2
        background: #254d11

        #animation_container46
            @media (max-width: 767px)
                display: none

        #animation_container46-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__block-text
            @media (max-width: 1024px)
                font-size: 60px
                line-height: 64px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            max-width: 940px
            color: #fff

            @media (max-width: 1024px)
                max-width: 700px

        ._block-2 &
            background-image: url("../images/banner15.png")
            background-size: cover

            .emph
                color: #fff
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._july19
        background: #fff

        #animation_container47
            @media (max-width: 767px)
                display: none

        #animation_container47-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__block-text
            @media (max-width: 1024px)
                font-size: 60px
                line-height: 64px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px

        ._block-2 &
            background-color: #fff
            background-image: url("../images/banner16.png")
            background-size: cover

            .emph
                color: #fff
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._july19-2
        background: #fff

        #animation_container49
            @media (max-width: 767px)
                display: none

        #animation_container49-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__block-text
            @media (max-width: 1024px)
                font-size: 60px
                line-height: 64px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px

        ._block-2 &
            background-color: #fff
            background-image: url("../images/banner17.png")
            background-size: cover

            .emph
                color: #fff
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._aug19
        background: #fff

        #animation_container50
            @media (max-width: 767px)
                display: none

        #animation_container50-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__block-text
            @media (max-width: 1024px)
                font-size: 60px
                line-height: 64px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px

        ._block-2 &
            background-color: #fff
            background-image: url("../images/banner18.png")
            background-size: cover

            .emph
                color: #fff
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._aug19-2
        background: #000

        #animation_container51
            @media (max-width: 767px)
                display: none

        #animation_container51-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #fff

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        ._block-2 &
            background-color: #fff
            background-image: url("../images/banner19.png")
            background-size: cover

            .emph
                color: #fff
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._sept19
        background-color: #fff
        background-image: url("../images/bg52.jpg")

        @media (max-width: 767px)
            background-image: none

        #animation_container52
            @media (max-width: 767px)
                display: none

        #animation_container52-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #000
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px
                font-size: 52px
                line-height: 57px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        ._block-2 &
            background-color: #fff
            background-image: url("../images/banner20.png")
            background-size: cover

            .emph
                color: #000
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._sept19-2
        background-color: #fff
        background-image: none

        #animation_container53
            @media (max-width: 767px)
                display: none

        #animation_container53-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #000
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px
                font-size: 52px
                line-height: 57px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        ._block-2 &
            background-color: #fff
            background-image: url("../images/banner21.png")
            background-size: cover

            .emph
                color: #000
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._oct19
        background-color: #fff
        background-image: none

        #animation_container54
            @media (max-width: 767px)
                display: none

        #animation_container54-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #000
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px
                font-size: 52px
                line-height: 57px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        ._block-2 &
            background-color: #fff
            background-image: url("../images/banner22.png")
            background-size: cover

            .emph
                color: #000
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._nov19
        background-color: #719ba5
        background-image: none

        #animation_container56
            @media (max-width: 767px)
                display: none

        #animation_container56-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #000
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px
                font-size: 52px
                line-height: 57px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        ._block-2 &
            background-color: #fff
            background-image: url("../images/banner24.png")
            background-size: cover

            .emph
                color: #fff
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._oct19-2
        background-color: #fff
        background-image: url("../images/bg55.jpg")
        background-size: cover

        @media (max-width: 767px)
            background-image: none

        #animation_container55
            @media (max-width: 767px)
                display: none

        #animation_container55-2
            display: none

            @media (max-width: 767px)
                display: block

        .btn
            color: #000000
            border-color: #000000

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #000
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px
                font-size: 52px
                line-height: 57px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        ._block-2 &
            background-color: #fff
            background-image: url("../images/banner23.png")
            background-size: cover

            .emph
                color: #fff
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._dec19
        background-color: #fff
        background-image: url("../images/bg57.png")
        background-size: cover

        @media (max-width: 767px)
            background-image: none

        #animation_container57
            @media (max-width: 767px)
                display: none

        #animation_container57-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #000
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px
                font-size: 52px
                line-height: 57px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        ._block-2 &
            background-color: #fff
            background-image: url("../images/banner25.png")
            background-size: cover
            background-position: center

            @media (max-width: 767px)
                background-image: url("../images/bg_vert57-2.jpg")

            .emph
                color: #000
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._dec19-2
        background-color: #3b3941
        background-image: url("../images/banner27.png")
        background-repeat: repeat
        background-size: auto

        @media (max-width: 767px)
            background-image: none

        #animation_container58
            @media (max-width: 767px)
                display: none

        #animation_container58-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #fff
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px
                font-size: 52px
                line-height: 57px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        ._block-2 &
            background-color: #000
            background-image: url("../images/banner26.png")
            background-size: cover
            background-position: center

            .emph
                color: #fff
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._dec19-3
        background-color: #9d0813
        background-image: none
        background-repeat: repeat
        background-size: auto

        #animation_container59
            @media (max-width: 767px)
                display: none

        #animation_container59-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #fff
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px
                font-size: 52px
                line-height: 57px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        ._block-2 &
            background-color: #000
            background-image: url("../images/banner28.png")
            background-size: cover
            background-position: center

            .emph
                color: #fff
                white-space: nowrap

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._apr20
        background-color: transparent
        background-image: none
        background-repeat: repeat
        background-size: auto

        #animation_container60
            @media (max-width: 767px)
                display: none

        #animation_container60-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #fff
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px
                font-size: 52px
                line-height: 57px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        .intro-slide__text-col
            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._may20
        background-color: transparent
        background-image: url("../images/banner-may20.png"),  url("../images/sky.png")
        background-position: bottom right -70px, center
        background-repeat: no-repeat, no-repeat
        background-size: auto 85%, cover

        @media (max-width: 1400px)
          background-size: auto 73%, cover

        @media (max-width: 860px)
          background-image: url("../images/sky.png")
          background-position: center
          background-repeat: no-repeat
          background-size: cover

        @media (max-width: 767px)
          background-image: url("../images/banner-may20-mob.png"),  url("../images/sky.png")
          background-position: bottom right, center
          background-repeat: no-repeat, no-repeat
          background-size: auto, cover
          min-height: 0

        .intro-slide__title
            min-height: 0
            color: #0089cd
            font-size: 73px
            line-height: 77px

            @media (max-width: 767px)
              font-size: 32px
              line-height: 34px
              position: relative
              z-index: 1
              text-align: center
              padding-bottom: 12px

            br
              @media (max-width: 767px)
                display: none

        .intro-slide__text
            min-height: 75px
            max-width: none
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px
            color: #1b1815
            font-size: 24px
            line-height: 28px

            @media (max-width: 767px)
              font-size: 12px
              line-height: 14px
              text-align: center
              margin-left: auto
              margin-right: auto
              max-width: 240px
              margin-bottom: 12px

            br
                @media (max-width: 880px)
                    display: none

            &-col
              width: 57%
              padding-top: 77px

              @media (max-width: 1024px)
                padding-top: 20px

              @media (max-width: 767px)
                width: 100%

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #fff
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px
                font-size: 52px
                line-height: 57px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        .intro-slide__link
          text-transform: none
          width: 383px
          line-height: 68px
          border-radius: 45px
          font-size: 24px
          color: #0089cd
          border-color: #0089cd

          @media (max-width: 767px)
            width: 194px
            font-size: 12px
            line-height: 34px
            position: static
            border-width: 2px
            transform: none
            margin-left: auto
            margin-right: auto

    &._promo
        background-color: #E51922

        #animation_containerpr
            @media (max-width: 767px)
                display: none

        #animation_containerpr-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0
            line-height: 1

            @media (max-width: 767px)
                font-size: 32px
                line-height: 1.2
                position: relative
                z-index: 1
                text-align: center

            .emph
                white-space: nowrap

                &:before
                    @media (max-width: 767px)
                        height: 37px

                @media (max-width: 767px)
                    margin-left: 10px

            svg
                fill: #fff

                @media (max-width: 767px)
                    width: 35px
                    height: 36px

        .intro-slide__text
            min-height: 0
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Circe'
            letter-spacing: 1px
            font-size: 16px
            margin-bottom: 20px
            text-transform: uppercase

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #0295D4
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px
                font-size: 52px
                line-height: 57px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        //._block-2 &
            background-color: #fff
            background-image: url("../images/promo-banner-clouds.png")
            background-size: 90% auto
            background-position: center top 100px

            .emph
                color: #fff
                white-space: nowrap

        .intro-slide__text-col
            padding-top: 52px

            @media (max-width: 767px)
                padding-right: 25px
                padding-left: 25px
                padding-top: 20px

            .btn
                width: 156px

                @media (max-width: 767px)
                    z-index: 1

    &._promo2
        background-color: #5d9200

        #animation_containerpr2
            @media (max-width: 767px)
                display: none

        #animation_containerpr2-2
            display: none

            @media (max-width: 767px)
                display: block

        .tip
            position: absolute
            right: 25px
            bottom: 30px
            font-size: 14px
            color: #fff
            letter-spacing: 1px
            text-transform: uppercase
            max-width: 185px

            @media (max-width: 767px)
                max-width: none
                right: 0
                text-align: center
                width: 100%
                bottom: 7px
                letter-spacing: 0.4px

        .intro-slide__icon
            flex-basis: 33%
            margin-right: 30px

            @media (max-width: 1024px)
                width: 33%
                margin-right: 22px

            &:last-child
                margin-right: 0

            &-img
                max-width: 80%
                height: auto

            &-wrap
                display: flex
                align-items: flex-end
                min-height: 85px

                @media (max-width: 1440px)
                    min-height: 75px

                @media (max-width: 1024px)
                    min-height: 50px

            &-text
                @media (max-width: 1440px)
                    font-size: 10px

        .intro-slide__title
            min-height: 0
            line-height: 1

            @media (max-width: 767px)
                font-size: 32px
                line-height: 1.2
                position: relative
                z-index: 1
                text-align: center

            .emph
                white-space: nowrap

                &:before
                    @media (max-width: 767px)
                        height: 37px

                @media (max-width: 767px)
                    margin-left: 10px

                b
                    font-weight: normal
                    color: #c3dfff

            svg
                fill: #fff

                @media (max-width: 767px)
                    width: 35px
                    height: 36px

        .intro-slide__text
            min-height: 0
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Circe'
            letter-spacing: 1px
            font-size: 16px
            margin-bottom: 20px
            text-transform: uppercase

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            line-height: 62px
            font-size: 58px
            color: #0295D4
            max-width: 940px

            @media (max-width: 1024px)
                max-width: 700px
                font-size: 52px
                line-height: 57px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

        //._block-2 &
            background-color: #fff
            background-image: url("../images/promo-banner-clouds.png")
            background-size: 90% auto
            background-position: center top 100px

            .emph
                color: #fff
                white-space: nowrap

        .intro-slide__text-col
            padding-top: 52px

            @media (max-width: 767px)
                padding-right: 25px
                padding-left: 25px
                padding-top: 20px

            .btn
                width: 156px

                @media (max-width: 767px)
                    z-index: 1

    &._apr
        background: #bbd8dc

        #animation_container41
            @media (max-width: 767px)
                display: none

        #animation_container41-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__block-text
            font-size: 66px
            line-height: 66px

            @media (max-width: 1024px)
                font-size: 60px
                line-height: 64px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

            .emph
                color: #fff

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        ._block-2 &
            background-image: url("../images/banner13.png")
            background-size: cover

        .intro-slide__text-col
            @media (max-width: 767px)
                padding-right: 20px
                padding-left: 20px

            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._jan
        background-color: #321507

        #animation_container35
            @media (max-width: 767px)
                display: none

        #animation_container35-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                line-height: 1.1
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__block-text
            color: #fff

        ._block-2 &
            background-image: url("../images/ny-bg.png")
            background-size: cover

        .intro-slide__text-col
            @media (max-width: 767px)
                padding-right: 20px
                padding-left: 20px

            .btn
                @media (max-width: 767px)
                    z-index: 1

    &._ny
        background: #083868

        #animation_container34
            @media (max-width: 767px)
                display: none

        #animation_container34-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0
            padding-bottom: 10px

            @media (max-width: 767px)
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            font-size: 62px
            line-height: 66px
            color: #fff

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

            .emph
                white-space: nowrap
                display: inline-block
                color: #fff

        .intro-slide__text-col .btn
            @media (max-width: 767px)
                z-index: 1

    &._dec
        background: #fff

        #animation_container33
            @media (max-width: 767px)
                display: none

        #animation_container33-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            min-height: 0
            padding-bottom: 10px

            @media (max-width: 767px)
                position: relative
                z-index: 1
                text-align: center

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center
            font-family: 'Geometria'
            margin-bottom: 30px

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            font-size: 62px
            line-height: 66px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

            .emph
                white-space: nowrap
                display: inline-block
                color: #fff

        .intro-slide__text-col .btn
            @media (max-width: 767px)
                z-index: 1

    &._cacao
        #animation_container30
            @media (max-width: 767px)
                display: none

        #animation_container30-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__block-text
            font-size: 62px
            line-height: 66px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

            .emph
                @media (max-width: 767px)
                    white-space: nowrap
                    display: inline-block

        .intro-slide__text
            min-height: 75px

        .intro-slide__title
            @media (max-width: 767px)
                z-index: 1
                position: relative

        .intro-slide__text-col .btn
            @media (max-width: 767px)
                z-index: 1

    &._nov
        background-image: url("../images/banner10.png")

        @media (max-width: 767px)
            background-image: url("../images/banner3-m.png")

        #animation_container29
            @media (max-width: 767px)
                display: none

        #animation_container29-2
            display: none

            @media (max-width: 767px)
                display: block

        .intro-slide__title
            .emph
                white-space: nowrap
                color: #fff

                &:before
                    background-color: #82459e

        .intro-slide__text
            max-width: 400px

        .intro-slide__block-text
            font-size: 62px
            line-height: 66px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

            .emph
                @media (max-width: 767px)
                    white-space: nowrap
                    display: inline-block

    &._rus
        &:before
            content: ''
            width: 1082px
            height: 218px
            position: absolute
            top: 0
            right: 406px
            background: url("../images/flags.png") 0 0 no-repeat
            background-size: cover

            @media (max-width: 767px)
                width: 503px
                height: 124px
                right: 80px
                background: url("../images/flags-mob.png") 0 0 no-repeat

        .intro-slide__text-col
            padding-top: 148px

            @media (max-width: 767px)
                padding-top: 20px

        .intro-slide__text
            min-height: 75px

        .intro-slide__block-text
            font-size: 62px
            line-height: 66px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 52px

            .emph
                @media (max-width: 767px)
                    white-space: nowrap
                    display: inline-block

    &._forest
        background-image: url("../images/banner7.png")

        @media (min-width: 1500px)
            background-size: 100% auto
            background-position: left bottom

        @media (max-width: 767px)
            background-image: url("../images/banner-5mob.png")

        .intro-slide__text
            min-height: 75px
            max-width: 445px
            display: flex
            align-items: center

            br
                @media (max-width: 880px)
                    display: none

            @media (max-width: 767px)
                display: none

        .intro-slide__block-text
            font-size: 64px
            line-height: 70px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 50px

    &._sept-main
        .intro-slide__link
            z-index: 2

        .intro-slide__title
            @media (max-width: 880px)
                font-size: 60px
                line-height: 63px

            @media (max-width: 767px)
                font-size: 40px
                line-height: 46px

                .emph
                    display: none

        .intro-slide__block-text
            font-size: 64px
            line-height: 70px

            @media (max-width: 767px)
                font-size: 46px
                line-height: 50px

    &._july-main-2
        background-image: url("../images/banner5.png")

        @media (max-width: 767px)
            background-image: url("../images/banner-5mob.png")

        .intro-slide__text
            min-height: 75px
            display: flex
            align-items: center

            @media (max-width: 767px)
                font-size: 13px
                line-height: 15px
                min-height: 0

        .intro-slide__link
            z-index: 2

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                text-align: left
                margin-left: 0
                font-size: 47px
                line-height: 1

            @media (max-width: 360px)
                font-size: 39px

            br
                @media (max-width: 767px)
                    display: none

    &._july-main
        //background-image: url("../images/july-main.jpg")

        //@media (max-width: 1000px)
            background-position: top right -150px

        @media (max-width: 767px)
            background-image: url("../images/july-main-mob.jpg")
            background-position: top center

        #animation_container16
            @media (max-width: 767px)
                display: none

        .intro-slide__text
            min-height: 75px
            display: flex
            align-items: center

            @media (max-width: 767px)
                font-size: 13px
                line-height: 15px
                min-height: 0

        .intro-slide__title
            min-height: 0

            @media (max-width: 767px)
                font-size: 47px
                line-height: 1

            @media (max-width: 360px)
                font-size: 39px

            br
                @media (max-width: 767px)
                    display: none

        .intro-slide__block-text
            color: #fff

        //:not(._block-2) &
            @media (max-width: 767px)
                background-position: bottom center
                background-size: 100% auto

        ._block-2 &
            background-image: url("../images/banner2.png")

    &._drink
        .intro-slide__title
            max-width: 365px

        .intro-slide__image-col
            top: 0

        .intro-slide__text
            min-height: 0

    @media (max-width: 767px)
        flex-direction: column
        min-height: 780px
        height: auto

    &__block-2
        position: absolute
        top: 175px
        left: 0
        width: 100%
        z-index: 2

        .btn--milky, .intro-slide__link
            margin-left: 40px
            margin-top: 40px

            @media (max-width: 767px)
                position: relative
                bottom: auto
                left: auto
                transform: none
                margin-left: auto
                margin-right: auto

        .emph
            &--fill
                position: relative

                span
                    position: relative
                    z-index: 2

                &._purple
                    &:before
                        background-color: #a352a6 !important

                &._yellow
                    &:before
                        background-color: #ffde00 !important

                &._green
                    &:before
                        background-color: #a0d62c !important

                &._green-2
                    &:before
                        background-color: #7fbb02 !important

                &._orange
                    &:before
                        background-color: #fb9c08 !important

                &._orange2
                    &:before
                        background-color: #ff7800 !important

                &._pink-b
                    &:before
                        background-color: #9341a5 !important

                &._pink
                    &:before
                        background-color: #d9a8e4 !important

                &._pink-2
                    &:before
                        background-color: #b92185 !important

                &._blue
                    color: #fff

                    &:before
                        background-color: #3a87d8 !important

                &._blue-2
                    color: #fff

                    &:before
                        background-color: #0e81e4 !important

                &._red3
                    color: #fff

                    &:before
                        background-color: #fb0d21 !important

                &._red2
                    color: #fff

                    &:before
                        background-color: #ff1c0e !important

                &:before
                    content: ""
                    position: absolute
                    top: 50% !important
                    transform: translateY(-50%)
                    left: -10px
                    width: calc(100% + 20px)
                    height: 62px !important
                    background-color: #d4003d !important
                    border-radius: 28px

                    @media (max-width: 767px)
                        height: 42px !important
                        top: 50% !important

    &__block-1
        width: 100%

    &__block-2, &__block-1
        transition: opacity .3s ease-in-out

        &._hide
            opacity: 0
            pointer-events: none

            .intro-slide__image-col
                opacity: 0

        .intro-slide__image-col
            transition: opacity .3s ease-in-out

    &__block-text
        font-size: 74px
        line-height: 1
        color: #000000
        text-align: center
        font-family: $font-special
        max-width: 900px
        margin: 0 auto
        padding: 0 20px
        box-sizing: border-box

        @media (max-width: 1280px)
            font-size: 67px

        @media (max-width: 767px)
            font-size: 46px

        .emph
            position: relative

            svg
                color: #2777cc
                position: absolute
                left: 0
                bottom: -8px

                &.purple
                    color: #a352a6

                &.red
                    color: red

                &.orange
                    color: #ff7a00

                &.orange2
                    color: #ff7800

                &.green
                    color: #89c400

    &__text
        margin: 0 0 20px 0
        max-width: 355px
        min-height: 104px
        font-family: $font-alt
        font-weight: 400
        font-size: 19px
        line-height: 22px
        color: #fff
        letter-spacing: 0.5px

        @media (max-width: 767px)
            display: none

        .icon
            display: block
            margin-right: 15px

            @media (max-width: 767px)
                width: 43px
                height: 43px

        a
            color: #000
            text-decoration: underline
            font-weight: bold

        ._white-screen &
            min-height: 132px
            color: #000

    &__text-col
        position: relative
        box-sizing: border-box
        padding-left: 80px
        padding-top: 98px
        width: 50%
        min-width: 50%
        z-index: 2

        @media (max-width: 1439px)
            padding-left: 40px

        @media (max-width: 767px)
            position: static
            padding-top: 20px
            padding-right: 40px
            width: 100%

        ._flag &
            padding-top: 80px

            @media (max-width: 767px)
                padding-top: 24px

        ._stars &
            padding-top: 76px

            @media (max-width: 767px)
                padding-top: 23px

        ._sun &
            .intro-slide__title
                min-height: 0

        ._white-screen &
            padding-top: 118px

            @media (max-width: 767px)
                padding-top: 23px

    &__image-col
        position: absolute
        top: 100px
        right: 0
        bottom: 0
        display: flex
        justify-content: flex-end
        box-sizing: border-box
        padding-top: 30px
        padding-right: 50px
        width: 100%
        min-width: 100%

        @media (max-width: 1300px)
            right: auto
            width: 110%

        @media (max-width: 1200px)
            width: 115%

        @media (max-width: 1120px)
            width: 120%

        @media (max-width: 1090px)
            width: 130%

        @media (max-width: 1024px)
            width: 100%

        @media (max-width: 767px)
            position: static
            flex-shrink: 0
            display: block
            padding-right: 40px
            padding-left: 0
            min-height: 300px

        ._main-page &
            padding-top: 0
            padding-right: 0

        ._candy &

            @media (max-width: 767px)
                padding-top: 0
                padding-left: 40px

        img
            display: block
            width: auto
            max-width: 100%

            @media (max-width: 767px)
                height: auto

            @media (max-width: 1024px)
                transform: scale(0.8, 0.8)

            @media (max-width: 767px)
                transform: none
                margin: 0
                width: 100%

            ._main-page &, ._landing-page &
                margin-right: -66px

                @media (max-width: 1024px)
                    margin-right: -170px

                @media (max-width: 767px)
                    margin-right: 0
                    margin-left: 40px

            ._stars &
                margin-right: 45px

                @media (max-width: 900px)
                    margin-right: -20px

                @media (max-width: 825px)
                    margin-right: -60px
                    transform: scale(0.7, 0.7)

                @media (max-width: 767px)
                    margin-left: 20px
                    margin-right: 20px
                    margin-bottom: 60px
                    width: calc(100% - 40px)
                    transform: scale(1,1)

            ._white-screen &
                margin-right: 38px

                @media (max-width: 1024px)
                    margin-right: -25px

                @media (max-width: 900px)
                    margin-right: -105px
                    transform: scale(0.7, 0.7)

                @media (max-width: 767px)
                    margin-left: 20px
                    margin-right: 20px
                    margin-bottom: 60px
                    width: calc(100% - 40px)
                    transform: scale(1,1)

    &__title
        margin: 0
        padding-bottom: 20px
        width: 600px
        min-height: 310px
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 67px
        line-height: 70px
        color: #fff

        @media (min-width: 1920px)
            font-size: 67px
            line-height: 70px

            br
                display: none

        @media (max-width: 767px)
            min-height: 180px
            width: auto
            font-size: 42px
            line-height: 60px

        &._f40
            @media (max-width: 767px)
                font-size: 40px !important

        ._flag &
            min-height: 197px

            @media (max-width: 1439px)
                max-width: 265px

                br
                    display: none

            @media (max-width: 767px)
                min-height: 120px

        ._candy &

            @media (max-width: 1439px)
                max-width: 500px

            @media (max-width: 1024px)
                max-width: 400px

        ._milk &

            @media (max-width: 1439px)
                max-width: 440px

        ._museum &
            min-height: 210px
            font-size: 67px
            line-height: 70px

            @media (max-width: 767px)
                margin-left: auto
                margin-right: auto
                max-width: 300px
                min-height: 0
                text-align: center
                font-size: 46px
                line-height: 46px

                .emph:before
                    height: 44px

        ._milkday &
            min-height: 210px
            font-size: 67px
            line-height: 70px

            @media (max-width: 767px)
                margin-left: auto
                margin-right: auto
                max-width: 300px
                min-height: 0
                text-align: center
                font-size: 46px
                line-height: 46px

            .emph:before
                background-color: #d4003d

        ._stars &
            min-height: 210px
            font-size: 67px
            line-height: 70px

            @media (max-width: 767px)
                margin-left: auto
                margin-right: auto
                max-width: 300px
                min-height: 0
                text-align: center
                font-size: 46px
                line-height: 46px

                br
                    display: none

                .emph:before
                    height: 44px

        ._white-screen &
            min-height: 140px
            font-size: 67px
            line-height: 70px
            color: #000

            @media (max-width: 767px)
                margin-left: auto
                margin-right: auto
                max-width: 300px
                min-height: 0
                text-align: center
                font-size: 46px
                line-height: 46px

                br
                    display: none

                .emph:before
                    height: 44px

        .emph
            position: relative

            &:before
                content: ""
                position: absolute
                top: 50% !important
                transform: translateY(-52%)
                left: -10px
                width: calc(100% + 20px)
                height: 62px
                background-color: $purple
                border-radius: 28px

            span
                position: relative
                z-index: 1

            &._green
                &:before
                    background-color: #89c400

            &._orange
                &:before
                    background-color: #fb9c08

            &._orange2
                &:before
                    background-color: #ff7800

            &._yellow
                &:before
                    background-color: #ffde00

            &._yellow-2
                &:before
                    background-color: #f8be00

            &._pink
                &:before
                    background-color: #d9a8e4

            &._pink-2
                &:before
                    background-color: #b92185

            &._red
                color: #fff

                &:before
                    background-color: #e51743

            &._blue
                color: #fff

                &:before
                    background-color: #3a87d8

    &__link
        padding: 0
        width: 214px

        @media (max-width: 767px)
            @include centerH
            bottom: 60px

        &._single
            margin-top: 80px

    &__offer
        display: flex
        margin: 0
        max-width: 450px
        padding-left: 1px
        font-size: 17px
        line-height: 24px
        color: rgba(255, 255, 255, 0.7)

        @media (max-width: 768px)
            font-size: 14px
            line-height: 20px

        svg,
        img
            flex: none
            display: block
            margin-top: 4px
            margin-right: 12px
            min-width: 43px

            @media (max-width: 768px)
                margin-top: -5px

    .flag
        position: relative
        display: inline-block
        vertical-align: top
        margin-bottom: 35px
        padding: 10px 36px
        text-align: center
        font-family: $font-special
        font-weight: 400
        font-size: 36px
        line-height: 40px
        color: #fff
        overflow: hidden

        @media (max-width: 767px)
            margin-bottom: 20px

        &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: calc(100% - 60px)
            height: 10px
            border: 40px solid $transparent
            border-right-width: 30px
            border-left-width: 30px
            border-top-color: $blue

        &:after
            content: ""
            position: absolute
            bottom: 0
            left: 0
            width: calc(100% - 60px)
            height: 10px
            border: 40px solid $transparent
            border-right-width: 30px
            border-left-width: 30px
            border-bottom-color: $blue

        span
            position: relative
            z-index: 1

    &__footnote
        margin: 0
        padding-left: 54px
        font-size: 14px
        line-height: 20px

        @media (max-width: 768px)
            padding-left: 40px
            font-size: 10px
            line-height: 16px
            white-space: nowrap

.intro-slide._stars._flag,
.intro-slide._museum._flag,
.intro-slide._white-screen._flag

    .intro-slide__text-col
        padding-top: 55px

    .flag
        margin-bottom: 15px

    .intro-slide__text
        min-height: 66px
