.krai-products
    padding-bottom: 62px

    @media (max-width: 768px)
        padding-bottom: 40px

    &__promo 
        margin-bottom: -2px
        color: #fff
        background-color: #4f6ab2
        background-image: url("../images/cow-wave2@2x.png")
        background-repeat: no-repeat
        background-size: 100% auto 
        background-position: bottom -1px left

        @media (max-width: 768px)
            margin-bottom: 0
            padding-top: 35px
            background-image: url("../images/asset-3@2x.png")
            background-position: bottom -25vw left
    
        &-wrapper 
            display: flex
            justify-content: flex-end
            margin: 0 auto
            padding: 0 20px
            padding-top: 78px
            padding-bottom: 17vw
            max-width: 1300px
            background-image: url("../images/cow-krai@2x.png")
            background-repeat: no-repeat
            background-size: 43% auto 
            background-position: left bottom 16vw

            @media (max-width: 768px)
                padding: 0 11px
                padding-top: 15px
                padding-bottom: 25vw
                background-image: none

            ._special & 
                padding-top: 120px

                @media (max-width: 768px)
                    padding-top: 30px
                    padding-bottom: 33vw

        &-content 
            width: 54%

            @media (max-width: 768px)
                width: 100%

        h3 
            margin: 0 0 10px
            max-width: 675px
            text-transform: uppercase
            font-family: $font-special 
            font-weight: 400
            font-size: 50px
            line-height: 60px

            @media (max-width: 768px)
                margin-bottom: 18px
                padding-right: 30px
                box-sizing: border-box
                max-width: 100%
                font-size: 40px
                line-height: 48px

        p 
            margin: 0
            max-width: 630px
            font-size: 17px
            line-height: 24px
            color: rgba(255, 255, 255, 0.7)

            @media (max-width: 768px)
                padding-right: 10px
                font-size: 14px
                line-height: 20px

    .muu-products__wrapper
        padding-top: 120px

        @media (max-width: 768px)
            padding-top: 85px

    .muu-products__title
        max-width: 822px

        @media (max-width: 768px)
            font-size: 39px