.landing-winners
	background-color: #005ebc

	._muu &
		background-color: #293763

	._sz &
		background-color: #008752

	._vkusnoteevo &
		background-color: #c8102e

	._bigcup-add &
		background-color: #0b66a3

	&__title
		margin: 0
		padding: 24px 0 32px
		text-align: center
		text-transform: uppercase
		font-family: $font-special
		font-weight: 400
		font-size: 60px
		line-height: 1
		background-color: #fff

	&__wrapper
		display: flex
		align-items: flex-end
		padding: 8.6vw 0 74px
		background-image: url("../images/splash-winners.png"), url("../images/svg/cow-kuban.svg")
		background-repeat: no-repeat
		background-size: 100% auto, auto 133%
		background-position: top left, top calc(6.8vw + 90px) left 70vw

		@media (max-width: 1023px)
			flex-direction: column
			align-items: center
			background-size: 100% auto, auto 100%
			background-position: top left, top calc(6.8vw + 27px) left 72vw

		@media (max-width: 767px)
			margin-bottom: -1px
			background-image: url("../images/splash-winners.png")
			background-size: 100% auto
			background-position: top left

		@media (max-width: 400px)
			padding-bottom: 0

		._vkusnoteevo &
			background-image: url("../images/splash-winners.png"), url("../images/pancakes.png")
			background-size: 100% auto, auto

			@media (max-width: 1023px)
				background-image: url("../images/splash-winners.png")
				background-position: top left
				background-size: 100% auto

		._muu &
			padding: 75px 0 9.4vw
			justify-content: flex-end
			align-items: center
			background-image: url("../images/splash-winners-2.png"), url("../images/milk-muu.png")
			background-position: bottom left, top 5vw left 7vw
			background-size: 100% auto, auto 74%

			@media (max-width: 1279px)
				background-position: bottom left, top 5vw left 4vw

			@media (max-width: 1023px)
				background-image: url("../images/splash-winners-2.png")
				background-position: bottom left
				background-size: 100% auto

		._sz &
			align-items: flex-start
			padding: 75px 0 11.4vw
			background-image: url("../images/splash-winners-3.png"), url("../images/milk-sz.png")
			background-position: bottom -1px left, top 4vw right -6vw
			background-size: 100% auto, auto 88%

			@media (max-width: 1279px)
				background-position: bottom left, top 5vw right -15vw

			@media (max-width: 1023px)
				align-items: center
				background-image: url("../images/splash-winners-3.png")
				background-position: bottom left
				background-size: 100% auto

			@media (max-width: 767px)
				padding: 20px 0 60px

		._bigcup-add &
			background-image: url("../images/splash-winners.png"), url("../images/cow_outline.png")
			background-size: 100% auto, auto 65%
			background-position: top left, bottom left 63vw

			@media (max-width: 1024px)
				background-image: url("../images/splash-winners.png")
				background-size: 100% auto
				background-position: top left

			@media (max-width: 767px)
				margin-bottom: -1px
				background-image: url("../images/splash-winners.png")
				background-size: 100% auto
				background-position: top left

	&__label
		flex: none
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		padding: 20px
		width: calc(50% - 200px)
		text-align: center

		@media (max-width: 1023px)
			width: 100%
			max-width: 400px

		._sz &
			margin-top: 20px

		img
			display: block
			margin: 0 auto 25px
			width: 129px
			height: auto

			._muu &, ._sz &
				width: 210px

		._bigcup-add &
			svg
				margin-bottom: 20px

		p
			margin: 0 auto
			max-width: 320px
			text-align: center
			text-transform: uppercase
			font-family: $font-special
			font-weight: 400
			font-size: 48px
			line-height: 1
			color: #fff

			@media (max-width: 767px)
				font-size: 44px

			._sz &
				font-size: 42px

	&__content
		position: relative
		flex: none
		width: 400px
		background-color: #fff

		@media (max-width: 767px)
			max-width: 100%

		&::before
			content: ""
			position: absolute
			top: 18px
			left: 0
			right: 0
			height: 50px
			background-image: linear-gradient(to bottom, #fff 0%, rgba(#fff, 0) 75%, rgba(#fff, 0) 100%)
			pointer-events: none
			z-index: 1


		&::after
			content: ""
			position: absolute
			bottom: 40px
			left: 0
			right: 0
			height: 50px
			background-image: linear-gradient(to top, #fff 0%, rgba(#fff, 0) 75%, rgba(#fff, 0) 100%)
			pointer-events: none

		.winners-list
			margin-bottom: 40px
			padding: 38px 33px 0 48px
			height: 300px

			@media (max-width: 767px)
				padding-left: 30px
				padding-right: 15px

			li
				&:last-child
					padding-bottom: 40px