.landing

    &__wrapper 
        width: 100%
        max-width: 82vw

        @media (max-width: $screenM)
            box-sizing: border-box
            padding: 0 40px
            max-width: 100%

        @media (max-width: $screenXS)
            padding: 0 20px

    .btn--red 

        @media (max-width: $screenXS)
            width: 100%
            max-width: 280px

    &__header 
        box-sizing: border-box
        padding-top: 98px
        padding-bottom: 50px
        min-height: 35vw
        background-image: url('../images/landing-header.png'), url("../images/gift-landing.png"), url("../images/spots.png")
        background-repeat: no-repeat
        background-size: 100% auto, 29% auto, 100% auto
        background-position: bottom center, bottom 15px left 14.5vw, top center

        @media (max-width: $screenXS)
            padding-top: 50px
            padding-bottom: 50vw
            background-size: 130% auto, 52% auto, 100% auto
            background-position: bottom left, bottom 0 left 15vw, top center

        .landing__wrapper 
            display: flex 
            justify-content: flex-end

        &-col 
            display: flex 
            flex-direction: column
            align-items: flex-start
            width: 100%
            max-width: 50vw

            @media (max-width: $screenXS)
                max-width: 100%

        &-title 
            margin: 0 0 24px
            text-transform: uppercase
            font-family: $font-special 
            font-weight: 400
            font-size: 66px
            line-height: 68px
            color: #fff

            @media (max-width: $screenXL)
                font-size: 60px
                line-height: 64px

            @media (max-width: $screenM)
                font-size: 50px
                line-height: 56px

            @media (max-width: $screenXS)
                font-size: 42px
                line-height: 44px

    &__body 
        padding-top: 48px
        padding-bottom: 92px
        background-color: #fff
        background-image: url("../images/splash-top.png"), url("../images/splash-bottom.png")
        background-repeat: no-repeat 
        background-size: 56vw auto, 56vw auto 
        background-position: top 146px right, bottom 154px left

        @media (max-width: $screenXS)
            background-position: top 146px right, bottom 254px left

        .landing__wrapper
            position: relative

            @media (max-width: 1100px)
                display: flex 
                flex-direction: column
                align-items: center

        &-title 
            margin: 0
            text-align: center
            text-transform: uppercase
            font-family: $font-special
            font-weight: 400
            font-size: 66px
            line-height: 68px
            color: $blue

            @media (max-width: $screenXL)
                font-size: 60px
                line-height: 64px

            @media (max-width: $screenXS)
                font-size: 42px
                line-height: 44px

        &-subtitle 
            margin: 0
            text-align: center
            font-size: 20px
            line-height: 22px
            color: $blue

        &-col 
            position: absolute
            bottom: 0
            right: 0
            display: flex 
            flex-direction: column
            align-items: flex-start
            padding-bottom: 40px
            width: 50%
            max-width: 33vw

            @media (max-width: $screenXL)
                padding-bottom: 0

            @media (max-width: $screenL)
                position: static
                margin-top: 40px

            @media (max-width: 1100px)
                max-width: 400px

            @media (max-width: $screenM)
                align-items: center
                text-align: center

            @media (max-width: $screenXS)
                width: 100%

    &__note 
        margin: 0
        min-height: 12vw
        max-width: 420px
        font-size: 18px
        line-height: 22px
        color: $blue

        @media (max-width: $screenXL)
            min-height: 40px
            padding-bottom: 40px