.lang-block
    @include list-reset
    display: flex
    margin-right: 25px
    margin-left: 25px
    padding-top: 34px

    @media (max-width: 1439px)
        margin-right: 20px
        margin-left: 22px

    @media (min-width: 1920px) 
        margin-left: 5px

    @media (max-width: 1024px)
        display: none

    ._fixed &
        padding-top: 0
        height: 100%
        align-items: center

        @media (max-width: 1439px)
            display: none

        a
            color: $blue

        &.current
            a
                border-color: $blue

    li  
        @include hover
        text-transform: uppercase
        text-align: center
        font-family: $font 
        font-weight: 400
        font-size: 12px
        line-height: 26px
        color: #fff

        &.current 

            a
                font-weight: 700
                border-color: #fff
                padding-top: 2px

    a 
        display: block
        padding: 0 14px
        color: #fff
        border: 1px solid $transparent 
        border-radius: 15px
        transition: border-color 0.3s ease 

        ._fixed & 
            pointer-events: none
