.landings-link-slider
    &__wrap
        position: relative
        margin-top: 50px
        width: 100%
        margin-bottom: 15px

        .landings-link-slide
            padding: 0 3px
            box-sizing: border-box
            a
                display: flex
                width: 100%
                flex-direction: column 
                justify-content: center 
                align-items: center
                box-sizing: border-box
                padding: 7px 5px
                height: 70px
                background-color: #fff
                border-radius: 6px

            img
                flex: none
                display: block
                margin: 0 auto
                max-width: 100%
                max-height: 100%
                width: auto
                height: auto

        .landings-link__prev, .landings-link__next
            width: 9px
            height: 18px
            background-size: 9px 18px
            margin-top: -9px

        .landings-link__prev
            left: -20px

        .landings-link__next
            right: -20px
