.link-to-top
    @include hover
    position: fixed
    bottom: 30px
    right: 30px
    display: block
    width: 74px
    height: 74px
    background-color: #0295d3
    border-radius: 50%

    @media (max-width: 1023px)
        width: 40px
        height: 40px

    @media (max-width: 767px)
        right: 10px

        display: none

    img 
        @include center 
        display: block
        margin: 0
        width: 24px
        height: auto

        @media (max-width: 1023px)
            width: 14px
