.link-card
    position: relative
    display: flex 
    flex-direction: column 
    align-items: center
    box-sizing: border-box
    padding: 40px
    width: 100%
    height: 440px
    color: #fff
    background-color: $blue
    background-repeat: no-repeat 
    background-size: cover 
    background-position: center
    overflow: hidden

    @media (max-width: 767px)
        padding: 40px 20px

    &__header 
        display: flex
        align-items: flex-start
        justify-content: space-between
        flex-wrap: wrap
        margin-bottom: 50px
        margin-left: -10px
        width: calc(100% + 20px)

        .link-card__tag 
            margin-bottom: 10px
            white-space: nowrap
    
    &__time 
        margin-right: 10px
        margin-left: 10px
        padding: 15px 23px
        font-family: $font 
        font-size: 14px
        line-height: 20px
        text-transform: uppercase
        text-align: center
        font-weight: 400
        letter-spacing: 1.1px
        white-space: nowrap
        background-color: $d-blue
        border-radius: 25px

        @media (max-width: 1439px)
            padding: 6px 15px 4px 
            font-size: 11px
            letter-spacing: 0.6px
            border-radius: 15px

        b 
            font-weight: 400

        span 
            color: #629fde

    &__tag 
        @include hover
        margin-bottom: 50px
        margin-right: 10px
        margin-left: 10px
        padding: 0 16px
        text-transform: uppercase
        font-family: $font
        font-size: 10px
        line-height: 28px
        letter-spacing: 1.2px 
        color: #fff
        border: 1px solid #fff
        border-radius: 15px

    &__title 
        margin: auto 0 0 0
        max-width: 440px
        text-transform: uppercase
        text-align: center
        font-family: $font-special
        font-weight: 400
        font-size: 40px
        line-height: 40px
        color: #fff

    &__text 
        margin: 20px 0 0 0
        max-width: 100%
        text-align: left
        font-size: 15px
        line-height: 20px
        color: rgba(255, 255, 255, 0.4)

    &__icon 
        transition: transform 0.7s ease-in-out

    svg 
        display: block

    &>*
        position: relative
        z-index: 2

    video::-webkit-media-controls
        display:none !important

    &__bg 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        z-index: 0
        transition: transform 0.7s ease-in-out

    .video-bg
        @include center 
        width: 120%

    &__note 
        @include centerH
        bottom: 14px
        margin: 0
        font-size: 14px
        line-height: 20px
        color: #fff

        ._left &
            left: 40px
            transform: none

            @media (max-width: 767px)
                left: 20px

    &._image

        &:before 
            content: ""
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            background-color: rgba(0, 0, 0, 0.4)
            transition: background-color 0.3s ease-in-out
            z-index: 1


    &._left 
        align-items: flex-start

        .link-card__title
            text-align: left

    &._text 
        align-items: flex-start
        background-color: #185491

        .link-card__title
            text-align: left

    &:hover 

        .link-card__icon 
            transform: scale(1.2, 1.2)

        .link-card__bg 
            transform: scale(1.2, 1.2)

        &:before 
            background-color: rgba(0, 0, 0, 0.2)

    &._video
        background-color: #000

        svg 
            fill: $transparent
            transition: fill 0.3s ease

        &:hover

            .link-card__bg 
                transform: scale(1, 1)

            svg 
                fill: #fff 