.login-form
    display: flex 
    flex-direction: column

    &__link 
        align-self: flex-end
        text-transform: uppercase
        font-family: $font 
        font-weight: 700
        font-size: 10px
        line-height: 20px
        color: #fff

        span 
            border-bottom: 1px solid rgba(255, 255, 255, 0.5)

    &__btn 
        align-self: center
        margin-bottom: 20px
        width: 200px

    &__register 
        align-self: center
        font-family: $font 
        font-weight: 400
        font-size: 13px
        line-height: 20px
        color: #fff

        span 
            border-bottom: 1px solid rgba(255, 255, 255, 0.5)