.login-block
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 40px

    @media (max-width: 1439px)
        padding: 0 20px

    @media (max-width: 1024px)
        margin-top: 0
        flex-direction: row
        align-items: center
        justify-content: center
        flex-wrap: wrap
    @media (max-width: 767px)
        flex-direction: column
        padding: 0

    &__title
        display: flex
        flex-direction: column
        align-items: center
        margin: 0 0 60px 0
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 56px
        line-height: 67px
        color: #fff
        max-width: 330px
        white-space: normal
        text-align: center

        @media (max-width: 1439px)
            text-align: center
            white-space: normal

        @media (max-width: 1024px)
            max-width: none
            font-size: 42px
            line-height: 50px
            margin: 0
            letter-spacing: normal

        @media (max-width: 1023px)
            width: 100%
            text-align: center
            margin-bottom: 4px

        @media (max-width: 767px)
          font-size: vmin(72, 768)
          line-height: vmin(86, 768)
          margin-bottom: vmin(20, 768)

        .icon
            margin-bottom: 27px
            @media (max-width: 1024px)
              display: none

        svg
            display: block

    &__list
      font-size: 20px
      color: #185491
      margin: 0 0 38px 0

      @media (max-width: 1024px)
        display: flex
        align-items: center
        margin: 0
        margin-right: 61px
      @media (max-width: 767px)
        flex-direction: column
        margin-right: 0
        margin-bottom: vmin(33, 768)

      li
        @media (max-width: 1024px)
          margin-left: 55px
        @media (max-width: 767px)
          margin-left: 0

      a
        font-family: $font-alt
        font-weight: 400
        font-size: 22px
        line-height: 30px
        color: #185491
        text-transform: none
        @media (max-width: 1024px)
          font-size: 18px
        @media (max-width: 767px)
          font-size: vmin(42, 768)
          line-height: vmin(60, 768)

    &__btn
        min-width: 244px
        @media (max-width: 1024px)
          min-width: 200px
        @media (max-width: 767px)
          min-width: vmin(536, 768)

    &__descr
        margin: 13px 0 47px 0
        font-family: $font-alt
        font-weight: 400
        font-size: 14px
        line-height: 20px
        color: #fff

        @media (max-width: 1024px)
            margin-top: 10px
            margin-bottom: 20px
            z-index: 1

        .points
            color: $yellow

    &__profile
        @include hover
        font-weight: 700
        color: #fff
        border-bottom: 1px solid #fff
