.login-link
    @include hover
    position: relative
    margin: 0 auto
    margin-top: 23px
    padding: 16px 0
    text-transform: uppercase
    font-family: $font
    font-weight: 900
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.01em
    color: #fff
    transition: color 0.3s ease

    @media (min-width: 1920px)
        margin-right: 110px

    @media (max-width: 1600px)
        max-width: 60px
        margin-left: 32px
        padding-right: 32px
        margin-top: 15px
        margin-right: 36px
        font-size: 12px
        line-height: 18px

    @media (max-width: 1279px)
      font-size: 11px
      line-height: 17px
      margin-left: 7px
      margin-top: 5px

    @media (max-width: 1023px)
        font-size: 14px
        line-height: 18px
        margin-right: 30px
        margin-top: 20px
        margin-left: auto
        flex-grow: 1
        max-width: none
        text-align: right

    @media (max-width: 767px)
        margin-right: 30px
        flex-grow: 0
        margin-top: 0
        padding: 10px 0

        .text
            display: none

    ._fixed &
        margin-top: 7px !important
        color: $blue
        @media (max-width: 1850px)
          margin-top: 7px !important
        @media (max-width: 1600px)
          margin-top: 0 !important
        @media (max-width: 1023px)
          margin-top: 7px !important
        @media (max-width: 767px)
          margin-top: 10px !important

    ._full &

        @media (max-width: 767px)
            margin-top: 20px !important

    .icon
        @include centerV
        right: -32px
        width: 19px
        height: 20px

        @media (max-width: 1600px)
          right: 0

        @media (max-width: 767px)
            position: static
            transform: none
            display: block

        svg
            display: block
            width: 100%
            height: auto
            fill: #fff
            stroke: #fff
            transition: fill 0.3s ease, stroke 0.3s ease

            ._fixed &
                fill: $blue
                stroke: $blue
