.login-popup
    padding-top: 120px
    padding-left: 40px
    padding-right: 40px
    padding-bottom: 20px

    @media (max-width: 1439px)
        padding-top: 70px
        padding-left: 20px
        padding-right: 20px

    &__title 
        display: flex 
        flex-direction: column 
        align-items: center
        margin: 0 0 70px 0
        text-align: center
        font-family: $font-special 
        font-weight: 400
        font-size: 50px
        line-height: 60px
        color: #fff
        letter-spacing: 3.4px

        @media (max-width: 1439px)
            margin-bottom: 30px

        .icon 
            margin-bottom: 20px

        svg
            display: block

    &__social 
        justify-content: space-between
        margin-bottom: 30px