.lottery-item
	position: relative
	display: flex
	flex-direction: column
	text-align: center
	color: #fff
	background-color: #185492

	&__header
		position: absolute
		top: 0
		left: 0
		right: 0
		padding: 19px 10px
		text-transform: uppercase
		font-family: $font
		font-weight: 700
		font-size: 16px
		line-height: 22px
		letter-spacing: 1.5px
		background-color: rgba(#303030, 0.5)

		@media (max-width: 767px)
			padding: 12px 10px
			font-size: 12px
			line-height: 16px

	&__header p
		margin: 0

	&__headline
		margin: 0
		padding: 23px 20px 17px
		text-transform: uppercase
		font-family: $font-special
		font-weight: 400
		font-size: 42px
		line-height: 50px
		color: $textColor
		letter-spacing: 1px
		background-color: #fff

		@media (max-width: 767px)
			padding: 16px 20px 10px
			font-size: 28px
			line-height: 34px

	&__body
		flex-grow: 1
		display: flex
		flex-direction: column

	&__footer
		position: relative
		display: flex
		flex-direction: column
		align-items: center
		padding-bottom: 60px

		@media (max-width: 767px)
			padding-bottom: 62px

	&__footer .btn
		min-width: 227px
		margin-bottom: 0

		&:hover
			color: #185491

	&__note
		position: absolute
		bottom: 0
		left: 0
		right: 0
		display: flex
		flex-direction: column
		justify-content: center
		margin: 0
		height: 60px
		text-transform: uppercase
		font-family: $font
		font-size: 11px
		line-height: 14px
		letter-spacing: 1.2px

		@media (max-width: 767px)
			font-size: 10px
			line-height: 14px

	&--red-plane
		background-color: #5d9200
		background-image: url("../images/car.png")
		background-repeat: no-repeat
		background-size: 100% auto
		background-position: right 16px bottom 90px

		@media (max-width: 767px)
			background-image: url("../images/car.png")
			background-size: 150% auto
			background-position: right 20px bottom 60px

		.lot-card__title
			margin-bottom: -14px

			@media (max-width: 767px)
				margin-bottom: 10px

		.lot-card__img

			@media (max-width: 767px)
				min-height: 269px

		.lot-card__img img
			margin-left: -20px
			margin-top: 22px

			@media (max-width: 767px)
				margin-left: -29px

		.lot-card__label
			position: relative
			left: 18px
			margin-top: 47px

			@media (max-width: 1023px)
				position: absolute
				left: 20px
				margin-top: 0

			@media (max-width: 767px)
				left: auto
				top: 6px

		.lottery-item__footer

			//@media (max-width: 767px)
				padding-bottom: 32px
