.lottery-section

	&__title
		margin: 0
		padding: 32px 0 16px
		text-align: center
		font-family: $font-special
		font-weight: 400
		font-size: 42px
		line-height: 50px
		letter-spacing: 1px
		color: #303030

		@media (max-width: 767px)
			padding: 40px 0 10px
			font-size: 28px
			line-height: 34px

	&__grid
		display: flex
		flex-wrap: wrap

	&__item
		flex: none
		width: 50%

		@media (max-width: 767px)
			width: 100%

		&:nth-child(2)

			@media (max-width: 767px)
				order: -1
