.lottery-info
	text-align: center
	padding-top: 26px

	@media (max-width: 609px)
		padding-top: 37px

	&__title
		margin: 0 auto 25px
		max-width: 325px
		text-transform: uppercase
		text-align: center
		font-family: $font-special
		font-weight: 400
		font-size: 42px
		line-height: 50px
		color: #0295D4
		letter-spacing: 1px

		@media (max-width: 609px)
			margin-bottom: 30px
			font-size: 29px
			line-height: 1
			letter-spacing: 0

	&__steps
		@include list-reset
		display: flex
		justify-content: center
		align-items: flex-start
		margin-bottom: 25px

		@media (max-width: 609px)
			margin-bottom: 33px
			padding-right: 8px

	&__steps li
		margin: 0 25px

		@media (max-width: 609px)
			margin: 0 11px

	&__img
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		margin-bottom: 7px
		height: 183px

		@media (max-width: 609px)
			margin-bottom: 1px
			height: 160px

	&__img img
		display: block
		max-width: 100%
		height: auto

	p.lottery-info__label
		margin: 0
		text-transform: uppercase
		font-family: $font-special
		font-weight: 400
		font-size: 29px
		line-height: 28px
		color: #0295D4

	p.lottery-info__note
		margin: 0
		font-family: $font
		font-size: 15px
		line-height: 1

		._desktop

			@media (max-width: 609px)
				display: none

	&__steps li:first-child p.lottery-info__label
		padding-right: 35px

		@media (max-width: 609px)
			padding-right: 33px

	&__steps li:first-child p.lottery-info__note
		padding-right: 38px

		@media (max-width: 609px)
			padding-right: 35px
