.lot-card
	position: relative
	padding: 89px 30px 0

	@media (max-width: 767px)
		padding: 63px 5px 0

	&__title
		margin: 0 0 10px
		text-transform: uppercase
		font-family: $font-special
		font-weight: 400
		font-size: 42px
		line-height: 50px
		letter-spacing: 1px

		@media (max-width: 1279px)
			font-size: 34px

		@media (max-width: 767px)
			font-size: 32px
			line-height: 38px

	&__title br
		display: none

		@media (max-width: 767px)
			display: block

	&__title b
		padding: 7px 10px 5px
		background-image: url("../images/selection.png")
		background-repeat: no-repeat
		background-size: 100% 100%
		font-weight: normal

		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx)
			background-image: url("../images/selection@2x.png")

	&__subtitle
		margin: 0 0 10px
		text-transform: uppercase
		font-size: 12px
		line-height: 1

	&__img
		display: flex
		flex-direction: row-reverse
		justify-content: center
		align-items: flex-start
		min-height: 225px

		@media (max-width: 767px)
			position: relative
			min-height: auto

	&__img img
		display: block
		max-width: 100%
		height: auto

		@media (max-width: 767px)
			transform: scale(0.9)
			transform-origin: top center

	&__label
		display: flex
		align-items: center
		transform: translateX(-48px)
		max-width: 0
		text-transform: uppercase
		font-family: $font
		font-size: 11px
		line-height: 1

		@media (max-width: 1023px)
			position: absolute
			top: 66px
			left: 20px
			transform: translateX(0)
			max-width: none

		@media (max-width: 767px)
			top: -2px
			left: auto
			right: 20px
			flex-direction: column
			align-self: flex-end
			font-size: 10px
			line-height: 1

	&__label span
		box-sizing: border-box
		margin-right: 8px
		padding: 9px
		min-width: 54px
		font-weight: 700
		font-size: 18px
		line-height: 1
		background-color: #EFBA01
		border-radius: 18px

		@media (max-width: 767px)
			margin-right: 0
			margin-bottom: 7px
			padding: 9px 16px
