.main-navigation
    display: flex
    justify-content: flex-start
    align-items: center
    padding-top: 38px
    flex: 0
    @media (max-width: 1850px)
      padding-top: 30px

    @media(max-width: 1279px)
        padding-top: 20px

    @media(max-width: 1023px)
        flex-direction: column
        justify-content: flex-start
        align-items: center
        box-sizing: border-box
        padding-left: 20px
        padding-right: 20px
        padding-top: 0
        width: 100%
        opacity: 0
        z-index: -100
        pointer-events: none

    @media (max-width: 767px)
        padding-top: 21px

    ._fixed &
        padding-right: 0
        padding-top: 21px
        @media (max-width: 1850px)
          padding-top: 15px
        @media (max-width: 1600px)
          padding-top: 12px

    ._full &
        padding-left: 20px
        padding-right: 20px

    &__trigger
        @include btn-reset
        position: absolute
        top: 26px
        right: 24px
        display: none
        width: 0
        height: 0
        border-style: solid
        border-width: 8px 6px 0 6px
        border-color: #fff $transparent $transparent $transparent

        &:before
            content: ""
            @include center
            width: 40px
            height: 40px
            background-color: $transparent

        @media (max-width: 1023px)
            position: static
            display: flex
            flex-direction: column
            align-items: center
            margin-right: 0
            margin-left: 5px
            margin-top: 14px

        @media (max-width: 767px)
            right: 2px

    &__list
        @include list-reset
        display: flex
        justify-content: flex-start
        align-items: center
        flex: 0

        @media (max-width: 1023px)
            flex-direction: column
            align-items: center
            flex: none

    &__list-item
        position: relative
        margin-right: 25px
        text-transform: uppercase
        font-family: $font-alt
        font-weight: 400
        font-size: 14px
        line-height: 16px
        letter-spacing: 0.01em
        text-align: center

        @media (max-width: 1850px)
          margin-right: 35px

        @media (max-width: 1600px)
          font-size: 12px
          line-height: 18px

        @media (max-width: 1366px)
          margin-right: 26px

        @media (max-width: 1279px)
          font-size: 11px
          line-height: 17px
          margin-right: 20px

        @media (max-width: 1023px)
            display: flex
            flex: none
            justify-content: center
            align-items: center
            flex-wrap: wrap
            width: 100%
            text-align: center
            max-width: none
            font-size: 12px
            line-height: 20px
            letter-spacing: 1.2

            &.expanded

                .main-navigation__trigger
                    transform: scale(1,-1)
                    margin-top: -10px

                .subnav
                    max-height: 300px

                .main-navigation__link
                    padding-bottom: 21px

                    @media (max-width: 767px)
                        padding-top: 13px
                        padding-bottom: 17px

                @media (max-width: 767px)
                    margin-bottom: -10px

                    .main-navigation__trigger
                        top: 19px
        &--marked
          &:hover
            &::after
              display: none
        &:after
            content: ""
            position: absolute
            bottom: -5px
            left: 0
            right: 0
            height: 5px
            background-color: $transparent
            transition: background-color 0.3s ease

            @media(max-width: 1023px)
                display: none

        &.current,
        &:hover

            &:after
                background-color: $blue

        &:hover

            &:before
                content: ""
                position: absolute
                top: 100%
                left: 0
                right: 0
                height: 10px
                background-color: $transparent

                @media(max-width: 1023px)
                    left: auto
                    right: 24px
                    top: 26px
                    height: 0

            .subnav
                opacity: 1
                z-index: initial
                pointer-events: initial

    &__link
        @include hover
        display: block
        color: #fff
        white-space: nowrap
        @media(max-width: 1850px)
          white-space: normal
        @media (max-width: 1023px)
          padding: 20px 15px

        &--marked
          position: relative
          padding: 0 12px
          @media (max-width: 1850px)
            padding: 0 18px
          @media (max-width: 1023px)
            padding: 20px 15px
          &::before
            content: ''
            width: 100%
            height: calc(100% + 28px)
            position: absolute
            top: 50%
            left: 0
            transform: translateY(-50%)
            pointer-events: none
            border: 2px solid #4BABDE
            box-sizing: border-box
            border-radius: vw(100, 1920)
            @media (max-width: 1600px)
              height: calc(100% + 16px)
            @media (max-width: 1279px)
              height: calc(100% + 14px)
            @media (max-width: 1023px)
              display: none

        &:hover,
        &:focus,
        &:active
            color: #fff

        @media(max-width: 1023px)
            box-sizing: border-box
            display: inline-block
            vertical-align: top
            padding-bottom: 0
            text-align: center
            order: -1

        ._fixed &
            color: #185491

            &:hover,
            &:focus,
            &:active
                color: #185491

    &__search-trigger
        @include hover
        @include btn-reset
        display: flex
        text-align: left
        color: #fff

        @media(max-width: 1023px)
            flex: none
            justify-content: center
            align-items: center
            padding-top: 40px
            font-size: 12px
            line-height: 20px
            min-width: 130px
            max-width: none
            text-transform: uppercase
            font-size: 17px
            line-height: 20px

            ._full &
                padding-top: 45px

        ._white-screen &,
        ._fixed &
            color: #1996d1

            @media(max-width: 1023px)
                color: #fff

        svg
            flex: none
            display: block
            width: 17px
            height: 16px
            fill: transparent

            @media(max-width: 1023px)
                width: 31px
                height: 32px

        .text
            padding-left: 8px
            text-transform: uppercase
            font-family: $font-alt
            font-weight: 400
            font-size: 14px
            line-height: 16px

            @media (max-width: 1279px)
              display: none

            @media(max-width: 1023px)
                white-space: nowrap
                display: block
