.menu-trigger
    @include btn-reset
    position: relative
    display: none
    margin: 34px 40px 40px
    margin-bottom: 0
    margin-left: auto
    width: 20px
    min-width: 20px
    height: 20px
    font-size: 0

    @media (max-width: 767px)
        margin-right: 20px
        margin-left: 0
        margin-top: 10px

    span
        @include center
        display: block
        width: 20px
        height: 2px
        background-color: #fff

        &:before,
        &:after
            content: ""
            position: absolute
            left: 0
            width: 20px
            height: 2px
            background-color: #fff

        &:before
            top: -9px

        &:after
            bottom: -9px

    @media (max-width: 1024px)
        display: block

._full .menu-trigger

    @media (max-width: 767px)
        margin-top: 30px

    span
        background-color: $transparent

        &:before
            width: 24px
            top: 0
            left: -2px
            transform: rotate(45deg)

        &:after
            width: 24px
            top: 0
            bottom: auto
            left: -2px
            transform: rotate(-45deg)

._fixed .menu-trigger
    margin-top: 21px
    margin-bottom: 21px

    span,
    span:before,
    span:after
        background-color: $blue

.page-header._full._fixed .menu-trigger span

    @media (max-width: 1024px)
        background-color: $transparent
