.mobile-slider 

    swiper-pagination-clickable swiper-pagination-bullets
        display: none

    @media (max-width: 767px)
        position: relative
        display: block
        overflow: hidden

.mobile-wrapper 

    @media (max-width: 767px)
        flex-wrap: nowrap

.mobile-pagination.swiper-pagination-bullets

    @media (max-width: 767px)
        @include centerH
        bottom: 45px
        margin-left: 5px
        width: auto

    .swiper-pagination-bullet

        @media (max-width: 767px)
            margin: 0
            margin-right: 10px
            width: 8px
            height: 8px
            background-color: $transparent
            background-clip: content-box 
            border: 1px solid rgba(0, 0, 0, 0.4)
            border-radius: 50%
            opacity: 1

            &.swiper-pagination-bullet-active
                background-color: rgba(0, 0, 0, 0.4)