.modal-aside
    display: none
    flex-direction: column
    padding-bottom: 20px
    width: 100%
    opacity: 0
    z-index: -100
    pointer-events: none

    @media (max-width: 1023px)
        display: flex
        flex: none

._full .modal-aside

    @media (max-width: 1023px)
        opacity: 1
        z-index: initial
        pointer-events: initial
