.modal-form

    &__header 
        display: flex 
        justify-content: center
        margin-top: -20px
        margin-bottom: 10px

    &__row 
        position: relative
        display: flex
        justify-content: space-between

        @media (max-width: 767px)
            flex-wrap: wrap

        .form__field-wrapper
            width: calc(50% - 10px)

            @media (max-width: 767px)
                width: 100%

        &._first 
            margin-top: 11px

    &__note 
        margin: 0
        font-size: 15px
        line-height: 20px
        color: rgba(0, 0, 0, 0.4)

    &__select-results 
        display: flex 
        align-items: flex-start
        flex-wrap: wrap

    .form__field
        padding: 0 11px
        text-align: left
        line-height: 28px
        border: 1px solid rgba(0, 0, 0, 0.2)

    .form__field-label
        color: $textColor

        span
            color: #999999

.modal-form .invalid .form__field
    border-color: #d0021b

.select-result
    display: flex 
    align-items: center
    margin-right: 10px
    margin-bottom: 10px
    padding: 0 10px
    height: 30px
    font-size: 15px
    line-height: 28px
    color: #fff
    background-color: $d-blue
    border-radius: 15px

    .text 
        display: block
        padding-top: 2px

    &__del 
        @include hover
        position: relative
        display: block
        margin-left: 10px
        width: 12px
        height: 12px
        font-size: 0
        cursor: pointer

        &:before,
        &:after 
            content: ""
            position: absolute
            top: -1px
            left: 5px
            width: 1px
            height: 14px
            background-color: #fff
            transform: rotate(45deg)

        &:after
            transform: rotate(-45deg)
