.overlay
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: -40px
    display: flex
    flex-direction: column
    background-color: rgba(0, 0, 0, 0.6)
    z-index: -100
    opacity: 0
    overflow-y: auto
    transition: opacity 0.3s ease
    pointer-events: none

    @media (max-width: 767px)
        right: 0

    &._show
        opacity: 1
        z-index:  1000
        pointer-events: initial

.modal
    position: relative
    top: 0!important
    margin: auto!important
    box-sizing: border-box
    padding: 40px
    width: 500px
    color: $textColor
    background-color: #fff

    @media (max-width: 767px)
        top: 0
        left: 0
        transform: none
        padding-left: 20px
        padding-right: 20px
        width: 100%
        //min-height: 100vh

    p
        &._center
            text-align: center

    &._promo-end
        padding-top: 32px

    &._subscribe
        width: 610px
        padding-top: 60px

        @media (max-width: 767px)
            width: 100%

        .modal-close
            @media (max-width: 767px)
                top: 14px
                right: 14px

        p
            font-size: 15px
            line-height: 22px
            margin: 0 0 20px

        .modal__logo
            margin: 0 0 30px

        .modal__inner-title
            font-size: 42px
            letter-spacing: 1px
            margin: 0 0 15px 0

        .modal__btn
            font-size: 15px
            margin: 0 0 14px
            text-transform: none
            padding-left: 26px
            padding-right: 26px

        .modal__descr
            font-size: 13px
            color: #acacac
            letter-spacing: -0.5px

    &._qr-promo
        font-size: 15px
        line-height: 21px
        width: 580px

        @media (max-width: 767px)
            width: 100%

        p
            margin: 0 0 30px

            a
                color: #1996d2
                text-decoration: underline

                &:hover
                    text-decoration: none

        .modal__inner-title
            letter-spacing: -1px

    &__steps
        display: flex
        list-style-type: none

        &-col
            width: 48%

            &:first-child
                margin-right: 4%

        &-note
            text-align: center
            font-size: 15px
            line-height: 21px

        &-img
            display: flex
            align-items: center
            min-height: 99px
            margin: 0 0 10px

            img
                display: block
                margin: 0 auto

    &._friend
        width: 580px

        @media (max-width: 767px)
            width: 100%

        p
            text-align: center

        .modal__title
            max-width: 117px

        .modal__inner-title
            color: #1c558f
            margin-top: 15px

        a
            margin-top: 15px

            @media (max-width: 767px)
                padding-left: 21px
                padding-right: 21px

    &._info
        width: 580px
        padding-top: 0

        @media (max-width: 767px)
            width: 100%

        .modal__img
            margin-top: 0
            margin-bottom: 15px
            margin-left: -40px
            margin-right: -40px

            @media (max-width: 767px)
                margin-left: -20px
                margin-right: -20px

            img
                max-width: 100%
                height: auto

        .modal__inner-title
            font-size: 32px
            line-height: 36px
            margin-bottom: 27px

        p
            text-align: center
            margin-bottom: 26px
            margin-top: 0

            a
                text-decoration: underline
                color: #0295d4

    &._landing
        padding-top: 0
        background-color: #ccc

        .modal__inner-title
            font-size: 70px
            line-height: 1
            color: #fff

        .modal__img
            margin-bottom: 10px
            display: flex
            justify-content: center

        .modal__descr
            font-size: 15px
            line-height: 1.4
            color: #fff
            opacity: .7
            max-width: 440px
            margin-bottom: 23px

        .modal-close:before, .modal-close:after
            background-color: #fff

        .modal__btn
            background-color: #edb41d
            color: #000
            font-size: 22px
            text-transform: capitalize
            letter-spacing: normal

    &._muu
        background-color: #293763

    &._beloved-cup
        background-color: #359ecd

        .modal__img
            margin-top: 0

    &._vkusnoteevo
        background-color: #c41a33

        .modal__img
            display: flex
            flex-direction: column
            justify-content: flex-end
            align-items: center
            margin-top: 0
            margin-bottom: 30px
            padding: 0 8px 29px
            width: 115px
            height: 141px
            background-color: #fff
            border-radius: 0 0 10px 10px

    &._krai
        background-color: #4f6ab2

        .modal__img
            display: flex
            flex-direction: column
            justify-content: flex-end
            align-items: center
            margin-top: 0
            margin-bottom: 30px
            padding: 0 8px 29px
            width: 115px
            height: 141px
            background-color: #fff
            border-radius: 0 0 10px 10px

    &._sz
        background-color: #008752

        padding-top: 0

        .modal__inner-title
            font-size: 70px
            line-height: 1
            color: #fff

        .modal__img
            margin-top: 0
            margin-bottom: 13px
            display: flex
            justify-content: center
            width: 103px
            height: 122px

            img
                display: block
                width: 100%
                height: auto

        .modal__descr
            font-size: 15px
            line-height: 1.4
            color: #fff
            opacity: .7
            max-width: 440px
            margin-bottom: 23px

        .modal-close:before, .modal-close:after
            background-color: #fff

        .modal__btn
            background-color: #edb41d
            color: #000
            font-size: 22px
            text-transform: capitalize
            letter-spacing: normal

    &._sk
        background-color: #005eb8

    &._qr-info
        width: 580px

        @media (max-width: 767px)
            width: 100%

    &._selection
        width: 615px

        @media (max-width: 767px)
            width: 100%

    &._register,
    &._qr

        &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            right: 0
            height: 4px

    &._qr

        .modal__title
            max-width: 300px

            .gray
                display: block

    &._register-1

        &:before
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 33.333333%, $transparent 33.333333%, $transparent 100%)

    &._register-2

        &:before
            background-image: linear-gradient(to right, $blue 0%, $blue 33.333333%, rgba(0, 0, 0, 0.2) 33.333333%, rgba(0, 0, 0, 0.2) 66.666666%, $transparent 66.666666%, $transparent 100%)

    &._register-3

        &:before
            background-image: linear-gradient(to right, $blue 0%, $blue 66.666666%, rgba(0, 0, 0, 0.2) 66.666666%, rgba(0, 0, 0, 0.2) 100%)

    &._register-complete

        &:before
            background-color: $blue

    &._qr-1

        &:before
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, $transparent 50%, $transparent 100%)

    &._qr-2

        &:before
            background-image: linear-gradient(to right, $blue 0%, $blue 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 100%)

    &._qr-3

        &:before
            background-color: $blue

    &._action
        padding-top: 30px
        padding-left: 58px
        padding-right: 58px
        color: #fff
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/cottage.jpg")
        background-repeat: no-repeat
        background-size: cover

        @media (max-width: 767px)
            padding-left: 20px
            padding-right: 20px
            padding-top: 100px

    &._prize
        color: #fff
        background-color: $d-blue

    &-close
        @include btn-reset
        @include hover
        position: absolute
        top: 40px
        right: 40px
        width: 20px
        height: 20px
        font-size: 0
        z-index: 3

        &:before,
        &:after
            content: ""
            position: absolute
            top: -3px
            left: 10px
            width: 2px
            height: 24px
            background-color: $blue
            transform: rotate(45deg)
            z-index: 2

        &:after
            transform: rotate(-45deg)

        &._white

            &:before,
            &:after
                background-color: #fff

    &__title
        margin: 0
        max-width: 100px
        text-transform: uppercase
        font-family: $font-alt
        font-weight: 700
        font-size: 10px
        line-height: 10px

        ._qr-info &
            max-width: 190px

        .gray
            color: rgba(0, 0, 0, 0.6)

    &__inner
        display: flex
        flex-direction: column
        align-items: center

    &__img
        margin: 29px 0

        img
            display: block

    &__inner-title
        margin: 0 0 13px 0
        text-transform: uppercase
        text-align: center
        font-family: $font-special
        font-weight: 400
        font-size: 36px
        line-height: 40px

    &__descr
        margin: 0 0 29px 0
        max-width: 300px
        text-align: center
        font-size: 15px
        line-height: 17px
        color: rgba(0, 0, 0, 0.4)

    &__btn-row
        display: flex
        justify-content: center
        margin-top: 40px

    &__btn
        padding-left: 35px
        padding-right: 35px
        min-width: 200px

    &__headline
        margin: 0 0 107px 0
        text-transform: uppercase
        text-align: center
        font-family: $font-special
        font-weight: 400
        font-size: 36px
        line-height: 40px

        @media (max-width: 767px)
            margin-bottom: 40px

    &__text
        margin: 0
        font-size: 15px
        line-height: 18px

    &._info
        padding: 0 38px 37px
        width: 610px

        @media (max-width: 609px)
            margin: 0!important
            padding: 0 20px 20px
            width: 100%
            min-height: 100vh

        .modal-close
            top: 14px
            right: 14px

        .modal__title
            padding-top: 19px
            max-width: none
            font-family: $font
            font-weight: 700
            font-size: 10px
            line-height: 1
            color: rgba(#000, 0.6)

        .btn
            text-transform: none
            font-size: 18px


