.more-points
    display: flex 
    flex-direction: column
    align-items: center 
    margin-top: 50px
    text-align: center
    color: #fff 

    &__icon 
        margin-bottom: 20px
        width: 100%

        svg 
            display: block
            width: 260px
            height: 105px

    &__slogan
        margin: 0 0 4px 0
        text-transform: uppercase
        font-weight: 700
        font-size: 13px
        line-height: 28px

    &__descr
        margin: 0
        font-size: 13px
        line-height: 17px