.muu-products 
    padding-bottom: 64px

    @media (max-width: 1024px)
        padding-bottom: 0

    @media (max-width: 768px)
        padding-bottom: 40px

    &__wrapper 
        padding-top: 120px

        @media (max-width: 768px)
            padding: 63px 20px 0

    &__promo 
        color: #fff
        background-color: #293763
        background-image: url("../images/cow-wave.png")
        background-repeat: no-repeat
        background-size: 100% auto 
        background-position: bottom -1px left

        @media (max-width: 768px)
            background-image: url("../images/asset-3@2x.png")

        @media (max-width: 768px)
            background-position: bottom -25vw left

        &-wrapper 
            margin: 0 auto
            padding: 0 20px
            padding-top: 102px
            padding-bottom: 16vw
            max-width: 1224px
            background-image: url("../images/cow2@2x.png")
            background-repeat: no-repeat
            background-size: 40% auto 
            background-position: right 6vw bottom 8vw

            @media (max-width: 768px)
                padding: 0 11px
                padding-top: 15px
                padding-bottom: 34vw
                background-image: none

            a
                margin-top: 25px
                width: 239px !important
                padding-left: 12px

                svg
                    fill: transparent
                    margin-left: 12px

            h3 
                margin: 0 0 16px
                font-family: $font-special 
                font-weight: 400
                font-size: 50px
                line-height: 66px

                @media (max-width: 768px)
                    margin-bottom: 19px
                    font-size: 40px
                    line-height: 48px

            p 
                margin: 0
                max-width: 46.4%
                font-size: 17px
                line-height: 24px
                color: rgba(255, 255, 255, 0.7)

                @media (max-width: 768px)
                    padding-right: 10px
                    max-width: 600px
                    font-size: 14px
                    line-height: 20px

    &__title 
        margin: 0 auto 80px
        padding: 0 20px
        max-width: 840px
        text-transform: uppercase
        font-family: $font-special 
        font-weight: 400
        text-align: center
        font-size: 60px
        line-height: 70px

        @media (max-width: 768px)
            margin-bottom: 60px
            font-size: 40px
            line-height: 48px

            

