.offer-block 
    margin-top: 110px
    margin-bottom: 15px
    padding-top: 105px
    padding-bottom: 95px
    color: #fff 
    background-color: #ed1c23

    @media (max-width: 768px)
        padding-top: 65px

    &__wrapper 
        display: flex
        align-items: flex-start
        padding: 0 20px
        max-width: 1145px

        @media (max-width: 768px)
            flex-direction: column
            padding: 0 16px

    &__col 
        width: 50%

        @media (max-width: 768px)
            width: 100%

        &:first-child 
            width: 550px

            @media (max-width: 768px)
                width: 100%
        
        &:last-child 
            flex-grow: 1

            @media (max-width: 768px)
                flex-grow: 0

    &__images
        display: flex
        justify-content: center
        align-items: flex-start

        img 
            flex: none
            display: block
            margin: 0 35px
            width: calc(50% - 70px)
            //height: auto

            @media (max-width: 768px)
                margin: 0 10px 
                width: calc(50% - 20px)
                max-width: 150px

    h2 
        margin: 8px 0 10px
        font-family: $font-special 
        font-weight: 400
        text-transform: uppercase
        font-size: 60px
        line-height: 70px

        @media (max-width: 768px)
            margin-bottom: 18px
            font-size: 50px
            line-height: 60px

            img 
                width: 37px
                height: 48px

        img 
            display: inline-block
            vertical-align: middle

    p 
        margin: 0
        font-size: 17px
        line-height: 24px
        opacity: 0.7

    &__link
        color: inherit
        margin-left: 124px
        font-size: 17px
        line-height: 19px
        border-bottom: 1px solid #fff
        opacity: 0.7

        @media (max-width: 768px)
            display: none

    ol 
        @include list-reset 
        margin-top: 55px
        margin-bottom: 25px
        counter-reset: li 

        @media (max-width: 768px)
            margin-top: 43px
            margin-bottom: 65px

.offer-step 
    position: relative
    margin-bottom: 46px
    padding-left: 124px

    @media (max-width: 768px)
        padding-left: 0

    &:last-child 
        margin-bottom: 0

    &::before 
        content: counter(li)
        counter-increment: li
        position: absolute
        left: 30px
        top: 0
        box-sizing: border-box
        display: flex
        flex-direction: column 
        justify-content: center 
        align-items: center
        width: 57px
        height: 57px
        font-weight: 300
        font-size: 42px
        line-height: 1
        border: 2px solid #fff
        border-radius: 50%

        @media (max-width: 768px)
            left: 0
            top: -4px

    &::after 
        content: ""
        position: absolute
        top: 63px
        left: -18px
        width: 76px
        height: 102px
        background-image: url("../images/arrow-krai.png")
        background-repeat: no-repeat
        background-size: contain

        @media (max-width: 768px)
            display: none

    &:last-child 

        &::after 
            display: none

    h3 
        margin: 0 0 12px
        padding-left: 75px
        font-family: $font-special 
        text-transform: uppercase
        font-weight: 400
        font-size: 50px
        line-height: 60px
    p
        margin: 0
        max-width: 340px
        line-height: 19px
        opacity: 1

        a 
            @include hover
            color: inherit
