.app-open
    background: #0295d4 url(../images/Milk-app.png) left -25% bottom -40% no-repeat
    background-size: 70% auto
    min-height: 100vh
    padding-top: 6.66vh
    box-sizing: border-box

    .logo
        margin: 0 auto 6.66vh
        position: static
        width: 64px
        height: 65px
        display: block

    .btn--fullwhite
        font-size: 10px
        width: 210px
        display: block
        margin: 0 auto 4.2vh

    .profile-popup__activities
        font-size: 10px
        display: block
        text-align: center