.pagination-block
    
    &__wrapper 
        position: relative
        display: flex
        padding: 20px 40px

        @media (max-width: 767px)
            flex-direction: column
            align-items: center
            padding-top: 30px
            padding-bottom: 20px

    &__btn 
        @include centerH
        justify-content: flex-start
        top: 20px
        padding-left: 14px
        padding-right: 14px
        width: 226px

        @media (max-width: 1024px)
            position: static
            transform: none 
            margin-left: auto

        @media (max-width: 767px)
            order: 1
            margin: 0

        .icon 
            margin-right: 18px

.pagination 
    display: flex 
    align-items: center
    padding: 15px 0

    @media (max-width: 767px)
        order: 2
        margin-top: 20px

    &__label 
        margin: 0 15px 0 0
        font-family: $font 
        font-size: 13px
        line-height: 20px
        color: rgba(0, 0, 0, 0.4)

        @media (max-width: 767px)
            letter-spacing: 1px

    ul 
        @include list-reset 
        display: flex 
        align-items: center
        font-family: $font 
        font-size: 13px
        line-height: 18px
        color: rgba(0, 0, 0, 0.4)

    li 
        margin: 0 1px
        width: 20px
        height: 20px
        text-align: center
        border-radius: 50% 

        &.current 
            font-weight: 900
            background-color: #185491

            a 
                color: #fff


    a 
        display: block
        padding-top: 2px
        color: rgba(0, 0, 0, 0.4)