.parmalat-about
	padding-top: 87px
	background-image: url("../images/svg/yellow_butterfly_2.svg")
	background-repeat: no-repeat
	background-size: 105px auto
	background-position: top right 61vw

	@media (max-width: 1023px)
		background-position: top right 12vw

	@media (max-width: 767px)
		background-position: bottom 34vw right 12vw

	@media (max-width: 639px)
		padding-top: 30px
		background-size: 53px auto

	&__wrapper
		display: flex
		justify-content: flex-end
		max-width: 1280px
		background-image: url("../images/parmalat/drop.png")
		background-repeat: no-repeat
		background-position: top left
		background-size: contain

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
			background-image: url("../images/parmalat/drop@2x.png")

		@media (max-width: 1280px)
			justify-content: flex-start
			padding: 0 40px 40vw
			background-size: 50% auto
			background-position: bottom center

		@media (max-width: 767px)
			padding: 0 34px 54vw
			background-size: 65% auto
			background-position: left 36% bottom

		@media (max-width: 639px)
			padding: 0 17px 54vw

	&__content
		width: 50%
		max-width: 632px
		min-height: 450px

		@media (max-width: 1280px)
			width: 100%
			max-width: 100%
			min-height: auto

		@media (max-width: 1023px)
			margin-left: 0

	&__title
		margin: 0 0 36px
		font-family: $font-rubik
		font-weight: 700
		font-size: 50px
		line-height: 1.2
		color: #3555c4
		background: -webkit-gradient(linear, left top, right top, from(#1939a5), to(#5171e3))
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent

		@media (max-width: 1023px)
			max-width: 500px

		@media (max-width: 767px)
			margin-bottom: 55px
			line-height: 1.1

		@media (max-width: 639px)
			margin-bottom: 28px
			font-size: 25px

	&__text
		max-width: 480px
		font-family: $font-rubik
		font-size: 16px
		line-height: 1.4
		color: #5d616d

		@media (max-width: 1280px)
			max-width: 100%

		@media (max-width: 1023px)
			max-width: none

		@media (max-width: 767px)
			font-size: 28px
			line-height: 36px

		@media (max-width: 639px)
			font-size: 14px
			line-height: 18px

	&__text p
		margin: 0 0 22px

		@media (max-width: 767px)
			margin-bottom: 35px

		@media (max-width: 639px)
			margin-bottom: 18px

