.parmalat-winners
	padding-top: 110px
	padding-bottom: 165px
	background-image: url("../images/svg/blue_butterfly_2.svg"), url("../images/parmalat/b-yel.png"), url("../images/parmalat/splash-l.png"), url("../images/parmalat/splash-r.png")
	background-repeat: no-repeat
	background-size: 105px auto, 149px auto, 415px auto, 380px auto
	background-position: bottom 30px right 18%, top 322px left 12.5%, top -137px left, bottom -213px right

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
		background-image: url("../images/svg/blue_butterfly_2.svg"), url("../images/parmalat/b-yel@2x.png"), url("../images/parmalat/splash-l@2x.png"), url("../images/parmalat/splash-r@2x.png")

	@media (max-width: 1280px)
		padding-top: 0
		background-size: 105px auto, 149px auto, 355px auto, 355px auto

	@media (max-width: 1023px)
		background-position: bottom 30px right 18%, top left 4.5%, top -137px left, bottom -213px right
		background-size: 105px auto, 149px auto, 300px auto, 300px auto

	@media (max-width: 767px)
		padding-top: 105px
		background-image: url("../images/svg/blue_butterfly_2.svg"), url("../images/parmalat/b-yel.png"), url("../images/parmalat/splash-r.png")
		background-position: bottom 30px right 25px, top 58px left -11px, bottom -110px right -110px
		background-size: 105px auto, 149px auto, 345px auto

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
			background-image: url("../images/svg/blue_butterfly_2.svg"), url("../images/parmalat/b-yel@2x.png"), url("../images/parmalat/splash-r@2x.png")

	@media (max-width: 639px)
		padding-top: 52px
		padding-bottom: 83px
		background-position: bottom 15px right 12px, top 29px left -5px, bottom -55px right -55px
		background-size: 52px auto, 75px auto, 172px auto

	&__title
		margin: 0 auto 50px
		max-width: 325px
		text-align: center
		font-family: $font-pn
		font-weight: 900
		font-size: 50px
		line-height: 1.2
		color: #3555c4
		background: -webkit-gradient(linear, left top, right top, from(#1939a5), to(#5171e3))
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent

		@media (max-width: 767px)
			margin-bottom: 58px

		@media (max-width: 639px)
			margin-bottom: 29px
			max-width: 162px
			font-size: 25px

	&__descr
		margin: 0 0 38px
		text-align: center
		font-family: $font-rubik
		font-weight: 500
		font-size: 24px
		line-height: 1.4

		@media (max-width: 767px)
			margin: 0 auto 32px
			max-width: 430px
			font-size: 32px
			line-height: 42px

		@media (max-width: 639px)
			margin: 0 auto 16px
			max-width: 215px
			font-size: 16px
			line-height: 21px

	&__list
		margin: 0 auto
		max-width: 300px
		height: 460px
		max-height: 460px

		@media (max-width: 767px)
			max-width: 490px
			height: 700px
			max-height: 700px

		@media (max-width: 639px)
			max-width: 245px
			height: 350px
			max-height: 350px

	&__list li
		display: flex
		align-items: center
		margin-bottom: 16px
		font-family: $font-rubik
		font-size: 16px
		line-height: 2
		color: #5d616d

		@media (max-width: 767px)
			margin-bottom: 21px
			font-size: 28px

		@media (max-width: 639px)
			margin-bottom: 10px
			font-size: 14px

	.avatar
		flex: none
		margin-right: 12px
		width: 30px
		height: 30px
		background-color: #d8d8d8
		background-image: url("../images/svg/camera-blue.svg")
		background-repeat: no-repeat
		background-size: contain
		background-position: center
		border-radius: 50%

		@media (max-width: 767px)
			margin-right: 22px
			width: 60px
			height: 60px

		@media (max-width: 639px)
			margin-right: 11px
			width: 30px
			height: 30px

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
		margin: 0 0 0 auto
		width: 4px
		background-color: #3353c3
		border-radius: 2px

		@media (max-width: 767px)
			width: 8px
			border-radius: 4px

		@media (max-width: 639px)
			width: 4px
			border-radius: 2px

	.mCSB_scrollTools .mCSB_draggerRail
		margin: 0 0 0 auto
		width: 4px
		background-color: #d7d7d7
		border-radius: 2px

		@media (max-width: 767px)
			width: 8px
			border-radius: 4px

		@media (max-width: 639px)
			width: 4px
			border-radius: 2px
