.parmalat-intro

	&__wrapper
		display: flex
		padding: 0 72px

		@media (max-width: 1280px)
			padding: 0 40px

		@media (max-width: 1023px)
			flex-direction: column

		@media (max-width: 767px)
			padding-left: 0
			padding-right: 0

	&__video
		position: relative
		flex: none
		width: calc(100% - 475px)
		cursor: pointer

		@media (max-width: 1280px)
			width: calc(100% - 435px)

		@media (max-width: 1023px)
			width: 100%

	&__video:hover .parmalat-intro__video-button:not(.hide)
		opacity: 0.5

	&__video video
		display: block
		width: 100%

	&__video-button
		@include center
		@include btn-reset
		display: flex
		justify-content: center
		align-items: center
		width: 96px
		height: 96px
		background-color: #fff
		border-radius: 50%
		box-shadow: 0 0 50px rgba(206,206,206,.75)
		z-index: 1
		pointer-events: none
		transition: opacity 0.3s ease

	&__video-button svg
		display: block
		margin-left: 4px

	&__video-button.hide
		opacity: 0

	svg
		margin: 0 auto 20px

	&__descr
		display: flex
		flex-direction: column
		align-items: flex-start
		margin-left: auto
		padding-top: 22px
		width: 400px

		@media (max-width: 1280px)
			padding-top: 0

		@media (max-width: 1023px)
			display: flex
			flex-direction: column
			align-items: center
			margin-top: 40px
			margin-right: auto
			width: 600px
			text-align: center

		@media (max-width: 767px)
			margin-top: 48px

		@media (max-width: 639px)
			margin-top: 24px
			width: 100%

	&__label
		margin-bottom: 63px
		max-width: 100%

		@media (max-width: 1280px)
			margin-bottom: 22px

		@media (max-width: 767px)
			margin-bottom: 36px

		@media (max-width: 639px)
			margin-bottom: 18px

	&__title
		margin: 0 auto 25px
		max-width: 140px
		font-family: $font-special
		font-weight: 400
		font-size: 50px
		line-height: 55px
		color: #2343B1
		text-align: center

		@media (max-width: 767px)
			margin-bottom: 27px
			max-width: 540px
			font-size: 50px
			line-height: 54px

		@media (max-width: 639px)
			margin-bottom: 14px
			max-width: 270px
			font-size: 25px
			line-height: 27px

	&__text
		margin: 0 0 32px
		max-width: 350px
		font-family: $font-rubik
		font-size: 16px
		line-height: 1.4
		color: #5d616d

		@media (max-width: 767px)
			margin-bottom: 37px
			max-width: 530px
			font-size: 28px
			line-height: 36px

		@media (max-width: 639px)
			margin-bottom: 19px
			max-width: 265px
			font-size: 14px
			line-height: 18px

	&__btn
		padding-left: 33px
		padding-right: 33px
		letter-spacing: 0.9px
		align-self: center

		@media (max-width: 767px)
			min-width: 440px
			font-family: $font-rubik
			font-size: 26px
			line-height: 82px
			border-radius: 41px
			letter-spacing: 2px

		@media (max-width: 639px)
			min-width: 220px
			font-size: 13px
			line-height: 41px
			letter-spacing: 1px
			border-radius: 20px
