.parmalat-label
	box-sizing: border-box
	padding: 11px 10px 37px
	width: 140px
	text-align: center
	font-family: $font
	font-weight: 700
	font-size: 30px
	line-height: 1.4
	color: #3353c3
	background-color: #e5bf00
	background-image: url("../images/parmalat/gift.png"), linear-gradient(to top right, #ffd900 0%, #fff700 100%)
	background-repeat: no-repeat
	background-size: 64px auto, 100% 100%
	background-position: bottom -27px center, 0 0
	border-radius: 8px

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
		background-image: url("../images/parmalat/gift@2x.png"), linear-gradient(to top right, #ffd900 0%, #fff700 100%)

	@media (max-width: 767px)
		padding-top: 16px
		padding-bottom: 57px
		width: 210px
		font-size: 45px
		background-size: 94px auto, 100% 100%
		background-position: bottom -37px center, 0 0
		
	@media (max-width: 639px)
		padding-top: 8px
		padding-bottom: 29px
		width: 105px
		font-size: 22px
		background-size: 47px auto, 100% 100%
		background-position: bottom -18px center, 0 0
