.parmalat-lead
	padding-top: 152px
	padding-bottom: 120px
	background-image: url("../images/svg/blue_butterfly.svg"), url("../images/parmalat/b-yel.png"), url("../images/parmalat/milk-glass.png")
	background-repeat: no-repeat
	background-size: 160px auto, 149px auto, contain
	background-position: bottom 23px left 53%, top 77px right 87px, top right -42px

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
		background-image: url("../images/svg/blue_butterfly.svg"), url("../images/parmalat/b-yel@2x.png"), url("../images/parmalat/milk-glass@2x.png")

	@media (max-width: 1280px)
		padding-top: 85px
		padding-bottom: 80px
		background-position: bottom 23px left 53%, top 77px right 87px, top right -100px

	@media (max-width: 1023px)
		background-position: bottom left 53%, top right 87px, top right -180px

	@media (max-width: 767px)
		padding-top: 328px
		padding-bottom: 100px
		background-image: url("../images/svg/blue_butterfly.svg"), url("../images/parmalat/b-yel.png"), url("../images/parmalat/milk-glass-m.png")
		background-position: bottom 0 right 54px, top 180px right 186px, top right
		background-size: 160px auto, 149px auto, 340px auto

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
			background-image: url("../images/svg/blue_butterfly.svg"), url("../images/parmalat/b-yel.png"), url("../images/parmalat/milk-glass-m@2x.png")

	@media (max-width: 639px)
		padding-top: 164px
		padding-bottom: 50px
		background-position: bottom 0 right 27px, top 90px right 93px, top right
		background-size: 80px auto, 75px auto, 170px auto

	&__wrapper
		box-sizing: content-box
		padding: 0 82px
		max-width: 1134px

		@media (max-width: 1280px)
			box-sizing: border-box
			padding: 0 40px
			max-width: 100%

		@media (max-width: 767px)
			padding: 0 32px

		@media (max-width: 639px)
			padding: 0 16px

	&__content
		max-width: 675px

	&__title
		margin: 0 0 35px
		font-family: $font-pn
		font-weight: 900
		font-size: 50px
		line-height: 1.2
		color: #3555c4
		background: -webkit-gradient(linear, left top, right top, from(#1939a5), to(#5171e3))
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent

		.mobile
			display: none

		@media (max-width: 767px)
			margin-bottom: 55px
			max-width: 450px
			line-height: 1.1

			.mobile
				display: block

		@media (max-width: 639px)
			margin-bottom: 28px
			max-width: 225px
			font-size: 25px

	&__text
		max-width: 440px
		font-family: $font-rubik
		font-size: 16px
		line-height: 1.4
		color: #5d616d

		@media (max-width: 767px)
			max-width: 100%
			font-size: 28px
			line-height: 36px
			letter-spacing: 0.1px

		@media (max-width: 639px)
			font-size: 14px
			line-height: 18px

	&__text p
		margin: 0 0 22px

		@media (max-width: 767px)
			margin-bottom: 35px

		@media (max-width: 639px)
			margin-bottom: 18px
