.parmalat-products
	margin-bottom: 145px
	text-align: center
	overflow: hidden

	@media (max-width: 1023px)
		margin-bottom: 80px

	@media (max-width: 767px)
		margin-bottom: 67px

	@media (max-width: 639px)
		margin-bottom: 34px

	&__title
		margin: 0 auto 43px
		max-width: 805px
		font-family: $font-pn
		font-weight: 700
		font-size: 50px
		line-height: 1.2
		color: #3555c4
		letter-spacing: 0.5px
		background: -webkit-gradient(linear, left top, right top, from(#1939a5), to(#5171e3))
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent

		@media (max-width: 767px)
			margin-bottom: 70px
			padding: 0 30px
			line-height: 1.1

		@media (max-width: 639px)
			margin-bottom: 20px
			padding: 0 15px
			max-width: 400px
			font-size: 25px
			letter-spacing: 0.25px

	.swiper-wrapper
		justify-content: center

		@media (max-width: 767px)
			justify-content: flex-start

	&__slider
		overflow: visible

		@media (max-width: 767px)
			position: relative
			padding-bottom: 80px

		@media (max-width: 639px)
			padding-bottom: 40px

	.swiper-pagination
		bottom: 0
		left: 0
		right: 0
		display: flex
		justify-content: center
		width: 100%

	.swiper-pagination-bullet
		position: relative
		box-sizing: border-box
		margin: 0 11px
		width: 24px
		height: 24px
		border-radius: 50%
		opacity: 1
		background-image: linear-gradient(to right, #1939a5 0%, #5171e3 100%)

		@media (max-width: 639px)
			margin: 0 6px
			width: 12px
			height: 12px

	.swiper-pagination-bullet::after
		content: ""
		@include center
		width: 18px
		height: 18px
		background-color: #fff
		border-radius: 50%
		transition: opacity 0.3s ease

		@media (max-width: 639px)
			width: 8px
			height: 8px

	.swiper-pagination-bullet-active::after
		opacity: 0

	&__slide
		width: 33.333333%
		max-width: 398px

		@media (max-width: 767px)
			display: flex
			flex-direction: column
			align-items: center
			width: auto
			max-width: none

	&__controls
		display: none

		@media (max-width: 767px)
			display: block

	&__img
		position: relative
		max-height: 435px

		@media (max-width: 767px)
			height: 465px
			max-height: none

		@media (max-width: 639px)
			height: 260px

	&__img img

		@media (max-width: 767px)
			display: block
			margin: 0 auto
			transform: scale(1.2)

		@media (max-width: 639px)
			transform: scale(0.6)
			transform-origin: top center

	&__label
		position: absolute
		top: 250px
		right: 32px

		@media (max-width: 767px)
			top: 220px
			right: -50px

		@media (max-width: 639px)
			top: 110px
			right: 30px

	&__subtitle
		margin: 0
		font-family: $font-rubik
		font-weight: 500
		font-size: 24px
		line-height: 1.2

		@media (max-width: 767px)
			font-size: 36px
			line-height: 1

		@media (max-width: 639px)
			font-size: 18px

	&__prev,
	&__next
		@include btn-reset
		@include centerV
		margin-top: -67px
		width: 74px
		height: 74px
		z-index: 1

		@media (max-width: 639px)
			margin-top: -34px
			width: 37px
			height: 37px

		svg
			@include center
			display: block
			width: 100%
			height: 100%

	&__prev
		left: 16px

		@media (max-width: 639px)
			left: 8px

		svg
			transform: translate(-50%, -50%) scale(-1,1)

	&__next
		right: 16px

		@media (max-width: 639px)
			right: 8px
