.parmalat-promo
	padding-top: 137px

	@media (max-width: 1280px)
		padding-top: 105px

	@media (max-width: 767px)
		padding-top: 60px

	&__intro
		margin-bottom: 38px

		@media (max-width: 767px)
			position: relative
			margin-bottom: 0
			z-index: 1

	&__lead
		margin-bottom: 49px

		@media (max-width: 767px)
			margin-top: -100px

		@media (max-width: 639px)
			margin-top: -50px
			margin-bottom: 25px

	&__grid
		padding-top: 10px

		@media (max-width: 767px)
			margin-top: -36px

		@media (max-width: 639px)
			margin-top: -18px

	&__title
		margin: 0 0 60px
		font-family: $font-rubik
		font-weight: 700
		font-size: 50px
		line-height: 1.2
		color: #3555c4
		background: -webkit-gradient(linear, left top, right top, from(#1939a5), to(#5171e3))
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent

		@media (max-width: 767px)
			margin-bottom: 42px

		@media (max-width: 639px)
			margin-bottom: 21px
			font-size: 25px
