.points-section
    
    &__inner 
        display: flex 
        flex-wrap: wrap

.points-block
    box-sizing: border-box
    display: flex
    align-items: flex-start
    padding: 24px 40px
    width: 50%
    min-width: 50%  
    background-color: $d-blue
    color: #fff

    @media (max-width: 1024px)
        padding: 20px 30px

    @media (max-width: 767px)
        flex-direction: column
        width: 100%
        min-width: 100%

    &._full
        width: 100%

        .points-block__points
            margin-left: 20px

            @media (max-width: 767px)
                margin-left: auto

    &__icons
        svg:first-child
            margin-right: 42px

            @media (max-width: 1280px)
                margin-right: 20px

            @media (max-width: 1024px)
                margin-right: 0

        @media (max-width: 1024px)
            width: 237px

        @media (max-width: 767px)
            margin-top: 20px

    &__text 
        margin-right: auto
        max-width: 320px
        min-height: 91px

    &__title 
        margin: 0 0 7px 0
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 36px
        line-height: 42px

        @media (max-width: 1024px)
            font-size: 32px

    &__descr
        margin: 0
        font-size: 15px
        line-height: 21px

    &__points
        margin: 0
        margin-left: auto
        padding-top: 4px
        padding-bottom: 8px
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 60px
        line-height: 80px

        @media (max-width: 1024px)
            font-size: 54px
            line-height: 60px

    &._l-blue
        background-color: $blue

    &._image 
        position: relative
        overflow: hidden

        &>*
            position: relative
            z-index: 2

        .points-block__bg 
            position: absolute
            z-index: 0
            transition: transform 0.3s ease

        &:before 
            content: ""
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            background-color: rgba(0, 0, 0, 0.5)
            z-index: 1
            transition: background-color 0.3s ease

        &:hover 

            .points-block__bg
                transform: scale(1.2, 1.2)

            &:before 
                background-color: rgba(0, 0, 0, 0.3)

    &__bg 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background-image: url("../images/people.jpg")
        background-repeat: no-repeat
        background-size: cover 
        background-position: center