.poll-block
    margin-top: 40px

    &__question
        margin: 0
        font-size: 15px
        line-height: 17px

    &__answers 
        display: flex 
        justify-content: space-between
        flex-wrap: wrap
        margin-top: 40px

        &._vertical 
            flex-direction: column 
            justify-content: flex-start
            margin-top: 20px
            margin-bottom: -20px

            .poll-block__label
                width: 100%
                text-transform: initial 
                font-size: 13px

    &__image 
        margin-top: 20px

        img 
            display: block
            margin: 0 auto
            pointer-events: none

    &__selection
        display: flex 
        flex-wrap: wrap 
        justify-content: space-between
        margin-top: 10px
        margin-bottom: 40px

    &__selection-label
        box-sizing: border-box
        margin-bottom: 4px
        padding: 10px
        width: calc(25% - 3px)
        flex-grow: 0
        flex-shrink: 1
        background-color: #fbfbfb
        cursor: pointer
        transition: background-color 0.3s ease

        @media (max-width: 767px)
            width: calc(50% - 3px)

    &__selection-img
        margin-bottom: 5px
        width: 100%

        img 
            display: block
            width: 100%
            height: auto

    &__selection-text
        display: block
        margin: 0
        font-family: $font
        font-weight: 400
        text-align: center
        font-size: 10px
        line-height: 11px
        color: $d-blue
        letter-spacing: 0.9px

    input:checked + .poll-block__selection-label
        background-color: #ccc

    &__radio
        position: absolute
        top: 0
        left: 0
        opacity: 0

    &__label
        display: block
        margin-bottom: 20px
        width: calc(50% - 10px)
        min-width: calc(50% - 10px)
        transition: color 0.3s ease, background-color 0.3s ease

        &:hover 
            opacity: 1

    input:checked + .poll-block__label
        color: #fff
        background-color: $d-blue

    &__btn-row
        display: flex 
        justify-content: center
        margin-top: 20px

    &__btn  
        min-width: 200px

    &__select 
        margin-top: 20px

    &__answer-row
        margin-top: 24px
        margin-bottom: 40px

    &__free-label
        display: flex
        width: 100%
        font-size: 15px
        line-height: 17px
        color: rgba(0, 0, 0, 0.6)

        span 
            white-space: nowrap

    &__free-field
        @include field-reset
        flex-grow: 0 
        flex-shrink: 1
        box-sizing: border-box
        display: inline-block
        vertical-align: top
        margin: 0 10px
        padding: 0 5px
        width: 30px
        min-width: 30px
        color: #000
        border-bottom: 1px solid $d-blue

    &__free-field,
    .input-hidden 
        font-size: 15px
        line-height: 17px

    .input-hidden
        position: absolute
        top: -1000px
        left: -1000px
        visibility: hidden
        white-space: nowrap

.select2-container
    display: block
    width: 100%

    *

        &:focus 
            outline: none

.select2-container--default .select2-selection--single
    border-radius: 0
    height: 30px

.select2-search--dropdown
    padding: 0

.select2-container--default .select2-search--dropdown .select2-search__field
    padding: 0 30px
    font-size: 15px
    line-height: 30px
    height: 30px
    background-image: url("../images/search-icon.png")
    background-repeat: no-repeat 
    background-size: 12px 12px
    background-position: left 10px top 9px
    border: none
    border-bottom: 1px solid #ccc
    border-radius: 0

    &:focus 
            outline: none

.select2-dropdown
    background-color: #f6f6f6
    border: 1px solid #ccc 
    border-radius: 0

.select2-container--default .select2-results__option[aria-selected=true]
    background-color: #f6f6f6

.select2-container--default .select2-selection--single .select2-selection__arrow
    width: 30px

.select2-container--default .select2-selection--single .select2-selection__arrow b
    width: 0
    height: 0
    border-style: solid
    border-width: 8px 5px 0 5px
    border-color: $blue $transparent $transparent $transparent

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
    position: relative
    top: -8px
    width: 0
    height: 0
    border-style: solid
    border-width: 0 5px 8px 5px
    border-color: $transparent $transparent $blue $transparent

.select2-results__option
    padding: 10px
    line-height: 20px
    color: rgba(0, 0, 0, 0.8)
    background-color: $transparent
    transition: color 0.3s ease

.select2-container--default .select2-results__option--highlighted[aria-selected]
    color: rgba(0, 0, 0, 0.6)
    background-color: #f6f6f6

.select2-container--default .select2-results > .select2-results__options
    max-height: 230px

