.post-previews
    display: flex 
    flex-direction: column 
    align-items: flex-start
    padding: 60px 40px

    @media (max-width: 1439px)
        padding-left: 20px
        padding-right: 20px
    
    &__title 
        margin: 0 0 21px 0
        padding: 6px 16px 4px 16px
        text-transform: uppercase
        text-align: center
        font-family: $font-alt 
        font-weight: 700
        font-size: 10px
        line-height: 20px
        letter-spacing: 1.2px
        color: #fff 
        background-color: $d-blue
        border-radius: 15px

.post-preview
    flex: none
    display: block
    padding: 20px 0
    width: 100%
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)

    &__title 
        @include hover
        margin: 0 0 20px 0
        text-transform: uppercase
        font-family: $font-special 
        font-weight: 400
        font-size: 40px
        line-height: 40px
        color: $d-blue

    &__tag 
        display: inline-block
        vertical-align: top
        margin: 0
        padding: 5px 16px 3px 16px
        text-transform: uppercase
        text-align: center
        font-family: $font-alt 
        font-weight: 700
        font-size: 10px
        line-height: 20px
        letter-spacing: 1.2px
        color: $d-blue 
        border: 1px solid $d-blue
        border-radius: 15px