.n-preloader-block
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex 
    justify-content: center 
    align-items: center
    background-color: #1996d2
    z-index: 99999

.n-preloader
    display: flex 
    flex-direction: column 
    align-items: center

    &__img 
        position: relative
        margin-bottom: 30px
        max-width: 22vh
        max-height: 50vh

        svg
            display: block
            height: 100%
            width: 100%

    &__text
        margin: 0
        text-transform: uppercase
        font-family: $font-special
        font-size: 48px
        line-height: 60px
        color: #fff

.n-preloader-icon
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: block
    opacity: 0

    &.active
        position: static
        opacity: 1
