.premium-card
	flex-grow: 1
	padding: 84px 20px 40px
	background-color: #3479C8

	@media (max-width: 767px)
		padding-top: 35px

	&__title
		margin: 0 0 25px
		text-transform: uppercase
		font-family: $font-special
		font-weight: 400
		font-size: 64px
		line-height: 1
		letter-spacing: 2px

		@media (max-width: 1279px)
			font-size: 56px

		@media (max-width: 767px)
			margin-bottom: 15px
			font-size: 48px
			letter-spacing: 1px

	&__title br
		display: none

		@media (max-width: 767px)
			display: block

	&__subtitle
		margin: 0 0 40px
		text-transform: uppercase
		font-weight: 700
		font-family: $font
		font-size: 20px
		line-height: 1
		letter-spacing: 1px

		@media (max-width: 1279px)
			font-size: 16px

		@media (max-width: 767px)
			margin-bottom: 17px
			font-size: 14px
			letter-spacing: 0

	&__body
		min-height: 192px

		@media (max-width: 767px)
			display: flex
			flex-direction: column
			align-items: center
			min-height: 173px

	&__table
		display: flex
		margin: 0 auto
		width: 100%
		text-align: left
		text-transform: uppercase
		font-family: $font
		font-size: 20px
		line-height: 1

		@media (max-width: 1279px)
			font-size: 16px

		@media (max-width: 1023px)
			flex-wrap: wrap
			justify-content: center

		@media (max-width: 767px)
			margin-left: 5px
			margin-right: 5px
			width: calc(100% - 10px)
			font-size: 12px
			display: block

	&__item
		width: 33.33%
		text-align: center

		@media (max-width: 1023px)
			width: 50%

		@media (max-width: 767px)
			width: 100%
			margin-bottom: 30px

		&:first-child
			.premium-card__item-title
				max-width: none

		&:last-child
			@media (max-width: 1023px)
				margin-top: 20px

		&-title
			font-size: 15px
			line-height: 21px
			font-weight: 300
			text-align: center
			max-width: 115px
			margin: 0 auto 10px

			@media (max-width: 1160px)
				min-height: 63px

			@media (max-width: 1023px)
				font-size: 12px
				line-height: 18px
				min-height: 0

			@media (max-width: 768px)
				min-height: 0

			br
				@media (max-width: 1349px)
					display: none

				@media (max-width: 1023px)
					display: inline

		&-img
			display: block
			margin: 0 auto 15px

		&-link, &-text
			font-size: 12px
			line-height: 1
			color: #fff
			vertical-align: top

		&-link
			text-decoration: underline

			&:hover
				text-decoration: none

	&__list
		@include list-reset
		display: flex
		flex-wrap: wrap
		margin: 73px auto 0
		padding-left: 8px
		max-width: 618px
		text-align: left

		@media (max-width: 767px)
			margin-top: 0
			padding-left: 0
			width: calc(100% + 10px)

	&__list li
		display: flex
		flex-direction: column
		margin: 0 19px 30px 0
		width: calc(25% - 15px)
		color: #fff
		text-transform: uppercase
		font-family: $font
		font-weight: 700
		font-size: 14px
		line-height: 1

		@media (max-width: 1279px)
			font-size: 11px

		@media (max-width: 1023px)
			width: calc(50% - 10px)

		@media (max-width: 767px)
			margin-bottom: 16px
			font-size: 14px

	&__list li:nth-child(4n)
		margin-right: 0

	&__list li:nth-child(even)

		@media (max-width: 1023px)
			margin-right: 0

	&__list a
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		box-sizing: border-box
		margin-bottom: 5px
		padding: 11px
		height: 100px
		background-color: #fff
		border-radius: 16px
		box-shadow: -9px 27px 0 0 #EFBA01
		transition: all 0.3s ease

		@media (max-width: 767px)
			padding: 5px
			height: 94px

	&__list a:hover
		box-shadow: -12px 35px 0 0 #EFBA01

	&__list img
		display: block
		max-width: 100%
		height: auto

	&__list span
		padding-left: 3px

		@media (max-width: 767px)
			padding-left: 0

	&--light
		color: #3479C8
		background-color: #F4F4F4
