.prizes-slider
	margin-bottom: 58px

	@media (max-width: 767px)
		margin-bottom: 40px

.prizes-slide
	flex: none
	display: flex
	flex-direction: column
	align-items: center
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	padding: 80px 30px 34px
	width: 33.333333%
	height: auto
	color: $d-blue
	background-color: #f4f4f4

	@media (max-width: 1023px) and (min-width: 768px)
		padding: 50px 20px 30px

	@media (max-width: 767px)
		padding-top: 60px
		padding-bottom: 47px

	&._blue
		color: #fff
		background-color: $blue

	&__title
		margin: 0 0 30px
		min-height: 180px
		text-transform: uppercase
		text-align: center
		font-family: $font-special
		font-weight: 400
		font-size: 42px
		line-height: 40px

		@media (max-width: 1023px) and (min-width: 768px)
			margin-bottom: 0
			min-height: 212px
			font-size: 32px
			line-height: 38px

		@media (max-width: 767px)
			font-size: 36px
			line-height: 40px

		span
			display: block
			margin-bottom: 30px

			@media (max-width: 767px)
				margin-bottom: 20px

	&__info
		@include row-component
		margin-top: 10px

		&-text
			padding-top: 10px

		img
			flex: none
			display: block
			margin-right: 22px

			@media (max-width: 1023px) and (min-width: 768px)
				margin-right: 12px
				width: 40px
				height: auto

		span
			display: block
			margin-bottom: 5px
			text-transform: uppercase
			font-size: 13px
			line-height: 18px

			@media (max-width: 1023px) and (min-width: 768px)
				font-size: 10px
				line-height: 12px

		b
			@include row-component
			font-family: $font
			font-size: 42px
			line-height: 1

			@media (max-width: 1023px) and (min-width: 768px)
				font-size: 36px

			svg
				display: block
				margin-left: 3px
				margin-bottom: 7px
				width: 28px
				height: 30px
				fill: #60cfff

				@media (max-width: 1023px) and (min-width: 768px)
					margin-bottom: 5px
					width: 24px

	&__link

		@media (max-width: 1023px) and (min-width: 768px)
			margin-top: auto

		svg
			display: block

			@media (max-width: 1023px) and (min-width: 768px)
				max-width: 100%
