.prize-block
    display: flex 
    flex-direction: column 
    align-items: center
    position: relative
    transform: translateZ(0)

    &__title 
        margin: 0 0 10px 0
        text-transform: uppercase
        text-align: center
        font-family: $font-special
        font-weight: 400
        font-size: 36px
        line-height: 40px

    &__subtitle 
        margin: 0 0 10px 0
        text-transform: uppercase
        text-align: center
        font-family: $font-alt 
        font-weight: 400
        font-size: 13px
        line-height: 20px
        letter-spacing: 1.2px

    &__sum 
        margin: 0 0 30px 0
        text-transform: uppercase
        text-align: center
        font-family: $font-special
        font-weight: 400
        font-size: 36px
        line-height: 40px

    &__options 
        font-size: 0
        width: 100%

    &__option
        ///@include hover
        position: relative
        display: inline-block
        vertical-align: top
        margin-right: 30px
        margin-bottom: 30px
        width: calc(33.333333% - 20px)
        box-sizing: border-box
        border: 5px solid #fff
        transition: border-color .2s ease-in-out

        @media (max-width: 767px)
            margin-right: 20px
            margin-bottom: 20px
            width: calc(50% - 10px)

        img
            transform: translateZ(0)
            transition: opacity .2s ease-in-out

        &:hover
            border-color: #f8bf1c

        &:nth-child(3n + 3)
            margin-right: 0

            @media (max-width: 767px)
                margin-right: 20px

        &:nth-child(even) 

            @media (max-width: 767px)
                margin-right: 0

        img 
            display: block
            max-width: 98%  
            height: auto

    &__option-wrapper 
        position: relative
        padding-top: 100%

    &__option-inner
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        display: flex 
        justify-content: center 
        align-items: center 
        background-color: #fff

    &__note 
        margin: 0
        max-width: 300px
        text-align: center
        font-size: 15px
        line-height: 20px

    &__back
        position: absolute
        top: 0
        left: 40px
        width: 10px
        height: 20px
        z-index: 3

        @media (max-width: 767px)
            left: 0

        &:after, &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 2px
            height: 12px
            background-color: #fff
            transform: rotate(45deg)
            z-index: 2

        &:after
            top: 8px
            transform: rotate(-45deg)

    &__info
        position: absolute
        width: 500px
        min-height: 100%
        padding-left: 40px
        padding-right: 40px
        box-sizing: border-box
        top: 0
        display: flex
        flex-direction: column
        background-color: #185491
        opacity: 0
        z-index: -1
        transition: all .3s ease-in-out

        @media (max-width: 767px)
            width: 100%
            padding: 0

        &._show
            opacity: 1
            z-index: 1

        .prize-block__title
            margin-bottom: 20px
            line-height: 0.8

            @media (max-width: 767px)
                line-height: 1

        .prize-block__note
            max-width: none
            text-align: left
            padding-bottom: 25px

            &:last-child
                margin-bottom: 0

        .btn--milky
            max-width: 200px
            align-self: center

    &__big-logo
        background-color: #fff
        min-height: 180px
        display: flex
        align-items: center
        justify-content: center
        padding: 20px 0
        box-sizing: border-box
        margin-bottom: 20px