.promo-social
    display: flex 
    justify-content: center
    margin-top: -34px

.promo-link
    position: relative
    @include hover
    margin: 33px
    margin-top: 0
    width: 70px
    min-width: 70px
    height: 70px
    border: 2px solid $blue
    border-radius: 11px

    @media (max-width: 700px)
        width: 50px
        min-width: 50px
        height: 50px
        margin: 15px

    svg
        @include center 
        display: block
        fill: $blue