.promo-text
    padding-top: 140px
    padding-bottom: 50px
    //background-image: url("../images/milk-splash.png")
    background-repeat: no-repeat 
    background-position: bottom left
    background-size: 42%

    &._ver2 
        padding-bottom: 160px
        //background-image: url("../images/milk-splash2.png")
        background-position: bottom right
        background-size: 51%
        overflow-x: hidden

        @media (max-width: 1300px)
            padding-bottom: 70px

        @media (max-width: 690px)
            overflow: hidden

    @media (max-width: 1440px)
        padding-top: 100px
        padding-bottom: 40px

    @media (max-width: 1200px)
        padding-top: 80px
        padding-bottom: 30px

    @media (max-width: 1000px)
        padding-top: 60px
        padding-bottom: 20px

    @media (max-width: 900px)
        padding-top: 40px

    @media (max-width: 500px)
        padding-top: 20px

    &.ultra
        padding-top: 90px

        @media (max-width: 800px)
            padding-top: 40px

        .video-anim._milk
            width: 100%
            height: auto
            position: absolute
            bottom: 0
            left: 0
            z-index: 0
            margin-bottom: 0

    &__wrapper 
        margin: 0 auto
        padding-left: 177px
        padding-right: 177px
        max-width: 1568px
        position: relative
        z-index: 1

        @media (max-width: 1440px)
            padding-left: 129px
            padding-right: 129px
            max-width: 1144px

        @media (max-width: 1200px)
            padding-left: 80px
            padding-right: 80px

        @media (max-width: 1000px)
            padding-left: 60px
            padding-right: 60px

        @media (max-width: 900px)
            padding-left: 40px
            padding-right: 40px

        @media (max-width: 500px)
            padding-left: 20px
            padding-right: 20px

    &__row 
        display: flex

        @media (max-width: 600px)
            flex-direction: column

        &._right 
            justify-content: flex-end

        &._center 
            flex-direction: column 
            align-items: center

        &._image 
            display: block
            margin-bottom: 131px

            @media (max-width: 1300px)
                margin-bottom: 70px

            .ultra &
                margin-bottom: 102px

                @media (max-width: 1300px)
                    margin-bottom: 0

        &._splash
            position: relative
            margin-bottom: 110px

            @media (max-width: 1300px)
                margin-bottom: 40px

            &>*
                position: relative

            &:before 
                content: ""
                @include centerV
                left: -177px
                width: 86%
                height: 1600px
                background-image: url("../images/milk-splash3.png")
                background-repeat: no-repeat
                background-position: center left 
                background-size: contain
                pointer-events: none

        &._splash-2
            position: relative
            padding-bottom: 65%
            box-sizing: content-box

            &:before
                content: ""
                position: absolute
                left: 1%
                bottom: 1%
                width: 98%
                height: 100%
                background-image: url("../images/splash-2.png")
                background-repeat: no-repeat
                background-position: center bottom
                background-size: contain
                pointer-events: none

        &._splash-3
            position: relative

            &:before
                content: ""
                position: absolute
                right: -177px
                bottom: -110%
                width: 98%
                height: 100%
                padding-bottom: 55%
                background-image: url("../images/milk-splash2.png")
                background-repeat: no-repeat
                background-position: right bottom
                background-size: contain
                pointer-events: none

    &__col 
        position: relative
        width: 50%
        min-width: 50%

        @media (max-width: 600px)
            width: 100%
            min-width: 100%

    &__block 
        margin-bottom: 57px
        background-image: url("../images/milk-splash.jpg")
        background-repeat: no-repeat
        background-size: contain
        background-position: center 

    img
        display: block
        margin-bottom: 100px
        width: 100%
        height: auto

        @media (max-width: 1440px)
            margin-bottom: 82px

        @media (max-width: 1200px)
            margin-bottom: 60px

        @media (max-width: 1000px)
            margin-bottom: 40px

    .video-anim
        display: block
        width: 100%
        height: auto

        &._mb60
            @media (max-width: 800px)
                margin-top: 25px

        @media (max-width: 700px)
            margin-bottom: 25px

    &__section
        margin-bottom: 100px
        padding-left: 40px
        font-family: $font-promo 

        @media (max-width: 1440px)
            margin-top: -6px
            margin-bottom: 82px
            padding-left: 35px

        @media (max-width: 1200px)
            margin-bottom: 60px
            padding-left: 20px

        @media (max-width: 1000px)
            margin-bottom: 40px

        @media (max-width: 600px)
            padding-left: 0 

    &__section-title
        margin: 0 0 50px 0
        font-weight: 700
        font-size: 51.40px
        line-height: 60.26px
        color: #11a0ff

        @media (max-width: 1440px)
            margin-bottom: 40px
            font-size: 37.48px
            line-height: 43.93px

        @media (max-width: 1000px)
            margin-bottom: 22px
            font-size: 34px
            line-height: 40px

        @media (max-width: 900px)
            margin-bottom: 10px 
            font-size: 32px
            line-height: 36px

        @media (max-width: 800px)
            font-size: 30px
            line-height: 30px

        @media (max-width: 700px)
            font-size: 26px
            line-height: 26px

    &__section-descr
        margin: 0
        max-width: 740px
        font-weight: 300
        font-size: 31.25px
        line-height: 40.8px
        letter-spacing: 0.5px

        &._first-line
            margin-bottom: 50px

            @media (max-width: 800px)
                margin-bottom: 40px

        @media (max-width: 1440px)
            font-size: 22.78px
            line-height: 29.740px
            letter-spacing: 0.3px

        @media (max-width: 1000px)
            font-size: 18px
            line-height: 22px

        @media (max-width: 900px)
            font-size: 17px

        @media (max-width: 800px)
            font-size: 16px

    &__lead 
        position: relative
        left: 44px
        margin: 0
        font-weight: 700
        font-size: 35.42px
        line-height: 41.67px   

        &:first-child 
            margin-top: -40px

            @media (max-width: 1300px)
                margin-top: 0

            @media (max-width: 700px)
                margin-top: 30px

        &:last-child
            margin-bottom: 105px

            @media (max-width: 1200px)
                margin-bottom: 50px

        @media (max-width: 1440px)
            font-size: 32px
            line-height: 40px

        @media (max-width: 1300px)
            font-size: 28px
            line-height: 36px

        @media (max-width: 1200px)
            left: 0
            font-size: 26px
            line-height: 32px

        @media (max-width: 900px)
            font-size: 22px
            line-height: 28px

        @media (max-width: 700px)
            font-size: 18px
            line-height: 24px

    &__slogan 
        margin: 87px 0 0 0
        font-weight: 700
        font-size: 35.42px
        line-height: 40.8px

        @media (max-width: 1440px)
            font-size: 32px
            line-height: 40px

        @media (max-width: 1300px)
            font-size: 28px
            line-height: 36px

        @media (max-width: 1200px)
            margin-top: 40px
            font-size: 26px
            line-height: 32px

        @media (max-width: 900px)
            font-size: 22px
            line-height: 28px

        @media (max-width: 1300px)
            font-size: 18px
            line-height: 24px

        .ultra &
            max-width: 1120px
            font-size: 47px
            color: #3e3d3d
            text-align: center

            @media (max-width: 1440px)
                font-size: 32px
                max-width: 760px

            @media (max-width: 800px)
                font-size: 20px
                line-height: 24px
                padding-bottom: 20px

    &__tile 
        position: relative
        margin-bottom: 60px
        margin-top: -28px
        padding: 45px 60px
        color: #fff
        background-color: $blue

        @media (max-width: 700px)
            padding: 35px 30px 25px

        &:before 
            content: ""
            @include centerH
            top: -20px
            margin-left: -18px
            width: 36px
            height: 36px
            background-color: #fff 
            transform: rotate(45deg)

        p
            margin: 0
            font-size: 31.25px
            line-height: 40.8px

            @media (max-width: 1600px)
                font-size: 22.78px

            @media (max-width: 700px)
                font-size: 18px
                line-height: 25px

    &__list 
        margin-top: 35px
        margin-bottom: 40px
        font-size: 31.25px
        line-height: 40.8px

        @media (max-width: 700px)
            font-size: 20px
            line-height: 26px

        ul 
            @include list-reset 

        li 
            position: relative
            padding-left: 32px

            &:before 
                content: ""
                position: absolute
                top: 16px
                left: 0
                width: 6px
                height: 6px
                background-color: $textColor 
                border-radius: 50%

    &__icon-list
        list-style-type: none
        padding-left: 510px
        margin-bottom: 70px

        @media (max-width: 1600px)
            padding-left: 300px
            margin-bottom: 45px

        @media (max-width: 800px)
            padding-left: 80px

    &__icon-list-item
        height: 116px
        position: relative
        font-size: 31px
        line-height: 40px
        color: #3e3d3d
        margin-bottom: 12px
        display: flex
        flex-direction: column
        justify-content: center

        @media (max-width: 1600px)
            font-size: 22.78px

        @media (max-width: 800px)
            font-size: 16px
            line-height: 24px

        &:last-child
            margin-bottom: 0

        &:before
            content: ''
            width: 116px
            height: 116px
            position: absolute
            left: -170px
            top: 0
            background-repeat: no-repeat
            background-position: 0 0

            @media (max-width: 800px)
                width: 60px
                height: 60px
                background-size: contain
                left: -80px
                top: 50%
                margin-top: -30px

        &._1:before
            background-image: url("../images/ultra-icon-1.png")

        &._2:before
            background-image: url("../images/ultra-icon-2.png")

        &._3:before
            background-image: url("../images/ultra-icon-3.png")

        &._4:before
            background-image: url("../images/ultra-icon-4.png")

    &__list-label 
        margin: 0

.video-anim._sky
    width: 100%
    height: auto
    position: absolute
    top: 0
    left: 0
    z-index: 0

    @media (max-width: 1280px)
        display: none

img.promo-text__icon 
    display: block
    margin: 0 auto 
    margin-top: 25px
    width: 34%
    height: auto

    .ultra &
        width: 27.5%

.pack
    .promo-text__row._center
        .promo-text__col
            @media (max-width: 1600px)
                width: 65%
                min-width: 65%

            @media (max-width: 700px)
                width: 100%

    img, .promo-text__section
        margin-bottom: 55px

    ._mod-1
        margin-top: -6px

    ._mod-2
        margin-bottom: 42px

    ._mod-3
        margin-bottom: 32px

    ._mod-4
        margin-bottom: 71px

    ._mod-5
        margin-bottom: 107px

.ultra
    .promo-text__row._center
        .promo-text__col
            @media (max-width: 1600px)
                width: 65%
                min-width: 65%

            @media (max-width: 800px)
                width: 100%
                max-width: 100%

    ._mod-5
        .promo-text__section-descr
            margin-bottom: 73px

    ._mod-6.promo-text__section-title
        margin: 0 0 85px 0

        @media (max-width: 800px)
            font-size: 24px
            line-height: 30px

    ._mod-7
        .promo-text__slogan
            margin-top: 0
            margin-bottom: 213px

            @media (max-width: 1440px)
                margin-bottom: 130px