.profile-popup
    padding: 120px 60px 10px 60px

    @media (max-width: 1439px)
        display: flex 
        flex-direction: column
        padding: 50px 20px 10px 20px

        @media (max-width: 767px)
            padding: 80px 40px 10px 40px

    &.opened
        @media (max-width: 767px)
            min-height: 100vh

    &__tools 
        position: absolute
        top: 0
        right: 100%
        display: flex 
        flex-direction: column

        @media (max-width: 1439px)
            left: 0
            right: auto

        @media (max-width: 767px)
            right: 100%
            left: auto

        a 
            @include hover
            margin-bottom: 10px

        svg
            display: block

    &__accounts    
        position: absolute
        top: 0
        left: 100%
        display: flex 
        flex-direction: column

        @media (max-width: 1439px)
            right: 0
            left: auto

        @media (max-width: 767px)
            left: 100%
            right: auto

        a 
            margin-bottom: 8px

    &__header 
        display: flex 
        flex-direction: column 
        align-items: center
        padding-bottom: 40px

        @media (max-width: 1439px)
            padding-bottom: 20px

    &__body 
        display: flex 
        flex-direction: column

        @media (max-width: 1439px)
            margin-top: 10px

    &__image 
        margin-bottom: 10px
        width: 120px
        height: 120px
        min-height: 120px
        background-color: #ccc 
        background-repeat: no-repeat
        background-size: cover
        border-radius: 50%  
        overflow: hidden

    &__icon 
        margin-bottom: 32px

        svg
            display: block

    &__title 
        margin: 0 0 28px 0
        text-transform: uppercase
        text-align: center
        font-family: $font-special
        font-weight: 400
        font-size: 50px
        line-height: 60px 
        color: #fff
        letter-spacing: 3.2px

    &__note 
        margin: 0
        text-align: center
        text-transform: uppercase
        font-family: $font 
        font-weight: 400
        font-size: 13px
        line-height: 20px
        color: #fff

        .cur 
            position: relative
            top: -2px
            display: inline-block
            vertical-align: middle
            box-sizing: border-box
            padding-left: 1px
            width: 13px
            height: 13px
            text-align: center
            font-weight: 900
            font-size: 10px
            line-height: 14px
            color: $yellow
            background-color: #fff 
            border-radius: 50%

    &__name 
        margin: 0 0 10px 0
        max-width: 100%
        text-align: center
        font-family: $font 
        font-weight: 900
        font-size: 20px
        line-height: 20px
        letter-spacing: 1.7px 

        a 
            color: #fff

    &__row 
        @include row-component
        justify-content: center
        margin-bottom: 20px
        width: 100%
        max-width: 100%

    &__button-row 
        @include row-component
        position: relative
        width: 117%

        @media (max-width: 1439px)
            flex-direction: column
            width: 100%

    &__logout 
        @include centerV
        right: 0
        @include hover
        margin-left: auto
        font-family: $font 
        font-weight: 400
        font-size: 13px
        line-height: 20px
        color: #fff 
        letter-spacing: 1.1px

        @media (max-width: 1439px)
            position: static
            transform: none
            margin-left: 0
            margin-top: 20px

        @media (max-width: 767px)
            position: absolute
            right: -20px
            top: 15px
            margin-top: 0

        span 
            border-bottom: 1px solid #fff

    &__points-btn 
        margin: 0 auto
        min-width: 160px

        @media (max-width: 767px)
            padding-top: 10px
            padding-bottom: 10px
            min-height: 50px
            line-height: 28px
        
        .cur 
            position: relative
            top: -1px
            box-sizing: border-box
            display: inline-block
            vertical-align: middle
            margin: 0 3px 
            padding-left: 1px
            width: 18px
            height: 18px
            text-align: center
            font-family: $font 
            font-weight: 900
            font-size: 12px
            line-height: 20px
            color: $yellow
            background-color: #fff 
            border-radius: 50%

    &__activities
        @include hover
        margin: 0 auto
        font-family: $font 
        font-weight: 400
        font-size: 13px
        line-height: 20px
        color: #fff 
        letter-spacing: 1.1px

        span 
            border-bottom: 1px solid #fff

.btn-gifts
    position: relative
    width: 22px
    height: 25px
    opacity: 0.4

    .notification
        position: absolute
        bottom: -1px
        right: -1px
        width: 5px
        height: 5px
        border-radius: 50%

    &.active 
        opacity: 1

        .notification
            background-color: $yellow

.stars
    display: flex 
    justify-content: space-between
    width: 96px
    font-family: $font
    font-size: 0
    line-height: 20px

    @media (max-width: 1439px)
        line-height: 17px

.star 
    font-size: 19px
    color: rgba(255, 255, 255, 0.2)

    @media (max-width: 1439px)
        line-height: 17px

    &._checked 
        color: #fff

.rank 
    @include hover
    margin-left: 20px
    font-family: $font 
    font-weight: 400
    font-size: 13px
    line-height: 20px
    color: #fff 
    letter-spacing: 1.1px

    @media (max-width: 1439px)
        text-align: right
        letter-spacing: 0

    span 
        border-bottom: 1px solid #fff
