.promocodes-modal
	display: flex
	flex-direction: column
	padding: 0
	width: 580px
	max-width: 100%

	&__inner
		padding: 0 40px 44px

		@media (max-width: 767px)
			flex-grow: 1
			display: flex
			flex-direction: column
			padding: 0 20px 30px

	&__header
		display: flex
		justify-content: center
		margin-top: -1px
		margin-bottom: 38px

		svg
			display: block

	&__footer
		display: flex
		justify-content: center
		margin-top: 28px

	&__btn
		min-width: 170px

	&__table
		margin: 0 auto
		width: 100%
		max-width: 436px
		max-height: 356px
		font-size: 15px
		line-height: 21px
		color: #303030

		@media (max-width: 767px)
			height: auto
			flex-grow: 1
			max-height: calc(100vh - 300px)

		table
			width: 100%

		tr
			border-bottom: 1px solid #cfcfcf

			&:last-child
				border-bottom: 0

		td
			vertical-align: middle

			&:first-child
				width: 44%

				@media (max-width: 767px)
					padding-right: 10px
					width: 30%

		p
			@include row-component
			margin: 0
			padding: 15px 0

		a
			@include hover
			border-bottom: 1px solid rgba($blue, 0.5)
			color: $blue

		svg
			display: block
			margin-left: -7px
			fill: $blue

		.icon
			width: 30px
			height: 30px