.products 
    @include list-reset
    display: flex 
    justify-content: center

    @media (max-width: 768px)
        flex-direction: column
        justify-content: flex-start
        align-items: center

    &._wide 

        @media (max-width: 1023px) 
            flex-wrap: wrap

.product 
    display: flex
    flex-direction: column 
    align-items: center
    margin: 0 52px 40px
    min-width: 250px

    @media (max-width: 1024px)
        min-width: auto

    @media (max-width: 768px)
        margin: 0 0 65px

        &:last-child 
            margin-bottom: 0

    ._wide & 
        min-width: 160px
        margin-left: 25px
        margin-right: 25px

        @media (max-width: 1023px) 
            min-width: 240px

    &__img 
        position: relative
        margin-bottom: 42px
        height: 311px

        @media (max-width: 768px)
            margin-bottom: 14px

        img 
            flex: none
            display: block
            margin: 0 auto 
            max-width: 100%
            max-height: 100%
            width: auto
            height: auto

    .qty 
        position: absolute
        bottom: 40px
        right: -40px
        display: flex
        justify-content: center 
        align-items: center
        box-sizing: border-box
        padding-right: 4px
        width: 70px
        height: 70px
        font-weight: 700
        font-size: 20px
        line-height: 47px
        color: #3d4d79
        background-color: #edb41d
        border-radius: 50%

        ._sz & 
            color: #1cac43
            background-color: #ffe06b

        ._muu &
            background: none
            width: 129px
            bottom: 43px
            right: -99px

        ._sz &
            background: none
            width: 129px
            bottom: 30px
            right: -70px

        ._bigcup-add &
            display: block
            bottom: 70px
            right: -70px
            text-align: center
            background-color: #0c66a4
            border-radius: 12px
            width: 165px
            height: auto
            font-size: 20px
            line-height: 1
            color: #fff
            font-family: $font-special
            padding: 12px 0
            box-shadow: 0 10px 15px -7px rgba(0,0,0,.5)

            @media (max-width: 1280px)
                width: 140px
                bottom: 40px

            @media (max-width: 768px)
                bottom: 70px

            @media (max-width: 480px)
                right: -20px

            svg
                display: block
                margin: 0 auto 7px


        span 
            font-size: 38px

    .discount 
        position: absolute
        top: -19px
        left: -44px
        display: block
        width: 119px
        height: 83px

    .bonus-icon 
        display: block
        width: 100%
        height: auto

    &__title 
        margin: 0 0 6px
        font-family: $font-special 
        text-transform: uppercase
        text-align: center
        font-weight: 400
        font-size: 40px
        line-height: 50px
        letter-spacing: 2px

        @media (max-width: 768px)
            margin-bottom: -4px
            font-size: 30px
            line-height: 50px
            letter-spacing: 1.5px

        a 
            @include row-component
            color: inherit
            white-space: nowrap

            @media (max-width: 1024px)
                white-space: nowrap

    .percent 
        margin-left: 8px
        font-size: 0
        line-height: 0

        img 
            display: block
            margin-top: -4px

            @media (max-width: 768px)
                width: 18px
                height: auto

    &__descr 
        margin: 0 auto
        max-width: 250px
        text-align: center
        font-size: 15px
        line-height: 20px
        color: rgba(0, 0, 0, 0.4)

        @media (max-width: 768px)
            font-size: 12px
            line-height: 18px
