.productions

    & > div:last-of-type
        margin-bottom: 0

    &__section
        &:not(._full)
            max-width: 1440px
            margin-left: auto
            margin-right: auto

        @media (max-width: 768px)
            padding-left: 15px
            padding-right: 15px

    .step
        margin-bottom: 130px
        padding-top: 0

        @media (max-width: 1280px)
            margin-bottom: 80px

        &._b-offset
            padding-bottom: 100px

            @media (max-width: 1280px)
                padding-bottom: 90px

            &:not(._l-blue-bg)
                @media (max-width: 768px)
                    padding-bottom: 0

        &._t-offset
            padding-top: 170px

            @media (max-width: 1280px)
                padding-top: 80px

        &._l-blue-bg
            background-color: #f5f9ff

    .row
        display: flex

        .col-6
            width: 50%
            box-sizing: border-box

.production
    margin-bottom: 70px
    padding-top: 82px

    @media (max-width: 1200px)
        margin-bottom: 20px

    &__list
        text-align: left
        font-size: 20px
        line-height: 30px
        color: #333333
        max-width: 1440px
        margin-left: auto
        margin-right: auto

        @media (max-width: 1540px)
            max-width: 1200px

        @media (max-width: 1280px)
            max-width: 920px

        @media (max-width: 1024px)
            font-size: 16px
            line-height: 24px

        &.row
            @media (max-width: 1024px)
                display: block

        .col-6
            @media (max-width: 1024px)
                width: 100% !important
                padding-left: 0 !important
                padding-right: 0 !important

        .col-6:first-child
            padding-right: 20px

        .col-6:last-child
            padding-left: 20px

        &-item
            margin-bottom: 25px

            &:last-child
                margin-bottom: 0

        .lead
            font-size: 30px
            font-weight: bold
            line-height: 1
            color: #009cff
            display: block
            margin-bottom: 15px

            @media (max-width: 1024px)
                font-size: 20px

    &__quote
        background-color: #11a0ff
        padding: 215px 20px 110px
        box-sizing: border-box
        margin-bottom: 150px
        position: relative

        @media (max-width: 1280px)
            margin-bottom: 90px

        @media (max-width: 1024px)
            padding: 125px 20px 54px

        &._splash
            &:after
                content: ''
                display: block
                position: absolute
                top: -300px
                right: -330px
                background: url("../images/production-intro-splash.png") center no-repeat
                background-size: contain
                width: 1000px
                height: 496px
                z-index: 1

                @media (max-width: 1440px)
                    right: -430px
                    top: -350px

                @media (max-width: 1280px)
                    right: -530px
                    top: -300px

                @media (max-width: 1024px)
                    width: 600px
                    height: 281px
                    right: -280px
                    top: -170px

                @media (max-width: 768px)
                    right: -380px
                    top: -210px

            &--left
                &:after
                    top: -250px
                    right: auto
                    left: -630px

                    @media (max-width: 1440px)
                        left: -630px
                        top: -200px

                    @media (max-width: 1280px)
                        left: -730px
                        top: -150px

                    @media (max-width: 1024px)
                        width: 600px
                        height: 281px
                        left: -430px
                        top: -120px

                    @media (max-width: 768px)
                        left: -450px
                        top: -110px

        &._mark
            &:before
                content: ''
                display: block
                width: 86px
                height: 75px
                position: absolute
                top: 103px
                left: 50%
                transform: translateX(-50%)
                background: url("../images/icn-quote.png") 0 0 no-repeat
                background-size: contain

                @media (max-width: 1024px)
                    top: 40px

                @media (max-width: 768px)
                    width: 72px
                    height: 63px

        p
            color: #fff
            font-size: 56px
            line-height: 72px
            font-family:  $font-special
            max-width: 775px
            margin: 0 auto
            text-align: center

            @media (max-width: 1024px)
                font-size: 36px
                line-height: 48px

    &__image-block
        display: flex
        justify-content: center

        &._left
            justify-content: flex-start

        &._center
            justify-content: center

        &._right
            justify-content: flex-end

        img
            align-self: flex-start
            max-width: 100%
            height: auto
            display: block
            margin-bottom: 150px

            @media (max-width: 1280px)
                margin-bottom: 80px

            &._full
                width: 100%

    &__title 
        margin: 0 0 40px 0
        text-align: center
        font-family: $font-special 
        font-weight: 400
        font-size: 72px
        line-height: 1
        color: #11a0ff
        letter-spacing: 2px

        @media (max-width: 1440px)
            font-size: 60px

        @media (max-width: 1024px)
            font-size: 48px
            margin-bottom: 35px

        &._left
            text-align: left

        &._center
            text-align: center

        &._right
            text-align: right

    &__subtitle
        margin: 0 auto
        max-width: 700px
        text-align: center
        font-family: $font-alt
        font-weight: 700
        font-size: 50px
        line-height: 50px 
        color: $blue
        margin-bottom: 50px
    
    &__text-block
        margin: 0 auto
        padding-top: 20px
        box-sizing: border-box
        max-width: 915px
        text-align: center

        @media (max-width: 1024px)
            padding-top: 0

        &._left
            text-align: left

        &._center
            text-align: center

        &._right
            text-align: right

        p 
            margin: 0 0 28px 0
            color: #333333
            font-family: $font-alt
            font-size: 20px
            line-height: 30px

            @media (max-width: 1024px)
                font-size: 16px
                line-height: 24px

            @media (max-width: 768px)
                margin-bottom: 23px

            &:last-child 
                margin-bottom: 0

            .lead 
                font-weight: 700
                color: #11a0ff

    &__icon 
        margin: 0 auto 
        margin-bottom: 36px
        width: 180px
        height: 180px
        border-radius: 50%  
        overflow: hidden 

        @media (max-width: 1200px)
            width: 120px
            height: 120px

        @media (max-width: 768px)
            margin-bottom: 24px

        img 
            display: block
            width: 100%
            height: auto

.production-intro
    box-sizing: border-box
    padding-top: 60px
    color: #fff
    background-color: #2157a2
    background-repeat: no-repeat
    background-size: 1920px auto
    background-position: bottom center
    margin-bottom: 150px
    position: relative

    @media (max-width: 768px)
        margin-bottom: 170px

    &._splash
        &:after
            content: ''
            display: block
            position: absolute
            bottom: -185px
            right: 30px
            background: url("../images/production-intro-splash.png") center no-repeat
            background-size: contain
            width: 1600px
            height: 750px
            z-index: 1

            @media (max-width: 1680px)
                right: -80px

            @media (max-width: 1440px)
                right: -220px
                bottom: -250px

            @media (max-width: 1280px)
                width: 1300px
                height: 609px
                right: -220px
                bottom: -150px

            @media (max-width: 1024px)
                width: 1000px
                height: 469px
                right: -150px
                bottom: -180px

            @media (max-width: 768px)
                bottom: -100px
                right: -180px

    &__pack
        display: flex
        justify-content: flex-end
        position: absolute
        top: 215px
        right: 176px
        z-index: 2

        @media (max-width: 1680px)
            right: 100px
            top: 260px

        @media (max-width: 1440px)
            top: 200px
            right: 75px

        @media (max-width: 1280px)
            top: 220px
            right: 65px

        @media (max-width: 1024px)
            top: 230px
            right: 45px

        @media (max-width: 768px)
            width: 317px
            right: auto
            left: 50%
            top: 500px
            transform: translateX(-33%)

        img
            max-width: 100%
            height: auto
            align-self: flex-start

            @media (max-width: 1680px)
                max-width: 80%

            @media (max-width: 1440px)
                max-width: 65%

            @media (max-width: 1280px)
                max-width: 55%

            @media (max-width: 1024px)
                max-width: 43%

            @media (max-width: 768px)
                max-width: 100%

    &__wrapper
        display: flex
        flex-direction: column
        box-sizing: border-box
        padding-top: 0
        width: 1570px
        justify-content: center
        min-height: 940px
        position: relative

        @media (max-width: 1680px)
            padding-bottom: 50px
            width: 1350px
            min-height: 800px

        @media (max-width: 1440px)
            width: 1180px
            min-height: 650px

        @media (max-width: 1280px)
            width: 920px
            min-height: 600px

        @media (max-width: 1024px)
            width: 720px
            min-height: 500px

        @media (max-width: 768px)
            width: 100%
            min-height: 900px
            padding-top: 39px
            justify-content: flex-start
            padding-left: 15px
            padding-right: 15px

    &__title
        margin: 0 0 55px 0
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        max-width: 800px
        letter-spacing: 2px
        font-size: 140px
        line-height: 140px
        margin-top: -105px

        @media (max-width: 1680px)
            margin-top: -55px

        @media (max-width: 1440px)
            font-size: 100px
            line-height: 100px
            letter-spacing: 1.3px
            max-width: 580px

        @media (max-width: 1280px)
            font-size: 85px
            line-height: 85px
            max-width: 480px

        @media (max-width: 1024px)
            font-size: 72px
            line-height: 72px
            max-width: 400px
            margin-top: 0

        @media (max-width: 768px)
            align-self: center
            max-width: 330px
            margin-bottom: 40px

    &__lead
        margin: 0
        max-width: 870px
        font-family: $font-alt
        font-weight: normal
        font-size: 28px
        line-height: 40px
        margin-bottom: 20px

        @media (max-width: 1680px)
            max-width: 750px

        @media (max-width: 1440px)
            font-size: 24px
            line-height: 34px
            max-width: 550px

        @media (max-width: 1024px)
            font-size: 18px
            line-height: 28px
            max-width: 330px

        @media (max-width: 768px)
            align-self: center

        &:last-child
            margin-bottom: 0

.production
    margin-bottom: 90px

    &:last-child
        margin-bottom: 0

.production-wrap
    overflow-x: hidden
    position: relative