.promocodes
	padding-top: 30px
	padding-left: 15px

	._codes &
		@media (max-width: 1024px)
			margin-bottom: 21px

	ul
		@include list-reset

	li
		position: relative
		width: 200px
		margin-bottom: 28px

		._codes &
			@media (max-width: 1024px)
				margin-bottom: 18px

		&::after
			content: ""
			position: absolute
			top: -20px
			left: -20px
			right: -20px
			bottom: -20px
			border: 20px solid #fff
			box-shadow: 0 0 14px 0 rgba(206, 206, 206, 0.5)
			opacity: 0
			pointer-events: none
			transition: opacity 0.3s ease

		&:hover

			&::after
				opacity: 1

.promocode-card

	a
		display: block
		margin-bottom: 14px

		._codes &
			@media (max-width: 1024px)
				margin-bottom: 0

	svg
		display: block
		max-width: 100%

		._codes &
			@media (max-width: 1024px)
				max-width: 85%
				margin: 0 auto

	img
		display: block
		width: 100%
		height: auto
		max-width: 100%
		max-height: 100%

		._codes &
			@media (max-width: 1024px)
				max-width: 85%
				margin: 0 auto

	&__text
		margin: 0
		font-size: 15px
		line-height: 21px
		color: #a3a3a3

		._codes &
			@media (max-width: 1024px)
				display: none