.promo-intro 
    box-sizing: border-box
    padding-top: 520px
    padding-bottom: 167px
    background-color: #f5f5f5
    background-image: url("../images/splash.png"), url("../images/milk-wave.png"), url("../images/glass.png")
    background-repeat: no-repeat 
    background-size: 100% auto, 48% auto, 22.5% auto
    background-position: left bottom, top 164px left, left 72% bottom

    @media (min-width: 2100px)
        background-position: left bottom, top 100px left, left 72% bottom

    @media (min-width: 2500px)
        padding-top: 620px

    @media (max-width: 1440px)
        padding-top: 395px
        padding-bottom: 134px
        background-position: left bottom, top 137px left, left 71% bottom

    @media (max-width: 1350px)
        padding-top: 380px
        padding-bottom: 100px
        background-position: left bottom, top 118px left, left 71% bottom

    @media (max-width: 1300px)
        background-position: left bottom, top 100px left, left 75% bottom

    @media (max-width: 1250px)
        padding-top: 350px
        padding-bottom: 85px
        background-position: left bottom, top 97px left, left 75% bottom

    @media (max-width: 1200px)
        padding-top: 330px
        padding-bottom: 65px
        background-position: left bottom, top 97px left, left 81% bottom

    @media (max-width: 1100px)
        padding-top: 310px
        padding-bottom: 42px
        background-position: left bottom, top 97px left, left 83% bottom

    @media (max-width: 1000px)
        padding-top: 290px
        padding-bottom: 30px
        background-position: left bottom, top 90px left, left 83% bottom

    @media (max-width: 900px)
        padding-top: 270px
        background-position: left bottom, top 105px left, left 83% bottom

    @media (max-width: 800px)
        padding-top: 240px

    @media (max-width: 800px)
        padding-top: 100px
        background-image: url("../images/splash.png"), url("../images/glass.png")
        background-position: left bottom, left 83% bottom
        background-size: 100% auto, 22.5% auto

    @media (max-width: 500px)
        background-size: 100% auto, 57.5% auto

    &._ver2
        min-height: 860px
        padding-top: 0
        background-image: url("../images/milk-glass.jpg")
        background-size: 100% auto
        background-position: center bottom

        @media (min-width: 2100px)
            background-position: left bottom, top 121px left, left 72% bottom

        @media (min-width: 2500px)
            background-size: 100% auto, 50% auto, 22.5% auto

        @media (min-width: 1550px)
            background-size: 100% auto, 55% auto, 22.5% auto
            background-position: left bottom, top 150px left, left 72% bottom

        @media (min-width: 1440px) and (max-width: 1699px)
            min-height: 715px
            background-position: left bottom, top 138px left, left 72% bottom

        @media (max-width: 1350px)
            min-height: 600px !important

        @media (max-width: 1300px)
            min-height: 633px
            background-position: left bottom, top 109px left, left 72% bottom

        @media (max-width: 1250px)
            min-height: 610px

        @media (max-width: 1200px)
            min-height: 580px

        @media (max-width: 1100px)
            min-height: 555px

        @media (max-width: 1000px)
            min-height: 505px

        @media (max-width: 900px)
            min-height: 465px

        @media (max-width: 800px)
            padding-top: 140px
            background-image: url("../images/splash.png"), url("../images/glass.png")
            background-position: left bottom, left 83% bottom
            background-size: 100% auto, 22.5% auto


    &__wrapper 
        margin: 0 auto
        width: 52.292%

        @media (max-width: 1440px)
            width: 51.5%

        @media (max-width: 700px)
            width: 80%

    &__title 
        position: absolute
        top: 250px
        margin: 0 0 20px 0
        text-transform: uppercase
        font-weight: 400
        font-family: $font-special
        font-size: 131px
        line-height: 125px
        color: #11a0ff

        @media (max-width: 1700px)
            font-size: 100px
            line-height: 95px

        @media (max-width: 1360px)
            top: 150px
            font-size: 87px
            line-height: 85px

        @media (max-width: 1100px)
            font-size: 70px
            line-height: 70px

        @media (max-width: 800px)
            position: static

        @media (max-width: 600px)
            font-size: 48px
            line-height: 52px

    &__slogan 
        margin: 0 0 45px 0
        font-family: $font-promo
        font-weight: 300
        font-size: 25.47px
        line-height: 45.34px
        color: #3e3c3c;

        @media (max-width: 1440px)
            margin-bottom: 34px
            font-size: 18.57px
            line-height: 33.06px

        @media (max-width: 1000px)
            margin-bottom: 20px

        @media (max-width: 800px)
            margin-bottom: 4px

        @media (max-width: 700px)
            margin-bottom: 18px
            font-size: 16px
            line-height: 30px

    &__lead 
        margin: 0
        max-width: 565px
        font-family: 'Proxima', sans-serif
        font-weight: 700
        font-size: 37.5px
        line-height: 41.67px
        color: #636262

        @media (max-width: 1440px)
            max-width: 440px
            font-size: 27.34px
            line-height: 30.38px

        @media (max-width: 1000px)
            font-size: 26px
            line-height: 30px

        @media (max-width: 900px)
            max-width: 360px
            font-size: 24px
            line-height: 28px
