.promo

    @media (max-width: 767px)
        padding-bottom: 75px
        background-image: url("../images/svg/plane.svg")
        background-repeat: no-repeat
        background-size: 282px auto
        background-position: center top 10px

    &__item
        width: 25%
        min-width: 25%

        @media (max-width: 1024px)
            width: 50%
            min-width: 50%

        @media (max-width: 767px)
            width: 100%
            min-width: 100%

    &__inner
        display: flex

        @media (max-width: 1024px)
            flex-wrap: wrap

    &__title
        margin: 0 0 34px 0
        padding-top: 45px
        text-align: center
        font-family: $font-special
        font-weight: 400
        font-size: 60px
        line-height: 80px
        color: $d-blue

        @media (max-width: 767px)
            font-size: 42px
            line-height: 60px

.promo-item
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 42px
    padding-bottom: 40px

    @media (max-width: 767px)
        margin-bottom: -4px
        padding-top: 40px
        padding-bottom: 0

    svg
        display: block
        fill: #0295D4
        stroke: #0295D4

        @media (max-width: 767px)
            fill: #bababa
            stroke: #bababa

    &__icon
        display: flex
        flex-direction: column
        justify-content: center
        margin-bottom: 20px
        height: 130px

        @media (max-width: 767px)
            transform: scale(0.6)
            margin-top: -28px
            margin-bottom: -6px

    &__title
        margin: -5px 0 7px 0
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 36px
        line-height: 43px

        @media (max-width: 767px)
            margin-bottom: 11px
            font-size: 28px
            line-height: 1
            color: #0295D4

    &__text
        margin: 0
        max-width: 232px
        min-height: 90px
        text-align: center
        font-family: $font-alt
        font-weight: 400
        font-size: 15px
        line-height: 20px
        color: rgba(0, 0, 0, 0.4)

        @media (max-width: 767px)
            min-height: 0
            font-size: 16px
            line-height: 22px

.promo--num

    .promo__inner
        @include list-reset
        counter-reset: li
        margin: 0 auto
        width: 100%
        max-width: 1196px

    .promo-item
        padding-top: 56px

        @media (max-width: 767px)
            padding-top: 40px

    .promo-item__icon
        margin-bottom: 24px

        @media (max-width: 767px)
            margin-bottom: -6px

    .promo-item__title
        margin-bottom: 4px

        @media (max-width: 767px)
            margin-bottom: 10px

    .promo-item__title::before
        content: counter(li)'. '
        counter-increment: li

.lottery-promo
    display: flex
    align-items: flex-end
    height: 375px
    padding-bottom: 30px
    box-sizing: border-box
    background-color: #fff
    background-image: url("../images/promo-banner-clouds2.png")
    background-size: 90% auto
    background-position: center top 100px
    background-repeat: no-repeat

    &__text
        line-height: 62px
        font-size: 58px
        color: #0295D4
        max-width: 640px
        text-align: center
        font-family: $font-special
        margin: 0 auto
        padding: 0 20px
        box-sizing: border-box

        @media (max-width: 1280px)
            font-size: 67px
            max-width: 720px

        @media (max-width: 1024px)
            max-width: 700px
            font-size: 52px
            line-height: 57px

        @media (max-width: 767px)
            font-size: 40px
            line-height: 46px

        .emph
            position: relative
            white-space: nowrap

            svg
                color: #2777cc
                position: absolute
                left: 0
                bottom: -8px

            &--fill
                position: relative

                span
                    position: relative
                    z-index: 2

                &._blue
                    color: #fff

                    &:before
                        background-color: #3a87d8 !important

                &:before
                    content: ""
                    position: absolute
                    top: 50% !important
                    transform: translateY(-50%)
                    left: -10px
                    width: calc(100% + 20px)
                    height: 62px !important
                    background-color: #d4003d !important
                    border-radius: 28px

                    @media (max-width: 767px)
                        height: 42px !important
                        top: 50% !important

._lottery-promo
    .page-header._fixed
        box-shadow: none

        .main-navigation
            justify-content: space-around