.qr-block
    display: flex
    margin-top: 15px
    margin-bottom: 30px

    p
        a
            color: $blue
            text-decoration: underline

    ._promo-end &
        margin-top: 0
        margin-bottom: 10px

    .modal__descr
        text-align: left
        max-width: none
        margin-top: 35px
        font-size: 15px
        line-height: 17px

    &__note
        font-size: 13px
        text-align: center

    &__image
        width: 38.1%
        min-width: 38.1%

        img 
            display: block
            max-width: 100%
            height: auto

    &__image-blank
        position: relative
        display: flex 
        flex-direction: column
        justify-content: center
        width: 105px
        height: 190px
        background-color: #eee

        span
            padding-bottom: 23px
            text-align: center
            font-size: 15px
            line-height: 17px
            color: rgba(0, 0, 0, 0.4)

        &:before
            content: ""
            @include centerH 
            bottom: 16px
            width: 52px
            height: 52px
            border: 1px solid $blue

    &__descr 

        @media (max-width: 767px)
            padding-left: 10px

    &__title 
        margin: 0 0 20px 0
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 36px
        line-height: 40px
        color: $d-blue
        position: relative

        @media (max-width: 767px)
            font-size: 40px

        &._flex
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%

        &._center
            text-align: center

        ._promo-end &
            color: $blue

    &__text-block 
        font-size: 13px
        line-height: 15px

        p 
            margin: 0

        h4
            margin: 15px 0
            font-size: 13px
            line-height: 15px

        ul
            margin-bottom: 4px
            padding-left: 14px


    &__list 
        margin: 0
        padding: 0
        list-style: none
        counter-reset: li

        li 
            position: relative
            margin-bottom: 17px
            max-width: 220px
            font-size: 15px 
            line-height: 17px
            color: rgba(0, 0, 0, 0.4)

            &:before 
                content: counter(li)'.'
                counter-increment: li 
                padding-right: 10px

    &__question-header
        position: relative
        font-family: $font-special
        font-weight: 400    
        font-size: 36px
        line-height: 40px
        color: $d-blue
        cursor: pointer

        p 
            margin: 0

        //&:after
            content: ""
            position: absolute
            top: 13px
            right: 0
            width: 0
            height: 0
            border-style: solid
            border-width: 13px 8px 0 8px
            border-color: $blue $transparent $transparent $transparent
            transition: opacity 0.3s ease, transform 0.3s ease
            pointer-events: none

        &:hover

            &:after 
                opacity: 0.7

    &__question-body
        //max-height: 0
        //transition: max-height 0.3s ease
        //overflow: hidden

        img 
            display: block
            margin-top: 10px
            margin-left: auto
            margin-right: auto
            max-width: 100%
            height: auto

        p 
            margin: 0
            font-size: 13px
            line-height: 15px

            &:first-child 
                margin-top: 10px

    &__row
        display: flex

    &__col
        width: 50%
        padding: 0 10px
        box-sizing: border-box

        &:last-child
            .qr-block__inner
                ul
                    max-width: 80px

    &__inner
        .qr-block__info-img
            display: flex
            flex-direction: column
            justify-content: flex-end
            min-height: 234px

            @media (max-width: $screenXS)
                min-height: 160px

        ul
            font-size: 15px
            text-align: left
            color: rgba(0,0,0,.6)
            max-width: 105px
            margin: 0 auto

            li
                margin-bottom: 10px

    &__info
        text-align: center

        //.qr-block__col:first-child
            position: relative

            &:before, &:after
                content: ''
                width: 40px
                height: 3px
                background-color: #185491
                position: absolute
                top: 50%
                right: 0
                margin-right: -20px

                @media (max-width: 767px)
                    width: 20px
                    margin-right: -10px
                    height: 2px

            &:after
                transform: rotate(90deg)

        &-btn
            padding: 0 38px

        &-img
            min-height: 143px
            display: flex
            flex-direction: column
            justify-content: center
            margin-bottom: 10px

        img
            display: block
            margin-top: 0

            @media (max-width: 767px)
                max-width: 75%

    &__inner
        width: 100%

    &__question
        margin-bottom: 5px

        &.opened 

            .qr-block__question-header:after 
                transform: scale(1, -1)

            .qr-block__question-body
                max-height: 1000px

.tooltip
    font-size: 13px
    line-height: 15px
    font-family: "Helvetica Neue", Arial, sans-serif
    text-transform: none
    color: #303030
    display: block

    span
        display: block

    &__icon
        transform: translateZ(0)
        display: block
        color: #fff
        background-color: #185491
        width: 30px
        height: 30px
        padding-top: 2px
        box-sizing: border-box
        font-size: 22px
        cursor: pointer
        margin-right: -6px
        font-family: 'Circe', sans-serif
        font-weight: 700
        text-align: center
        line-height: 28px
        border: 2px solid #185491
        border-radius: 50%
        transition: all .3s ease-in-out

        &:hover
            color: #185491
            background-color: #fff

            & ~ .tooltip__inner
                opacity: 1
                z-index: 1

    &__inner
        position: absolute
        right: 0
        top: 60px
        width: 100%
        background-color: #fff
        min-height: 191px
        border: 1px solid #185491
        border-radius: 10px
        box-sizing: border-box
        padding: 18px 16px
        opacity: 0
        z-index: -1
        transition: all .3s ease-in-out

        ._qr-1 &
            min-height: 165px

    p
        margin: 0

    h4
        margin: 15px 0
        font-size: 13px
        line-height: 15px

    ul
        margin-bottom: 4px
        padding-left: 14px