.rate-block 
    display: flex
    align-items: center
    justify-content: flex-end
    box-sizing: border-box
    margin-right: 20px
    padding-left: 20px
    width: 25%

    @media (max-width: 1279px)
        flex-direction: column
        justify-content: flex-start
        margin-top: -4px

    @media (max-width: 1023px)
        flex-direction: row
        margin: 30px 0
        padding-left: 0

    @media (max-width: 767px)
        margin-top: 18px
        width: 100%

    &__label 
        margin: 0 12px 0 0
        font-size: 15px
        line-height: 23px
        white-space: nowrap

        @media (max-width: 1279px)
            margin-right: 0

        @media (max-width: 1023px)
            margin-right: 10px

.rate-form 
    display: flex
    align-items: center

    &__label 
        @include hover
        margin-right: 5px
        box-sizing: border-box
        padding: 9px 15px 7px
        width: 54px
        text-transform: uppercase
        text-align: center
        font-size: 10px
        line-height: 12px
        color: #1b558e
        background-color: #fff
        border: 1px solid #1b558e
        border-radius: 15px
        cursor: pointer
        transition: color 0.3s ease, border-color 0.3s ease

    input:checked + label 
        color: #1997d1
        border-color: #1997d1
        