.rules-section
    
    &__title 
        margin: 60px 0 60px 0
        padding-top: 60px
        text-transform: uppercase
        text-align: center
        font-family: $font-special 
        font-weight: 400
        font-size: 60px
        line-height: 60px
        color: $d-blue

        @media (max-width: 767px)
            margin: 30px 0
            font-size: 42px
            line-height: 60px

    &__inner    
        margin: 0 auto
        max-width: 780px
        text-align: center

        @media (max-width: 1024px)
            box-sizing: border-box
            padding: 0 40px
            max-width: 100%

        @media (max-width: 767px)
            padding: 0

    &__download 
        display: inline-block
        vertical-align: top
        margin: 20px 0
        min-width: 117px

        @media (max-width: 767px)
            margin: 40px 0

.rules-slider 
    
    .swiper-button-prev,
    .swiper-button-next
        top: 20px
        margin: 0
        left: 20px
        width: auto
        height: auto
        background-image: none

        @media (max-width: 767px)
            display: none

    .swiper-button-next
        left: auto 
        right: 20px

    .swiper-pagination-bullets
        bottom: 40px
        display: flex 
        justify-content: center

        @media (max-width: 767px)
            bottom: 20px

    .swiper-pagination-bullet
        opacity: 1
        width: 8px
        height: 8px
        background-color: #fff
        border: 1px solid $d-blue

        &.swiper-pagination-bullet-active
            background-color: $d-blue 

.rules-slide
    
    img 
        display: block
        width: 100%
        height: auto