.scroll-down
    @include btn-reset
    @include hover
    @include centerH
    position: fixed
    bottom: 25px
    //display: flex
    //flex-direction: column
    //justify-content: center
    //align-items: center
    display: block
    //padding-top: 12px
    width: 105px
    height: 105px
    text-transform: uppercase
    font-weight: 700
    font-size: 10px
    line-height: 11px
    background-color: #fff
    //background: url("../images/svg/scroll.svg") top center no-repeat
    border-radius: 50%
    z-index: 50

    .icon 
        position: relative
        display: block
        margin: 0 auto 6px
        width: 33px
        height: 52px

        svg 
            display: block
            width: 100%
            height: auto

        &:after,
        &:before
            content: ''
            position: absolute
            top: 20px
            left: 50%
            margin-left: -9px
            width: 18px
            height: 9px
            background-image: url("../images/svg/scroll-arrow.svg")
            background-repeat: no-repeat 
            background-size: contain
            background-position: center
            animation-name: scrollDown
            animation-duration: 1.2s
            animation-iteration-count: infinite
            animation-delay: 0.4s

        &:after 
            top: 27px
            animation-delay: 0.1s

    .text
        display: block
        color: $blue

@keyframes scrollDown
    0%
       opacity: 0
       transform: translateY(-10px)

    70%
        opacity: 1
        transform: translateY(0)

    90%
        opacity: 1
        transform: translateY(0)

    100%
        opacity: 0
        transform: translateY(0)
