.search-block
    position: absolute
    left: 0
    right: 0
    top: 93px
    padding: 45px 0
    color: #fff
    background-image: linear-gradient(to top, $blue 0%, $blue 56px, $transparent 56px, $transparent 100%)
    transform: translateX(-100%) translateX(-250px)
    transition: transform 0.3s ease

    ._fixed &
        top: 62px
        padding: 39px 0
        background-color: $blue

        &::before
            display: none

    @media (max-width: 1023px)
        position: static
        transform: none
        opacity: 0
        pointer-events: none
        max-width: 0
        overflow: hidden
        display: none

        &._nested
            display: block
            opacity: 1
            pointer-events: auto
            max-width: 100%

    &.show
        transform: translateX(0)

    &::before
        content: ""
        position: absolute
        right: -165px
        left: 165px
        top: 0
        bottom: 0
        background-color: $blue
        transform: skewX(-33deg)
        box-shadow: 0 -2px 5px rgba(23,24,25,.15)

    &__wrapper
        position: relative
        @include row-component
        padding-right: calc(25% + 33px)
        padding-left: 250px

        ._fixed &,
        ._nested &
            padding-right: calc(25% + 15px)
            padding-left: 34px

        ._nested &
            padding-right: 40px

        @media(max-width: 1280px)
            padding-right: calc(25% + 15px)

        @media (max-width: 768px)
            ._nested &
                padding-right: 28px
                padding-left: 23px

    &__close
        @include centerV
        @include row-component
        @include btn-reset
        right: 46px
        text-transform: uppercase
        font-size: 12px
        line-height: 1.2
        letter-spacing: 1px
        z-index: 1

        ._fixed &
            right: 30px

        ._nested &

            @media (max-width: 768px)
                display: none

        .icon
            position: relative
            margin-left: 12px
            width: 18px
            height: 18px

            &::before,
            &::after
                content: ""
                position: absolute
                top: -8px
                left: 5px
                width: 2px
                height: 26px
                background-color: #fff
                transform: rotate(45deg)

            &::after
                transform: rotate(-45deg)

    &._nested
        position: relative
        top: 60px
        padding: 39px 0
        background-color: $blue
        z-index: 1

        @media (max-width: 768px)
            padding: 30px 0

        &::before
            display: none

.search-form
    display: flex
    align-items: center
    flex-grow: 1

    @media (max-width: 1023px)
        flex-direction: column

        ._nested &
            flex-direction: row

    &__label
        flex: none
        display: block
        padding-right: 16px
        font-family: $font-special
        font-weight: 400
        font-size: 42px
        line-height: 1.2
        white-space: nowrap

        ._fixed &
            font-size: 39px

        ._nested &
            margin-right: 15px
            padding: 0
            width: 36px
            height: 35px
            font-size: 0
            background-image: url("../images/svg/icon-search-w.svg")
            background-repeat: no-repeat
            background-size: contain
            background-position: left center
            transform: scale(-1,1)

            @media (max-width: 480px)
                margin-right: 10px
                width: 31px
                height: 32px

    &__field-wrapper
        position: relative
        box-sizing: border-box
        flex-grow: 1

        @media (max-width: 767px)
            width: 100%

    input[type="search"].search-form__field
        @include field-reset
        box-sizing: border-box
        padding: 0 140px 0 20px
        width: 100%
        height: 50px
        color: #000
        background-color: #fff
        font-size: 14px
        line-height: 50px
        border-radius: 25px

        @media (max-width: 767px)
            margin-bottom: 20px
            padding-right: 20px

            ._nested &
                margin-bottom: 0
                padding-right: 140px
                font-size: 18px

        @media (max-width: 480px)

            ._nested &
                padding-right: 100px
                font-size: 15px

    &__btn
        position: absolute
        top: 0
        right: 0
        width: 133px
        text-align: center

        .text
            padding: 0


        @media (max-width: 767px)
            position: relative
            width: 100%

            ._nested &
                position: absolute
                width: 133px
                font-size: 18px

        @media (max-width: 480px)

            ._nested &
                font-size: 12px
                width: 90px

.search-mobile
    display: none
    position: relative
    box-sizing: border-box
    width: 100%
    margin-top: -50px
    padding: 0 40px
    opacity: 0
    pointer-events: none
    transition: opacity 0.3s ease

    &.show
        opacity: 1
        pointer-events: auto

    &::before
        content: ""
        position: absolute
        top: 10px
        left: 0
        width: 32px
        height: 31px
        background-image: url("../images/svg/icon-search-w.svg")
        background-repeat: no-repeat
        background-size: contain

    @media (max-width: 1023px)
        display: block

    &__close
        @include btn-reset
        position: absolute
        top: 19px
        right: 16px
        text-transform: uppercase
        font-size: 12px
        line-height: 1.2
        letter-spacing: 1px
        z-index: 1

        .icon
            position: relative
            margin-left: 12px
            width: 18px
            height: 18px

            &::before,
            &::after
                content: ""
                position: absolute
                top: -8px
                left: 5px
                width: 2px
                height: 26px
                background-color: #fff
                transform: rotate(45deg)

            &::after
                transform: rotate(-45deg)
