.search-results 
    position: relative

    &__wrapper 
        margin-right: 40px
        padding: 50px 0 42px 40px
        overflow: hidden

        @media (max-width: 767px)
            margin-right: 0
            padding-right: 20px
            padding-left: 20px
            padding-top: 45px
            padding-bottom: 40px

    &__title 
        margin: 0
        text-transform: uppercase
        font-family: $font-special 
        font-weight: 400
        font-size: 60px
        line-height: 1.2
        color: #1c558f

        @media (max-width: 768px)
            font-size: 64px

        @media (max-width: 480px)
            font-size: 42px

    &__legend 
        margin: 0 0 37px
        font-family: $font-alt
        font-size: 17px
        line-height: 21px

        @media (max-width: 768px)
            margin-bottom: 67px
            font-size: 23px

        @media (max-width: 480px)
            margin-bottom: 40px
            font-size: 14px
            line-height: 19px

    &__list 
        @include list-reset

.search-result
    position: relative
    display: flex
    align-items: flex-start
    margin-bottom: 45px

    @media (max-width: 768px)
        flex-direction: column
        margin-bottom: 68px
        padding-bottom: 60px

    @media (max-width: 480px)
        margin-bottom: 50px
        padding-bottom: 40px

    &__image
        flex: none 
        margin-top: 5px
        margin-right: 25px
        width: 200px
        height: 134px
        overflow: hidden

        @media (max-width: 768px)
            width: 100%
            height: auto

        img 
            display: block
            width: 100%
            height: auto

    &__info 
        display: flex
        flex-direction: column 
        align-items: flex-start

        @media (max-width: 768px)
            order: -1

    &__title 
        margin: 0 0 8px
        text-transform: uppercase
        font-family: $font-special 
        font-weight: 400
        font-size: 36px
        line-height: 1.2
        color: #1c558f

        @media (max-width: 768px)
            margin-bottom: 10px
            font-size: 61px

        @media (max-width: 480px)
            font-size: 40px

        a 
            @include hover
            color: inherit

        b 
            font-weight: 400
            color: #1996d2

    &__content
        margin: 0 0 16px
        font-family: $font-alt
        font-size: 15px
        line-height: 21px

        @media (max-width: 768px)
            font-size: 23px
            line-height: 36px

        @media (max-width: 480px)
            font-size: 14px
            line-height: 21px

    &__tag 
        display: inline-block
        vertical-align: top
        margin: 0
        padding: 5px 16px 3px 16px
        text-transform: uppercase
        text-align: center
        font-family: $font-alt 
        font-weight: 700
        font-size: 10px
        line-height: 20px
        letter-spacing: 1.2px
        color: $d-blue 
        border: 1px solid $d-blue
        border-radius: 15px

        @media (max-width: 768px)
            position: absolute
            bottom: 0
            left: 0
            padding: 12px 60px 10px
            font-size: 15px
            border-radius: 30px

        @media (max-width: 480px)
            padding: 5px 16px 3px 16px 
            font-size: 10px
            border-radius: 15px