.select-wrapper
    position: relative

    &.opened 

        .select-dropdown
            opacity: 1
            pointer-events: initial
            z-index: 100

        .select-trigger:after 
            border-color: #a2a2a2 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0)

.select-trigger
    position: relative
    padding-left: 10px
    padding-right: 38px
    height: 28px
    font-size: 15px
    line-height: 28px
    background-color: #fff
    border: 1px solid rgba(0, 0, 0, 0.2)
    cursor: pointer

    &:after 
        content: ""
        position: absolute
        bottom: 10px
        right: 10px
        width: 0
        height: 0
        border-style: solid
        border-width: 8px 5px 0 5px
        border-color: #0295d4 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0)
        pointer-events: none

.select-dropdown
    position: absolute
    top: 100%
    left: 0
    right: 0
    background-color: #F8F8F8
    border: 1px solid #c4c4c4
    border-top: none
    box-shadow: 0 0 10px -6px
    opacity: 0
    pointer-events: none 
    z-index: -1000
    transition: opacity 0.3s ease
    overflow-y: auto

    .mCSB_container
        margin: 0

    ul 
        @include list-reset
        max-height: 144px
        min-height: 48px

    li
        padding: 10px
        font-size: 15px
        line-height: 28px
        color: #666 
        cursor: pointer
        transition: color 0.3s ease, background-color 0.3s ease

        &:hover 
            color: #444
            background-color: #D0D0D0





