.similar-links
    margin-bottom: 30px
    padding-bottom: 20px
    max-width: 893px
    border-bottom: 1px solid #cbcbcb

    &__title 
        position: relative
        margin: 0 0 30px
        font-family: $font
        //font-weight: 400

        &::before 
            content: ""
            position: absolute
            left: 0
            right: 0
            top: 50%
            transform: translateY(-50%)
            height: 1px
            background-color: #cbcbcb

        span
            position: relative
            display: inline-block
            vertical-align: top
            padding: 6px 15px 4px
            text-transform: uppercase
            text-align: center
            font-size: 10px
            line-height: 20px
            color: #fff
            letter-spacing: 1.4px
            background-color: $d-blue
            border-radius: 15px

            &::after 
                content: ""
                position: absolute
                left: 100%
                top: 0
                bottom: 0
                width: 10px
                background-color: #fff

    ul 
        @include list-reset 
        display: flex

        @media (max-width: 767px)
            flex-direction: column

.similar-link
    flex: none 
    display: flex
    flex-direction: column 
    box-sizing: border-box
    width: 33.333333%
    padding-right: 30px

    @media (max-width: 767px)
        margin-bottom: 30px
        width: 100%

        &:last-child 
            margin-bottom: 0

    h3
        flex-grow: 1
        margin: 0 0 20px
        max-width: 235px
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        color: $d-blue
        font-size: 40px
        line-height: 1

        a 
            @include hover
            color: inherit 

    &__tags 
        display: flex
        flex-wrap: wrap 

    &__tag 
        @include hover
        display: inline-block
        vertical-align: top
        margin: 0 10px 10px 0
        padding: 5px 14px 3px
        text-transform: uppercase
        text-align: center
        font-size: 10px
        line-height: 20px
        color: $d-blue
        letter-spacing: 1.4px
        border: 1px solid $d-blue
        border-radius: 15px