.sk-products 
    padding-bottom: 62px

    @media (max-width: 768px)
        padding-bottom: 0

    &__promo 
        margin-bottom: -2px
        color: #fff
        background-color: #005eb8
        background-image: url("../images/cow-wave.png")
        background-repeat: no-repeat
        background-size: 100% auto 
        background-position: bottom -1px left

        @media (max-width: 768px)
            margin-bottom: 4px
            padding-top: 35px
            background-image: url("../images/asset-3@2x.png")
            background-position: bottom -25vw left
    
        &-wrapper 
            display: flex
            justify-content: flex-end
            margin: 0 auto
            padding: 0 20px
            padding-top: 110px
            padding-bottom: 14vw
            max-width: 1300px
            background-image: url("../images/svg/cow-kuban.svg")
            background-repeat: no-repeat
            background-size: 36% auto 
            background-position: left 3vw bottom 13.5vw

            @media (max-width: 768px)
                padding: 0 11px
                padding-top: 15px
                padding-bottom: 25vw
                background-image: none

        &-content 
            width: 50%

            @media (max-width: 768px)
                width: 100%

        h3 
            margin: 0 0 24px
            max-width: 500px
            text-transform: uppercase
            font-family: $font-special 
            font-weight: 400
            font-size: 50px
            line-height: 60px

            @media (max-width: 768px)
                margin-bottom: 18px
                max-width: 285px
                font-size: 40px
                line-height: 48px

        p 
            margin: 0
            max-width: 565px
            font-size: 17px
            line-height: 24px
            color: rgba(255, 255, 255, 0.7)

            @media (max-width: 768px)
                padding-right: 10px
                font-size: 14px
                line-height: 20px

    .products 
        margin: 0 auto 
        max-width: 1200px

    .product 
        min-width: 200px

        @media (max-width: 1199px)
            min-width: 170px

        @media (max-width: 768px)
            margin-bottom: 38px

    .product__img
        margin-bottom: -25px
        height: 380px

        @media (max-width: 1199px)
            height: 330px

        @media (max-width: 768px)
            height: 395px

        & > img 
            flex: none 
            max-width: none 
            height: 100%

    .muu-products__wrapper
        padding-top: 83px

    .muu-products__title
        max-width: 860px