.social
    display: flex

    &._mid

        @media (max-width: 767px)
            margin-left: 20px

.social-btn
    @include hover
    position: relative
    display: block
    margin-right: 20px
    width: 44px
    height: 44px
    border-radius: 50%
    background-color: #ccc

    ._mid &
        margin-right: 0
        margin-left: 23px
        width: 50px
        height: 50px

        @media (max-width: 767px)
            margin-left: 0
            margin-right: 23px

            &:last-child
                margin-right: 0

    .icon
        @include center
        display: block
        fill: #fff

        ._mid &
            transform: translate(-50%, -50%) scale(1.1, 1.1)

    &--vk
        background-image: linear-gradient(to bottom, #51739a, #6489b0)

    &--tw
        background-image: linear-gradient(#1da1f2, #1da1f2), linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0))

    &--fb
        background-image: linear-gradient(to bottom, #315493, #315493)

    &--ok
        background-image: linear-gradient(to bottom, #ee8308, #f3990a)

    &--insta
      background: transparent

    &--oval
        margin-right: 0
        width: 87px
        height: 30px
        border-radius: 15px

.modal-social

    .social-btn
        margin-right: 15px
        flex-grow: 1

        &:last-child
            margin-right: 0
