.steps

    @media (max-width: 1200px)
        padding-bottom: 40px

    &__wrapper
        max-width: 1076px

        @media (max-width: 1200px)
            max-width: 900px

.step
    margin-bottom: 70px
    padding-top: 82px

    @media (max-width: 1200px)
        margin-bottom: 20px

    &__title 
        margin: 0 0 40px 0
        text-align: center
        font-family: $font-special 
        font-weight: 400
        font-size: 140.46px
        line-height: 162.34px 
        color: $blue
        letter-spacing: 5px

        @media (max-width: 1600px)
            font-size: 120px
            line-height: 130px

        @media (max-width: 1500px)
            font-size: 110px
            line-height: 120px

        @media (max-width: 1200px)
            font-size: 80px
            line-height: 90px

        @media (max-width: 700px)
            font-size: 50px
            line-height: 60px

    &__subtitle
        margin: 0 auto
        max-width: 700px
        text-align: center
        font-family: $font-promo 
        font-weight: 700
        font-size: 50px
        line-height: 50px 
        color: $blue

        @media (max-width: 1200px)
            font-size: 36px
            line-height: 36px

        @media (max-width: 700px)
            font-size: 24px
            line-height: 24px
    
    &__text-block
        margin: 0 auto
        padding-top: 35px
        box-sizing: border-box
        padding-left: 40px
        max-width: 785px

        @media (max-width: 700px)
            padding-left: 20px
            padding-right: 20px

        p 
            margin: 0 0 40px 0
            font-family: $font-promo 
            font-weight: 300
            font-size: 31px
            line-height: 41px

            @media (max-width: 1500px)
                font-size: 28px
                line-height: 36px

            @media (max-width: 1200px)
                font-size: 24px
                line-height: 32px

            @media (max-width: 1200px)
                font-size: 16px
                line-height: 24px

            &:last-child 
                margin-bottom: 0

        ol 
            @include list-reset 
            counter-reset: li 
            margin-top: 16px
            font-family: $font-promo 
            font-weight: 300
            font-size: 32px
            line-height: 40px

            @media (max-width: 1200px)
                font-size: 24px
                line-height: 32px

            @media (max-width: 1500px)
                font-size: 28px
                line-height: 36px

            @media (max-width: 700px)
                font-size: 16px
                line-height: 24px

        li 
            position: relative
            margin-bottom: 30px

            @media (max-width: 1200px)
                margin-bottom: 20px


            &:before 
                content: counter(li)'.'
                counter-increment: li 
                font-weight: 700
                color: $blue 

            .lead 
                font-weight: 700
                color: $blue 


    &__icon 
        margin: 0 auto 
        margin-bottom: 25px
        width: 180px
        height: 180px
        border-radius: 50%  
        overflow: hidden 

        @media (max-width: 1200px)
            width: 120px
            height: 120px

        img 
            display: block
            width: 100%
            height: auto

    &__descr 
        position: relative
        margin: 0
        margin-top: 163px
        padding-top: 90px
        text-align: center
        font-family: $font-promo
        font-weight: 700
        font-size: 36px
        line-height: 46px
        border-top: 1px solid $blue

        @media (max-width: 1600px)
            font-size: 32px
            line-height: 40px

        @media (max-width: 1500px)
            font-size: 30px
            line-height: 38px

        @media (max-width: 1200px)
            margin-top: 100px
            font-size: 24px
            line-height: 32px

        @media (max-width: 700px)
            font-size: 20px
            line-height: 26px
            margin-top: 80px
            padding-top: 50px

        &:before 
            content: "«"
            @include centerH
            top: -28px
            width: 55px
            height: 55px
            text-align: center
            font-family: $font-promo
            font-size: 83px
            line-height: 46px
            color: #fff 
            background-color: $blue 
            border-radius: 50%
