.subnav
    @include centerH
    @include list-reset
    top: calc(100% + 10px)
    box-sizing: border-box
    padding: 27px 10px 13px 10px
    width: 180px
    background-color: #fff
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2)
    opacity: 0
    z-index: -100
    pointer-events: none
    transition: opacity 0.3s ease, max-height 0.3s ease
    z-index: 100

    @media (max-width: 1023px)
        position: relative
        top: 0
        left: auto
        transform: none
        padding-top: 0
        padding-bottom: 0
        width: 100%
        max-height: 0
        text-align: center
        background-color: $transparent
        box-shadow: none
        opacity: 1
        overflow: hidden

    &__item
        position: relative
        margin-bottom: 14px
        padding-left: 21px
        text-transform: initial
        font-family: $font
        font-weight: 400
        font-size: 12px
        line-height: 16px

        @media(max-width: 1023px)
            padding-left: 0

            br
                display: none

        &:hover
            font-weight: 700

        &.current
            font-weight: 700

            &:before
                content: ""
                position: absolute
                top: 2px
                left: 0
                width: 10px
                height: 10px
                background-color: $blue
                border-radius: 50%

                @media(max-width: 1023px)
                    display: none

    a
        color: $blue

        @media(max-width: 1023px)
            color: #fff
