.subscribe-block
    background-color: $blue

    &__wrapper 
        padding: 45px 40px

        @media (max-width: 1024px)
            padding-top: 40px
            padding-bottom: 50px

        @media (max-width: 767px)
            padding-top: 38px
            padding-left: 20px
            padding-right: 20px
            padding-bottom: 40px

    &__title 
        margin: 0
        text-transform: uppercase
        font-family: $font-special 
        font-weight: 400
        font-size: 42px
        line-height: 50px
        color: #fff

        @media (max-width: 1024px)
            margin-bottom: 40px

        @media (max-width: 767px)
            margin-bottom: 18px
            text-align: center
            line-height: 42px

.subscribe-form
    display: flex 
    align-items: center
    width: 100%

    @media (max-width: 1024px)
        flex-direction: column

    &__field-wrapper 
        position: relative
        margin-left: auto
        width: 50%
        min-width: 50%

        @media (max-width: 1024px)
            width: 100%
            min-width: 100% 

    &__field 
        @include field-reset
        box-sizing: border-box
        padding: 0 190px 0 20px
        width: 100%
        height: 50px
        background-color: #fff 
        font-size: 14px
        line-height: 50px
        border-radius: 25px 

        @media (max-width: 767px)
            margin-bottom: 20px
            padding-right: 20px

    &__btn 
        position: absolute
        top: 0
        right: 0
        width: 171px
        text-align: center

        .text 
            padding: 0


        @media (max-width: 767px)
            position: relative
            width: 100%
