.sz-products
    padding-bottom: 62px

    @media (max-width: 768px)
        padding-bottom: 40px

    &__promo 
        margin-bottom: -2px
        color: #fff
        background-color: #008752
        background-image: url("../images/cow-wave.png")
        background-repeat: no-repeat
        background-size: 100% auto 
        background-position: bottom -1px left

        @media (max-width: 768px)
            margin-bottom: 14px
            padding-top: 48px
            background-image: url("../images/asset-3@2x.png")
            background-position: bottom -25vw left
    
        &-wrapper 
            display: flex
            justify-content: flex-end
            margin: 0 auto
            padding: 0 20px
            padding-top: 110px
            padding-bottom: 16vw
            max-width: 1224px
            background-image: url("../images/svg/cow-new.svg")
            background-repeat: no-repeat
            background-size: 48% auto 
            background-position: left top 105px

            @media (max-width: 768px)
                padding: 0 11px
                padding-top: 15px
                padding-bottom: 29vw
                background-image: none

        &-content 
            width: 50%

            @media (max-width: 768px)
                width: 100%

        h3 
            margin: 0 0 29px
            max-width: 520px
            text-transform: uppercase
            font-family: $font-special 
            font-weight: 400
            font-size: 50px
            line-height: 60px

            @media (max-width: 768px)
                margin-bottom: 18px
                max-width: 270px
                font-size: 40px
                line-height: 48px

        p 
            margin: 0
            max-width: 565px
            font-size: 17px
            line-height: 24px
            color: rgba(255, 255, 255, 0.7)

            @media (max-width: 768px)
                font-size: 14px
                line-height: 20px

    .muu-products__title
        max-width: 822px