.types-intro
    box-sizing: border-box
    padding-top: 60px
    color: #fff
    background-color: #fff
    background-repeat: no-repeat
    background-size: 1920px auto
    background-position: bottom right
    margin-bottom: 118px
    position: relative

    @media (max-width: 1720px)
        background-size: 100% auto !important

    @media (max-width: 1024px)
        margin-bottom: 60px

    @media (max-width: 768px)
        background-size: 250% auto !important
        background-position: bottom right -90px

    &._splash
        &:after
            content: ''
            display: block
            position: absolute
            bottom: -195px
            right: -370px
            background: url("../images/types-intro-splash.png") center no-repeat
            background-size: contain
            width: 1594px
            height: 390px
            z-index: 1

            @media (max-width: 1600px)
                width: 1100px
                height: 269px
                bottom: -145px
                right: -270px

            @media (max-width: 1280px)
                width: 900px
                height: 220px
                bottom: -115px
                right: -250px

            @media (max-width: 1024px)
                width: 700px
                height: 171px
                bottom: -86px
                right: -173px

            @media (max-width: 768px)
                display: none

    &__wrapper
        display: flex
        flex-direction: column
        box-sizing: border-box
        width: 1650px
        padding-top: 75px
        justify-content: center
        min-height: 940px
        position: relative
        z-index: 2

        @media (max-width: 1720px)
            padding-bottom: 50px
            width: 1350px
            min-height: 800px

        @media (max-width: 1440px)
            width: 1180px
            min-height: 650px

        @media (max-width: 1280px)
            width: 920px
            min-height: 600px

        @media (max-width: 1024px)
            width: 720px
            min-height: 500px

        @media (max-width: 768px)
            width: 100%
            min-height: 975px
            padding-top: 39px
            justify-content: flex-start
            padding-left: 15px
            padding-right: 15px

    &__title
        margin: 0 0 55px 0
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        max-width: 800px
        letter-spacing: 2px
        font-size: 140px
        line-height: 140px
        margin-top: -105px
        color: #009cff

        @media (max-width: 1680px)
            margin-top: -55px

        @media (max-width: 1440px)
            font-size: 100px
            line-height: 100px
            letter-spacing: 1.3px
            max-width: 580px

        @media (max-width: 1280px)
            font-size: 85px
            line-height: 85px
            max-width: 480px

        @media (max-width: 1024px)
            font-size: 72px
            line-height: 72px
            max-width: 400px
            margin-top: 0

        @media (max-width: 768px)
            align-self: center
            max-width: 330px
            margin-bottom: 40px

    &__lead
        margin: 0
        max-width: 870px
        font-family: $font-alt
        font-weight: normal
        font-size: 28px
        line-height: 40px
        color: #666666
        margin-bottom: 25px

        @media (max-width: 1680px)
            max-width: 750px

        @media (max-width: 1440px)
            font-size: 24px
            line-height: 34px
            max-width: 547px

        @media (max-width: 1024px)
            font-size: 18px
            line-height: 28px
            max-width: 330px

        @media (max-width: 768px)
            align-self: center
            margin-bottom: 12px

        &:last-child
            margin-bottom: 0

.types
    overflow-x: hidden

    &-wrap
        overflow-x: hidden
        position: relative

    .inner-block
        width: 1650px
        margin-left: auto
        margin-right: auto
        position: relative

        @media (max-width: 1720px)
            width: 1350px

        @media (max-width: 1440px)
            width: 1180px

        @media (max-width: 1280px)
            width: 920px

        @media (max-width: 1024px)
            width: 720px

        @media (max-width: 768px)
            width: 100%
            padding: 0 15px
            box-sizing: border-box

    .text-wrapper
        margin-bottom: 115px

        @media (max-width: 1024px)
            margin-bottom: 92px

    .row
        display: flex

        @media (max-width: 768px)
            display: block

        &._right-img
            flex-direction: row-reverse

            .col-6
                &:last-child
                    padding-right: 70px

                    @media (max-width: 1280px)
                        padding-right: 35px

                    @media (max-width: 768px)
                        padding-right: 0
                        margin-bottom: 50px

                &:first-child
                    padding-left: 70px

                    @media (max-width: 1280px)
                        padding-left: 35px

                    @media (max-width: 768px)
                        padding-left: 0

        .col-6
            width: 50%
            box-sizing: border-box

            @media (max-width: 768px)
                width: 100%

            &:first-child
                padding-right: 70px

                @media (max-width: 1280px)
                    padding-right: 35px

                @media (max-width: 768px)
                    padding-right: 0
                    margin-bottom: 50px

            &:last-child
                padding-left: 70px

                @media (max-width: 1280px)
                    padding-left: 35px

                @media (max-width: 768px)
                    padding-left: 0

    &__footer
        background-color: #11a0ff
        min-height: 385px
        text-align: center
        display: flex
        align-self: center
        position: relative

        @media (max-width: 768px)
            min-height: 305px

        &._splash
            &:after
                content: ''
                display: block
                width: 1199px
                height: 491px
                position: absolute
                bottom: 0
                left: 50%
                transform: translateX(-50%)
                background: url("../images/types-footer-splash.png") top center no-repeat
                background-size: contain

        .types__title
            font-size: 60px
            line-height: 1

            @media (max-width: 768px)
                font-size: 48px
                word-break: break-word

        .inner-block
            align-self: center

        p, .types__title
            color: #fff

    .bg-block
        position: relative
        min-height: 900px
        display: flex
        margin-bottom: 130px
        background-position: center

        @media (max-width: 1024px)
            margin-bottom: 90px

        @media (max-width: 768px)
            min-height: 700px

        &._no-bg
            p, .types__title
                color: #333

            &:after
                display: none

        .splash
            display: none
            position: absolute
            z-index: 1
            bottom: -162px
            left: -157px
            width: 100%

            @media (max-width: 1440px)
                bottom: -120px

            @media (max-width: 1024px)
                bottom: -80px

            @media (max-width: 768px)
                display: none !important

            img
                max-width: 100%
                height: auto

        &._splash
            .splash
                display: block

        .inner-block
            z-index: 2
            flex: 1 auto 0

        p, h4
            color: #fff

        .types__title
            @media (max-width: 768px)
                line-height: 55px

        .row
            height: 100%

        .col-6:first-child
            padding-top: 178px
            padding-right: 135px

            @media (max-width: 1280px)
                padding-right: 70px

            @media (max-width: 1024px)
                padding-right: 30px
                padding-top: 90px

            @media (max-width: 768px)
                padding-right: 0
                margin-bottom: 56px

        .col-6:last-child
            align-self: flex-end
            padding-bottom: 170px
            padding-left: 135px

            @media (max-width: 1280px)
                padding-left: 70px

            @media (max-width: 1024px)
                padding-left: 30px
                padding-bottom: 110px

            @media (max-width: 768px)
                padding-left: 0

        &:after
            content: ''
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: #11a0ff
            opacity: .7

    &__image-block
        padding-top: 50px
        display: flex

        &._left
            justify-content: flex-start

        &._center
            justify-content: center

        &._right
            justify-content: flex-end

        img
            max-width: 100%
            height: auto
            align-self: flex-start

    &__title
        margin: 0 0 30px 0
        font-family: $font-special
        font-weight: 400
        font-size: 72px
        line-height: 1
        color: #009cff
        letter-spacing: 2px

        @media (max-width: 1440px)
            font-size: 60px

        @media (max-width: 1024px)
            font-size: 48px
            margin-bottom: 35px

        @media (max-width: 768px)
            margin-bottom: 20px

        &._left
            text-align: left

        &._center
            text-align: center

        &._right
            text-align: right

    &__text-block
        margin: 0 auto
        box-sizing: border-box
        max-width: 915px

        @media (max-width: 1024px)
            padding-top: 0

        &._left
            text-align: left

        &._center
            text-align: center

        &._right
            text-align: right

        p
            margin: 0 0 48px 0
            color: #333333
            font-family: $font-alt
            font-size: 20px
            line-height: 32px

            @media (max-width: 1024px)
                font-size: 16px
                line-height: 24px

            @media (max-width: 768px)
                margin-bottom: 48px

            &:last-child, &:last-of-type
                margin-bottom: 0