.upload-image-block
    position: relative

    &__img 
        position: relative
        width: 120px
        height: 120px
        background-color: #e1e1e1
        border-radius: 50%
        overflow: hidden

        img 
            display: block
            width: 100%
            height: auto

    &__icon 
        position: absolute
        bottom: 0
        right: 0
        width: 30px
        height: 30px
        background-color: #fff 
        border-radius: 50%

        svg
            @include center
            display: block
            width: 16px
            height: 16px
            fill: $blue

    &__camera-icon
        @include center 
        fill: $blue