.user-block
    display: flex
    align-self: flex-start
    box-sizing: border-box
    width: 100%
    padding: 26px 50px
    @include hover

    @media (max-width: 1439px)
        padding-left: 12px
        padding-right: 12px

    @media (max-width: 1279px)
      padding-top: 15px

    @media (max-width: 1023px)
        justify-content: flex-end
        margin-right: 34px
        padding-bottom: 6px
        padding-top: 24px

    @media (max-width: 767px)
        margin-left: auto
        margin-right: 0
        margin-top: 1px
        width: auto
        padding-top: 1px

    ._5ka &
      align-items: center
      padding-top: 35px
      padding-bottom: 25px
      padding-left: 0
      padding-right: 20px
      @media (max-width: 1279px)
        padding-top: 25px
        margin-left: 20px
        margin-right: 20px
      @media (max-width: 1023px)
        padding-top: 30px
        padding-bottom: 10px
        margin-left: auto
      @media (max-width: 767px)
        padding-top: 6px
        margin-top: 1px !important

    ._fixed &
        padding: 10px 50px

        @media (max-width: 1439px)
            padding-left: 12px
            padding-right: 12px

        @media (max-width: 767px)
            margin-top: 0

    ._full &

        @media (max-width: 767px)
            margin-top: 0
            padding-top: 20px

        ._5ka &
          @media (max-width: 767px)
              margin-top: 20px !important

    ._fixed._full &

        @media (max-width: 767px)
            margin-top: 18px

    &__image
        margin-right: 10px
        width: 40px
        min-width: 40px
        height: 40px
        background-color: #ccc
        background-repeat: no-repeat
        background-size: cover
        border-radius: 50%
        overflow: hidden
        ._5ka &
          width: 26px
          min-width: 26px
          height: 26px
          margin-right: 7px
          background-color: transparent


    &__info
        flex-grow: 1
        flex: none
        min-width: 105px

        @media (max-width: 1439px)
            max-width: calc(100% - 50px)

        @media (max-width: 1279px)
            display: none

        ._5ka &
          @media (max-width: 1600px)
              max-width: calc(100% - 110px)
              min-width: 60px

          @media (max-width: 1279px)
              display: none

    &__name
        margin: 0
        font-family: $font
        font-weight: 900
        font-size: 12px
        line-height: 20px
        color: #fff
        letter-spacing: 0.9px
        white-space: nowrap

        @media (max-width: 1439px)
            overflow: hidden
            text-overflow: ellipsis
        ._5ka &
          @media (max-width: 1600px)
              overflow: hidden
              text-overflow: ellipsis
          @media (max-width: 1279px)
            display: none

        ._fixed &
            color: $d-blue

        ._5ka &
          font-size: 14px
          font-family: $font-alt
          font-weight: 700
          text-transform: uppercase

    &__row
        @include row-component

    &__out
      margin-left: 12px
      svg
        display: block
        width: 100%
        height: auto
        fill: #fff
        stroke: #fff
        transition: fill 0.3s ease, stroke 0.3s ease

    .points
        margin-right: auto
        font-family: $font
        font-weight: 400
        font-size: 12px
        line-height: 20px
        color: rgba(255, 255, 255, 0.6)

        ._fixed &
            color: $blue

    .cur
        position: relative
        top: -1px
        display: inline-block
        vertical-align: middle
        margin: 0 3px
        width: 16px
        height: 16px
        text-align: center
        font-family: $font
        font-weight: 900
        font-size: 12px
        line-height: 18px
        color: #0295d4
        background-color: #fff
        border-radius: 50%

        ._fixed &
            color: #fff
            background-color: #0295d4

    &__add
        @include btn-reset
        @include hover
        position: relative
        width: 12px
        height: 12px
        font-size: 0
        border: 1px solid #fff
        border-radius: 50%

        ._fixed &
            border-color: $blue

        &:before,
        &:after
            content: ""
            @include center
            background-color: #fff

            ._fixed &
                background-color: $blue

        &:before
            width: 6px
            height: 1px

        &:after
            width: 1px
            height: 6px
