.vkusnoteevo-products
    padding-bottom: 62px

    @media (max-width: 768px)
        padding-bottom: 40px

    &__promo 
        margin-bottom: -2px
        color: #fff
        background-color: #c41a33
        background-image: url("../images/cow-wave.png")
        background-repeat: no-repeat
        background-size: 100% auto 
        background-position: bottom -1px left

        @media (max-width: 768px)
            margin-bottom: 4px
            padding-top: 35px
            background-image: url("../images/asset-3@2x.png")
            background-position: bottom -25vw left
    
        &-wrapper 
            display: flex
            justify-content: flex-end
            margin: 0 auto
            padding: 0 20px
            padding-top: 110px
            padding-bottom: 15vw
            max-width: 1300px
            background-image: url("../images/cow-vkus@2x.png")
            background-repeat: no-repeat
            background-size: 45% auto 
            background-position: left bottom 12.5vw

            @media (max-width: 768px)
                padding: 0 11px
                padding-top: 15px
                padding-bottom: 25vw
                background-image: none

        &-content 
            width: 50%

            @media (max-width: 768px)
                width: 100%

        h3 
            margin: 0 0 24px
            max-width: 500px
            text-transform: uppercase
            font-family: $font-special 
            font-weight: 400
            font-size: 50px
            line-height: 60px

            @media (max-width: 768px)
                margin-bottom: 18px
                max-width: 285px
                font-size: 40px
                line-height: 48px

        p 
            margin: 0
            max-width: 515px
            font-size: 17px
            line-height: 24px
            color: rgba(255, 255, 255, 0.7)

            @media (max-width: 768px)
                padding-right: 10px
                font-size: 14px
                line-height: 20px

    &._01 

        .vkusnoteevo-products__promo-wrapper
            background-image: url("../images/svg/pancakes.svg")
            background-size: 30% auto 
            background-position: left 7.7vw top 5.5vw

            @media (max-width: 768px)
                background-image: none

        .vkusnoteevo-products__promo

            p 
                margin-bottom: 28px
                max-width: 576px

                &:last-child 
                    margin-bottom: 0

    .muu-products__wrapper
        padding-top: 70px

    .muu-products__title
        max-width: 822px