.winners-section

    &__title 
        margin: 0 0 34px 0
        padding-top: 35px
        text-align: center
        text-transform: uppercase
        font-family: $font-special 
        font-weight: 400
        font-size: 60px
        line-height: 80px
        color: $d-blue

        @media (max-width: 767px)
            font-size: 42px
            line-height: 60px

    &__inner 
        display: flex
        flex-wrap: wrap

.winners-slider
    width: 33.3%
    min-width: 33.3%

    @media (max-width: 1024px)
        width: 50%
        min-width: 50%

    @media (max-width: 767px)
        width: 100%
        min-width: 100%

    &__header 
        display: flex 
        flex-direction: column 
        align-items: center
        padding: 28px 40px
        color: #fff
        background-color: $blue

        @media (max-width: 1439px)
            padding-left: 20px
            padding-right: 20px

    &:nth-child(2)

        .winners-slider__header
            background-color: $d-blue

    &:nth-child(3)

        @media (max-width: 1024px)
            width: 100%
            min-width: 100%

        .winners-slider__header
            background-color: #013765

    &:nth-child(4)

        .winners-slider__header
            background-color: $yellow

    &:nth-child(5)
        width: 100%
        min-width: 100%

        .winners-slider__header
            background-color: $yellow

    &__tag 
        margin: 0 0 4px 0
        min-height: 17px
        text-transform: uppercase
        font-family: $font-alt
        font-weight: 400
        font-size: 13px
        line-height: 17px
        letter-spacing: 1.2px

    &__amount 
        margin: 0 0 21px 0
        text-transform: uppercase
        font-family: $font-special
        font-weight: 400
        font-size: 40px
        line-height: 40px

    &__date 
        width: 100%
        max-width: 280px
        text-align: center
        text-transform: uppercase
        font-family: $font-alt 
        font-weight: 700
        font-size: 10px
        line-height: 30px
        letter-spacing: 1.2px
        color: $d-blue 
        background-color: #fff 
        border-radius: 15px

        @media (max-width: 1439px)
            max-width: 310px

        @media (max-width: 1024px)
            max-width: 95%

    &__body 
        margin-top: -168px
        padding-top: 168px

    .swiper-button-prev,
    .swiper-button-next 
        margin: 0 
        top: 110px
        left: 50% 
        margin-left: -140px
        width: 30px
        height: 30px
        background-image: none
        border-radius: 50%
        z-index: 2

        @media (max-width: 1439px)
            margin-left: -43%   

        &:before 
            content: ""
            @include center
            width: 0
            height: 0
            border-style: solid
            border-width: 4px 8px 4px 0
            border-color: $transparent $d-blue $transparent $transparent

    .swiper-button-next
        left: auto 
        right: 50%
        margin-right: -140px
        transform: scale(-1,1)

        @media (max-width: 1439px)
            margin-right: -43%

.winners-list
    margin: 0
    box-sizing: border-box
    padding: 20px 40px
    padding-right: 0
    padding-bottom: 0
    list-style: none
    height: 230px

.winner
    @include row-component
    margin-bottom: 10px

    &__img 
        margin-right: 10px
        width: 30px
        height: 30px
        background-color: #d8d8d8
        background-image: url("../images/svg/camera-blue.svg")
        background-repeat: no-repeat
        background-size: cover
        border-radius: 50%
        overflow: hidden 

    &__name 
        margin: 0
        font-size: 14px
        line-height: 20px
        color: #000

.winners50000
    
    .winners-list
        display: flex 
        flex-direction: column 
        align-items: center 
        padding-right: 40px
        height: 72px

.winners-slide

    &__text
        margin: 0
        padding: 20px 10px 20px 40px

