@import normalize
@import fonts.scss
@import grid
@import animation


// ----------------------------------------------------------------------
    // General styles
// ----------------------------------------------------------------------

html
    width: 100%

html *
    max-height: 1000000px

body
    margin: 0
    width: 100%
    min-width: 1400px
    font-family: $font-alt
    font-size: 16px
    line-height: 20px
    color: $textColor
    background-color: #fff

    @media (max-width: 1439px)
        min-width: 1008px

    @media (max-width: 1024px)
        min-width: 768px

    @media (max-width: 767px)
        min-width: 320px

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    &.overflow
        height: 100vh
        overflow: hidden

    &.iosBugFixCaret.overflow
        position: fixed
        width: 100%

.global-wrapper
    position: relative
    margin: 0 auto

    overflow: hidden

.layout-positioner
    position: relative
    box-sizing: border-box
    margin: 0 auto
    padding: 0
    width: 1440px

    @media (max-width: 1439px)
        width: 100%

.visually-hidden
    position: absolute !important
    clip: rect(1px 1px 1px 1px)
    clip: rect(1px, 1px, 1px, 1px)
    padding:0 !important
    border:0 !important
    height: 1px !important
    width: 1px !important
    overflow: hidden

.hidden
    display: none !important

.invisible
    position: absolute
    z-index: -100
    visibility: hidden

.svg-wrapper
    position: absolute
    opacity: 0
    z-index: -100

.scrollable

    .mCSB_scrollTools
        width: 4px
        margin-right: 10px

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
        width: 4px
        background-color: rgba(0, 0, 0, 0.2)
        border-radius: 2px

    .mCSB_scrollTools .mCSB_draggerRail
        background-color: $transparent
