
@font-face {
  font-family: 'HappyFoxCondensed';
  src: url('../fonts/HappyFoxCondensed.eot');
  src: url('../fonts/HappyFoxCondensed.eot') format('embedded-opentype'),
         url('../fonts/HappyFoxCondensed.woff2') format('woff2'),
         url('../fonts/HappyFoxCondensed.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyrRoman.eot');
  src: url('../fonts/HelveticaNeueCyrRoman.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyrRoman.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyrRoman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyrBold.eot');
  src: url('../fonts/HelveticaNeueCyrBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyrBold.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyrBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyrLight.eot');
  src: url('../fonts/HelveticaNeueCyrLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyrLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/CirceRegular.eot');
  src: url('../fonts/CirceRegular.eot') format('embedded-opentype'),
         url('../fonts/CirceRegular.woff2') format('woff2'),
         url('../fonts/CirceRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/CirceBold.eot');
  src: url('../fonts/CirceBold.eot') format('embedded-opentype'),
         url('../fonts/CirceBold.woff2') format('woff2'),
         url('../fonts/CirceBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/CirceExtraBold.eot');
  src: url('../fonts/CirceExtraBold.eot') format('embedded-opentype'),
         url('../fonts/CirceExtraBold.woff2') format('woff2'),
         url('../fonts/CirceExtraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Proxima';
  src: url('../fonts/ProximaNovaBold.eot');
  src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaBold.woff2') format('woff2'),
         url('../fonts/ProximaNovaBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}


@font-face {
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova-Black.woff2') format('woff2'),
    url('../fonts/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('../fonts/pragmaticalightc.eot');
  src: url('../fonts/pragmaticalightc.eot') format('embedded-opentype'),
         url('../fonts/pragmaticalightc.woff2') format('woff2'),
         url('../fonts/pragmaticalightc.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('../fonts/pragmaticalightcbold.eot');
  src: url('../fonts/pragmaticalightcbold.eot') format('embedded-opentype'),
         url('../fonts/pragmaticalightcbold.woff2') format('woff2'),
         url('../fonts/pragmaticalightcbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.eot');
    src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria.woff') format('woff'),
    url('../fonts/Geometria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.eot');
    src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Bold.woff') format('woff'),
    url('../fonts/Geometria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-reg.woff2') format('woff2'),
         url('../fonts/rubik-reg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/Rubik-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
