.cols-wrapper
    position: relative
    display: flex
    padding-top: 60px //высота фиксированного хедера

    &._codes
        @media (max-width: 1024px)
            display: block

.main-col
    box-sizing: border-box
    width: 75%
    min-width: 75%

    @media (max-width: 1024px)
        width: 100%
        min-width: 100%

.aside-col
    box-sizing: border-box
    width: 25%
    min-width: 25%

    @media (max-width: 1024px)
        display: none

    ._codes &
        @media (max-width: 1024px)
            display: block
            width: 100%
            min-width: 100%

        .aside-col__inner
            @media (max-width: 1024px)
                position: static

    &__inner 
        position: sticky

        &.scrollable 
            //height: calc(100vh - 60px)

        &._sticky 
            position: sticky

.js-sticky:before,
.js-sticky:after
    content: ''
    display: table