.swiper-pagination
  margin-top: vw(32, 1920)
  @media (max-width: 767px)
    margin-top: vmin(21, 320)
  .swiper-pagination-bullet
    background: transparent
    width: vw(12, 1920)
    height: vw(12, 1920)
    border: 2px solid $white
    opacity: 1
    box-sizing: border-box
    @media (max-width: 767px)
      width: vmin(9, 320)
      height: vmin(9, 320)
    &-active
      background: $white
