.select2
  .select2-selection.select2-selection--single
    border: 2px solid transparent
    border-radius: vw(10, 1920)
    box-sizing: border-box
    box-shadow: none
    height: auto
    @media (max-width: 767px)
      border-radius: vmin(5, 320)
    .select2-selection__rendered
      padding: vw(22, 1920) vw(19, 1920)
      font: vw(24, 1920) $font-alt
      line-height: vw(28, 1920)
      color: $black-ll !important
      @media (max-width: 767px)
        padding: vmin(14, 320) vmin(13, 320)
        font-size: vmin(15, 320)
        line-height: vmin(18, 320)
    .select2-selection__arrow
      width: vw(18, 1920)
      height: vw(9, 1920)
      top: 50%
      transform: translateY(-50%)
      right: vw(19, 1920)
      background: url('../images/5ka/arr.svg') 0 0 no-repeat
      background-size: contain
      @media (max-width: 767px)
        width: vmin(10, 320)
        height: vmin(5, 320)
        right: vmin(19, 320)
      b
        display: none
.select2-container--open
  .select2-selection__arrow
    transform: translateY(-50%) rotate(180deg) !important
.select2-dropdown
  background: rgba(255,255,255,.85)
  border: none
  color: $black-ll
  box-shadow: none
  font: vw(24, 1920) $font-alt
  line-height: vw(28, 1920)
  @media (max-width: 767px)
    font-size: vmin(15, 320)
    line-height: vmin(18, 320)
  .ios &
    display: none !important
  .select2-results__option
    &[aria-selected=true]
      background: transparent
body > .select2-container
  width: auto
