// ----------------------------------------------------------------------
    // Sizes
// ----------------------------------------------------------------------
$screenXXL: 1900px;
$screenXL: 1400px;
$screenL: 1280px;
$screenM: 1024px;
$screenS: 900px;
$screenXS: 768px;
$screenXS-s: 600px;
$screenXXS: 640px;
$screenMob: 500px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


// ----------------------------------------------------------------------
    // Colors
// ----------------------------------------------------------------------
$transparent: rgba(255, 255, 255, 0);
$textColor: #303030;
$blue: #0295d4;
$d-blue: #185491;
$purple: #d4003d;
$yellow: #eaad00;
$red: #e40b27;
$red-l: #ED1C24;
$blue-l: #1C5690;
$blue-d: #053863;
$black: #000;
$black-l: #555;
$black-ll: #333;
$sea: #0073C4;
$white: #fff;
$marine: #4595D2;
$sky: #ACE2F8;
$sky-l: #7FC3EA;
$grey: #7F8F95;

// ----------------------------------------------------------------------
    // Gradients
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
    // Fonts
// ----------------------------------------------------------------------
$font: 'Circe', Arial, sans-serif;
$font-alt: 'Helvetica Neue', Arial, sans-serif;
$font-special: 'HappyFoxCondensed', serif;
$font-promo: 'Pragmatica', sans-serif;
$font-pn: 'Proxima', sans-serif;
$font-rubik: 'Rubik', sans-serif;
$font-geometria: 'Geometria', sans-serif;
