<section class="section">
    <div class="page-404__row">
        <div class="page-404__col">
            <div class="page-404__inner">
                <h2 class="page-404__title">Ошибка 404</h2>
                <h5 class="page-404__subtitle">Запрашиваемая страница не&nbsp;найдена. Попробуйте еще раз.</h5>
            </div>
        </div>
        <div class="page-404__col">
            <img src="assets/images/cow.png" alt="">
        </div>
    </div>
</section>
