<section class="actions">
    <h2 class="actions__title">Акции от&nbsp;производителей</h2>
    <div class="grid">
        <a href="#" class="grid-item link-card _left _image col-2">
            <div class="link-card__bg" style="background-image: url('https://vakilsearch.com/advice/wp-content/uploads/2017/11/gift-11.jpg')"></div>
            <div class="link-card__tag">Акции</div>
            <h3 class="link-card__title">Купи 3&nbsp;пачки молока домик в&nbsp;деревне, <br>активируй код и&nbsp;получи магнит</h3>
        </a>
        <a href="#" class="grid-item link-card _left _image col-2">
            <div class="link-card__bg" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ4Ud5mYbzyd_RzqKgoxR8ARj88QedKgEZyKtEfKeaQRRO7MaY')"></div>
            <div class="link-card__tag">Акции</div>
            <h3 class="link-card__title">Купи 3&nbsp;пачки молока домик в&nbsp;деревне, <br>активируй код и&nbsp;получи магнит</h3>
        </a>
    </div>
</section>