<div class="overlay  js-modal _show">
    <div class="modal _action">
        <button type="button" class="modal-close _white js-modal-close">Закрыть</button>
        <h3 class="modal__headline">Выиграй дом в&nbsp;деревне!</h3>
        <p class="modal__text">Значимость этих проблем настолько очевидна, что рамки и&nbsp;место обучения кадров в&nbsp;значительной степени обуславливает создание соответствующий условий активизации. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности в&nbsp;значительной степени обуславливает создание новых предложений. </p>
        <div class="modal__btn-row">
            <a href="#" class="btn btn--fullblue-l js-wave btn--milky modal__btn"><span class="text">принять участие</span></a>
        </div>
    </div>
</div>