<section class="section ar-section">
    <div class="ar-section__top">
        <div class="ar-section__title-block">
            <div class="ar-section__title">дополненная <br>реальность</div>
            <div class="ar-section__upload">
                <div class="ar-section__subtitle">скачайте <br>мобильное приложение</div>
                <ul class="ar-section__upload-list">
                    <li class="ar-section__upload-item">
                        <a href="#">
                            <img src="assets/images/app-store.png" alt="">
                        </a>
                    </li>
                    <li class="ar-section__upload-item">
                        <a href="#">
                            <img src="assets/images/google-play.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ar-section__video-wrap">
            <video class="ar-section__video" loop="loop" controls autoplay>
                <source src="assets/video/ar.mp4" type="video/mp4">
                <source src="assets/video/ar.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="ar-section__images">
        <img class="ar-section__image" src="assets/images/ar.png" alt="">
        <div class="swipe-right js-swipe-right"></div>
    </div>
</section>
