<div class="cols-wrapper js-cols">
    <div class="main-col">
        <section class="blog-post">
            <h2 class="blog-post__title">Молочный, ореховый, рыбий: какие жиры полезны?</h2>
            <div class="blog-post__info-row">
                <div class="blog-post__tag">польза молока</div>
                <time class="blog-post__datetime" datetime="2018-01-19 12:36">19&nbsp;янв 2018, 12:36</time>
                <div class="blog-post__actions blog-actions">
                    <a href="#" class="blog-action">
                <span class="blog-action__icon">
                <svg width="18" height="11">
                <use xlink:href="#eye" />
                </svg>
                </span>
                                        <span class="blog-action__num">10&nbsp;345</span>
                                    </a>
                                    <a href="#" class="blog-action">
                <span class="blog-action__icon">
                <svg width="16" height="14">
                <use xlink:href="#share" />
                </svg>
                </span>
                        <span class="blog-action__num">132</span>
                    </a>
                </div>
            </div>
            <h4>Многие опасаются жиров, чтобы не&nbsp;навредить фигуре и&nbsp;здоровью в&nbsp;целом. Но&nbsp;не&nbsp;стоит обобщать. Жиры необходимы организму, но&nbsp;только полезные и&nbsp;в&nbsp;ограниченном количестве. От&nbsp;каких продуктов отказываться не&nbsp;стоит, несмотря на&nbsp;их&nbsp;&laquo;жирность&raquo;?</h4>
            <img src="assets/images/bitmap2@2x.jpg" width="1000" height="611">
            <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>

            //= similar-links.html

            <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            <p>Какие&nbsp;же продукты должны быть в&nbsp;рационе и&nbsp;чьей высокой жирности не&nbsp;нужно опасаться?</p>
            <h3>Яйца</h3>
            <p>Яичные желтки долго были под запретом диетологов, однако последние исследования показывают&nbsp;&mdash; жиры, содержащиеся в&nbsp;яичных желтках, как раз относятся к&nbsp;незаменимым. Плюсом к&nbsp;ним вы&nbsp;получите множество витаминов и&nbsp;минералов, а&nbsp;также протеин (полезный для спортсменов). Главное&nbsp;&mdash; не&nbsp;подвергать яйца нещадной жарке. Лучше приготовить омлет на&nbsp;пару или попросту сварить&nbsp;их.</p>
            <h3>Коровье молоко</h3>
            <p>Молоко полезно не&nbsp;только правильными жирами, но&nbsp;и&nbsp;антиоксидантами, витаминами и&nbsp;белком. Кроме того, польза молока сказывается на&nbsp;иммунитете и&nbsp;пищеварении. Молоко также помогает восстановить силы после спортивных тренировок.</p>
            <h3>Йогурт</h3>
            <p>Йогурт из&nbsp;натурального молока&nbsp;&mdash; пожалуй, один из&nbsp;самых полезных кисломолочных продуктов. Он&nbsp;богат пробиотиками, которые положительно влияют на&nbsp;пищеварение, а&nbsp;также кальцием и&nbsp;протеином, как и&nbsp;любой продукт из&nbsp;молока. Главное, избегайте избытка сахара и&nbsp;вкусовых добавок. Лучше покупать натуральный йогурт и&nbsp;добавлять подсластители самостоятельно&nbsp;&mdash; мёд, варенье, ягоды и&nbsp;т.д.</p>
            <h3>Сливочное масло</h3>
            <p>В&nbsp;отличие от&nbsp;маргарина и&nbsp;спредов, масло из&nbsp;натурального коровьего молока полезно и&nbsp;богато витаминами. Более того, в&nbsp;последние годы в&nbsp;его пользу высказываются и&nbsp;диетологи в&nbsp;борьбе с&nbsp;ожирением. Главное, опять&nbsp;же, не&nbsp;переусердствовать, потому что жиров, хоть и&nbsp;полезных, в&nbsp;сливочном масле достаточно.</p>
            <h3>Сыр</h3>
            <p>Источник не&nbsp;только полезных жиров, но&nbsp;и&nbsp;белка, и&nbsp;кальция. Сыр отлично контролирует аппетит и&nbsp;поэтому прекрасно подходит для перекусов.</p>
            <h3>Орехи</h3>
            <p>Грецкие орехи, миндаль, кедровые орешки, а&nbsp;также многочисленные виды семечек (тыквенные, подсолнечные и&nbsp;др.)&nbsp;&mdash; все они очень богаты полезными жирами и&nbsp;витаминами. Орехи также богаты антиоксидантами и&nbsp;положительно сказываются на&nbsp;здоровье сердца. Единственный риск&nbsp;&mdash; съесть слишком много орешков, поэтому контролируйте порции. И, разумеется, откажитесь от&nbsp;жареных и&nbsp;солёных орешков в&nbsp;пользу натуральных.</p>
            <!-- <img src="assets/images/bitmap3@2x.jpg" width="1000" height="611"> -->
            <video src="assets/video/pack-1.mp4" poster="assets/images/bitmap3@2x.jpg" width="1000" height="611" controls></video>
            <h3>Авокадо</h3>
            <p>Загадочный то&nbsp;ли овощ, то&nbsp;ли фрукт, авокадо богат жирами, но&nbsp;при этом беден углеводами, что в&nbsp;принципе делает его интересным для людей, следящих за&nbsp;калориями. Более того, авокадо богат мононенасыщенными жирами&nbsp;&mdash; самыми полезными. В&nbsp;его составе также есть омега-3, витамины, антиоксиданты, клетчатка. Одного авокадо хватит на&nbsp;несколько порций салата или смузи.</p>
            <h3>Жирная рыба</h3>
            <p>Рыба, как известно, главный источник незаменимых жирных кислот омега-3 и&nbsp;белка. Лосось, тунец, форель, сардины, скумбрия, ставрида и&nbsp;другие виды полезной рыбы действительно относятся к&nbsp;жирным, однако пару раз в&nbsp;неделю разнообразить свой рацион рыбой полезно и&nbsp;нужно. Если рыбу вы&nbsp;не&nbsp;любите, то&nbsp;обратите внимание на&nbsp;морепродукты&nbsp;&mdash; креветки и&nbsp;т.д.</p>
            <h3>Оливковое масло</h3>
            <p>Нерафинированное оливковое масло прямого отжима является самым полезным из&nbsp;всех растительных масел. Разумеется, жарить на&nbsp;нём не&nbsp;следует (жарить вообще не&nbsp;следует), а&nbsp;вот как заправка к&nbsp;салатам и&nbsp;основа для соусов оно подходит отлично.</p>
            <h3>Горький шоколад</h3>
            <p>Тот самый шоколад, содержание какао в&nbsp;котором больше 70%. Если без сладкого всё&nbsp;же не&nbsp;обойтись, то&nbsp;именно горький шоколад придёт на&nbsp;помощь. Помимо жиров (полезных, кстати!), в&nbsp;нём содержится железо, магний, медь, клетчатка и&nbsp;антиоксиданты. Последние исследования показывают, что горький шоколад снижает уровень холестерина в&nbsp;крови.</p>
            <div class="blog-post__footer">
                <div class="blog-post__footer-row">
                    <a href="#" class="btn btn--lblue blog-post__like like-btn">
                        <span class="like-btn__text">Нравится</span>
                        <span class="like-btn__icon">
                            <svg width="14" height="12">
                            <use xlink:href="#heart" />
                            </svg>
                            </span>
                        <span class="like-btn__num">127</span>
                    </a>
                </div>
                <div class="rate-block">
                    <span class="rate-block__label">Статья полезна?</span>
                    <form action="#" method="post" class="rate-form">
                        <input type="radio" class="visually-hidden" id="useful" name="rating" checked>
                        <label for="useful" class="rate-form__label">да</label>
                        <input type="radio" class="visually-hidden" id="unuseful" name="rating">
                        <label for="unuseful" class="rate-form__label">нет</label>
                    </form>
                </div>
                <a href="#" class="btn btn--fullblue-l blog-post__share">
                    <span class="icon">
                    <svg width="22" height="20">
                    <use xlink:href="#share" />
                    </svg>
                    </span>
                    <span class="text">поделиться</span>
                </a>
                <div class="blog-post__social social _mid">
                    <a href="#" class="social-btn social-btn--vk">
                        <svg class="icon" width="23" height="12">
                            <use xlink:href="#vk" />
                        </svg>
                    </a>
                    <a href="#" class="social-btn social-btn--fb">
                        <svg class="icon" width="9" height="17">
                            <use xlink:href="#fb" />
                        </svg>
                    </a>
                    <a href="#" class="social-btn social-btn--ok">
                        <svg class="icon" width="12" height="18">
                            <use xlink:href="#ok" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="comments">
                <p class="comments__label">Комментарии:</p>
                <div class="comment-section">
                    <div class="comment">
                        <div class="comment__head">
                            <div class="comment__image"></div>
                            <div class="comment__body">
                                <p class="comment__author"><b class="name">Наталья</b> <span class="label"></span></p>
                                <div class="comment__text">
                                    <p>Теплое молоко на ночь — то, что нужно!</p>
                                </div>
                                <div class="comment__footer">
                                    <time class="comment__date" datetime="2019-03-22">22 марта 2019</time>
                                    <button class="btn comment__btn" type="button">ответить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-section">
                    <div class="comment">
                        <div class="comment__head">
                            <div class="comment__image" style="background-image: url('assets/images/avatar01.jpg')"></div>
                            <div class="comment__body">
                                <p class="comment__author"><b class="name">Анастасия</b> <span class="label"></span></p>
                                <div class="comment__text">
                                    <p>Интересная статья! Помню, в детстве всегда кипятили, переливали в банку и ставили  в холодильник. Спасибо за совет, буду теперь подогревать молоко.</p>
                                </div>
                                <div class="comment__footer">
                                    <time class="comment__date" datetime="2019-03-22">22 марта 2019</time>
                                    <button class="btn comment__btn" type="button">ответить</button>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment__head">
                                <div class="comment__image" style="background-image: url('assets/images/avatarmc.jpg')"></div>
                                <div class="comment__body">
                                    <p class="comment__author"><b class="name">Клуб «Высший молочный стандарт»</b>  <span class="label">ответил</span></p>
                                    <div class="comment__text">
                                        <p>Анастасия, мы рады, что Вам понравилась статья. Будьте здоровы!</p>
                                    </div>
                                    <div class="comment__footer">
                                        <time class="comment__date" datetime="2019-03-22">22 марта 2019</time>
                                        <button class="btn comment__btn" type="button">ответить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="comment__head">
                                    <div class="comment__image" style="background-image: url('assets/images/avatar01.jpg')"></div>
                                    <div class="comment__body">
                                        <p class="comment__author"><span class="label">Ответ для</span> <b class="name">Клуб «Высший молочный стандарт»:</b></p>
                                        <form action="#" method="post" class="comment-form">
                                            <label for="reply01" class="visually-hidden"></label>
                                            <textarea name="reply01" id="reply01" class="comment-form__message">Клуб «Высший молочный стандарт», спасибо</textarea>
                                            <button class="btn btn--fullblue comment-form__submit">Отправить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="comment-section">
                    <div class="comment">
                        <div class="comment__head">
                            <div class="comment__image" style="background-image: url('assets/images/avatar02.jpg')"></div>
                            <div class="comment__body">
                                <p class="comment__author"><b class="name">Константин</b> <span class="label"></span></p>
                                <div class="comment__text">
                                    <p>Самое лучшее молоко все равно было деревенское, со свежим хлебом :).</p>
                                </div>
                                <div class="comment__footer">
                                    <time class="comment__date" datetime="2019-03-22">22 марта 2019</time>
                                    <button class="btn comment__btn" type="button">ответить</button>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment__head">
                                <div class="comment__image" style="background-image: url('assets/images/avatarmc.jpg')"></div>
                                <div class="comment__body">
                                    <p class="comment__author"><span class="label">Ответ для</span> <b class="name">Константин</b></p>
                                    <form action="#" method="post" class="comment-form">
                                        <label for="reply02" class="visually-hidden"></label>
                                        <textarea name="reply02" id="reply02" class="comment-form__message">Константин, деревенское молоко</textarea>
                                        <button class="btn btn--fullblue comment-form__submit">Отправить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment-block">
                <button class="comment-block__expand js-comment-expand btn btn--blue" type="button">
                    <span class="icon">+</span>
                    <span>добавить комментарий<span class="_mobile"> к статье</span></span>
                </button>
                <div class="comment-form collapsed">
                    <form action="#" method="post">
                        <div class="comment-form__row">
                            <div class="comment-form__col _narrow">
                                <div class="comment-form__upload">
                                    <input type="file" class="comment-form__file" id="upload-field">
                                    <label for="upload-field" class="comment-form__upload-link">
                                        <span class="visually-hidden">Загрузить изображение</span>
                                        <svg width="45" height="40">
                                            <use xlink:href="#camera" />
                                        </svg>
                                    </label>
                                </div>
                            </div>
                            <div class="comment-form__col _wide">
                                <label for="message-field" class="visually-hidden">Напишите комментарий</label>
                                <textarea name="message" id="message-field" class="comment-form__message" placeholder="Ваш комментарий..."></textarea>
                            </div>
                        </div>
                        <div class="comment-form__row">
                            <div class="comment-form__col _narrow"></div>
                            <div class="comment-form__col _wide">
                                <button class="btn btn--fullblue comment-form__submit">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <a href="#top" class="link-to-top js-top">
                <span class="visually-hidden">Наверх</span>
                <img src="assets/images/top.png" width="24" height="32" alt="">
            </a>
        </section>
    </div>
    <div class="aside-col js-aside">
        <div class="aside-col__inner sticky scrollable">
            <div class="post-previews">
                <h3 class="post-previews__title">материалы по&nbsp;теме</h3>
                <a href="#" class="post-preview">
                    <h4 class="post-preview__title">Осень: <br>время пить молоко</h4>
                    <p class="post-preview__tag">польза молока</p>
                </a>
                <a href="#" class="post-preview">
                    <h4 class="post-preview__title">24&nbsp;января&nbsp;&mdash; день <br>рождения эскимо</h4>
                    <p class="post-preview__tag">опрос</p>
                </a>
                <a href="#" class="post-preview">
                    <h4 class="post-preview__title">Зимнее меню: польза <br>молока, супов и&nbsp;витаминов</h4>
                    <p class="post-preview__tag">Разное</p>
                </a>
                <a href="#" class="post-preview">
                    <h4 class="post-preview__title">Свойства молока <br>для здорового питания</h4>
                    <p class="post-preview__tag">польза молока</p>
                </a>
            </div>
        </div>
    </div>
</div>