<div class="calendar">
    <div class="splash splash__1" data-koef="0.4" data-y="0"></div>
    <div class="splash splash__2" data-koef="0.6" data-y="0"></div>
    <div class="splash splash__3" data-koef="0.5" data-y="0"></div>
    <div class="splash splash__4" data-koef="0.3" data-y="0"></div>
    <div class="splash splash__5" data-koef="0.25" data-y="0"></div>
    <div class="splash splash__6" data-koef="0.45" data-y="0"></div>
    <div class="splash splash__7" data-koef="0.45" data-y="0"></div>
    <div class="splash splash__8" data-koef="0.25" data-y="0"></div>
    <div class="calendar__promo">
        <div class="calendar__bg" style="background-image: url('/assets/images/calendar-bg.jpg')"></div>
        <div class="container__custom">
            <div class="calendar__promo-content">
                <div class="calendar__promo-title">
                    планы на май: концерты
                </div>
                <div class="calendar__promo-descr">
                    В майской подборке - самые ожидаемые концерты отечественных и мировых звёзд: от молодых исполнителей до легенд музыкального Олимпа, от завораживающих лиричных композиций до ритмичных танцевальных миксов. Май обещает быть жарким!
                </div>
            </div>
        </div>
    </div>
    <div class="calendar__events">
        <div class="events__slider-box">
            <div class="event__prev"></div>
            <div class="event__next"></div>
            <div class="event__slider-wrap">
                <div class="events__slider">
                    <div class="events__item">
                        <div class="events__item-bl">
                            <div class="events__bg-slider">
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/1-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                12
                                            </div>
                                            <div class="events__item-title">
                                                БАСТА
                                            </div>
                                            <div class="events__item-city">
                                                Казань
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/1-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                16
                                            </div>
                                            <div class="events__item-title">
                                                БАСТА
                                            </div>
                                            <div class="events__item-city">
                                                Пермь
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/1-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                18
                                            </div>
                                            <div class="events__item-title">
                                                БАСТА
                                            </div>
                                            <div class="events__item-city">
                                                Екатеринбург
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/1-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                24
                                            </div>
                                            <div class="events__item-title">
                                                БАСТА
                                            </div>
                                            <div class="events__item-city">
                                                Новосибирск
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/1-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                26
                                            </div>
                                            <div class="events__item-title">
                                                БАСТА
                                            </div>
                                            <div class="events__item-city">
                                                Омск
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/1-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                29
                                            </div>
                                            <div class="events__item-title">
                                                БАСТА
                                            </div>
                                            <div class="events__item-city">
                                                Красноярск
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pager__custom"></div>
                        </div>
                    </div>
                    <div class="events__item">
                        <div class="events__item-bl">
                            <div class="events__bg-slider">
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/2-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                14
                                            </div>
                                            <div class="events__item-title">
                                                TYGA
                                            </div>
                                            <div class="events__item-city">
                                                Москва
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/2-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                15
                                            </div>
                                            <div class="events__item-title">
                                                TYGA
                                            </div>
                                            <div class="events__item-city">
                                                Санкт-Петербург
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pager__custom"></div>
                        </div>
                    </div>
                    <div class="events__item">
                        <div class="events__item-bl">
                            <div class="events__bg-slider">
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/3-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                17
                                            </div>
                                            <div class="events__item-title">
                                                ДЕЛЬФИН
                                            </div>
                                            <div class="events__item-city">
                                                Воронеж
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/3-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                18
                                            </div>
                                            <div class="events__item-title">
                                                ДЕЛЬФИН
                                            </div>
                                            <div class="events__item-city">
                                                Ростов-на-Дону
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pager__custom"></div>
                        </div>
                    </div>
                    <div class="events__item">
                        <div class="events__item-bl">
                            <div class="events__bg-slider">
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/4-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                18
                                            </div>
                                            <div class="events__item-title">
                                                JUSTICE
                                            </div>
                                            <div class="events__item-city">
                                                Москва
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pager__custom"></div>
                        </div>
                    </div>
                    <div class="events__item">
                        <div class="events__item-bl">
                            <div class="events__bg-slider">
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/5-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                19
                                            </div>
                                            <div class="events__item-title">
                                                PIZZA
                                            </div>
                                            <div class="events__item-city">
                                                Москва
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pager__custom"></div>
                        </div>
                    </div>
                    <div class="events__item">
                        <div class="events__item-bl">
                            <div class="events__bg-slider">
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/6-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                19
                                            </div>
                                            <div class="events__item-title">
                                                ТИМАТИ
                                            </div>
                                            <div class="events__item-city">
                                                Екатеринбург
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pager__custom"></div>
                        </div>
                    </div>
                    <div class="events__item">
                        <div class="events__item-bl">
                            <div class="events__bg-slider">
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/7-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                20
                                            </div>
                                            <div class="events__item-title">
                                                ЁЛКА
                                            </div>
                                            <div class="events__item-city">
                                                Санкт-Петербург
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/7-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                28
                                            </div>
                                            <div class="events__item-title">
                                                ЁЛКА
                                            </div>
                                            <div class="events__item-city">
                                                Красноярск
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pager__custom"></div>
                        </div>
                    </div>
                    <div class="events__item">
                        <div class="events__item-bl">
                            <div class="events__bg-slider">
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/8-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                21
                                            </div>
                                            <div class="events__item-title">
                                                NICKELBACK
                                            </div>
                                            <div class="events__item-city">
                                                Москва
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/8-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                23
                                            </div>
                                            <div class="events__item-title">
                                                NICKELBACK
                                            </div>
                                            <div class="events__item-city">
                                                Санкт-Петербург
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pager__custom"></div>
                        </div>
                    </div>
                    <div class="events__item">
                        <div class="events__item-bl">
                            <div class="events__bg-slider">
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/9-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                27
                                            </div>
                                            <div class="events__item-title">
                                                ЕГОР КРИД
                                            </div>
                                            <div class="events__item-city">
                                                Волгоград
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pager__custom"></div>
                        </div>
                    </div>
                    <div class="events__item">
                        <div class="events__item-bl">
                            <div class="events__bg-slider">
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/10-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                28
                                            </div>
                                            <div class="events__item-title">
                                                HOLLYWOOD VAMPIRES
                                            </div>
                                            <div class="events__item-city">
                                                Москва
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pager__custom"></div>
                        </div>
                    </div>
                    <div class="events__item">
                        <div class="events__item-bl">
                            <div class="events__bg-slider">
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/11-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                30
                                            </div>
                                            <div class="events__item-title">
                                                DEEP PURPLE
                                            </div>
                                            <div class="events__item-city">
                                                Москва
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pager__custom"></div>
                        </div>
                    </div>
                    <div class="events__item">
                        <div class="events__item-bl">
                            <div class="events__bg-slider">
                                <div class="events__bg-item">
                                    <div class="events__bg-item-bl">
                                        <div class="events__item-bg">
                                            <img src="/assets/images/events/12-1.jpg">
                                        </div>
                                        <div class="events__item-content">
                                            <div class="events__item-day">
                                                31
                                            </div>
                                            <div class="events__item-title">
                                                LORDE
                                            </div>
                                            <div class="events__item-city">
                                                Москва
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pager__custom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="events">
        <div class="container__custom">
            <div class="events__list">
                <div class="events__card events__card-multiple">
                    <div class="events__card-sm">
                        <div class="events__card-name">
                            Баста
                        </div>
                        <div class="events__card-ava">
                            <img src="/assets/images/events/1-1.jpg">
                        </div>
                    </div>
                    <div class="events__date-box">
                        <div class="events__date-bg" style="background-image: url(/assets/images/events/1-1.jpg)"></div>
                        <div class="events__card-dates">
                            <div class="events__card-dates-wrap">
                                <div class="events__card-date">
                                    12 мая<span>, </span>Казань
                                </div>
                                <div class="events__card-date">
                                    16 мая<span>, </span>Пермь
                                </div>
                                <div class="events__card-date">
                                    18 мая<span>, </span>Екатеринбург
                                </div>
                                <div class="events__card-date">
                                    24 мая<span>, </span>Омск
                                </div>
                                <div class="events__card-date">
                                    26 мая<span>, </span>Новосибирск
                                </div>
                                <div class="events__card-date">
                                    29 мая<span>, </span>Красноярск
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__card-info">
                        <div class="events__card-info-header">
                            <div class="events__card-ava">
                                <img src="/assets/images/events/1-1.jpg">
                            </div>
                            <div class="events__card-name">
                                Баста
                            </div>
                        </div>
                        <div class="events__card-info-text">
                            <p>
                                Василий Вакуленко сыграет «один из главных русскоязычных альбомов года», обеспечив грандиозное шоу из звука, света и мультимедиа. Для вас прозвучат лучшие хиты артиста, собранные за все время в одну программу.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="events__card events__card-multiple">
                    <div class="events__card-sm">
                        <div class="events__card-name">
                            TYGA
                        </div>
                        <div class="events__card-ava">
                            <img src="/assets/images/events/2-1.jpg">
                        </div>
                    </div>
                    <div class="events__date-box">
                        <div class="splash splash__9" data-koef="0.14" data-y="0"></div>
                        <div class="splash splash__10" data-koef="0.3" data-y="0"></div>
                        <div class="splash splash__11" data-koef="0.15" data-y="0"></div>
                        <div class="events__date-bg" style="background-image: url(/assets/images/events/2-1.jpg)"></div>
                        <div class="events__card-dates">
                            <div class="events__card-dates-wrap">
                                <div class="events__card-date">
                                    14 мая<span>, </span>Москва
                                </div>
                                <div class="events__card-date">
                                    15 мая<span>, </span>Санкт-Петербург
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__card-info">
                        <div class="events__card-info-header">
                            <div class="events__card-ava">
                                <img src="/assets/images/events/2-1.jpg">
                            </div>
                            <div class="events__card-name">
                                TYGA
                            </div>
                        </div>
                        <div class="events__card-info-text">
                            <p>
                                К 2018 году американский рэпер Tyga успел выпустить шесть альбомов, поработать с Крисом Брауном, Дрейком, Future и Rick Ross, получить номинацию на «Грэмми» и перейти на лейбл Канье Уэста G.O.O.D Music. В новом альбоме  – «Kyoto» – музыкант смещает фокус от речитатива к мелодичности и гораздо больше, чем раньше, поет.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="events__card events__card-multiple">
                    <div class="events__card-sm">
                        <div class="events__card-name">
                            ДЕЛЬФИН
                        </div>
                        <div class="events__card-ava">
                            <img src="/assets/images/events/3-1.jpg">
                        </div>
                    </div>
                    <div class="events__date-box">
                        <div class="splash splash__9" data-koef="0.16" data-y="0"></div>
                        <div class="splash splash__10" data-koef="0.2" data-y="0"></div>
                        <div class="splash splash__11" data-koef="0.15" data-y="0"></div>
                        <div class="events__date-bg" style="background-image: url(/assets/images/events/3-1.jpg)"></div>
                        <div class="events__card-dates">
                            <div class="events__card-dates-wrap">
                                <div class="events__card-date">
                                    17 мая<span>, </span>Воронеж
                                </div>
                                <div class="events__card-date">
                                    18 мая<span>, </span>Ростов-на-Дону
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__card-info">
                        <div class="events__card-info-header">
                            <div class="events__card-ava">
                                <img src="/assets/images/events/3-1.jpg">
                            </div>
                            <div class="events__card-name">
                                ДЕЛЬФИН
                            </div>
                        </div>
                        <div class="events__card-info-text">
                            <p>
                                Активный с конца 80-х Дельфин не перестаёт эволюционировать из года в год, выдумывая новые жанры, форматы выступлений и экспериментируя со стилистикой звучания всеми мыслимыми и даже немыслимыми способами. В 2017 музыкант тоже не сидел без дела: практически весь год он провёл в студии, где воплощал очередные гениальные творческие идеи в новых треках.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="events__card">
                    <div class="events__card-sm">
                        <div class="events__card-name">
                            JUSTICE
                        </div>
                        <div class="events__card-ava">
                            <img src="/assets/images/events/4-1.jpg">
                        </div>
                    </div>
                    <div class="events__date-box">
                        <div class="events__date-bg" style="background-image: url(/assets/images/events/4-1.jpg)"></div>
                        <div class="events__card-dates">
                            <div class="events__card-dates-wrap">
                                <div class="events__card-date">
                                    18 мая<span>, </span>Москва
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__card-info">
                        <div class="events__card-info-header">
                            <div class="events__card-ava">
                                <img src="/assets/images/events/4-1.jpg">
                            </div>
                            <div class="events__card-name">
                                JUSTICE
                            </div>
                        </div>
                        <div class="events__card-info-text">
                            <p>
                                Французский хаус-дуэт Justice едет в Москву, чтобы дать первый и единственный концерт в России. В программе ритмичный микс из техно, поп, R&B, электро, фанка, метала и не только, объединенный в рамках третьего студийного альбома под названием «Woman»
                            </p>
                        </div>
                    </div>

                </div>
                <div class="events__card">
                    <div class="events__card-sm">
                        <div class="events__card-name">
                            PIZZA
                        </div>
                        <div class="events__card-ava">
                            <img src="/assets/images/events/5-1.jpg">
                        </div>
                    </div>
                    <div class="events__date-box">
                        <div class="events__date-bg" style="background-image: url(/assets/images/events/5-1.jpg)"></div>
                        <div class="events__card-dates">
                            <div class="events__card-dates-wrap">
                                <div class="events__card-date">
                                    19 мая<span>, </span>Москва
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__card-info">
                        <div class="events__card-info-header">
                            <div class="events__card-ava">
                                <img src="/assets/images/events/5-1.jpg">
                            </div>
                            <div class="events__card-name">
                                PIZZA
                            </div>
                        </div>
                        <div class="events__card-info-text">
                            <p>
                                Группа «Пицца» была образована в 2009 году на территории России. Ребята играют в разных направлениях от рэпа до фанка. Такое разнообразие стилей помогло музыкантам стать достаточно популярными за короткий промежуток времени. Сегодня проект активно покоряет хит-парад «Европа плюс Топ-40» с песней «Оружие».
                            </p>
                        </div>
                    </div>

                </div>
                <div class="events__card">
                    <div class="events__card-sm">
                        <div class="events__card-name">
                            ТИМАТИ
                        </div>
                        <div class="events__card-ava">
                            <img src="/assets/images/events/6-1.jpg">
                        </div>
                    </div>
                    <div class="events__date-box">
                        <div class="splash splash__9" data-koef="0.06" data-y="0"></div>
                        <div class="splash splash__10" data-koef="0.1" data-y="0"></div>
                        <div class="splash splash__11" data-koef="0.05" data-y="0"></div>
                        <div class="events__date-bg" style="background-image: url(/assets/images/events/6-1.jpg)"></div>
                        <div class="events__card-dates">
                            <div class="events__card-dates-wrap">
                                <div class="events__card-date">
                                    19 мая<span>, </span>Екатеринбург
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__card-info">
                        <div class="events__card-info-header">
                            <div class="events__card-ava">
                                <img src="/assets/images/events/6-1.jpg">
                            </div>
                            <div class="events__card-name">
                                ТИМАТИ
                            </div>
                        </div>
                        <div class="events__card-info-text">
                            <p>
                                Российский исполнитель и музыкальный продюсер Тимати за последние годы сделал рывок в творческом плане: сменил имидж, написал свои главные хиты и основал музыкальный лейбл Black Star, помогающий молодым артистам найти себя и стать звездами. Концерт получил название «Поколение» и знаменует собой новый период в карьере артиста.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="events__card events__card-multiple">
                    <div class="events__card-sm">
                        <div class="events__card-name">
                            ЁЛКА
                        </div>
                        <div class="events__card-ava">
                            <img src="/assets/images/events/7-1.jpg">
                        </div>
                    </div>
                    <div class="events__date-box">
                        <div class="splash splash__9" data-koef="0.16" data-y="0"></div>
                        <div class="splash splash__10" data-koef="0.2" data-y="0"></div>
                        <div class="splash splash__11" data-koef="0.25" data-y="0"></div>
                        <div class="events__date-bg" style="background-image: url(/assets/images/events/7-1.jpg)"></div>
                        <div class="events__card-dates">
                            <div class="events__card-dates-wrap">
                                <div class="events__card-date">
                                    20 мая<span>, </span>Санкт-Петербург
                                </div>
                                <div class="events__card-date">
                                    28 мая<span>, </span>Красноярск
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__card-info">
                        <div class="events__card-info-header">
                            <div class="events__card-ava">
                                <img src="/assets/images/events/7-1.jpg">
                            </div>
                            <div class="events__card-name">
                                ЁЛКА
                            </div>
                        </div>
                        <div class="events__card-info-text">
                            <p>
                                Майские концерты харизматичной и непосредственной Ёлки – то, что нужно этой весной. Запоминающийся тембр, необычное звучание и диапазон от соула до R&b, от поп музыки до рокового звучания и этно мотивов – все это Ёлка и её музыканты.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="events__card events__card-multiple">
                    <div class="events__card-sm">
                        <div class="events__card-name">
                            NICKELBACK
                        </div>
                        <div class="events__card-ava">
                            <img src="/assets/images/events/8-1.jpg">
                        </div>
                    </div>
                    <div class="events__date-box">
                        <div class="events__date-bg" style="background-image: url(/assets/images/events/8-1.jpg)"></div>
                        <div class="events__card-dates">
                            <div class="events__card-dates-wrap">
                                <div class="events__card-date">
                                    21 мая<span>, </span>Москва
                                </div>
                                <div class="events__card-date">
                                    23 мая<span>, </span>Санкт-Петербург
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__card-info">
                        <div class="events__card-info-header">
                            <div class="events__card-ava">
                                <img src="/assets/images/events/8-1.jpg">
                            </div>
                            <div class="events__card-name">
                                NICKELBACK
                            </div>
                        </div>
                        <div class="events__card-info-text">
                            <p>
                                Канадская альтернативная рок-группа Nickelback в рамках тура Feed The Machine даст два концерта в России. Их 9-ый студийный альбом стал одной из самых качественных и энергичных работ со времён их прорывной пластинки Silver Side Up. Шоу обещает быть самым крупным и крутым в истории группы.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="events__card">
                    <div class="events__card-sm">
                        <div class="events__card-name">
                            ЕГОР КРИД
                        </div>
                        <div class="events__card-ava">
                            <img src="/assets/images/events/9-1.jpg">
                        </div>
                    </div>
                    <div class="events__date-box">
                        <div class="events__date-bg" style="background-image: url(/assets/images/events/9-1.jpg)"></div>
                        <div class="events__card-dates">
                            <div class="events__card-dates-wrap">
                                <div class="events__card-date">
                                    27 мая<span>, </span>Волгоград
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__card-info">
                        <div class="events__card-info-header">
                            <div class="events__card-ava">
                                <img src="/assets/images/events/9-1.jpg">
                            </div>
                            <div class="events__card-name">
                                ЕГОР КРИД
                            </div>
                        </div>
                        <div class="events__card-info-text">
                            <p>
                                Егор Крид – один из самых востребованных хип-хоп исполнителей в отечественном шоу-бизнесе и самый юный представитель лейбла Black Star. Не так уж много у нас молодых артистов, способных с лёгкостью собирать самые крупные площадки страны. Обязательно к посещению всем фанатам отечественного хип-хопа.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="events__card">
                    <div class="events__card-sm">
                        <div class="events__card-name">
                            HOLLYWOOD VAMPIRES
                        </div>
                        <div class="events__card-ava">
                            <img src="/assets/images/events/10-1.jpg">
                        </div>
                    </div>
                    <div class="events__date-box">
                        <div class="splash splash__9" data-koef="0.26" data-y="0"></div>
                        <div class="splash splash__10" data-koef="0.2" data-y="0"></div>
                        <div class="splash splash__11" data-koef="0.25" data-y="0"></div>
                        <div class="events__date-bg" style="background-image: url(/assets/images/events/10-1.jpg)"></div>
                        <div class="events__card-dates">
                            <div class="events__card-dates-wrap">
                                <div class="events__card-date">
                                    28 мая<span>, </span>Москва
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__card-info">
                        <div class="events__card-info-header">
                            <div class="events__card-ava">
                                <img src="/assets/images/events/10-1.jpg">
                            </div>
                            <div class="events__card-name">
                                HOLLYWOOD VAMPIRES
                            </div>
                        </div>
                        <div class="events__card-info-text">
                            <p>
                                Супергруппа Hollywood Vampires впервые выступит в России! Из дружеской забавы Hollywood Vampires за последние годы превратились в крепко спаянный коллектив, где каждый партнер идеально чувствует другого. Сейчас в их репертуар входят не только нетленки The Doors, Led Zeppelin, Джими Хендрикса, The Who, но и собственные песни.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="events__card">
                    <div class="events__card-sm">
                        <div class="events__card-name">
                            DEEP PURPLE
                        </div>
                        <div class="events__card-ava">
                            <img src="/assets/images/events/11-1.jpg">
                        </div>
                    </div>
                    <div class="events__date-box">
                        <div class="events__date-bg" style="background-image: url(/assets/images/events/11-1.jpg)"></div>
                        <div class="events__card-dates">
                            <div class="events__card-dates-wrap">
                                <div class="events__card-date">
                                    30 мая<span>, </span>Москва
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__card-info">
                        <div class="events__card-info-header">
                            <div class="events__card-ava">
                                <img src="/assets/images/events/11-1.jpg">
                            </div>
                            <div class="events__card-name">
                                DEEP PURPLE
                            </div>
                        </div>
                        <div class="events__card-info-text">
                            <p>
                                Культовая группа Deep Purple отметит свое 50-летие большим концертом на сцене «Олимпийского». Уникальная возможность увидеть одну из самых влиятельных групп в истории музыки. Deep Purple исполнят свои лучшие хиты, а также новые песни двадцатого студийного альбома «inFinite», который и стал поводом для мирового турне.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="events__card">
                    <div class="events__card-sm">
                        <div class="events__card-name">
                            LORDE
                        </div>
                        <div class="events__card-ava">
                            <img src="/assets/images/events/12-1.jpg">
                        </div>
                    </div>
                    <div class="events__date-box">
                        <div class="events__date-bg" style="background-image: url(/assets/images/events/12-1.jpg)"></div>
                        <div class="events__card-dates">
                            <div class="events__card-dates-wrap">
                                <div class="events__card-date">
                                    31 мая<span>, </span>Москва
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__card-info">
                        <div class="events__card-info-header">
                            <div class="events__card-ava">
                                <img src="/assets/images/events/12-1.jpg">
                            </div>
                            <div class="events__card-name">
                                LORDE
                            </div>
                        </div>
                        <div class="events__card-info-text">
                            <p>
                                В последний весенний день в столицу приезжает Lorde ¬– новозеландская исполнительница, двукратная обладательница Grammy, а так же нескольких десятков знаковых премий и номинаций. Нынешний тур проходит в поддержку альбома Melodrama, получившего множество положительных отзывов критиков. Прозрачные, временами даже минималистичные аранжировки оставляют гипнотическому вокалу широкое поле для вариаций и выгодно оттеняют столь важные здесь нюансы. Успейте услышать вживую.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>