<section class="catalog">
    <div class="catalog__wrapper">
        <div class="catalog-card">
            <span class="flag">x2&nbsp;баллов</span>
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <span class="flag">x2&nbsp;баллов</span>
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <span class="flag">x2&nbsp;баллов</span>
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <span class="flag">x2&nbsp;баллов</span>
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <span class="flag">x2&nbsp;баллов</span>
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <span class="flag">x2&nbsp;баллов</span>
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <span class="flag">x2&nbsp;баллов</span>
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>

        <div class="catalog-card">
            <div class="catalog-card__image">
                <img src="assets/images/bitmap-copy.jpg" srcset="assets/images/bitmap-copy@2x.jpg 2x, assets/images/bitmap-copy@3x.jpg 3x" width="230" height="230">
            </div>
            <h2 class="catalog-card__title">
                <a href="#">Текст текст <br>Текст текст</a>
            </h2>
            <p class="catalog-card__descr">Описание продукта, Описание продукта, Описание продукта, Описание продукта,</p>
        </div>
    </div>
</section>
//= pagination-block.html
//= actions.html