<div class="overlay  js-modal _show">
    <div class="modal _prize _prize-success">
        <button type="button" class="modal-close _white js-modal-close">Закрыть</button>
        <div class="prize-block">
            <h3 class="prize-block__title">Поздравляем!</h3>
            <p class="prize-block__subtitle">вы&nbsp;выграли сертификат на&nbsp;сумму</p>
            <p class="prize-block__sum">10&nbsp;000 руб</p>
            <div class="prize-block__options">
                <a href="#" class="prize-block__option js-prize-block" data-target="prize-1">
                    <div class="prize-block__option-wrapper">
                        <div class="prize-block__option-inner">
                            <img src="assets/images/ozon-logo.png" width="114" height="36">
                        </div>
                    </div>
                </a>
                <a href="#" class="prize-block__option js-prize-block" data-target="prize-2">
                    <div class="prize-block__option-wrapper">
                        <div class="prize-block__option-inner">
                            <img src="assets/images/logo-mvideo.png" width="98" height="56">
                        </div>
                    </div>
                </a>
                <a href="#" class="prize-block__option js-prize-block" data-target="prize-3">
                    <div class="prize-block__option-wrapper">
                        <div class="prize-block__option-inner">
                            <img src="assets/images/logo-eldorado.png" width="110" height="29">
                        </div>
                    </div>
                </a>
                <a href="#" class="prize-block__option js-prize-block" data-target="prize-4">
                    <div class="prize-block__option-wrapper">
                        <div class="prize-block__option-inner">
                            <img src="assets/images/logo-red.png" width="110" height="52">
                        </div>
                    </div>
                </a>
                <a href="#" class="prize-block__option js-prize-block" data-target="prize-5">
                    <div class="prize-block__option-wrapper">
                        <div class="prize-block__option-inner">
                            <img src="assets/images/logo-letoile.png" width="113" height="33">
                        </div>
                    </div>
                </a>
                <a href="#" class="prize-block__option js-prize-block" data-target="prize-6">
                    <div class="prize-block__option-wrapper">
                        <div class="prize-block__option-inner">
                            <img src="assets/images/logo-sportmaster.png" width="111" height="18">
                        </div>
                    </div>
                </a>
            </div>
            <div class="prize-block__info" id="prize-1">
                <a href="#" class="prize-block__back js-prize-back"></a>
                <h3 class="prize-block__title">Магазин электроники М-видео</h3>
                <div class="prize-block__big-logo">
                    <img src="assets/images/ozon-logo.png" width="114" height="36">
                </div>
                <p class="prize-block__note">Сеть «М.Видео» осуществляет свою деятельность с 1993 года. Более 300 магазинов сети работает в 135 городах России.
                </p>
                <p class="prize-block__note">Товарный ассортимент магазинов «М.Видео» превышает 20 тысяч наименований различной техники: аудио/видео и цифрового направлений, мелкой и крупной бытовой электроники, товаров для развлечения, а также аксессуаров.</p>
                <a class="btn btn--fullblue-l js-wave btn--milky"><span class="text">Заказать</span></a>
            </div>
            <div class="prize-block__info" id="prize-2">
                <a href="#" class="prize-block__back js-prize-back"></a>
                <h3 class="prize-block__title">Магазин электроники М-видео</h3>
                <div class="prize-block__big-logo">
                    <img src="assets/images/ozon-logo.png" width="114" height="36">
                </div>
                <p class="prize-block__note">Сеть «М.Видео» осуществляет свою деятельность с 1993 года. Более 300 магазинов сети работает в 135 городах России.
                </p>
                <p class="prize-block__note">Товарный ассортимент магазинов «М.Видео» превышает 20 тысяч наименований различной техники: аудио/видео и цифрового направлений, мелкой и крупной бытовой электроники, товаров для развлечения, а также аксессуаров.</p>
                <a class="btn btn--fullblue-l js-wave btn--milky"><span class="text">Заказать</span></a>
            </div>
            <div class="prize-block__info" id="prize-3">
                <a href="#" class="prize-block__back js-prize-back"></a>
                <h3 class="prize-block__title">Магазин электроники М-видео</h3>
                <div class="prize-block__big-logo">
                    <img src="assets/images/ozon-logo.png" width="114" height="36">
                </div>
                <p class="prize-block__note">Сеть «М.Видео» осуществляет свою деятельность с 1993 года. Более 300 магазинов сети работает в 135 городах России.
                </p>
                <p class="prize-block__note">Товарный ассортимент магазинов «М.Видео» превышает 20 тысяч наименований различной техники: аудио/видео и цифрового направлений, мелкой и крупной бытовой электроники, товаров для развлечения, а также аксессуаров.</p>
                <a class="btn btn--fullblue-l js-wave btn--milky"><span class="text">Заказать</span></a>
            </div>
            <div class="prize-block__info" id="prize-4">
                <a href="#" class="prize-block__back js-prize-back"></a>
                <h3 class="prize-block__title">Магазин электроники М-видео</h3>
                <div class="prize-block__big-logo">
                    <img src="assets/images/ozon-logo.png" width="114" height="36">
                </div>
                <p class="prize-block__note">Сеть «М.Видео» осуществляет свою деятельность с 1993 года. Более 300 магазинов сети работает в 135 городах России.
                </p>
                <p class="prize-block__note">Товарный ассортимент магазинов «М.Видео» превышает 20 тысяч наименований различной техники: аудио/видео и цифрового направлений, мелкой и крупной бытовой электроники, товаров для развлечения, а также аксессуаров.</p>
                <a class="btn btn--fullblue-l js-wave btn--milky"><span class="text">Заказать</span></a>
            </div>
            <div class="prize-block__info" id="prize-5">
                <a href="#" class="prize-block__back js-prize-back"></a>
                <h3 class="prize-block__title">Магазин электроники М-видео</h3>
                <div class="prize-block__big-logo">
                    <img src="assets/images/ozon-logo.png" width="114" height="36">
                </div>
                <p class="prize-block__note">Сеть «М.Видео» осуществляет свою деятельность с 1993 года. Более 300 магазинов сети работает в 135 городах России.
                </p>
                <p class="prize-block__note">Товарный ассортимент магазинов «М.Видео» превышает 20 тысяч наименований различной техники: аудио/видео и цифрового направлений, мелкой и крупной бытовой электроники, товаров для развлечения, а также аксессуаров.</p>
                <a class="btn btn--fullblue-l js-wave btn--milky"><span class="text">Заказать</span></a>
            </div>
            <div class="prize-block__info" id="prize-6">
                <a href="#" class="prize-block__back js-prize-back"></a>
                <h3 class="prize-block__title">Магазин электроники М-видео</h3>
                <div class="prize-block__big-logo">
                    <img src="assets/images/ozon-logo.png" width="114" height="36">
                </div>
                <p class="prize-block__note">Сеть «М.Видео» осуществляет свою деятельность с 1993 года. Более 300 магазинов сети работает в 135 городах России.
                </p>
                <p class="prize-block__note">Товарный ассортимент магазинов «М.Видео» превышает 20 тысяч наименований различной техники: аудио/видео и цифрового направлений, мелкой и крупной бытовой электроники, товаров для развлечения, а также аксессуаров.</p>
                <a class="btn btn--fullblue-l js-wave btn--milky"><span class="text">Заказать</span></a>
            </div>
            <p class="prize-block__note">Пожалуйста, выберите сеть в&nbsp;которой хотите его активировать</p>
        </div>
    </div>
</div>