<div class="overlay  js-modal _show">
    <div class="modal _prize">
        <button type="button" class="modal-close _white js-modal-close">Закрыть</button>
        <div class="prize-block">
            <h3 class="prize-block__title">Сертификат</h3>
            <p class="prize-block__subtitle">может быть активирован в любом из<br>магазинов на выбор Победителя</p>
            <p class="prize-block__sum">10&nbsp;000 руб</p>
            <div class="prize-block__options">
                <a href="#" class="prize-block__option">
                    <div class="prize-block__option-wrapper">
                        <div class="prize-block__option-inner">
                            <img src="assets/images/ozon-logo.png" width="114" height="36">
                        </div>
                    </div>
                </a>
                <a href="#" class="prize-block__option">
                    <div class="prize-block__option-wrapper">
                        <div class="prize-block__option-inner">
                            <img src="assets/images/logo-mvideo.png" width="98" height="56">
                        </div>
                    </div>
                </a>
                <a href="#" class="prize-block__option">
                    <div class="prize-block__option-wrapper">
                        <div class="prize-block__option-inner">
                            <img src="assets/images/logo-eldorado.png" width="110" height="29">
                        </div>
                    </div>
                </a>
                <a href="#" class="prize-block__option">
                    <div class="prize-block__option-wrapper">
                        <div class="prize-block__option-inner">
                            <img src="assets/images/logo-red.png" width="110" height="52">
                        </div>
                    </div>
                </a>
                <a href="#" class="prize-block__option">
                    <div class="prize-block__option-wrapper">
                        <div class="prize-block__option-inner">
                            <img src="assets/images/logo-letoile.png" width="113" height="33">
                        </div>
                    </div>
                </a>
                <a href="#" class="prize-block__option">
                    <div class="prize-block__option-wrapper">
                        <div class="prize-block__option-inner">
                            <img src="assets/images/logo-sportmaster.png" width="110" height="18">
                        </div>
                    </div>
                </a>
            </div>
            <a href="#" class="btn btn--white btn--activity">
                <span class="slogan">принять участие</span>
                <span class="reward"><span class="qty">+10</span> <span class="cur">Б</span> баллов</span>
            </a>
        </div>
    </div>
</div>