<div class="overlay  js-modal _show">
    <div class="modal">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <h3 class="modal__title">Подтверждение почты</h3>
        <div class="modal__inner">
            <div class="modal__img">
                <img src="assets/images/icon-email.jpg" width="111" height="126" alt="">
            </div>
            <h4 class="modal__inner-title">Подтверждение e-mail</h4>
            <p class="modal__descr">На&nbsp;электронную почту было отправлено письмо с&nbsp;формой подтверждения</p>
            <a href="#" class="btn btn--fullblue-l js-wave btn--milky modal__btn"><span class="text">отправить еще раз</span></a>
        </div>
    </div>
</div>