<section class="drum js-drum">
    <h2 class="drum__title">Барабан удачи</h2>
    <div class="line">
        <div class="line-wrapper js-drum-line">
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/orange.png" srcset="assets/images/orange@2x.png 2x, assets/images/orange@3x.png 3x" class="item1">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item2">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item3">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/orange.png" srcset="assets/images/orange@2x.png 2x, assets/images/orange@3x.png 3x" class="item1">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item2">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item3">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/orange.png" srcset="assets/images/orange@2x.png 2x, assets/images/orange@3x.png 3x" class="item1">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item2">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item3">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/orange.png" srcset="assets/images/orange@2x.png 2x, assets/images/orange@3x.png 3x" class="item1">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item2">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item3">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/orange.png" srcset="assets/images/orange@2x.png 2x, assets/images/orange@3x.png 3x" class="item1">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item2">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item3">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/orange.png" srcset="assets/images/orange@2x.png 2x, assets/images/orange@3x.png 3x" class="item1">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item2">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item3">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/orange.png" srcset="assets/images/orange@2x.png 2x, assets/images/orange@3x.png 3x" class="item1">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item2">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item3">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item" data-target-pos="1">
                <img alt="" src="assets/images/orange.png" srcset="assets/images/orange@2x.png 2x, assets/images/orange@3x.png 3x" class="item1">
            </div>
            <div class="line-item js-line-item" data-target-pos="2">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item2">
            </div>
            <div class="line-item js-line-item" data-target-pos="3">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item3">
            </div>
            <div class="line-item js-line-item" data-target-pos="4">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item" data-target-pos="5">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/orange.png" srcset="assets/images/orange@2x.png 2x, assets/images/orange@3x.png 3x" class="item1">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item2">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item3">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/orange.png" srcset="assets/images/orange@2x.png 2x, assets/images/orange@3x.png 3x" class="item1">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item2">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item3">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/white.png" srcset="assets/images/white@2x.png 2x, assets/images/white@3x.png 3x" class="item4">
            </div>
            <div class="line-item js-line-item">
                <img alt="" src="assets/images/orange.png" srcset="assets/images/orange@2x.png 2x, assets/images/orange@3x.png 3x" class="item1">
            </div>
        </div>
        <div class="rail"></div>
        <div class="pin">
            <img alt="" width="122" heigth="492" src="assets/images/pimpa.png" srcset="assets/images/pimpa@2x.png 2x, assets/images/pimpa@3x.png 3x">
        </div>
        <button type="button" class="js-play-drum drum-btn btn btn--yellow">Испытай удачу</button>
    </div>
</section>