<div class="overlay  js-modal _show dontClose">
    <div class="modal">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <form action="#" method="post" class="form modal-form">
            <h3 class="modal__title">Редактировать профиль</h3>
            <div class="modal-form__header">
                <div class="form__upload-block upload-image-block">
                    <input type="file" class="form__upload" id="upload-photo">
                    <label for="upload-photo" class="form__upload-label">
                        <div class="upload-image-block__img">
                            <img src="assets/images/oval.jpg" srcset="assets/images/oval@2x.jpg 2x, assets/images/oval@3x.jpg 3x" width="120" height="120">
                        </div>
                        <span class="upload-image-block__icon">
                            <svg width="16" height="16">
                                <use xlink:href="#edit" />
                            </svg>
                        </span>
                    </label>
                </div>
            </div>
            <div class="modal-form__row">
                <div class="form__field-wrapper">
                    <label for="change-name" class="form__field-label">Имя</label>
                    <input type="text" id="change-name" class="form__field" value="Константин">
                </div>
                <div class="form__field-wrapper">
                    <label for="change-lastname" class="form__field-label">Фамилия</label>
                    <input type="text" id="change-lastname" class="form__field" value="Константин">
                </div>
            </div>
            <div class="form__field-wrapper">
                <label for="change-password" class="form__field-label">Пароль</label>
                <input type="password" id="change-password" class="form__field" value="1234567">
                <a href="#" class="form__field-note form__note-link">Изменить пароль</a>
            </div>
            <div class="form__field-wrapper">
                <label for="user-email" class="form__field-label">E-mail</label>
                <input type="email" id="user-email" class="form__field" value="blake_dickinson@arlie.name">
                <span class="form__field-note _unverified">не подтвержден</span>
            </div>
            <div class="modal-form__row">
                <div class="form__field-wrapper">
                    <label for="user-phone" class="form__field-label">Телефон</label>
                    <input type="phone" id="user-phone" class="form__field" value="+7 (916) 123 45 67">
                </div>
                <div class="form__field-wrapper _datepicker">
                    <label for="birthday" class="form__field-label">Дата рождения</label>
                    <input type="text" id="birthday" class="form__field" value="21.03.1990" data-toggle="datepicker">
                </div>
            </div>
            <div class="modal-form__row">
                <div class="form__field-wrapper">
                    <label for="region" class="form__field-label">Регион</label>
                    <select name="region" id="region" class="custom-select form__select">
                        <option value="0">Выберите из списка</option>
                        <option value="1">Регион</option>
                        <option value="2">Регион</option>
                        <option value="3">Регион</option>
                    </select>
                </div>
                <div class="form__field-wrapper">
                    <label for="city" class="form__field-label">Город</label>
                    <input type="text" id="city" class="form__field" value="Москва">
                </div>
            </div>
            <div class="form__field-wrapper">
                <label for="interests" class="form__field-label">Интересы</label>
                <div class="modal-form__select-results js-select-results">
                    <span class="select-result">
                        <span class="text">Интерес 1</span>
                        <span class="select-result__del js-del">x</span>
                    </span>
                    <span class="select-result">
                        <span class="text">Интерес 2</span>
                        <span class="select-result__del js-del">x</span>
                    </span>
                    <span class="select-result">
                        <span class="text">Интерес 3</span>
                        <span class="select-result__del js-del">x</span>
                    </span>
                </div>
                <div class="select-wrapper js-select-wrapper">
                    <div class="select-trigger js-select-trigger">Выберите из списка</div>
                    <div class="select-dropdown">
                        <ul>
                            <li class="js-select-option">Спорт</li>
                            <li class="js-select-option">Музыка</li>
                            <li class="js-select-option">Книги</li>
                            <li class="js-select-option">Рыбалка</li>
                            <li class="js-select-option">Театр</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form__button-row">
                <button class="form__submit btn btn--fullblue-l js-wave btn--milky"><span class="text">Сохранить</span></button>
            </div>
        </form>
    </div>
</div>