<section class="faq-section">
    <h2 class="faq-section__title">Вопросы и&nbsp;ответы</h2>
    <div class="faq-section__inner">
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question opened">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
        <div class="question js-question">
            <div class="question__trigger js-question-trigger">
                <p>Сегодня не&nbsp;получается подать заявку на&nbsp;участие в&nbsp;розыгрыше, в&nbsp;чем дело?</p>
            </div>
            <div class="question__body">
                <p>Жиры вместе с&nbsp;белками и&nbsp;углеводами&nbsp;&mdash; обязательный строительный материал наших клеток. Соответственно, без них наше питание будет неполноценным, поэтому отказываться от&nbsp;них нельзя. Другое дело&nbsp;&mdash; какие именно жиры мы&nbsp;употребляем в&nbsp;пищу.</p>
                <p>Жиров существует четыре типа: насыщенные, полиненасыщенные, мононенасыщенные и&nbsp;транс-жиры. Не&nbsp;будем углубляться в&nbsp;органическую химию с&nbsp;её&nbsp;молекулярными связями, а&nbsp;лишь обозначим, что по-настоящему вредными являются лишь транс-жиры&nbsp;&mdash; искусственно синтезированные или полученные в&nbsp;результате слишком агрессивной многократной переработки (таковы, например, жиры во&nbsp;фритюрном масле, которое используется для жарки продуктов в&nbsp;фаст-фуде). Что касается всех остальных, то&nbsp;среди них присутствуют не&nbsp;только полезные, но&nbsp;и&nbsp;незаменимые&nbsp;&mdash; такие как омега-3 и&nbsp;омега-6&nbsp;&mdash; которые наш организм сам выработать не&nbsp;может и&nbsp;получает только с&nbsp;пищей. Более того, &laquo;полезные жиры&raquo; как раз улучшают состояние нашей сердечно-сосудистой системы, обмена веществ и&nbsp;мозговой активности, вопреки плохой славе жиров в&nbsp;целом. Более того, достаточное потребление полезных жиров уменьшает нашу тягу к&nbsp;жирам вредным&nbsp;&mdash; во&nbsp;многом это похоже на&nbsp;процессы с&nbsp;углеводами, где медленные углеводы удерживают нас от&nbsp;желания кушать быстрые.</p>
            </div>
        </div>
    </div>
</section>