<div class="overlay  js-modal" data-name="feedback">
    <div class="modal">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <form action="#" method="post" class="form modal-form">
            <h3 class="modal__title">обратная <br>связь </h3>
            <div class="form__field-wrapper _first">
                <label for="subject" class="form__field-label">Тема запроса</label>
                <select name="region" id="subject" class="custom-select form__select">
                    <option value="0">Выберите из списка</option>
                    <option value="1">Тема запроса</option>
                    <option value="2">Тема запроса</option>
                    <option value="3">Тема запроса</option>
                </select>
            </div>
            <div class="form__field-wrapper">
                <label for="user-email" class="form__field-label">E-mail</label>
                <input type="email" id="user-email" class="form__field">
            </div>
            <div class="form__field-wrapper">
                <label for="message" class="form__field-label">сообщение</label>
                <textarea name="message-field" id="message" class="form__message-field"></textarea>
            </div>
            <div class="form__field-wrapper">
                <div class="form__upload-block">
                    <label for="upload" class="form__field-label">Прикрепите файл</label>
                    <input type="file" class="form__upload" id="upload">
                    <div class="form__upload-field-label">Файл не выбран…</div>
                </div>
            </div>
            <div class="modal-form__row">
                <div class="form__field-wrapper">
                    <label for="captcha" class="form__field-label">введите символы с изображения</label>
                    <input type="text" id="captcha" class="form__field">
                </div>
                <div class="form__field-wrapper">
                    <div class="captcha-image">
                        <img src="assets/images/captcha.gif" width="101" height="28px" alt="">
                    </div>
                </div>
            </div>
            <div class="form__button-row">
                <button class="form__submit btn btn--fullblue-l js-wave btn--milky"><span class="text">отправить</span></button>
            </div>
        </form>
    </div>
</div>











