<div class="overlay  js-modal _show">
    <div class="modal _friend">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <h3 class="modal__title">добро пожаловать!</h3>
        <div class="modal__inner">
            <h4 class="modal__inner-title">Поздравляем Вас в&nbsp;регистрации в&nbsp;Акции клуб &laquo;высший молочный стандарт&raquo;!</h4>
            <p>Ваш друг получит <b>ПРИЗ</b> после регистрации Вами первого кода.</p>
            <a href="#" class="btn btn--fullblue-l js-wave btn--milky modal__btn js-modal-close"><span class="text">зарегистрировать код</span></a>
        </div>
    </div>
</div>