<section class="gifts-section _muu">
    <h2 class="gifts-section__title">Как потратить баллы</h2>
    <p class="gifts-section__lead">Регистрируйте коды с&nbsp;упаковок «Му-у», копите баллы в&nbsp;два раза быстрее и&nbsp;примите участие в&nbsp;розыгрыше призов Клуба «Высший молочный стандарт».</p>
    <div class="mobile-slider gifts-slider">
        <div class="gifts-section__inner mobile-wrapper">
            <div class="gift-block mobile-slide">
                <div class="gift-block__tag">подарочный сертификат</div>
                <div class="gift-block__icon">
                    <svg width="130" height="130">
                        <use xlink:href="#gift-b" />
                    </svg>
                </div>
                <p class="gift-block__amount">500 руб</p>
                <p class="gift-block__rate">x10 каждый день</p>
                <a href="#" class="btn btn--white btn--activity gift-block__btn">
                    <span class="slogan">принять участие</span>
                    <span class="reward"><span class="qty">За&nbsp;25</span>&nbsp;<span class="cur">Б</span> баллов</span>
                </a>
            </div>
            <div class="gift-block mobile-slide">
                <div class="gift-block__tag">подарочный сертификат</div>
                <div class="gift-block__icon">
                    <svg width="130" height="130">
                        <use xlink:href="#gift-b" />
                    </svg>
                </div>
                <p class="gift-block__amount">1&nbsp;000 руб</p>
                <p class="gift-block__rate">x5&nbsp;каждый день</p>
                <a href="#" class="btn btn--white btn--activity gift-block__btn">
                    <span class="slogan">принять участие</span>
                    <span class="reward"><span class="qty">За&nbsp;40</span>&nbsp;<span class="cur">Б</span> баллов</span>
                </a>
            </div>
            <div class="gift-block mobile-slide">
                <div class="gift-block__tag">подарочный сертификат</div>
                <div class="gift-block__icon">
                    <svg width="130" height="130">
                        <use xlink:href="#gift-b" />
                    </svg>
                </div>
                <p class="gift-block__amount">3&nbsp;000 руб</p>
                <p class="gift-block__rate">x3&nbsp;каждую неделю</p>
                <a href="#" class="btn btn--white btn--activity gift-block__btn">
                    <span class="slogan">принять участие</span>
                    <span class="reward"><span class="qty">За&nbsp;80</span>&nbsp;<span class="cur">Б</span> баллов</span>
                </a>
            </div>
            <div class="gift-block mobile-slide">
                <div class="gift-block__tag">подарочный сертификат</div>
                <div class="gift-block__icon">
                    <svg width="130" height="130">
                        <use xlink:href="#gift-b" />
                    </svg>
                </div>
                <p class="gift-block__amount">10&nbsp;000 руб</p>
                <p class="gift-block__rate">x2&nbsp;каждую неделю</p>
                <a href="#" class="btn btn--white btn--activity gift-block__btn">
                    <span class="slogan">принять участие</span>
                    <span class="reward"><span class="qty">За&nbsp;120</span>&nbsp;<span class="cur">Б</span> баллов</span>
                </a>
            </div>
        </div>
        <div class="mobile-pagination"></div>
    </div>
</section>