<section class="gifts-section">
    <h2 class="gifts-section__title">Как потратить баллы</h2>
    <div class="mobile-slider gifts-slider">
        <div class="gifts-section__inner mobile-wrapper">
            <div class="gift-block mobile-slide">
                <div class="gift-block__tag">подарочный сертификат</div>
                <div class="gift-block__icon">
                    <svg width="130" height="130">
                        <use xlink:href="#gift-m" />
                    </svg>
                </div>
                <p class="gift-block__amount">500 руб</p>
                <p class="gift-block__rate">x10 каждый день</p>
                <a href="#" class="btn btn--white btn--activity gift-block__btn">
                    <span class="slogan">принять участие</span>
                    <span class="reward"><span class="qty">За&nbsp;120</span>&nbsp;<span class="cur">Б</span> баллов</span>
                </a>
            </div>
            <div class="gift-block mobile-slide">
                <div class="gift-block__tag">подарочный сертификат</div>
                <div class="gift-block__icon">
                    <svg width="130" height="130">
                        <use xlink:href="#gift-b" />
                    </svg>
                </div>
                <p class="gift-block__amount">1&nbsp;000 руб</p>
                <p class="gift-block__rate">x5&nbsp;каждый день</p>
                <a href="#" class="btn btn--white btn--activity gift-block__btn">
                    <span class="slogan">принять участие</span>
                    <span class="reward"><span class="qty">За&nbsp;120</span>&nbsp;<span class="cur">Б</span> баллов</span>
                </a>
            </div>
            <div class="gift-block mobile-slide">
                <div class="gift-block__tag">подарочный сертификат</div>
                <div class="gift-block__icon">
                    <svg width="171" height="131">
                        <use xlink:href="#giftx2" />
                    </svg>
                </div>
                <p class="gift-block__amount">3&nbsp;000 руб</p>
                <p class="gift-block__rate">x4&nbsp;каждую неделю</p>
                <a href="#" class="btn btn--white btn--activity gift-block__btn">
                    <span class="slogan">принять участие</span>
                    <span class="reward"><span class="qty">За&nbsp;120</span>&nbsp;<span class="cur">Б</span> баллов</span>
                </a>
            </div>
            <div class="gift-block mobile-slide">
                <div class="gift-block__tag">подарочный сертификат</div>
                <div class="gift-block__icon">
                    <svg width="168" height="130">
                        <use xlink:href="#giftx2-bb" />
                    </svg>
                </div>
                <p class="gift-block__amount">10&nbsp;000 руб</p>
                <p class="gift-block__rate">x4&nbsp;каждую неделю</p>
                <a href="#" class="btn btn--white btn--activity gift-block__btn">
                    <span class="slogan">принять участие</span>
                    <span class="reward"><span class="qty">За&nbsp;120</span>&nbsp;<span class="cur">Б</span> баллов</span>
                </a>
            </div>
            <div class="gift-block mobile-slide">
                <div class="gift-block__tag">подарочный сертификат</div>
                <div class="gift-block__icon">
                    <svg width="232" height="130">
                        <use xlink:href="#giftx3" />
                    </svg>
                </div>
                <p class="gift-block__amount">50&nbsp;000 руб</p>
                <p class="gift-block__rate">x1&nbsp;каждый месяц</p>
                <a href="#" class="btn btn--white btn--activity gift-block__btn">
                    <span class="slogan">принять участие</span>
                    <span class="reward"><span class="qty">За&nbsp;120</span>&nbsp;<span class="cur">Б</span> баллов</span>
                </a>
            </div>
            <div class="gift-block _center mobile-slide">
                <p class="gift-block__promo-title">Гарантированные призы <br>представлены &laquo;Литрес&raquo;&nbsp;&mdash; <br>электронный код на&nbsp;скачивание <br>одной из&nbsp;книг бесплатно</p>
                <a href="#" class="gift-block__link">
                    <img class="logo__white" src="assets/images/litres-logo-rastr.png" srcset="assets/images/litres-logo-rastr@2x.png 2x, assets/images/litres-logo-rastr@3x.png 3x" width="179" height="112">
                </a>
            </div>
        </div>
        <div class="mobile-pagination"></div>
    </div>
</section>