<section class="elements-layout">
    <div class="elements-layout__wrapper">
	    <h2 class="elements-layout__title">как заработать баллы? </h2>
	    <div class="elements-layout__lead">
		    <p>В нашем арсенале Клуба «Высший молочный стандарт» множество несложных способов заработать баллы. Выбирайте на свой вкус! (краткий вступительный текст)</p>
	    </div>
	    <div class="elements-layout__items">
		    <div class="elements-layout__item article-card">
			    <div class="article-card__inner">
				    <div class="article-card__flag"><b>+10</b></div>
				    <div class="article-card__bg">
					    <img src="assets/images/article01.jpg" srcset="assets/images/article01@2x.jpg 2x" alt="" class="js-obj-f">
				    </div>
				    <div class="article-card__content">
					    <h3 class="article-card__title">Регистрируйтесь на&nbsp;сайте клуба</h3>
					    <div class="article-card__popup">
						    <div class="article-card__text">
							    <p>Вы можете привязать к своему аккаунту не более 2-х аккаунтов в социальных сетях</p>
						    </div>
						    <a href="#" class="article-card__btn btn btn--transparent">привязать аккаунт</a>
					    </div>
				    </div>
			    </div>
		    </div>

		    <div class="elements-layout__item article-card">
			    <div class="article-card__inner">
				    <div class="article-card__flag">от <b>+3</b></div>
				    <div class="article-card__bg">
					    <img src="assets/images/article02.jpg" srcset="assets/images/article02@2x.jpg 2x" alt="" class="js-obj-f">
				    </div>
				    <div class="article-card__content">
					    <h3 class="article-card__title">играйте в&nbsp;игру «бактерий.net»</h3>
					    <div class="article-card__popup">
						    <div class="article-card__text">
							    <p>Вы можете привязать к своему аккаунту не более 2-х аккаунтов в социальных сетях</p>
						    </div>
						    <a href="#" class="article-card__btn btn btn--transparent">привязать аккаунт</a>
					    </div>
				    </div>
			    </div>
		    </div>

		    <div class="elements-layout__item article-card">
			    <div class="article-card__inner">
				    <div class="article-card__flag"><b>+10</b></div>
				    <div class="article-card__bg">
					    <img src="assets/images/article03.jpg" srcset="assets/images/article03@2x.jpg 2x" alt="" class="js-obj-f">
				    </div>
				    <div class="article-card__content">
					    <h3 class="article-card__title">заполните профиль в&nbsp;личном кабинете</h3>
					    <div class="article-card__popup">
						    <div class="article-card__text">
							    <p>Вы можете привязать к своему аккаунту не более 2-х аккаунтов в социальных сетях</p>
						    </div>
						    <a href="#" class="article-card__btn btn btn--transparent">привязать аккаунт</a>
					    </div>
				    </div>
			    </div>
		    </div>

		    <div class="elements-layout__item article-card">
			    <div class="article-card__inner">
				    <div class="article-card__flag"><b>+3</b></div>
				    <div class="article-card__bg">
					    <img src="assets/images/article04.jpg" srcset="assets/images/article04@2x.jpg 2x" alt="" class="js-obj-f">
				    </div>
				    <div class="article-card__content">
					    <h3 class="article-card__title">крутите <br>барабан удачи</h3>
					    <div class="article-card__popup">
						    <div class="article-card__text">
							    <p>Вы можете привязать к своему аккаунту не более 2-х аккаунтов в социальных сетях</p>
						    </div>
						    <a href="#" class="article-card__btn btn btn--transparent">привязать аккаунт</a>
					    </div>
				    </div>
			    </div>
		    </div>

		    <div class="elements-layout__item elements-layout__item--wide article-card">
			    <div class="article-card__inner">
				    <div class="article-card__flag">до <b>+60</b></div>
				    <div class="article-card__bg">
					    <img src="assets/images/article05.jpg" srcset="assets/images/article05@2x.jpg 2x" alt="" class="js-obj-f">
				    </div>
				    <div class="article-card__content">
					    <div class="article-card__links">
						    <a href="#" class="article-card__store-link" aria-label="Ссылка на AppStore">
							    <img src="assets/images/icon-appstore.png" width="30" height="25" alt="">
						    </a>
						    <a href="#" class="article-card__store-link" aria-label="Ссылка на Play Store">
							    <img src="assets/images/icon-gplay.png" width="25" height="29" alt="">
						    </a>
					    </div>
					    <h3 class="article-card__title">скачивайте <br>мобильное приложение</h3>
					    <div class="article-card__popup">
						    <a href="#" class="article-card__btn btn btn--transparent">привязать аккаунт</a>
					    </div>
				    </div>
			    </div>
		    </div>

		    <div class="elements-layout__item elements-layout__item--wide article-card">
			    <div class="article-card__inner">
				    <div class="article-card__flag">до <b>+8</b></div>
				    <div class="article-card__bg">
					    <img src="assets/images/article06.jpg" srcset="assets/images/article06@2x.jpg 2x" alt="" class="js-obj-f">
				    </div>
				    <div class="article-card__content">
					    <h3 class="article-card__title">регистрируйте коды с&nbsp;упаковок</h3>
					    <div class="article-card__popup">
						    <a href="#" class="article-card__btn btn btn--transparent">привязать аккаунт</a>
					    </div>
				    </div>
			    </div>
		    </div>

		    <div class="elements-layout__item article-card">
			    <div class="article-card__inner">
				    <div class="article-card__flag"><b>+10</b></div>
				    <div class="article-card__bg">
					    <img src="assets/images/article01.jpg" srcset="assets/images/article01@2x.jpg 2x" alt="" class="js-obj-f">
				    </div>
				    <div class="article-card__content">
					    <h3 class="article-card__title">привязывайте социальные сети</h3>
					    <div class="article-card__popup">
						    <div class="article-card__text">
							    <p>Вы можете привязать к своему аккаунту не более 2-х аккаунтов в социальных сетях</p>
						    </div>
						    <a href="#" class="article-card__btn btn btn--transparent">привязать аккаунт</a>
					    </div>
				    </div>
			    </div>
		    </div>

		    <div class="elements-layout__item article-card">
			    <div class="article-card__inner">
				    <div class="article-card__flag"><b>+10</b></div>
				    <div class="article-card__bg">
					    <img src="assets/images/article07.jpg" srcset="assets/images/article07@2x.jpg 2x" alt="" class="js-obj-f">
				    </div>
				    <div class="article-card__content">
					    <h3 class="article-card__title">принимайте участие в&nbsp;опросах</h3>
					    <div class="article-card__popup">
						    <div class="article-card__text">
							    <p>Вы можете привязать к своему аккаунту не более 2-х аккаунтов в социальных сетях</p>
						    </div>
						    <a href="#" class="article-card__btn btn btn--transparent">привязать аккаунт</a>
					    </div>
				    </div>
			    </div>
		    </div>

		    <div class="elements-layout__item article-card">
			    <div class="article-card__inner">
				    <div class="article-card__flag"><b>+10</b></div>
				    <div class="article-card__bg">
					    <img src="assets/images/article08.jpg" srcset="assets/images/article08@2x.jpg 2x" alt="" class="js-obj-f">
				    </div>
				    <div class="article-card__content">
					    <h3 class="article-card__title">приведите <br>друга</h3>
					    <div class="article-card__popup">
						    <div class="article-card__text">
							    <p>Вы можете привязать к своему аккаунту не более 2-х аккаунтов в социальных сетях</p>
						    </div>
						    <a href="#" class="article-card__btn btn btn--transparent">привязать аккаунт</a>
					    </div>
				    </div>
			    </div>
		    </div>

		    <div class="elements-layout__item article-card">
			    <div class="article-card__inner">
				    <div class="article-card__flag"><b>+5</b></div>
				    <div class="article-card__bg">
					    <img src="assets/images/article09.jpg" srcset="assets/images/article09@2x.jpg 2x" alt="" class="js-obj-f">
				    </div>
				    <div class="article-card__content">
					    <h3 class="article-card__title">поделитесь&nbsp;с&nbsp;друзьями в&nbsp;социальных сетях</h3>
					    <div class="article-card__popup">
						    <div class="article-card__text">
							    <p>Вы можете привязать к своему аккаунту не более 2-х аккаунтов в социальных сетях</p>
						    </div>
						    <a href="#" class="article-card__btn btn btn--transparent">привязать аккаунт</a>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>

</section>
