<section class="grid">
    <h2 class="grid__title">Новости</h2>
    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="140" height="139">
                <use xlink:href="#qr-w" />
            </svg>
        </div>
        <h3 class="link-card__title">Зарегистрируй qr-код чека или упаковки</h3>
    </a>

    <a href="#" class="grid-item link-card _image _video col-2">
        <div class="link-card__bg">
            <video class="video-bg" loop>
                <source src="https://giant.gfycat.com/VerifiableTerrificHind.mp4" type="video/mp4">
                <source src="https://giant.gfycat.com/VerifiableTerrificHind.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="link-card__tag">Интересные факты</div>
        <div class="link-card__icon">
            <svg width="140" height="140">
                <use xlink:href="#play" />
            </svg>
        </div>
        <h3 class="link-card__title">Молочные берега: в&nbsp;каких странах особенно любят пить молоко?</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="130" height="130">
                <use xlink:href="#gift-b" />
            </svg>
        </div>
        <h3 class="link-card__title">Ценные призы <br>для членов клуба</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap1@2x.jpg')"></div>
        <div class="link-card__tag">Мифы</div>
        <h3 class="link-card__title">фермеры живут <br>дольше обычных людей</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="140" height="140">
                <use xlink:href="#compas" />
            </svg>
        </div>
        <h3 class="link-card__title">Крути барабан <br>удачи</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-2">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap2@2x.jpg')"></div>
        <div class="link-card__tag">Интересные факты</div>
        <h3 class="link-card__title">Молочные берега: в&nbsp;каких странах особенно любят пить молоко?</h3>
    </a>
</section>
<div class="pagination-block">
    <div class="pagination-block__wrapper">
        <div class="pagination">
            <p class="pagination__label">Страница:</p>
            <ul>
                <li>
                    <a href="#">1</a>
                </li>
                <li class="current">
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <span class="dots">...</span>
                <li>
                    <a href="#">11</a>
                </li>
            </ul>
        </div>
        <a href="#" class="btn btn--blue pagination-block__btn js-show-more">
            <span class="icon">
                <svg width="20" height="20">
                    <use xlink:href="#reload"></use>
                </svg>
            </span>
            <span class="text">показать больше</span>
        </a>
    </div>
</div>