<section class="grid">
    <a href="#" class="grid-item link-card _left col-1">
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Молочная <br>кулебяка</h3>
    </a>

    <a href="#" class="grid-item _image link-card _left col-2">
        <div class="link-card__bg"  style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0edr3CM2Ia5EjgMhuuhrAXnZcFYbH5FXy30E-9-zyDOQTELKl')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Молочная пенка профессионально: как подбирать молоко к&nbsp;кофе</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="150" height="131">
                <use xlink:href="#hand"
            </svg>
        </div>
        <h3 class="link-card__title">Узнай как <br>заработать баллы</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg"  style="background-image: url('http://byyourside.tefal.com/wp-content/uploads/2014/10/Animals-or-plant-milk.jpg')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Насколько сложно производить молоко?</h3>
    </a>

    <a href="#" class="grid-item _text link-card col-1">
        <div class="link-card__tag">Мнение эксперта</div>
        <h3 class="link-card__title">Почему молоко <br>не&nbsp;скисает?</h3>
        <p class="link-card__text">Часто молоко&nbsp;же при длительном хранении в&nbsp;открытой упаковке не&nbsp;скисает, а&nbsp;начинает горчить. Вопреки расхожим стереотипам, это вовсе не&nbsp;говорит об&nbsp;изначально плохом качестве продукта. В&nbsp;чём&nbsp;же дело?</p>
    </a>

    <a href="#" class="grid-item _image _left link-card col-2">
        <div class="link-card__bg"  style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVsPgAhyuNC1uak-Lhq5TPS3a-TYCLqrACPfkl7qO-kYidJsppBg')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Как сохранить пользу молока дольше?</h3>
    </a>

    <a href="#" class="grid-item _text link-card col-1">
        <div class="link-card__tag">Мнение эксперта</div>
        <h3 class="link-card__title">Почему молоко <br>не&nbsp;скисает?</h3>
        <p class="link-card__text">Часто молоко&nbsp;же при длительном хранении в&nbsp;открытой упаковке не&nbsp;скисает, а&nbsp;начинает горчить. Вопреки расхожим стереотипам, это вовсе не&nbsp;говорит об&nbsp;изначально плохом качестве продукта. В&nbsp;чём&nbsp;же дело?</p>
    </a>

    <a href="#" class="grid-item _image _left link-card col-2">
        <div class="link-card__bg"  style="background-image: url('http://iblagh.com/en/wp-content/uploads/2018/02/Milk-Nutrition-Benefits.jpg')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Как сохранить пользу молока дольше?</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg"  style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhs88V3PwK-5cNmX8aONittO7ztqtrYR9c_aB8nLgvKkORv0pK')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Осень: <br>время пить молоко</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg"  style="background-image: url('http://byyourside.tefal.com/wp-content/uploads/2014/10/Animals-or-plant-milk.jpg')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Насколько сложно производить молоко?</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="140" height="142">
                <use xlink:href="#diamond"
            </svg>
        </div>
        <h3 class="link-card__title">Собери молочные <br>ряды</h3>
    </a>

    <a href="#" class="grid-item _image link-card _left col-2">
        <div class="link-card__bg"  style="background-image: url('https://atmedia.imgix.net/589dd2e644dfd7a46b4cbf4871afa2a782532280?w=1500&amp;fit=max')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Молочная пенка профессионально: как подбирать молоко к&nbsp;кофе</h3>
    </a>
</section>
//= pagination-block.html