<section class="grid">
    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="140" height="139">
                <use xlink:href="#qr-w" />
            </svg>
        </div>
        <h3 class="link-card__title">Зарегистрируй qr-код чека или упаковки</h3>
    </a>

    <a href="#" class="grid-item link-card _image _video col-2">
        <div class="link-card__bg">
            <video class="video-bg" loop>
                <source src="https://giant.gfycat.com/VerifiableTerrificHind.mp4" type="video/mp4">
                <source src="https://giant.gfycat.com/VerifiableTerrificHind.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="link-card__tag">Интересные факты</div>
        <div class="link-card__icon">
            <svg width="140" height="140">
                <use xlink:href="#play" />
            </svg>
        </div>
        <h3 class="link-card__title">Молочные берега: в&nbsp;каких странах особенно любят пить молоко?</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="130" height="130">
                <use xlink:href="#gift-b" />
            </svg>
        </div>
        <h3 class="link-card__title">Ценные призы <br>для членов клуба</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap1@2x.jpg')"></div>
        <div class="link-card__header">
            <div class="link-card__tag">Мифы</div>
            <div class="link-card__time">
                <b>Читать</b>
                <span> (~5 мин)</span>
            </div>
        </div>
        <h3 class="link-card__title">фермеры живут <br>дольше обычных людей</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="140" height="140">
                <use xlink:href="#compas" />
            </svg>
        </div>
        <h3 class="link-card__title">Крути барабан <br>удачи</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-2">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap2@2x.jpg')"></div>
        <div class="link-card__header">
            <div class="link-card__tag">Интересные факты</div>
            <div class="link-card__time">
                <b>Читать</b>
                <span> (~5 мин)</span>
            </div>
        </div>
        <h3 class="link-card__title">Молочные берега: в&nbsp;каких странах особенно любят пить молоко?</h3>
    </a>
</section>