<section class="grid">
    <a href="#" class="grid-item link-card _image _left col-1">
        <div class="link-card__bg" style="background-image: url('assets/images/bitmap11@2x.jpg')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Молочная <br>кулебяка</h3>
    </a>

    <a href="#" class="grid-item _image link-card _left col-2">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap2@2x.jpg')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Молочная пенка профессионально: как подбирать молоко к&nbsp;кофе</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="150" height="131">
                <use xlink:href="#hand"
            </svg>
        </div>
        <h3 class="link-card__title">Узнай как <br>заработать баллы</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap4@2x.jpg')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Насколько сложно производить молоко?</h3>
    </a>

    <a href="#" class="grid-item _text link-card col-1">
        <div class="link-card__tag">Мнение эксперта</div>
        <h3 class="link-card__title">Почему молоко <br>не&nbsp;скисает?</h3>
        <p class="link-card__text">Часто молоко&nbsp;же при длительном хранении в&nbsp;открытой упаковке не&nbsp;скисает, а&nbsp;начинает горчить. Вопреки расхожим стереотипам, это вовсе не&nbsp;говорит об&nbsp;изначально плохом качестве продукта. В&nbsp;чём&nbsp;же дело?</p>
    </a>

    <a href="#" class="grid-item _image _left link-card col-2">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap3@2x.jpg')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Как сохранить пользу молока дольше?</h3>
    </a>

    <a href="#" class="grid-item _text link-card col-1">
        <div class="link-card__tag">Мнение эксперта</div>
        <h3 class="link-card__title">Почему молоко <br>не&nbsp;скисает?</h3>
        <p class="link-card__text">Часто молоко&nbsp;же при длительном хранении в&nbsp;открытой упаковке не&nbsp;скисает, а&nbsp;начинает горчить. Вопреки расхожим стереотипам, это вовсе не&nbsp;говорит об&nbsp;изначально плохом качестве продукта. В&nbsp;чём&nbsp;же дело?</p>
    </a>

    <a href="#" class="grid-item _image _left link-card col-2">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap7@2x.jpg')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Как сохранить пользу молока дольше?</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap6@2x.jpg')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Осень: <br>время пить молоко</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap8@2x.jpg')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Насколько сложно производить молоко?</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <img src="assets/images/logo.png" srcset="assets/images/logo@2x.png 2x, assets/images/logo@3x.png 3x" width="138" height="140">
        </div>
        <h3 class="link-card__title">играй <br>в&nbsp;3-в-ряд</h3>
    </a>

    <a href="#" class="grid-item _image link-card _left col-2">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap9@2x.jpg')"></div>
        <div class="link-card__tag">Рецепт</div>
        <h3 class="link-card__title">Молочная пенка профессионально: как подбирать молоко к&nbsp;кофе</h3>
    </a>
</section>
//= pagination-block.html