<section class="grid">
    <a href="#" class="grid-item _left link-card _image col-2">
        <div class="link-card__bg" style="background-image: url('assets/images/bitmap@2x.jpg')"></div>
        <div class="link-card__tag">Новости</div>
        <h3 class="link-card__title">Молочная пенка профессионально: как подбирать молоко к&nbsp;кофе</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="140" height="139">
                <use xlink:href="#qr-w"
            </svg>
        </div>
        <h3 class="link-card__title">Зарегистрируй qr-код чека или упаковки</h3>
    </a>

    <a href="#" class="grid-item link-card _image col-1">
        <div class="link-card__bg" style="background-image: url('assets/images/bitmap1@2x.jpg')"></div>
        <div class="link-card__tag">Новости</div>
        <div class="link-card__icon">
            <svg width="130" height="130">
                <use xlink:href="#gift-b"
            </svg>
        </div>
        <h3 class="link-card__title">Осень: <br>время пить молоко</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap4@2x.jpg')"></div>
        <div class="link-card__tag">польза молока</div>
        <h3 class="link-card__title">Для нервов и&nbsp;не&nbsp;только: польза молока и&nbsp;других продуктов при стрессе</h3>
    </a>

    <a href="#" class="grid-item _text link-card col-1">
        <div class="link-card__tag">Знаешь&nbsp;ли ты, что</div>
        <h3 class="link-card__title">Мы&nbsp;пьем коровье <br>молоко уже больше <br>10&nbsp;000&nbsp;лет!</h3>
        <p class="link-card__text">Еще наши самые далекие предки смогли оценить пользу и&nbsp;ценность молока. Древнейшие известные на&nbsp;сегодняшний день ископаемые останки одомашненной коровы относятся к&nbsp;VIII тысячелетию до&nbsp;н.&nbsp;э. То&nbsp;есть мы&nbsp;пьем коровье молоко уже больше 10&nbsp;000&nbsp;лет.</p>
    </a>

    <a href="#" class="grid-item _image _left link-card col-2">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap2@2x.jpg')"></div>
        <div class="link-card__tag">Разное</div>
        <h3 class="link-card__title">Как сохранить пользу молока дольше?</h3>
    </a>

    <a href="#" class="grid-item link-card _image col-1">
        <div class="link-card__bg" style="background-image: url('assets/images/bitmap6@2x.jpg')"></div>
        <div class="link-card__tag">Новости</div>
        <div class="link-card__icon">
            <svg width="130" height="130">
                <use xlink:href="#gift-b"
            </svg>
        </div>
        <h3 class="link-card__title">Осень: <br>время пить молоко</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="140" height="140">
                <use xlink:href="#compas"
            </svg>
        </div>
        <h3 class="link-card__title">Крути барабан <br>удачи</h3>
    </a>

    <a href="#" class="grid-item _image _video link-card col-2">
        <div class="link-card__bg">
            <video class="video-bg" loop>
                <source src="https://giant.gfycat.com/VerifiableTerrificHind.mp4" type="video/mp4">
                <source src="https://giant.gfycat.com/VerifiableTerrificHind.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="link-card__tag">Новости</div>
        <div class="link-card__icon">
            <svg width="140" height="140">
                <use xlink:href="#play"
            </svg>
        </div>
        <h3 class="link-card__title">Молочная пенка профессионально: как подбирать молоко к&nbsp;кофе</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg"  style="background-image: url('assets/images/bitmap8@2x.jpg')"></div>
        <div class="link-card__tag">польза молока</div>
        <h3 class="link-card__title">Для нервов и&nbsp;не&nbsp;только: польза молока и&nbsp;других продуктов при стрессе</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-2">
        <div class="link-card__bg" style="background-image: url('assets/images/bitmap11@2x.jpg')"></div>
        <div class="link-card__tag">Разное</div>
        <h3 class="link-card__title">Как сохранить пользу молока дольше?</h3>
    </a>

    <a href="#" class="grid-item _text link-card col-1">
        <div class="link-card__tag">Знаешь&nbsp;ли ты, что</div>
        <h3 class="link-card__title">Мы&nbsp;пьем коровье <br>молоко уже больше <br>10&nbsp;000&nbsp;лет!</h3>
        <p class="link-card__text">Еще наши самые далекие предки смогли оценить пользу и&nbsp;ценность молока. Древнейшие известные на&nbsp;сегодняшний день ископаемые останки одомашненной коровы относятся к&nbsp;VIII тысячелетию до&nbsp;н.&nbsp;э. То&nbsp;есть мы&nbsp;пьем коровье молоко уже больше 10&nbsp;000&nbsp;лет.</p>
    </a>

</section>
//= pagination-block.html