<section class="grid">
    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <img class="lazy" data-src="assets/images/milk-receipt.png" width="200" height="118" alt="">
        </div>
        <h3 class="link-card__title">РЕГИСТРИРУЙТЕ QR&nbsp;КОД С&nbsp;УПАКОВКИ МОЛОКА И&nbsp;QR&nbsp;С&nbsp;ЧЕКА</h3>
    </a>

    <a href="#" class="grid-item link-card _image _video col-2">
        <div class="link-card__bg">
            <video class="video-bg" loop>
                <source src="https://giant.gfycat.com/VerifiableTerrificHind.mp4" type="video/mp4">
                <source src="https://giant.gfycat.com/VerifiableTerrificHind.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="link-card__tag">Интересные факты</div>
        <div class="link-card__icon">
            <svg width="140" height="140">
                <use xlink:href="#play"
            </svg>
        </div>
        <h3 class="link-card__title">Молочные берега: в&nbsp;каких странах особенно любят пить молоко?</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="130" height="130">
                <use xlink:href="#gift-b"
            </svg>
        </div>
        <h3 class="link-card__title">Ценные призы <br>для членов клуба</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg lazy"  data-src="assets/images/bitmap1@2x.jpg"></div>
        <div class="link-card__tag">Мифы</div>
        <h3 class="link-card__title">Каши на&nbsp;молоке: <br>секреты полезного утра</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="140" height="140">
                <use xlink:href="#compas"
            </svg>
        </div>
        <h3 class="link-card__title">Крути барабан <br>удачи</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-2">
        <div class="link-card__bg lazy"  data-src="assets/images/bitmap2@2x.jpg"></div>
        <div class="link-card__tag">Интересные факты</div>
        <h3 class="link-card__title">Молочные берега: в&nbsp;каких странах особенно любят пить молоко?</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-2">
        <div class="link-card__bg lazy" data-src="assets/images/bitmap3@2x.jpg"></div>
        <div class="link-card__tag">Интересные факты</div>
        <h3 class="link-card__title">Молоко вдвойне вкуснее, если оно с&nbsp;фруктами</h3>
    </a>

    <a href="#" class="grid-item _image link-card col-1">
        <div class="link-card__bg lazy"  data-src="assets/images/bitmap4@2x.jpg"></div>
        <div class="link-card__tag">Мифы</div>
        <div class="link-card__icon">
            <svg width="140" height="140">
                <use xlink:href="#compas"
            </svg>
        </div>
        <h3 class="link-card__title">Полезная пятерка: <br>спорт и&nbsp;питание</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="140" height="150">
                <use xlink:href="#cup"
            </svg>
        </div>
        <h3 class="link-card__title">Узнай <br>победителей</h3>
    </a>

    <a href="#" class="grid-item _image _video link-card col-2">
        <div class="link-card__bg">
            <video class="video-bg" loop>
                <source src="https://giant.gfycat.com/VerifiableTerrificHind.mp4" type="video/mp4">
                <source src="https://giant.gfycat.com/VerifiableTerrificHind.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="link-card__tag">Молочный сериал</div>
        <div class="link-card__icon">
            <svg width="140" height="140">
                <use xlink:href="#play"
            </svg>
        </div>
        <h3 class="link-card__title">Рецепты романтики: что приготовить на&nbsp;завтрак для двоих?</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="150" height="150">
                <use xlink:href="#face"
            </svg>
        </div>
        <h3 class="link-card__title">играй <br>в&nbsp;3-в-ряд</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg lazy"  data-src="assets/images/bitmap6@2x.jpg"></div>
        <div class="link-card__tag">упаковка</div>
        <h3 class="link-card__title">Почему картонная <br>упаковка самая лучшая</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="150" height="131">
                <use xlink:href="#hand"
            </svg>
        </div>
        <h3 class="link-card__title">Узнай как <br>заработать баллы</h3>
    </a>

    <a href="#" class="grid-item _text link-card col-1">
        <div class="link-card__tag">Знаешь&nbsp;ли ты, что</div>
        <h3 class="link-card__title">Мы&nbsp;пьем коровье <br>молоко уже больше <br>10&nbsp;000&nbsp;лет!</h3>
        <p class="link-card__text">Еще наши самые далекие предки смогли оценить пользу и&nbsp;ценность молока. Древнейшие известные на&nbsp;сегодняшний день ископаемые останки одомашненной коровы относятся к&nbsp;VIII тысячелетию до&nbsp;н.&nbsp;э. То&nbsp;есть мы&nbsp;пьем коровье молоко уже больше 10&nbsp;000&nbsp;лет.</p>
    </a>

    <a href="#" class="grid-item _image _left link-card col-2">
        <div class="link-card__bg lazy"  data-src="assets/images/bitmap7@2x.jpg"></div>
        <div class="link-card__tag">Интересные факты</div>
        <h3 class="link-card__title">Как сохранить пользу <br>молока дольше?</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg lazy"  data-src="assets/images/bitmap8@2x.jpg"></div>
        <div class="link-card__tag">Новости</div>
        <h3 class="link-card__title">Осень: <br>время пить молоко</h3>
    </a>

    <a href="#" class="grid-item link-card col-1">
        <div class="link-card__tag">Клуб</div>
        <div class="link-card__icon">
            <svg width="91" height="150">
                <use xlink:href="#milk"
            </svg>
        </div>
        <h3 class="link-card__title">Продукция <br>Клуба</h3>
    </a>

    <a href="#" class="grid-item _image _video link-card col-2">
        <div class="link-card__bg">
            <video class="video-bg" loop>
                <source src="https://giant.gfycat.com/VerifiableTerrificHind.mp4" type="video/mp4">
                <source src="https://giant.gfycat.com/VerifiableTerrificHind.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="link-card__tag">Новости</div>
        <div class="link-card__icon">
            <svg width="140" height="140">
                <use xlink:href="#play"
            </svg>
        </div>
        <h3 class="link-card__title">Молочная пенка профессионально: <br>как подбирать молоко к&nbsp;кофе</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-1">
        <div class="link-card__bg lazy"  data-src="assets/images/bitmap10@2x.jpg"></div>
        <div class="link-card__tag">польза молока</div>
        <h3 class="link-card__title">Для нервов и&nbsp;не <br>только: польза молока и&nbsp;других продуктов <br>при стрессе</h3>
    </a>

    <a href="#" class="grid-item _image _left link-card col-2">
        <div class="link-card__bg lazy"  data-src="assets/images/bitmap11@2x.jpg"></div>
        <div class="link-card__tag">Разное</div>
        <h3 class="link-card__title">Как сохранить пользу <br>молока дольше?</h3>
    </a>

    <a href="#" class="grid-item _text link-card col-1">
        <div class="link-card__tag">Знаешь&nbsp;ли ты, что</div>
        <h3 class="link-card__title">Мы&nbsp;пьем коровье <br>молоко уже больше <br>10&nbsp;000&nbsp;лет!</h3>
        <p class="link-card__text">Еще наши самые далекие предки смогли оценить пользу и&nbsp;ценность молока. Древнейшие известные на&nbsp;сегодняшний день ископаемые останки одомашненной коровы относятся к&nbsp;VIII тысячелетию до&nbsp;н.&nbsp;э. То&nbsp;есть мы&nbsp;пьем коровье молоко уже больше 10&nbsp;000&nbsp;лет.</p>
    </a>
</section>

//= pagination-block.html