<div class="cols-wrapper js-cols history-block">
    <div class="main-col">
        <div class="history-block__main">
            <h2 class="history-block__title">История счета</h2>
            <ul class="history-block__filters">
                <li class="js-filter">Все</li>
                <li class="js-filter active">БАллы</li>
                <li class="js-filter">чеки</li>
                <li class="js-filter">активность</li>
            </ul>
            <div class="history">
                <div class="table-header js-table-header">
                    <table class="history-table">
                        <tr>
                            <th>Дата/время</th>
                            <th class="activity">Активность</th>
                            <th class="points">Баллы</th>
                        </tr>
                    </table>
                </div>
                <table class="history-table">
                    <tr>
                        <th>Дата/время</th>
                        <th class="activity">Активность</th>
                        <th class="points">Баллы</th>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Вращение барабана удачи (неуспешная попытка)</td>
                        <td>
                            <div class="history__points"><span class="points-qty">+10</span>&nbsp;баллов</div>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Вращение барабана удачи (неуспешная попытка)</td>
                        <td>
                            <div class="history__points"><span class="points-qty">+10</span>&nbsp;баллов</div>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Вращение барабана удачи (неуспешная попытка)</td>
                        <td>
                            <div class="history__points"><span class="points-qty">+10</span>&nbsp;баллов</div>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Вращение барабана удачи (неуспешная попытка)</td>
                        <td>
                            <div class="history__points"><span class="points-qty">+10</span>&nbsp;баллов</div>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Вращение барабана удачи (неуспешная попытка)</td>
                        <td>
                            <div class="history__points"><span class="points-qty">+10</span>&nbsp;баллов</div>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Вращение барабана удачи (неуспешная попытка)</td>
                        <td>
                            <div class="history__points"><span class="points-qty">+10</span>&nbsp;баллов</div>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Вращение барабана удачи (неуспешная попытка)</td>
                        <td>
                            <div class="history__points"><span class="points-qty">+10</span>&nbsp;баллов</div>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Вращение барабана удачи (неуспешная попытка)</td>
                        <td>
                            <div class="history__points"><span class="points-qty">+10</span>&nbsp;баллов</div>
                        </td>
                    </tr>
                </table>
            </div>
            //= pagination-block.html
        </div>
    </div>
    <div class="aside-col js-aside">
        <div class="aside-col__inner sticky scrollable">
            <div class="history-block__aside">
                <ul class="history-block__filters">
                    <li class="js-filter">Призы</li>
                    <li class="js-filter active">Коды Литрес</li>
                </ul>
                <div class="active-codes js-tooltip">
                    <div class="active-codes__header js-codes-trigger">
                        <p>Чтобы получить книгу из&nbsp;специального каталога ЛитРес, перейдите по&nbsp;ссылке. <br>Ввести ваш промо-код мы&nbsp;можете <a href="#">тут</a></p>
                    </div>
                    <div class="active-codes__list js-codes-list">
                        <ul>
                            <li>tpab8d7msp6</li>
                            <li>tpab8d7msp6</li>
                            <li>tpab8d7msp6</li>
                            <li>tpab8d7msp6</li>
                            <li>tpab8d7msp6</li>
                            <li>tpab8d7msp6</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>