<div class="cols-wrapper js-cols history-block _codes">
    <div class="main-col">
        <div class="history-block__main">
            <h2 class="history-block__title">История счета</h2>
            <ul class="history-block__filters">
                <li class="js-filter">Все</li>
                <li class="js-filter">БАллы</li>
                <li class="js-filter">чеки</li>
                <li class="js-filter active">активность</li>
            </ul>
            <div class="history">
                <div class="table-header js-table-header">
                    <table class="history-table">
                        <tr>
                            <th class="date">Дата/время</th>
                            <th class="cert">Сертификат</th>
                            <th class="status">Статус</th>
                            <th class="note"></th>
                        </tr>
                    </table>
                </div>
                <table class="history-table">
                    <tr>
                        <th class="date">Дата/время</th>
                        <th class="cert">Сертификат</th>
                        <th class="status">Статус</th>
                        <th class="note"></th>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Сертификат на&nbsp;500&nbsp;₽</td>
                        <td><span class="status-message _new">Ожидает проверки</span></td>
                        <td><a href="#" class="history-table__link">Перейти к&nbsp;оформлению</a></td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Сертификат на&nbsp;1000&nbsp;₽</td>
                        <td><span class="status-message _done">Активирован</span></td>
                        <td>Сертификат уже активирован</td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Сертификат на&nbsp;1000&nbsp;₽</td>
                        <td><span class="status-message _done">Активирован</span></td>
                        <td>Сертификат уже активирован</td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Сертификат на&nbsp;1000&nbsp;₽</td>
                        <td><span class="status-message _done">Активирован</span></td>
                        <td>Сертификат уже активирован</td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Сертификат на&nbsp;1000&nbsp;₽</td>
                        <td><span class="status-message _done">Активирован</span></td>
                        <td>Сертификат уже активирован</td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Сертификат на&nbsp;1000&nbsp;₽</td>
                        <td><span class="status-message _done">Активирован</span></td>
                        <td>Сертификат уже активирован</td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Сертификат на&nbsp;1000&nbsp;₽</td>
                        <td><span class="status-message _done">Активирован</span></td>
                        <td>Сертификат уже активирован</td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>Сертификат на&nbsp;1000&nbsp;₽</td>
                        <td><span class="status-message _done">Активирован</span></td>
                        <td>Сертификат уже активирован</td>
                    </tr>
                </table>
            </div>
            //= pagination-block.html
        </div>
    </div>
    <h2 class="history-block__title _mobile">Призы</h2>
    <div class="aside-col js-aside">
        <div class="aside-col__inner sticky scrollable">
            <div class="history-block__aside">
                <ul class="history-block__filters">
                    <li class="js-filter active">Премиум-подписки</li>
                </ul>
                <div class="promocodes">
                    <ul>
                        <li class="promocode-card">
                            <a href="#" class="promocode-card__img js-modal-trigger" data-target="popupOkkoText">
                                <img src="assets/images/premium-ya.png" srcset="assets/images/premium-ya@2x.png" width="132" height="40" alt="">
                            </a>
                        </li>
                        <li class="promocode-card">
                            <a href="#" class="promocode-card__img js-modal-trigger" data-target="popupLitres">
                                <img src="assets/images/ozon.png" width="95" height="21" alt="">
                            </a>
                        </li>
                        <li class="promocode-card">
                            <a href="#" class="promocode-card__img js-modal-trigger" data-target="popupOkkoText">
                                <img src="assets/images/premium-story.png" srcset="assets/images/premium-story@2x.png" width="118" height="70" alt="">
                            </a>
                        </li>
                        <li class="promocode-card">
                            <a href="#" class="promocode-card__img js-modal-trigger" data-target="popupOkko">
                                <img src="assets/images/premium-ya.png" srcset="assets/images/premium-ya@2x.png" width="132" height="40" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="history-block__filters">
                    <li class="js-filter active">мои промо-коды</li>
                </ul>
                <!--<div class="active-codes js-tooltip">-->
                    <!--<div class="active-codes__header js-codes-trigger">-->
                        <!--<p>Чтобы получить книгу из&nbsp;специального каталога ЛитРес, перейдите по&nbsp;ссылке. <br>Ввести ваш промо-код мы&nbsp;можете <a href="#">тут</a></p>-->
                    <!--</div>-->
                    <!--<div class="active-codes__list js-codes-list">-->
                        <!--<ul>-->
                            <!--<li>tpab8d7msp6</li>-->
                            <!--<li>tpab8d7msp6</li>-->
                            <!--<li>tpab8d7msp6</li>-->
                            <!--<li>tpab8d7msp6</li>-->
                            <!--<li>tpab8d7msp6</li>-->
                            <!--<li>tpab8d7msp6</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="promocodes">
                    <ul>
                        <li class="promocode-card">
                            <a href="#" class="promocode-card__img js-modal-trigger" data-target="popupOkko">
                                <svg width="200" height="115">
                                    <use xlink:href="#okko-logo" />
                                </svg>
                            </a>
                            <p class="promocode-card__text">У вас <span class="qty">6</span> промо-кодов <span class="name">Okko</span></p>
                        </li>
                        <li class="promocode-card">
                            <a href="#" class="promocode-card__img js-modal-trigger" data-target="popupLitres">
                                <svg width="200" height="125">
                                    <use xlink:href="#litres-logo" />
                                </svg>
                            </a>
                            <p class="promocode-card__text">У вас <span class="qty">нет</span> кодов <span class="name">Литрес</span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>