<div class="cols-wrapper js-cols history-block">
    <div class="main-col">
        <div class="history-block__main">
            <h2 class="history-block__title">История счета</h2>
            <ul class="history-block__filters">
                <li class="js-filter">Все</li>
                <li class="js-filter">БАллы</li>
                <li class="js-filter active">чеки</li>
                <li class="js-filter">активность</li>
            </ul>
            <div class="history">
                <div class="table-header js-table-header">
                    <table class="history-table">
                        <tr>
                            <th class="date">Дата/время</th>
                            <th class="receipt">Номер чека</th>
                            <th class="status">Статус</th>
                            <th class="photo">Фото</th>
                        </tr>
                    </table>
                </div>
                <table class="history-table">
                    <tr>
                        <th class="date">Дата/время</th>
                        <th class="receipt">Номер чека</th>
                        <th class="status">Статус</th>
                        <th class="photo">Фото</th>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>12342351451345</td>
                        <td><span class="status-message _pending">Ожидает проверки</span></td>
                        <td>
                            <a href="#" class="camera-icon">
                                <svg width="20" height="19">
                                    <use xlink:href="#camera" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>12342351451345</td>
                        <td><span class="status-message _pending">Ожидает проверки</span></td>
                        <td>
                            <a href="#" class="camera-icon">
                                <svg width="20" height="19">
                                    <use xlink:href="#camera" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>12342351451345</td>
                        <td><span class="status-message _pending">Ожидает проверки</span></td>
                        <td>
                            <a href="#" class="camera-icon">
                                <svg width="20" height="19">
                                    <use xlink:href="#camera" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>12342351451345</td>
                        <td><span class="status-message _pending">Ожидает проверки</span></td>
                        <td>
                            <a href="#" class="camera-icon">
                                <svg width="20" height="19">
                                    <use xlink:href="#camera" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>12342351451345</td>
                        <td><span class="status-message _pending">Ожидает проверки</span></td>
                        <td>
                            <a href="#" class="camera-icon">
                                <svg width="20" height="19">
                                    <use xlink:href="#camera" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>12342351451345</td>
                        <td><span class="status-message _pending">Ожидает проверки</span></td>
                        <td>
                            <a href="#" class="camera-icon">
                                <svg width="20" height="19">
                                    <use xlink:href="#camera" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>12342351451345</td>
                        <td><span class="status-message _pending">Ожидает проверки</span></td>
                        <td>
                            <a href="#" class="camera-icon">
                                <svg width="20" height="19">
                                    <use xlink:href="#camera" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>10.11.2018</td>
                        <td>12342351451345</td>
                        <td><span class="status-message _pending">Ожидает проверки</span></td>
                        <td>
                            <a href="#" class="camera-icon">
                                <svg width="20" height="19">
                                    <use xlink:href="#camera" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            //= pagination-block.html
        </div>
    </div>
    <div class="aside-col js-aside">
        <div class="aside-col__inner sticky scrollable">
            <div class="history-block__aside">
                <ul class="history-block__filters">
                    <li class="js-filter">Призы</li>
                    <li class="js-filter active">Коды Литрес</li>
                </ul>
                <div class="active-codes js-tooltip">
                    <div class="active-codes__header js-codes-trigger">
                        <p>Чтобы получить книгу из&nbsp;специального каталога ЛитРес, перейдите по&nbsp;ссылке. <br>Ввести ваш промо-код мы&nbsp;можете <a href="#">тут</a></p>
                    </div>
                    <div class="active-codes__list js-codes-list">
                        <ul>
                            <li>tpab8d7msp6</li>
                            <li>tpab8d7msp6</li>
                            <li>tpab8d7msp6</li>
                            <li>tpab8d7msp6</li>
                            <li>tpab8d7msp6</li>
                            <li>tpab8d7msp6</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>