<div class="intro _muu">
    <div class="intro__wrapper">
        <div class="intro__main-col">
            <div class="intro__slider _main-page">
                <div class="intro-slider">
                    <div class="intro-slide">
                        <div class="intro-slide__text-col">
                            <h1 class="intro-slide__title">Молоко «Му-у» — 
                                    <br>это молоко, созданное
                                    <br>с&nbsp;любовью на&nbsp;агромолкомбинате
                                    «Рязанский»</h1>
                            <p class="intro-slide__offer">
                                <svg width="43" height="45">
                                    <use xlink:href="#2-coin" />
                                </svg>
                                <span class="text">За каждый код, введенный с&nbsp;упаковки «МУ-У» вы&nbsp;получите в&nbsp;два раза больше баллов</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro__aside-col">
            //= intro-aside--muu.html
            //= login-popup.html
            //= profile-popup-land.html
        </div>
    </div>
</div>