<div class="intro intro--inner">
    <div class="intro__wrapper">
        <div class="intro__aside-col">
            //= login-popup.html
            //= profile-popup.html
        </div>
    </div>
</div>