<div class="intro">
    <div class="intro__wrapper">
        <div class="intro__main-col">
            <div class="intro__slider _main-page">
                <div class="intro-slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <h1 class="intro-slide__title">Подкрепление <br>для каждого <br>защитника</h1>
                                <a href="#" class="btn btn--transparent js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/group-8.png" srcset="assets/images/group-8@2x.png 2x, assets/images/group-8@3x.png 3x" width="745" height="521">
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <h1 class="intro-slide__title">Подкрепление <br>для каждого <br>защитника</h1>
                                <a href="#" class="btn btn--transparent js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/group-8.png" srcset="assets/images/group-8@2x.png 2x, assets/images/group-8@3x.png 3x" width="745" height="521">
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <h1 class="intro-slide__title">Подкрепление <br>для каждого <br>защитника</h1>
                                <a href="#" class="btn btn--transparent js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/group-8.png" srcset="assets/images/group-8@2x.png 2x, assets/images/group-8@3x.png 3x" width="745" height="521">
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <h1 class="intro-slide__title">Подкрепление <br>для каждого <br>защитника</h1>
                                <a href="#" class="btn btn--transparent js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/group-8.png" srcset="assets/images/group-8@2x.png 2x, assets/images/group-8@3x.png 3x" width="745" height="521">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="intro__aside-col">
            //= intro-aside.html
            //= login-popup.html
            //= profile-popup.html
        </div>
    </div>
</div>