<div class="intro _participate">
    <div class="intro__wrapper">
        <div class="intro__main-col">
            <div class="intro__slider _flag _milk">
                <div class="intro-slider intro-slider--inner swiper-container">
                    <div class="swiper-wrapper">
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <span class="flag"><span>Участвую</span></span>
                                <h1 class="intro-slide__title">новый год закончился, <br>а&nbsp;баллы и&nbsp;подарки остались!</h1>
                                <a href="#" class="btn btn--transparent js-wave btn--milky intro-slide__link"><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/garalend.png" srcset="assets/images/garalend@2x.png 2x, assets/images/garalend@3x.png 3x" class="layer-25" width="1018" height="467">
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <span class="flag"><span>Участвую</span></span>
                                <h1 class="intro-slide__title">новый год закончился, <br>а&nbsp;баллы и&nbsp;подарки остались!</h1>
                                <a href="#" class="btn btn--transparent js-wave btn--milky intro-slide__link"><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/garalend.png" srcset="assets/images/garalend@2x.png 2x, assets/images/garalend@3x.png 3x" class="layer-25" width="1018" height="467">
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <span class="flag"><span>Участвую</span></span>
                                <h1 class="intro-slide__title">новый год закончился, <br>а&nbsp;баллы и&nbsp;подарки остались!</h1>
                                <a href="#" class="btn btn--transparent js-wave btn--milky intro-slide__link"><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/garalend.png" srcset="assets/images/garalend@2x.png 2x, assets/images/garalend@3x.png 3x" class="layer-25" width="1018" height="467">
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <span class="flag"><span>Участвую</span></span>
                                <h1 class="intro-slide__title">новый год закончился, <br>а&nbsp;баллы и&nbsp;подарки остались!</h1>
                                <a href="#" class="btn btn--transparent js-wave btn--milky intro-slide__link"><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/garalend.png" srcset="assets/images/garalend@2x.png 2x, assets/images/garalend@3x.png 3x" class="layer-25" width="1018" height="467">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="intro__aside-col">
            //= intro-aside.html
            //= login-popup.html
            //= profile-popup.html
        </div>
    </div>
</div>