<div class="intro _sz">
    <div class="intro__wrapper">
        <div class="intro__main-col">
            <div class="intro__slider _main-page">
                <div class="intro-slider">
                    <div class="intro-slide swiper-slide">
                        <div class="intro-slide__text-col">
                            <h1 class="intro-slide__title">Молоко «Село Зелёное» — 
                                это молоко от&nbsp;счастливых 
                                коров!</h1>
                            <p class="intro-slide__offer">
                                <img src="assets/images/2-coin@2x.png" width="43" height="45" alt="">
                                <span class="text">За&nbsp;каждый код, введенный с&nbsp;упаковки «Село&nbsp;Зелёное» вы&nbsp;получите в&nbsp;два раза больше баллов</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro__aside-col">
            //= intro-aside--sz.html
            //= login-popup.html
            //= profile-popup-land.html
        </div>
    </div>
</div>