<div class="intro">
    <div class="intro__wrapper">
        <div class="intro__main-col">
            <div class="intro__slider _main-page">
                <div class="intro-slider">
                    <div id="animation_container48" style="background-color:rgba(255, 255, 255, 1.00); width:1080px; height:680px">
                        <canvas id="canvas48" width="1080" height="680" style="position: absolute; display: none; background-color:rgba(255, 255, 255, 1.00);"></canvas>
                        <div id="dom_overlay_container48" style="pointer-events:none; overflow:hidden; width:1080px; height:680px; position: absolute; left: 0px; top: 0px; display: none;">
                        </div>
                    </div>
                    <div id='_preload_div_48' style='position:absolute; top:0; left:0; display: inline-block; height:680px; width: 1080px; text-align: center;'>	<span style='display: inline-block; height: 100%; vertical-align: middle;'></span>	<img src='assets/images/_preloader.gif' style='vertical-align: middle; max-height: 100%'/></div>
                </div>
            </div>
        </div>
        <div class="intro__aside-col">
            //= login-block.html
            //= login-popup.html
            //= profile-popup.html
        </div>
    </div>
</div>