<div class="intro">
    <div class="intro__wrapper">
        <div class="intro__main-col">
            <div class="intro__slider _main-page">
                <div class="intro-slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="intro-slide swiper-slide _flag _white-screen" data-white>
                            <div class="intro-slide__block-1 js-block-banner-1">
                                <div class="intro-slide__text-col">
                                    <span class="flag"><span>Знаю</span></span>
                                    <h1 class="intro-slide__title" style="">Еслие&nbsp;меняе&nbsp;не&nbsp;вскрыть, <br>то&nbsp;в&nbsp;шкафу <br>можете&nbsp;хранить!</h1>
                                    <p class="intro-slide__text">Это молоко можно хранить где угодно, если оно не&nbsp;вскрыто.</p>
                                    <a href="#" class="btn btn--lblue js-wave btn--milky intro-slide__link js-modal-trigger" data-target="popupInfo"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                                </div>
                                <div class="intro-slide__image-col" style="align-items: flex-end;padding-bottom: 30px;">
                                    <img src="assets/images/two.png" width="540" height="462" alt="">
                                </div>
                            </div>
                            <div class="intro-slide__block-2 js-block-banner-2 _hide">
                                <div class="intro-slide__block-text">
                                    Благодаря технологии ультрапастеризации и&nbsp;многослойной картонной упаковке это молоко остается свежим надолго, поэтому оно всегда <span class="emph">под рукой!
                                    <svg width="100%" height="17" class="red">
                                        <use xlink:href="#emph" />
                                    </svg>
                                    </span>
                                </div>
                                <a href="#" class="btn btn--lblue js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <h1 class="intro-slide__title">Подкрепление <br>для каждого <br>защитника</h1>
                                <a href="#" class="btn btn--transparent js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/group-8.png" srcset="assets/images/group-8@2x.png 2x, assets/images/group-8@3x.png 3x" width="745" height="521">
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <h1 class="intro-slide__title">Подкрепление <br>для каждого <br>защитника</h1>
                                <a href="#" class="btn btn--transparent js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/group-8.png" srcset="assets/images/group-8@2x.png 2x, assets/images/group-8@3x.png 3x" width="745" height="521">
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <h1 class="intro-slide__title">Подкрепление <br>для каждого <br>защитника</h1>
                                <a href="#" class="btn btn--transparent js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/group-8.png" srcset="assets/images/group-8@2x.png 2x, assets/images/group-8@3x.png 3x" width="745" height="521">
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <h1 class="intro-slide__title">Подкрепление <br>для каждого <br>защитника</h1>
                                <a href="#" class="btn btn--transparent js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/group-8.png" srcset="assets/images/group-8@2x.png 2x, assets/images/group-8@3x.png 3x" width="745" height="521">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="intro__aside-col">
            //= login-block.html
            //= login-popup.html
            //= profile-popup.html
        </div>
    </div>
    //= scroll-down.html
</div>