<div class="intro-slider intro-slider--full js-intro-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide intro-slide--5ka-2">
          <img class="_desktop" src="assets/images/banner--5ka-2.jpg" alt="">
          <img class="_mobile" src="assets/images/banner--5ka-2-m.jpg" alt="">
          <a class="intro-slide__link--5ka" href="#"></a>
      </div>
      <div class="swiper-slide intro-slide--5ka-3">
        <img class="_desktop" src="assets/images/banner--5ka-3.jpg" alt="">
        <img class="_mobile" src="assets/images/banner--5ka-3-m.jpg" alt="">
        <a class="intro-slide__link--5ka" href="#"></a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
