<div class="aside-block">
    <h2 class="aside-block__title">
    <!--<span class="icon">-->
        <!--<svg width="86" height="100">-->
        <!--<use xlink:href="#cup" />-->
        <!--</svg>-->
    <!--</span>-->
    <div class="landings-link-slider__wrap">
        <div class="landings-link-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="landings-link-slide swiper-slide">
                    <a href="landing-krai.html">
                        <img src="assets/images/logo-mvideo-kray.png" alt="">
                    </a>
                </div>
                <div class="landings-link-slide swiper-slide">
                    <a href="landing-muu.html">
                        <img src="assets/images/logo-mu.png" alt="">
                    </a>
                </div>
                <div class="landings-link-slide swiper-slide">
                    <a href="landing-bigcup.html">
                        <img src="assets/images/logo-cup-r.png" alt="">
                    </a>
                </div>
                <div class="landings-link-slide swiper-slide">
                    <a href="landing-sz.html">
                        <img src="assets/images/logo-selo@2x.png" alt="">
                    </a>
                </div>
                <div class="landings-link-slide swiper-slide">
                    <a href="landing-vkusnoteevo.html">
                        <img src="assets/images/logo-vkusnoteevo@2x.png" alt="">
                    </a>
                </div>
                <div class="landings-link-slide swiper-slide">
                    <a href="landing-krai.html">
                        <img src="assets/images/logo-krai@2x.png" alt="">
                    </a>
                </div>
                <div class="landings-link-slide swiper-slide">
                    <a href="landing-sk.html">
                        <img src="assets/images/solnishko-logo@2x.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev swiper-button-white landings-link__prev"></div>
        <div class="swiper-button-next swiper-button-white landings-link__next"></div>
    </div>
    <span class="text">вперед за&nbsp;новыми призами</span>
    </h2>
    <a href="#" class="btn js-wave btn--milky btn--transparent btn--minor aside-block__btn"><span class="text">зарегистрировать код</span></a>
    <a href="#" class="aside-block__activities"><span>Больше активностей</span></a>
</div>