<div class="intro">
    <div class="intro__wrapper">
        <div class="intro__main-col _white-screen">
            <div class="intro__slider _main-page">
                <div class="intro-slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <h1 class="intro-slide__title">что&nbsp;бы ни&nbsp;случилось, <br>я&nbsp;всегда <span class="emph"><span>рядом!</span></span></h1>
                                <p class="intro-slide__text">Это молоко можно купить про запас и&nbsp;быть уверенным, что ваш завтрак всегда будет с&nbsp;молоком. </p>
                                <a href="#" class="btn btn--lblue js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/cup.png" width="679" height="551" alt="">
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <h1 class="intro-slide__title">что&nbsp;бы ни&nbsp;случилось, <br>я&nbsp;всегда <span class="emph"><span>рядом!</span></span></h1>
                                <p class="intro-slide__text">Это молоко можно купить про запас и&nbsp;быть уверенным, что ваш завтрак всегда будет с&nbsp;молоком. </p>
                                <a href="#" class="btn btn--lblue js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/cup.png" width="679" height="551" alt="">
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <h1 class="intro-slide__title">что&nbsp;бы ни&nbsp;случилось, <br>я&nbsp;всегда <span class="emph"><span>рядом!</span></span></h1>
                                <p class="intro-slide__text">Это молоко можно купить про запас и&nbsp;быть уверенным, что ваш завтрак всегда будет с&nbsp;молоком. </p>
                                <a href="#" class="btn btn--lblue js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/cup.png" width="679" height="551" alt="">
                            </div>
                        </div>
                        <div class="intro-slide swiper-slide">
                            <div class="intro-slide__text-col">
                                <h1 class="intro-slide__title">что&nbsp;бы ни&nbsp;случилось, <br>я&nbsp;всегда <span class="emph"><span>рядом!</span></span></h1>
                                <p class="intro-slide__text">Это молоко можно купить про запас и&nbsp;быть уверенным, что ваш завтрак всегда будет с&nbsp;молоком. </p>
                                <a href="#" class="btn btn--lblue js-wave btn--milky intro-slide__link"><span class="wave-el"></span><span class="text">Узнать подробнее</span></a>
                            </div>
                            <div class="intro-slide__image-col">
                                <img src="assets/images/cup.png" width="679" height="551" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="intro__aside-col">
            //= login-block.html
            //= login-popup.html
            //= profile-popup.html
        </div>
    </div>
</div>