<div class="aside-block _muu">
    <h2 class="aside-block__title">
    <span class="icon">
        <svg width="96" height="96">
            <use xlink:href="#gift-b" />
        </svg>
    </span>
        <span class="text">регистрируй коды, выигрывай призы</span>
    </h2>
    <p class="aside-block__text">Зарегистрируйте три кода
        в&nbsp;течение одной недели
        и&nbsp;получите возможность выиграть сертификат на&nbsp;500&nbsp;рублей.</p>
    <a href="#" class="btn btn--transparent _yellow aside-block__btn"><span class="text">Активировать код</span></a>
</div>