<div class="aside-block _muu">
    <h2 class="aside-block__title">
    <span class="icon">
        <svg width="137" height="93">
            <use xlink:href="#coin-green" />
        </svg>
    </span>
        <span class="text">В два раза больше баллов</span>
    </h2>
    <p class="aside-block__text">Активируйте код 
        с упаковки «Село Зелёное» 
        и зарабатывайте в 2 раза больше баллов</p>
    <a href="#" class="btn btn--transparent _yellow aside-block__btn"><span class="text">Активировать код</span></a>
</div>