<div class="intro _vkusnoteevo _01">
    <div class="intro__wrapper">
        <div class="intro__main-col">
            <div class="intro__slider _main-page">
                <div class="intro-slider">
                    <div class="intro-slide swiper-slide">
                        <div class="intro-slide__text-col">
                            <h1 class="intro-slide__title">Молоко - только «Вкуснотеево», а&nbsp;остальное место для творчества</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro__aside-col">
            //= intro-aside--vkusnoteevo02.html
            //= login-popup.html
            //= profile-popup-land.html
        </div>
    </div>
</div>