<div class="intro _bigcup">
    <div class="intro__wrapper">
        <div class="intro__main-col">
            <div class="intro__slider _main-page">
                <div class="intro-slider">
                    <div class="intro-slide swiper-slide">
                        <div class="intro-slide__text-col">
                            <h1 class="intro-slide__title">«Большая кружка» — это молоко
                                <br>созданное с&nbsp;любовью для дорогих сердцу людей</h1>
                            <p class="intro-slide__offer">
                                <img src="assets/images/excl@2x.png" width="43" height="45" alt="">
                                <span class="text">При его производстве не&nbsp;используют консервантов, искусственных добавок и&nbsp;Е&nbsp;компонентов.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro__aside-col">
            //= intro-aside--bigcup.html
            //= login-popup.html
            //= profile-popup-land.html
        </div>
    </div>
</div>