<div class="intro _krai">
    <div class="intro__wrapper">
        <div class="intro__main-col">
            <div class="intro__slider _main-page">
                <div class="intro-slider">
                    <div class="intro-slide swiper-slide">
                        <div class="intro-slide__text-col">
                            <h1 class="intro-slide__title">Пейте молоко, получайте скидку в&nbsp;МВидео</h1>
                            <p class="intro-slide__offer">
                                <img src="assets/images/icon-plus@2x.png" width="43" height="42" alt="">
                                <span class="text">За каждый зарегистрированный код, введенный с&nbsp;упаковки «Край&nbsp;родимый» 2,5% вы&nbsp;получите гарантированный бонус в&nbsp;М.Видео. </span>
                            </p>
                            <p class="intro-slide__footnote">Сроки проведения акции: с 06.11.18 по 23.12.18</p>
                            <p class="intro-slide__footnote">Период регистрации кодов: с 06.11.18 по 15.12.18</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro__aside-col">
            //= intro-aside--krai-special.html
            //= login-popup.html
            //= profile-popup-land.html
        </div>
    </div>
</div>