<div class="aside-block _muu">
    <h2 class="aside-block__title">
    <span class="icon">
        <svg width="137" height="93">
            <use xlink:href="#coin-l-blue" />
        </svg>
    </span>
        <span class="text">В два раза больше баллов</span>
    </h2>
    <p class="aside-block__text">Активируйте код
        с&nbsp;упаковки &laquo;Любимая чашка&raquo;
        и&nbsp;зарабатывайте в&nbsp;2&nbsp;раза больше баллов</p>
    <a href="#" class="btn btn--transparent _yellow aside-block__btn"><span class="text">Активировать код</span></a>
</div>
