<div class="intro _vkusnoteevo">
    <div class="intro__wrapper">
        <div class="intro__main-col">
            <div class="intro__slider _main-page">
                <div class="intro-slider">
                    <div class="intro-slide swiper-slide">
                        <div class="intro-slide__text-col">
                            <h1 class="intro-slide__title">Молоко «Вкуснотеево» -  <br>вкусно, как в&nbsp;детстве</h1>
                            <p class="intro-slide__offer">
                                <img src="assets/images/2-coin@2x.png" width="44" height="45" alt="">
                                <span class="text">За каждый код, введенный с&nbsp;упаковки «Вкуснотеево» вы получите в&nbsp;два раза больше баллов</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro__aside-col">
            //= intro-aside--vkusnoteevo.html
            //= login-popup.html
            //= profile-popup-land.html
        </div>
    </div>
</div>