<div class="intro intro--5ka">
    <div class="intro__wrapper">
        <div class="intro__main-col">
            <div class="intro__slider _main-page">
                <div class="intro-slider swiper-container">
                    <div class="swiper-wrapper">
                      <div class="intro-slide swiper-slide intro-slide--5ka-1">
                        <img src="assets/images/banner--5ka-1-min.png" alt="">
                        <a class="intro-slide__link--5ka" href="#"></a>
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="intro__aside-col">
            //= login-block.html
            //= login-popup.html
            //= profile-popup.html
        </div>
    </div>
</div>
