<div class="aside-block">
    <h2 class="aside-block__title">
    <span class="icon">
        <svg width="86" height="100">
        <use xlink:href="#cup" />
        </svg>
    </span>
        <span class="text">Молочное <br>гран-при <br>стартовало!</span>
    </h2>
    <a href="#" class="btn js-wave btn--milky btn--transparent aside-block__btn"><span class="text">Участвовать</span></a>
    <p class="aside-block__descr">Получи сразу <span class="points">+10</span>&nbsp;на <a href="#" class="aside-block__profile">свой счет</a></p>
    <a href="#" class="aside-block__activities"><span>Больше активностей</span></a>
</div>