<div class="aside-block _muu">
    <h2 class="aside-block__title">
        <span class="icon">
            <img src="assets/images/icon-card@2x.png" width="127" height="79" alt="">
        </span>
        <span class="text">регистрируй код скорей, получи 500&nbsp;рублей</span>
    </h2>
    <p class="aside-block__text">Регистрируйте код с&nbsp;упаковки 
            «Край Родимый» и получайте промо код на&nbsp;500&nbsp;рублей в&nbsp;М.Видео</p>
    <a href="#" class="btn btn--transparent _yellow aside-block__btn"><span class="text">Активировать код</span></a>
</div>