<div class="overlay  js-modal _show">
    <div class="modal _landing _krai">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <div class="modal__inner">
            <div class="modal__img">
                <img src="assets/images/logo-krai@2x.png" width="101" height="67" alt="">
            </div>
            <h4 class="modal__inner-title">Это что-то<br>новенькое!</h4>
            <p class="modal__descr">Поздравляем, теперь зарегистрировав код, вам доступна новая страница «Край Родимый» на которой вы найдете больше информации о молоке.
            </p>
            <a href="landing-krai.html" class="btn modal__btn">Смотреть</a>
        </div>
    </div>
</div>