<section class="landing">
    <div class="landing__header">
        <div class="landing__wrapper layout-positioner">
            <div class="landing__header-col">
                <h2 class="landing__header-title">участвуйте в акции клуб «высший&nbsp;молочный&nbsp;стандарт»!</h2>
                <a href="#" class="btn btn--red">зарегистрировать код</a>
            </div>
        </div>
    </div>
    <div class="landing__body">
        <div class="landing__wrapper layout-positioner">
            <h2 class="landing__body-title">как зарегистрировать код?</h2>
            <p class="landing__body-subtitle">Очень просто, всего 5 шагов!</p>
            <ol class="code-steps">
                <li class="code-step _step1">
                    <div class="code-step__inner">
                        <div class="code-step__img">
                            <img src="assets/images/milk01.png" width="390" height="579" alt="">
                        </div>
                        <h3 class="code-step__title">купите</h3>
                        <p class="code-step__descr">ультрапастеризованное молоко со знаком &laquo;высший молочный стандарт&raquo;</p>
                    </div>
                </li>
                <li class="code-step _step2">
                    <div class="code-step__inner">
                        <div class="code-step__img"></div>
                        <img src="assets/images/milk02.png" width="321" height="269" alt="" class="code-step__outer-img">
                        <h3 class="code-step__title">зарегистрируйте</h3>
                        <p class="code-step__subtitle">QR&nbsp;или штрих код с&nbsp;упаковки продукции</p>
                    </div>
                </li>
                <li class="code-step _step3">
                    <div class="code-step__inner">
                        <div class="code-step__img">
                            <img src="assets/images/milk03.png" width="152" height="211" alt="">
                        </div>
                        <h3 class="code-step__title">зарегистрируйте</h3>
                        <p class="code-step__subtitle">qr код с чека</p>
                    </div>
                </li>
                <li class="code-step _step4">
                    <div class="code-step__inner">
                        <div class="code-step__img">
                            <img src="assets/images/milk04.png" width="299" height="371" alt="">
                        </div>
                        <img src="assets/images/purse.png" width="135" height="204" alt="" class="code-step__outer-img">
                        <h3 class="code-step__title">получите баллы*</h3>
                    </div>
                </li>
                <li class="code-step _step5">
                    <div class="code-step__inner">
                        <div class="code-step__img">
                            <img src="assets/images/milk05.png" width="393" height="488" alt="">
                        </div>
                        <h3 class="code-step__title">участвуйте <br>в&nbsp;розыгрыше призов!</h3>
                    </div>
                </li>
            </ol>
            <div class="landing__body-col">
                <p class="landing__note">* Обратите внимание, что мы проинформируем вас&nbsp;о&nbsp;начислении баллов по почте, а также через личный кабинет Клуба</p>
                <a href="#" class="btn btn--red">зарегистрировать код</a>
            </div>
        </div>
    </div>
</section>
