<div class="intro-popup login-popup js-login-popup js-popup">
    <div class="intro-popup__inner">
        <button class="intro-popup__close js-popup-close">Закрыть</button>
        <h3 class="login-popup__title">
            <span class="icon">
                <svg width="100" height="100">
                    <use xlink:href="#user" />
                </svg>
            </span>
            <span class="text">личный кабинет</span>
        </h3>
        <form action="#" methos="post" class="form login-form">
            <div class="form__field-wrapper invalid">
                <label for="login" class="form__field-label">Логин</label>
                <input type="text" class="form__field" id="login">
                <div class="help-block">Пользователь не найден</div>
            </div>
            <div class="form__field-wrapper">
                <label for="pass" class="form__field-label">Пароль</label>
                <input type="password" class="form__field" id="pass">
                <a href="#" class="login-form__link"><span>Забыли пароль?</span></a>
            </div>
            <div class="social login-popup__social">
                <a href="#" class="social-btn social-btn--oval social-btn--vk">
                    <svg class="icon" width="23" height="12">
                        <use xlink:href="#vk" />
                    </svg>
                </a>
                <a href="#" class="social-btn social-btn--oval social-btn--fb">
                    <svg class="icon" width="9" height="17">
                        <use xlink:href="#fb" />
                    </svg>
                </a>
                <a href="#" class="social-btn social-btn--oval social-btn--ok">
                    <svg class="icon" width="12" height="18">
                        <use xlink:href="#ok" />
                    </svg>
                </a>
            </div>
            <button class="btn btn--fullwhite login-form__btn">Войти</button>
            <a href="#" class="login-form__register js-modal-trigger" data-target="register1"><span>Регистрация</span></a>
        </form>
    </div>
</div>