<div class="login-block">
    <h2 class="login-block__title">
<span class="icon">
<!-- <svg width="86" height="83">
<use xlink:href="#gift" />
</svg> -->
</span>
    <span class="text">Присоединяйтесь к&nbsp;нам в&nbsp;соцсетях</span>
    </h2>
    <ul class="login-block__list">
      <li><a target="_blank" href="https://instagram.com/o.moloke?igshid=1og4ekfw5xj96">Instagram</a></li>
      <li><a target="_blank" href="https://vk.com/vmsmoloko">Вконтакте</a></li>
    </ul>
    <a href="#" class="btn btn--transparent js-wave btn--milky login-block__btn"><span class="text">Вступи в&nbsp;клуб</span></a>
    <!-- <p class="login-block__descr">Получи сразу <span class="points">+10</span>&nbsp;на <a href="#" class="login-block__profile">свой счет</a></p> -->
    <!-- <a href="#" class="btn btn--transparent js-wave btn--milky login-block__btn"><span class="text">Активируй код</span></a> -->
</div>
