<div class="overlay  js-modal _show">
    <div class="modal _landing _muu">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <div class="modal__inner">
            <div class="modal__img">
                <svg with="110" height="93">
                    <use xlink:href="#logo-mu-w" />
                </svg>
            </div>
            <h4 class="modal__inner-title">Это что-то<br>новенькое!</h4>
            <p class="modal__descr">Поздравляем, теперь зарегистрировав код, вам доступна новая страница «Му-у» на которой вы найдете больше информации о молоке.
            </p>
            <a href="#" class="btn modal__btn">Смотреть</a>
        </div>
    </div>
</div>