<div class="pagination-block">
    <div class="pagination-block__wrapper">
        <div class="pagination">
            <p class="pagination__label">Страница:</p>
            <ul>
                <li>
                    <a href="#">1</a>
                </li>
                <li class="current">
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <span class="dots">...</span>
                <li>
                    <a href="#">11</a>
                </li>
            </ul>
        </div>
        <a href="#" class="btn btn--blue pagination-block__btn js-show-more">
            <span class="icon">
                <svg width="20" height="20">
                    <use xlink:href="#reload" />
                </svg>
            </span>
            <span class="text">показать больше</span>
        </a>
    </div>
</div>