<section class="points-section">
    <div class="points-section__inner">
        <a href="#" class="grid-item link-card _left _image col-2">
            <div class="link-card__bg" style="background-image: url('assets/images/jewels.jpg')"></div>
            <div class="link-card__tag">Игра</div>
            <h3 class="link-card__title">Сыграйте в&nbsp;3-в-линию <br>первая попытка в&nbsp;день&nbsp;&mdash; бесплатно!</h3>
            <p class="link-card__note">Зарабатывай баллы!</p>
        </a>
        <a href="#" class="grid-item link-card _left _image col-2">
            <div class="link-card__bg" style="background-image: url('assets/images/baraban.jpg')"></div>
            <div class="link-card__tag">Игра</div>
            <h3 class="link-card__title">крутите барабан удачи! <br>!первая попытка в&nbsp;день&nbsp;&mdash; бесплатно!</h3>
        </a>
        <a href="#" class="points-block">
            <div class="points-block__text">
                <p class="points-block__title">Привязывай социальные сети</p>
                <p class="points-block__descr">Ты&nbsp;можешь привязать к&nbsp;своему аккаунту не&nbsp;более 2&nbsp;аккаунтов в&nbsp;социальных сетях.</p>
            </div>
            <div class="points-block__points">+10</div>
        </a>
        <a href="#" class="points-block _l-blue">
            <div class="points-block__text">
                <p class="points-block__title">Привязывай социальные сети</p>
                <p class="points-block__descr">Ты&nbsp;можешь привязать к&nbsp;своему аккаунту не&nbsp;более 2&nbsp;аккаунтов в&nbsp;социальных сетях.</p>
            </div>
            <div class="points-block__points">+10</div>
        </a>
        <a href="#" class="points-block _image">
            <div class="points-block__bg"></div>
            <div class="points-block__text">
                <p class="points-block__title">Привязывай социальные сети</p>
                <p class="points-block__descr">Ты&nbsp;можешь привязать к&nbsp;своему аккаунту не&nbsp;более 2&nbsp;аккаунтов в&nbsp;социальных сетях.</p>
            </div>
            <div class="points-block__points">+10</div>
        </a>
        <a href="#" class="points-block">
            <div class="points-block__text">
                <p class="points-block__title">Привязывай социальные сети</p>
                <p class="points-block__descr">Ты&nbsp;можешь привязать к&nbsp;своему аккаунту не&nbsp;более 2&nbsp;аккаунтов в&nbsp;социальных сетях.</p>
            </div>
            <div class="points-block__points">+10</div>
        </a>
        <a href="#" class="points-block">
            <div class="points-block__text">
                <p class="points-block__title">Привязывай социальные сети</p>
            </div>
            <div class="points-block__points">+10</div>
        </a>
        <a href="#" class="points-block _l-blue">
            <div class="points-block__text">
                <p class="points-block__title">Привязывай социальные сети</p>
            </div>
            <div class="points-block__points">+10</div>
        </a>
        <a href="#" class="points-block _full">
            <div class="points-block__text">
                <p class="points-block__title">Скачивай мобильное приложение</p>
                <p class="points-block__descr">Получай 50&nbsp;дополнительных баллов за&nbsp;первую авторизацию в&nbsp;приложении Клуба</p>
            </div>
            <span class="points-block__icons">
                <svg width="237" height="80">
                    <use xlink:href="#gplay" />
                </svg>
                <svg width="237" height="80">
                    <use xlink:href="#appstore" />
                </svg>
            </span>
            <div class="points-block__points">+10</div>
        </a>
    </div>
</section>