<div class="overlay  js-modal _show">
    <div class="modal">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <h3 class="modal__title">опрос <br><span class="gray"><span class="poll-current">1</span>/<span class="poll-total">10</span> </span></h3>
        <form action="#" method="post" class="poll-block">
            <div class="poll-block__question">Скажите, пожалуйста, сколько Вам полных лет?</div>
            <div class="poll-block__answer-row">
                <label for="age" class="poll-block__free-label">
                    <span>Впишите:</span>
                    <input type="text" class="poll-block__free-field js-free-field" value="99"><div class="input-hidden"></div>
                    <span>полных лет</span>
                </label>
            </div>
            <div class="poll-block__btn-row">
                <button class="btn btn--fullblue-l js-wave btn--milky poll-block__btn"><span class="text">Далее</span></button>
            </div>
        </form>
    </div>
</div>