<div class="overlay  js-modal _show">
    <div class="modal">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <h3 class="modal__title">опрос <br><span class="gray"><span class="poll-current">1</span>/<span class="poll-total">10</span> </span></h3>
        <form action="#" method="post" class="poll-block">
            <div class="poll-block__question">Вы постояннно проживаете в… ?</div>
            <div class="poll-block__select">
                <select name="city" id="homecity" class="search-select">
                    <option value="1">Город</option>
                    <option value="2">Город</option>
                    <option value="3">Москва</option>
                    <option value="4">Город</option>
                    <option value="5">Москва</option>
                    <option value="1">Город</option>
                    <option value="2">Москва</option>
                    <option value="3">Город</option>
                    <option value="4">Город</option>
                    <option value="5">Город</option>
                    <option value="1">Город</option>
                    <option value="2">Москва</option>
                    <option value="3">Город</option>
                    <option value="4">Город</option>
                    <option value="5">Город</option>
                    <option value="1">Город</option>
                    <option value="2">Москва</option>
                    <option value="3">Город</option>
                    <option value="4">Город</option>
                    <option value="5">Город</option>
                    <option value="1">Город</option>
                    <option value="2">Город</option>
                    <option value="3">Город</option>
                    <option value="4">Город</option>
                    <option value="5">Город</option>
                </select>
            </div>
            <div class="poll-block__btn-row">
                <button class="btn btn--fullblue-l js-wave btn--milky poll-block__btn"><span class="text">Далее</span></button>
            </div>
        </form>
    </div>
</div>