<div class="overlay  js-modal _show">
    <div class="modal _selection">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <h3 class="modal__title">опрос <br><span class="gray"><span class="poll-current">1</span>/<span class="poll-total">10</span> </span></h3>
        <form action="#" method="post" class="poll-block">
            <div class="poll-block__question">Какое молоко вы&nbsp;чаще всего пьете по&nbsp;утрам?</div>
            <div class="poll-block__selection">
                <input type="radio" class="poll-block__radio" id="sel01" name="sel">
                <label for="sel01" class="poll-block__selection-label">
                    <div class="poll-block__selection-img">
                        <img src="assets/images/pack.jpg" width="110" height="100" alt="">
                    </div>
                    <span class="poll-block__selection-text">Картонный пакет типа &laquo;кирпич&raquo; с&nbsp;крышкой/клапаном</span>
                </label>

                <input type="radio" class="poll-block__radio" id="sel02" name="sel">
                <label for="sel02" class="poll-block__selection-label">
                    <div class="poll-block__selection-img">
                        <img src="assets/images/pack.jpg" width="110" height="100" alt="">
                    </div>
                    <span class="poll-block__selection-text">Картонный пакет типа &laquo;кирпич&raquo; с&nbsp;крышкой/клапаном</span>
                </label>

                <input type="radio" class="poll-block__radio" id="sel03" name="sel">
                <label for="sel03" class="poll-block__selection-label">
                    <div class="poll-block__selection-img">
                        <img src="assets/images/pack.jpg" width="110" height="100" alt="">
                    </div>
                    <span class="poll-block__selection-text">Картонный пакет типа &laquo;кирпич&raquo; с&nbsp;крышкой/клапаном</span>
                </label>

                <input type="radio" class="poll-block__radio" id="sel04" name="sel">
                <label for="sel04" class="poll-block__selection-label">
                    <div class="poll-block__selection-img">
                        <img src="assets/images/pack.jpg" width="110" height="100" alt="">
                    </div>
                    <span class="poll-block__selection-text">Картонный пакет типа &laquo;кирпич&raquo; с&nbsp;крышкой/клапаном</span>
                </label>

                <input type="radio" class="poll-block__radio" id="sel05" name="sel">
                <label for="sel05" class="poll-block__selection-label">
                    <div class="poll-block__selection-img">
                        <img src="assets/images/pack.jpg" width="110" height="100" alt="">
                    </div>
                    <span class="poll-block__selection-text">Картонный пакет типа &laquo;кирпич&raquo; с&nbsp;крышкой/клапаном</span>
                </label>

                <input type="radio" class="poll-block__radio" id="sel06" name="sel">
                <label for="sel06" class="poll-block__selection-label">
                    <div class="poll-block__selection-img">
                        <img src="assets/images/pack.jpg" width="110" height="100" alt="">
                    </div>
                    <span class="poll-block__selection-text">Картонный пакет типа &laquo;кирпич&raquo; с&nbsp;крышкой/клапаном</span>
                </label>

                <input type="radio" class="poll-block__radio" id="sel07" name="sel">
                <label for="sel07" class="poll-block__selection-label">
                    <div class="poll-block__selection-img">
                        <img src="assets/images/pack.jpg" width="110" height="100" alt="">
                    </div>
                    <span class="poll-block__selection-text">Картонный пакет типа &laquo;кирпич&raquo; с&nbsp;крышкой/клапаном</span>
                </label>

                <input type="radio" class="poll-block__radio" id="sel08" name="sel">
                <label for="sel08" class="poll-block__selection-label">
                    <div class="poll-block__selection-img">
                        <img src="assets/images/pack.jpg" width="110" height="100" alt="">
                    </div>
                    <span class="poll-block__selection-text">Картонный пакет типа &laquo;кирпич&raquo; с&nbsp;крышкой/клапаном</span>
                </label>

                <input type="radio" class="poll-block__radio" id="sel09" name="sel">
                <label for="sel09" class="poll-block__selection-label">
                    <div class="poll-block__selection-img">
                        <img src="assets/images/pack.jpg" width="110" height="100" alt="">
                    </div>
                    <span class="poll-block__selection-text">Картонный пакет типа &laquo;кирпич&raquo; с&nbsp;крышкой/клапаном</span>
                </label>

                <input type="radio" class="poll-block__radio" id="sel10" name="sel">
                <label for="sel10" class="poll-block__selection-label">
                    <div class="poll-block__selection-img">
                        <img src="assets/images/pack.jpg" width="110" height="100" alt="">
                    </div>
                    <span class="poll-block__selection-text">Картонный пакет типа &laquo;кирпич&raquo; с&nbsp;крышкой/клапаном</span>
                </label>

                <input type="radio" class="poll-block__radio" id="sel11" name="sel">
                <label for="sel11" class="poll-block__selection-label">
                    <div class="poll-block__selection-img">
                        <img src="assets/images/pack.jpg" width="110" height="100" alt="">
                    </div>
                    <span class="poll-block__selection-text">Картонный пакет типа &laquo;кирпич&raquo; с&nbsp;крышкой/клапаном</span>
                </label>

                <input type="radio" class="poll-block__radio" id="sel12" name="sel">
                <label for="sel12" class="poll-block__selection-label">
                    <div class="poll-block__selection-img">
                        <img src="assets/images/pack.jpg" width="110" height="100" alt="">
                    </div>
                    <span class="poll-block__selection-text">Картонный пакет типа &laquo;кирпич&raquo; с&nbsp;крышкой/клапаном</span>
                </label>
            </div>
            <div class="poll-block__btn-row">
                <button class="btn btn--fullblue-l js-wave btn--milky poll-block__btn"><span class="text">Далее</span></button>
            </div>
        </form>
    </div>
</div>