<div class="overlay  js-modal _show">
    <div class="modal">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <h3 class="modal__title">опрос <br><span class="gray"><span class="poll-current">1</span>/<span class="poll-total">10</span> </span></h3>
        <form action="#" method="post" class="poll-block">
            <div class="poll-block__question">Молоко с&nbsp;этим знаком на&nbsp;упаковке..</div>
            <div class="poll-block__image">
                <img src="assets/images/peace.jpg" width="150" height="150" alt="">
            </div>
            <div class="poll-block__answers _vertical">
                <input type="radio" class="poll-block__radio" id="q1a1" name="question1">
                <label for="q1a1" class="btn btn--blue poll-block__label">Я&nbsp;покупаю</label>
                <input type="radio" class="poll-block__radio" id="q1a2" name="question1" checked>
                <label for="q1a2" class="btn btn--blue poll-block__label">Знаю, но&nbsp;не&nbsp;покупаю</label>
                <input type="radio" class="poll-block__radio" id="q1a3" name="question1">
                <label for="q1a3" class="btn btn--blue poll-block__label">Не&nbsp;знаю молока с&nbsp;этим знаком</label>
            </div>
            <div class="poll-block__btn-row">
                <button class="btn btn--fullblue-l js-wave btn--milky poll-block__btn"><span class="text">Далее</span></button>
            </div>
        </form>
    </div>
</div>