<div class="overlay js-modal" data-name="popupOkkoText">
	<div class="modal promocodes-modal">
		<button class="modal-close js-modal-close" type="button"></button>
		<div class="promocodes-modal__inner">
			<div class="promocodes-modal__header">
				<svg width="190" height="110">
					<use xlink:href="#okko-logo" />
				</svg>
			</div>
			<p class="promocodes-modal__text _center">Вы не получали коды Okko</p>
			<div class="promocodes-modal__footer">
				<button class="promocodes-modal__btn btn btn--blue js-modal-close" type="button">закрыть</button>
			</div>
		</div>
	</div>
</div>