<div class="overlay  js-modal" data-name="popupInfo">
    <div class="modal _info">
        <div class="modal__inner">
            <div class="modal__img">
                <img class="customlazy" data-src="assets/images/info-head.png" alt="">
            </div>
            <h4 class="modal__inner-title">Уважаемый участник, <br>спасибо за&nbsp;регистрацию кода ультрапастеризованного молока &laquo;северная долина&raquo;!</h4>
            <p>Ваши гарантированные призы будут начислены <b>после 5&nbsp;апреля</b>. Благодарим за&nbsp;понимание.</p>
            <p>С&nbsp;уважением, Клуб &laquo;Высший молочный стандарт&raquo;</p>
            <a href="#" class="btn btn--blue modal__btn js-modal-close"><span class="text">понятно</span></a>
        </div>
    </div>
</div>