<div class="overlay js-modal" data-name="popupOkko">
	<div class="modal promocodes-modal">
		<button class="modal-close js-modal-close" type="button"></button>
		<div class="promocodes-modal__inner">
			<div class="promocodes-modal__header">
				<svg width="190" height="110">
					<use xlink:href="#okko-logo" />
				</svg>
			</div>
			<div class="promocodes-table promocodes-modal__table scrollable">
				<table>
					<tr>
						<td>
							<p>tetrmz446ztj</p>
						</td>
						<td>
							<p><a href="#">Применить промо-код</a></p>
						</td>
					</tr>
					<tr>
						<td>
							<p>tetrmz446ztj</p>
						</td>
						<td>
							<p><a href="#">Применить промо-код</a></p>
						</td>
					</tr>
					<tr>
						<td>
							<p>tetrmz446ztj</p>
						</td>
						<td>
							<p><svg class="icon"><use xlink:href="#check" />></svg>Промо-код использован</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>tetrmz446ztj</p>
						</td>
						<td>
							<p><svg class="icon"><use xlink:href="#check" />></svg>Промо-код использован</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>tetrmz446ztj</p>
						</td>
						<td>
							<p><svg class="icon"><use xlink:href="#check" />></svg>Промо-код использован</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>tetrmz446ztj</p>
						</td>
						<td>
							<p><svg class="icon"><use xlink:href="#check" />></svg>Промо-код использован</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>tetrmz446ztj</p>
						</td>
						<td>
							<p><a href="#">Применить промо-код</a></p>
						</td>
					</tr>
					<tr>
						<td>
							<p>tetrmz446ztj</p>
						</td>
						<td>
							<p><a href="#">Применить промо-код</a></p>
						</td>
					</tr>
					<tr>
						<td>
							<p>tetrmz446ztj</p>
						</td>
						<td>
							<p><svg class="icon"><use xlink:href="#check" />></svg>Промо-код использован</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>tetrmz446ztj</p>
						</td>
						<td>
							<p><svg class="icon"><use xlink:href="#check" />></svg>Промо-код использован</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>tetrmz446ztj</p>
						</td>
						<td>
							<p><svg class="icon"><use xlink:href="#check" />></svg>Промо-код использован</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>tetrmz446ztj</p>
						</td>
						<td>
							<p><svg class="icon"><use xlink:href="#check" />></svg>Промо-код использован</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="promocodes-modal__footer">
				<button class="promocodes-modal__btn btn btn--blue js-modal-close" type="button">закрыть</button>
			</div>
		</div>
	</div>
</div>