<div class="overlay  js-modal _show">
    <div class="modal _info">
        <div class="modal__inner">
            <div class="modal__img">
                <img src="assets/images/info-head.png" alt="">
            </div>
            <h4 class="modal__inner-title">Уважаемые участники! <br>Рады Вам сообщить о&nbsp;новой Акции Клуба
                &laquo;Высший молочный стандарт!&raquo;</h4>
            <p>С&nbsp;8&nbsp;апреля 2019 года&nbsp;Вы можете получать
                <b>ГАРАНТИРОВАННЫЕ призы</b> за&nbsp;регистрацию каждого кода,
                а&nbsp;также участвовать в&nbsp;розыгрыше новых крутых призов!</p>
            <p>С&nbsp;более подробной информацией&nbsp;Вы можете ознакомиться
                в&nbsp;<a href="#">Правилах Акции</a>.</p>
            <a href="#" class="btn btn--blue modal__btn js-modal-close"><span class="text">понятно</span></a>
        </div>
    </div>
</div>