<div class="n-preloader-block">
    <div class="n-preloader-block__inner n-preloader js-n-preloader">
        <div class="n-preloader__img">
            <span class="n-preloader-icon active n-preloader_0">
                <svg width="194" height="442">
                    <use xlink:href="#icon_milk_0" />
                </svg>
            </span>
            <span class="n-preloader-icon n-preloader_25">
                <svg width="194" height="442">
                    <use xlink:href="#icon_milk_25" />
                </svg>
            </span>
            <span class="n-preloader-icon n-preloader_50">
                <svg width="194" height="442">
                    <use xlink:href="#icon_milk_50" />
                </svg>
            </span>
            <span class="n-preloader-icon n-preloader_75">
                <svg width="194" height="442">
                    <use xlink:href="#icon_milk_75" />s
                </svg>
            </span>
            <span class="n-preloader-icon n-preloader_100">
                <svg width="194" height="442">
                    <use xlink:href="#icon_milk_100" />
                </svg>
            </span>
        </div>
        <div class="n-preloader__text">загрузка <span class="n-step">0</span>%</div>
    </div>
</div>