<div class="intro-popup profile-popup js-profile-popup js-popup">
    <div class="intro-popup__inner">
        <button class="intro-popup__close js-popup-close">Закрыть</button>
        <div class="profile-popup__tools">
            <a href="#" class="btn-gifts active">
                <svg width="22" height="30">
                    <use xlink:href="#gift-small" />
                </svg>
                <span class="notification"></span>
            </a>
            <a href="#" class="btn-settings">
                <svg width="20" height="20">
                    <use xlink:href="#gear" />
                </svg>
            </a>
        </div>
        <div class="profile-popup__accounts">
            <a href="" class="account-btn account-btn--vk">
                <svg class="icon" width="11" height="6">
                    <use xlink:href="#vk" />
                </svg>
            </a>
            <a href="" class="account-btn account-btn--ok">
                <svg class="icon" width="7" height="11">
                    <use xlink:href="#ok" />
                </svg>
            </a>
            <a href="" class="account-btn account-btn--fb _linked">
                <svg class="icon" width="5" height="9">
                    <use xlink:href="#fb" />
                </svg>
            </a>
        </div>
        <div class="profile-popup__header">
            <div class="profile-popup__image" style="background-image: url('assets/images/oval@3x.jpg')"></div>
            <h3 class="profile-popup__name"><a href="#">Константин Контантипопольский</a></h3>
            <div class="profile-popup__row">
                <div class="stars">
                    <span class="star _checked">&starf;</span>
                    <span class="star _checked">&starf;</span>
                    <span class="star _checked">&starf;</span>
                    <span class="star">&starf;</span>
                    <span class="star">&starf;</span>
                </div>
                <a href="#" class="rank"><span>Опытный молочник</span></a>
            </div>
            <div class="profile-popup__button-row">
                <div class="btn btn--fullyellow profile-popup__points-btn"><span class="qty">140</span> <span class="cur">Б</span> баллов</div>
                <a href="#" class="profile-popup__logout"><span>Выйти</span></a>
            </div>
        </div>
        <div class="profile-popup__body">
            <a href="#" class="btn btn--transparent btn--activity">
                <span class="slogan">Активируй код</span>
                <span class="reward"><span class="qty">+10</span> <span class="cur">Б</span> баллов</span>
            </a>
            <!--<a href="#" class="btn btn&#45;&#45;transparent btn&#45;&#45;activity">-->
                <!--<span class="slogan">Заполни профиль</span>-->
                <!--<span class="reward"><span class="qty">+10</span> <span class="cur">Б</span> баллов</span>-->
            <!--</a>-->
            <!--<a href="#" class="btn btn&#45;&#45;transparent btn&#45;&#45;activity">-->
                <!--<span class="slogan">Пройди опрос</span>-->
                <!--<span class="reward"><span class="qty">+10</span> <span class="cur">Б</span> баллов</span>-->
            <!--</a>-->
            <a href="#" class="profile-popup__activities"><span>Больше активностей</span></a>
            <!--<div class="more-points">-->
                <!--<div class="more-points__icon">-->
                    <!--<svg width="120" height="60">-->
                        <!--<use xlink:href="#icon-points" />-->
                    <!--</svg>-->
                <!--</div>-->
                <!--<p class="more-points__slogan">теперь больше баллов</p>-->
                <!--<p class="more-points__descr">за следующую упаковку <br>продукции в одном чеке</p>-->
            <!--</div>-->
            <div class="friend-block">
                <a href="#" class="btn btn--white btn--friend js-friend-btn">
                    код для друга
                </a>
                <div class="friend-block__label js-friend-inner">
                    <input class="friend-block__input" id="copy" type="text" value="milkfriend" readonly>
                    <label class="friend-block__copy js-friend-copy" for="copy"></label>
                </div>
            </div>
        </div>
    </div>
</div>