<div class="intro-popup profile-popup js-profile-popup js-popup">
    <button class="intro-popup__close js-popup-close">Закрыть</button>
    <div class="profile-popup__accounts">
        <a href="" class="account-btn account-btn--vk">
            <svg class="icon" width="11" height="6">
                <use xlink:href="#vk" />
            </svg>
        </a>
        <a href="" class="account-btn account-btn--ok">
            <svg class="icon" width="7" height="11">
                <use xlink:href="#ok" />
            </svg>
        </a>
        <a href="" class="account-btn account-btn--fb _linked">
            <svg class="icon" width="5" height="9">
                <use xlink:href="#fb" />
            </svg>
        </a>
    </div>
    <div class="profile-popup__header">
        <div class="profile-popup__icon">
            <svg width="102" height="90">
                <use xlink:href="#hand" />
            </svg>
        </div>
    </div>
    <div class="profile-popup__body">
        <h3 class="profile-popup__title">Добавляй <br>социальные сети <br>и получай <br>баллы!</h3>
        <p class="profile-popup__note"><span class="qty">+20</span> <span class="cur">Б</span> баллов за <br>каждую</p>
    </div>
</div>



