<div class="overlay js-modal _show">
    <div class="modal _promo-end">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <form action="#" method="post" class="form modal-form">
            <div class="qr-block">
                <div class="qr-block__inner">
                    <h3 class="qr-block__title _center">Акция завершена!</h3>
                    <p>Благодарим Вас за участие. Ознакомиться со списком победителей можно <a href="#">тут</a>.</p>
                    <p>Оставайтесь с нами, чтобы узнать о новых Акциях!</p>
                    <div class="form__field-wrapper">
                        <label for="user-email" class="form__field-label">E-mail</label>
                        <input type="email" id="user-email" class="form__field" value="">
                        <div class="form__error-message">Необходимо заполнить «E-mail».</div>
                    </div>
                    <div class="form__field-wrapper">
                        <input type="checkbox" class="form__checkbox" id="rules" checked="">
                        <label for="rules" class="form__checkbox-label">Я&nbsp;согласен (согласна) с&nbsp;<a href="#">Правилами Акции</a>, <a href="#">Пользовательским соглашением</a> и&nbsp;<a href="#">Положением об&nbsp;обработке персональных данных</a></label>
                        <div class="form__error-message">Необходимо принять условия.</div>
                    </div>
                </div>
            </div>
            <div class="form__button-row">
                <button type="submit" class="btn qr-block__info-btn btn--fullblue-l js-wave btn--milky wave"><span
                    class="wave-el"></span><span class="text">Отправить</span></button>
            </div>
        </form>
    </div>
</div>