<section class="promo">
    <div class="mobile-slider promo-slider">
        <div class="promo__inner mobile-wrapper">
            <div class="promo__item promo-item mobile-slide">
                <div class="promo-item__icon">
                    <svg width="66" height="118">
                        <use xlink:href="#pack" />
                    </svg>
                </div>
                <h3 class="promo-item__title">ПОКУПАЙТЕ МОЛОКО</h3>
                <p class="promo-item__text">со&nbsp;знаком &laquo;Высший молочный стандарт&raquo; и&nbsp;сохраните чек</p>
            </div>

            <div class="promo__item promo-item mobile-slide">
                <div class="promo-item__icon">
                    <svg width="120" height="120">
                        <use xlink:href="#qr" />
                    </svg>
                </div>
                <h3 class="promo-item__title">регистрируйте</h3>
                <p class="promo-item__text">QR&nbsp;с&nbsp;упаковки или штрихкод, сканируйте&nbsp;QR c&nbsp;чека</p>
            </div>

            <div class="promo__item promo-item mobile-slide">
                <div class="promo-item__icon">
                    <svg width="116" height="121">
                        <use xlink:href="#prize" />
                    </svg>
                </div>
                <h3 class="promo-item__title">получАЙте приз</h3>
                <p class="promo-item__text">гарантированный приз за&nbsp;каждый год</p>
            </div>

            <div class="promo__item promo-item mobile-slide">
                <div class="promo-item__icon">
                    <svg width="116" height="120">
                        <use xlink:href="#points" />
                    </svg>
                </div>
                <h3 class="promo-item__title">копите баллы</h3>
                <p class="promo-item__text">и&nbsp;участвуйте в&nbsp;розыгрыше призов до&nbsp;50&nbsp;000&nbsp;руб.</p>
            </div>
        </div>
        <div class="mobile-pagination"></div>
    </div>
</section>