<section class="promo">
    <h2 class="promo__title">Как заработать баллы</h2>
    <div class="mobile-slider promo-slider">
        <div class="promo__inner mobile-wrapper">
            <div class="promo__item promo-item mobile-slide">
                <div class="promo-item__icon">
                    <svg width="120" height="120">
                        <use xlink:href="#club" />
                    </svg>
                </div>
                <h3 class="promo-item__title">вступи в&nbsp;клуб</h3>
                <p class="promo-item__text">и&nbsp;получи сразу <br>10&nbsp;баллов</p>
            </div>

            <div class="promo__item promo-item mobile-slide">
                <div class="promo-item__icon">
                    <svg width="120" height="120">
                        <use xlink:href="#qr" />
                    </svg>
                </div>
                <h3 class="promo-item__title">регистрируй </h3>
                <p class="promo-item__text">QR&nbsp;код с&nbsp;чека и&nbsp;QR код с&nbsp;упаковки молока, получай гарантированный приз и&nbsp;баллы</p>
            </div>

            <div class="promo__item promo-item mobile-slide">
                <div class="promo-item__icon">
                    <svg width="116" height="120">
                        <use xlink:href="#points" />
                    </svg>
                </div>
                <h3 class="promo-item__title">зарабатывай баллы</h3>
                <p class="promo-item__text">проходи опрос, крути <br>барабан удачи и&nbsp;участвуй в <br>играх</p>
            </div>

            <div class="promo__item promo-item mobile-slide">
                <div class="promo-item__icon">
                    <svg width="120" height="120">
                        <use xlink:href="#gift-blue" />
                    </svg>
                </div>
                <h3 class="promo-item__title">ВЫИГРЫВАЙ</h3>
                <p class="promo-item__text">трать баллы на&nbsp;призы </p>
            </div>
        </div>
        <div class="mobile-pagination"></div>
    </div>
</section>