<div class="overlay  js-modal _show">
    <div class="modal _qr _qr-1">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <form action="#" method="post" class="form modal-form">
            <h3 class="modal__title">Добавление QR-кода или штрих-кода <span class="gray">шаг 1 </span></h3>
            <div class="qr-block">
                <div class="qr-block__inner">
                    <div class="qr-block__question">
                        <h3 class="qr-block__title _center">Где находится код на упаковке?</h3>
                        <div class="qr-block__question-body">
                            <img src="assets/images/qr-pic.png" srcset="assets/images/qr-pic@2x.png 2x" width="410" height="239">
                            <p class="modal__descr">В&nbsp;чеке у&nbsp;Вас несколько упаковок молока одного вида? &mdash; прикрепите 1&nbsp;код с&nbsp;упаковки и&nbsp;переходите ко&nbsp;2му шагу регистрации.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__field-wrapper">
                <div class="form__upload-block">
                    <label for="upload" class="form__field-label">Прикрепите файл</label>
                    <div class="form__uploaded-file">
                        <span class="title">photocheka1.jpg</span>
                        <span class="delete">x</span>
                    </div>
                </div>
            </div>
            <div class="form__field-wrapper">
                <div class="form__upload-block">
                    <input type="file" class="form__upload" id="upload">
                    <div class="form__upload-field-label">Файл не&nbsp;выбран...</div>
                </div>
            </div>
            <div class="form__button-row">
                <button class="form__submit js-wave btn--milky btn btn--fullblue-l"><span class="text">далее</span></button>
            </div>
        </form>
    </div>
</div>