<div class="overlay  js-modal _show">
    <div class="modal _qr _qr-1">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <form action="#" method="post" class="form modal-form">
            <h3 class="modal__title">Добавление QR-кода <span class="gray">шаг 1 </span></h3>
            <div class="qr-block">
                <div class="qr-block__image">
                    <img src="assets/images/qr.jpg" width="128" height="208" alt="">
                </div>
                <div class="qr-block__descr">
                    <h4 class="qr-block__title">где искать qr-код?</h4>
                    <ol class="qr-block__list">
                        <li>Отогните уголок</li>
                        <li>Посмотрите туда</li>
                        <li>правильное описание нужно сюда добавить</li>
                        <li>Сделайте фото</li>
                    </ol>
                </div>
            </div>
            <div class="form__field-wrapper">
                <div class="form__upload-block">
                    <label for="upload" class="form__field-label">Прикрепите файл</label>
                    <div class="form__uploaded-file">
                        <span class="title">photocheka1.jpg</span>
                        <span class="delete">x</span>
                    </div>
                </div>
            </div>
            <div class="form__field-wrapper">
                <div class="form__upload-block">
                    <input type="file" class="form__upload" id="upload">
                    <div class="form__upload-field-label">Файл не&nbsp;выбран...</div>
                </div>
            </div>
            <div class="form__button-row">
                <button class="form__submit js-wave btn--milky btn btn--fullblue-l"><span class="text">готово</span></button>
            </div>
        </form>
    </div>
</div>