<div class="overlay  js-modal _show">
    <div class="modal _qr _qr-2">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <form action="#" method="post" class="form modal-form">
            <h3 class="modal__title">добавление&nbsp;QR кода с&nbsp;чека <span class="gray">шаг 2 </span></h3>
            <div class="qr-block">
                <div class="qr-block__inner">
                    <h3 class="qr-block__title _flex">
                        QR код с чека
                        <span class="tooltip">
                            <span class="tooltip__icon">?</span>
                            <span class="tooltip__inner">
                                <span class="qr-block__text-block">
                                    <p>Изображение должно быть чётким, чек должен быть виден полностью, вместе с&nbsp;QR-кодом. Скриншоты не&nbsp;принимаются.</p>
                                    <h4>Обязательные требования к&nbsp;фотографии:</h4>
                                    <ul>
                                        <li>Формат&nbsp;&mdash; JPG, PNG</li>
                                        <li>Разрешение&nbsp;&mdash; более 200 (двухсот) dpi</li>
                                        <li>Физический размер&nbsp;&mdash; менее&nbsp;2 (двух) мегабайт</li>
                                    </ul>
                                </span>
                            </span>
                        </span>
                    </h3>
                    <div class="qr-block__question-body">
                        <img src="assets/images/group-2.png" srcset="assets/images/group-2@2x.png 2x, assets/images/group-2@3x.png 3x" width="132" height="191">
                    </div>
                </div>
            </div>
            <div class="form__field-wrapper">
                <div class="form__upload-block">
                    <label for="upload" class="form__field-label">и загрузи его фотографию</label>
                    <input type="file" class="form__upload" id="upload">
                    <div class="form__upload-field-label">Файл не&nbsp;выбран...</div>
                </div>
            </div>
            <div class="form__button-row">
                <button class="form__submit btn btn--fullblue-l js-wave btn--milky"><span class="text">готово</span></button>
            </div>
        </form>
    </div>
</div>