<div class="overlay  js-modal _show">
    <div class="modal _qr _qr-2">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <form action="#" method="post" class="form modal-form">
            <h3 class="modal__title">Добавление штрих&#8209;кода чека <span class="gray">шаг 1 </span></h3>
            <div class="qr-block">
                <div class="qr-block__image">
                    <div class="qr-block__image-blank">
                        <span>Тут будет чек</span>
                    </div>
                </div>
                <div class="qr-block__descr">
                    <h4 class="qr-block__title">как мне правильно сделать фото? </h4>
                    <ol class="qr-block__list">
                        <li>Отогните уголок</li>
                        <li>Посмотрите туда</li>
                        <li>правильное описание нужно сюда добавить</li>
                    </ol>
                </div>
            </div>
            <div class="form__field-wrapper">
                <div class="form__upload-block">
                    <label for="upload" class="form__field-label">Прикрепите файл</label>
                    <input type="file" class="form__upload" id="upload">
                    <div class="form__upload-field-label">Файл не&nbsp;выбран...</div>
                </div>
            </div>
            <div class="form__button-row">
                <button class="form__submit btn btn--fullblue-l js-wave btn--milky"><span class="text">готово</span></button>
            </div>
        </form>
    </div>
</div>