<div class="overlay  js-modal _show">
    <div class="modal _qr _qr-3">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <h3 class="modal__title">штрих код <span class="gray">активирован</span></h3>
        <div class="modal__inner">
            <div class="modal__img">
                <img src="assets/images/svg/qr-blue.svg" width="140" height="140" alt="">
            </div>
            <h4 class="modal__inner-title">Поздравляем!</h4>
            <p class="modal__descr">Штрих код активирован, <br>вы&nbsp;заработали N-баллов</p>
            <a href="#" class="btn btn--fullblue-l js-wave btn--milky modal__btn js-modal-close"><span class="text">Закрыть</span></a>
        </div>
    </div>
</div>