<div class="overlay  js-modal _show">
    <div class="modal _qr-info">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <form action="#" method="post" class="form modal-form">
            <h3 class="modal__title">Информация для участия</h3>
            <div class="qr-block">
                <div class="qr-block__inner">
                    <h3 class="qr-block__title _center">ЗАРЕГИСТРИРОВАТЬ 2 КОДА ОДНОВРЕМЕННО:</h3>
                    <div class="qr-block__question-body">
                        <div class="qr-block__row qr-block__info">
                            <div class="qr-block__col">
                                <h5 class="qr-block__title">Шаг 1</h5>
                                <div class="qr-block__inner">
                                    <div class="qr-block__info-img">
                                        <img src="assets/images/qr-1n.png" alt="">
                                    </div>
                                    <ul>
                                        <li>QR с упаковки</li>
                                        <li>или штрих код</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="qr-block__col">
                                <h5 class="qr-block__title">Шаг 2</h5>
                                <div class="qr-block__inner">
                                    <div class="qr-block__info-img">
                                        <img src="assets/images/qr-2n.png" alt="">
                                    </div>
                                    <ul>
                                        <li>QR  с чека</li>
                                        <li>на покупку продукции​</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__button-row">
                <a href="#" class="btn qr-block__info-btn btn--fullblue-l js-wave btn--milky wave"><span class="wave-el"></span><span class="text">все ясно</span></a>
            </div>
        </form>
    </div>
</div>