<div class="overlay js-modal  _show" data-name="register1">
    <div class="modal _register _register-1">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <form action="#" method="post" class="form modal-form js-validate-form">
            <h3 class="modal__title">Регистрация <span class="gray">шаг 1</span></h3>
            <div class="modal-form__header">
                <div class="form__upload-block upload-image-block">
                    <input type="file" class="form__upload" id="upload-photo">
                    <label for="upload-photo" class="form__upload-label">
                        <div class="upload-image-block__img">
                            <div class="upload-image-block__camera-icon">
                                <svg width="30" height="28">
                                    <use xlink:href="#camera" />
                                </svg>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="modal-form__row _first">
                <div class="form__field-wrapper">
                    <label for="change-name" class="form__field-label">Имя</label>
                    <input type="text" id="change-name" class="form__field" value="Константин">
                    <div class="form__error-message">Необходимо заполнить &laquo;Имя&raquo;.</div>
                </div>
                <div class="form__field-wrapper">
                    <label for="change-lastname" class="form__field-label">Фамилия</label>
                    <input type="text" id="change-lastname" class="form__field" value="Константин">
                    <div class="form__error-message">Необходимо заполнить &laquo;Фамилия&raquo;.</div>
                </div>
            </div>
            <div class="form__field-wrapper">
                <label for="password" class="form__field-label">Пароль</label>
                <input type="password" id="password" class="form__field js-pas-validate" value="">
                <ul class="validate-block js-validate-block">
                    <li class="validate-block__item js-min-length">минимальная длина пароля — 6 символов</li>
                    <li class="validate-block__item js-english">пароль не должен содержать букв русского алфавита</li>
                </ul>
                <div class="form__error-message">Необходимо заполнить &laquo;Пароль&raquo;.</div>
            </div>
            <!--<div class="form__field-wrapper">-->
                <!--<label for="repeat-password" class="form__field-label">Повторите пароль</label>-->
                <!--<input type="password" id="repeat-password" class="form__field" value="1234567">-->
                <!--<div class="form__error-message">Необходимо заполнить &laquo;Повтор пароля&raquo;.</div>-->
            <!--</div>-->
            <div class="form__field-wrapper">
                <label for="user-email" class="form__field-label">E-mail</label>
                <input type="email" id="user-email" class="form__field" value="blake_dickinson@arlie.name">
                <div class="form__error-message">Необходимо заполнить &laquo;E-mail&raquo;.</div>
            </div>
            <div class="form__field-wrapper">
                <label for="where_know" class="form__field-label">Откуда вы узнали о клубе "Высший молочный стандарт"</label>
                <select name="where_know" id="where_know" class="custom-select form__select">
                    <option value="0">Выберите</option>
                    <option value="1">Регион</option>
                    <option value="2">Регион</option>
                    <option value="3">Регион</option>
                </select>
            </div>
            <div class="form__field-wrapper">
                <label for="friend-code" class="form__field-label">код, который дал мне друг <span>(не обязательно)</span></label>
                <input type="email" id="friend-code" class="form__field" value="">
                <div class="form__error-message">Необходимо заполнить</div>
            </div>
            <div class="form__field-wrapper">
                <label class="form__field-label">Регистрация с&nbsp;помощью соц сети</label>
                <div class="social modal-social">
                    <a href="#" class="social-btn social-btn--oval social-btn--vk">
                        <svg class="icon" width="23" height="12">
                            <use xlink:href="#vk" />
                        </svg>
                    </a>
                    <a href="#" class="social-btn social-btn--oval social-btn--fb">
                        <svg class="icon" width="9" height="17">
                            <use xlink:href="#fb" />
                        </svg>
                    </a>
                    <a href="#" class="social-btn social-btn--oval social-btn--ok">
                        <svg class="icon" width="12" height="18">
                            <use xlink:href="#ok" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="form__field-wrapper invalid">
                <input type="checkbox" class="form__checkbox" id="rules" checked>
                <label for="rules" class="form__checkbox-label">Я&nbsp;согласен (согласна) с&nbsp;<a href="#">Правилами Акции</a>, <a href="#">Пользовательским соглашением</a> и&nbsp;<a href="#">Положением об&nbsp;обработке персональных данных</a></label>
                <div class="form__error-message">Необходимо принять условия.</div>
            </div>
            <div class="form__button-row">
                <button class="form__submit btn btn--fullblue-l js-wave btn--milky" disabled="disabled"><span class="text">Далее</span></button>
            </div>
        </form>
    </div>
</div>