<div class="overlay  js-modal _show">
    <div class="modal _register _register-3">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <form action="#" method="post" class="form modal-form">
            <h3 class="modal__title">Регистрация <span class="gray">шаг 3</span></h3>
            <div class="modal-form__row">
                <div class="form__field-wrapper _first">
                    <label for="user-phone" class="form__field-label">Телефон</label>
                        <input type="phone" id="user-phone" class="form__field" value="+7 (916) 123 45 67">
                </div>
                <div class="form__field-wrapper _first">
                    <label for="code" class="form__field-label">Код подтверждения</label>
                        <input type="phone" id="code" class="form__field" value="12345">
                </div>
            </div>
            <p class="modal-form__note">На ваш телефон был отправлен код подтверждения, введите его в форму выше</p>
            <div class="form__button-row">
                <button class="form__submit btn btn--fullblue-l js-wave btn--milky"><span class="text">Готово</span></button>
            </div>
        </form>
    </div>
</div>











