<div class="overlay  js-modal _show">
    <div class="modal _register _register-complete">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <h3 class="modal__title">Регистрация <span class="gray">завершена</span></h3>
        <div class="modal__inner">
            <div class="modal__img">
                <img src="assets/images/balloons.jpg" width="120" height="140" alt="">
            </div>
            <h4 class="modal__inner-title">Поздравляем!</h4>
            <p class="modal__descr">Вы&nbsp;можете зайти в&nbsp;личный кабинет используя логин пароль</p>
            <a href="#" class="btn btn--fullblue-l js-wave btn--milky modal__btn js-modal-close"><span class="text">Закрыть</span></a>
        </div>
    </div>
</div>