<div class="overlay  js-modal _show">
    <div class="modal _register _register-3">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <form action="#" method="post" class="form modal-form">
            <h3 class="modal__title">Регистрация <span class="gray">шаг 3</span></h3>
            <div class="form__field-wrapper _first">
                <label for="user-phone" class="form__field-label">Телефон</label>
                    <input type="phone" id="user-phone" class="form__field" value="+7 (916) 123 45 67">
            </div>
            <div class="form__button-row">
                <button class="form__submit btn btn--fullblue-l js-wave btn--milky"><span class="text">Далее</span></button>
            </div>
        </form>
    </div>
</div>











