<div class="overlay js-modal _show" data-name="register2">
    <div class="modal _register _register-2">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <form action="#" method="post" class="form modal-form">
            <h3 class="modal__title">Регистрация <span class="gray">шаг 2</span></h3>
            <div class="form__field-wrapper _datepicker _first">
                <label for="user-phone" class="form__field-label">Дата рождения</label>
                <input type="text" id="birthday" class="form__field" value="21.03.1990" data-toggle="datepicker">
            </div>
            <div class="modal-form__row">
                <div class="form__field-wrapper">
                    <label for="region" class="form__field-label">Регион</label>
                    <select name="region" id="region" class="custom-select form__select">
                        <option value="0">Выберите из списка</option>
                        <option value="1">Регион</option>
                        <option value="2">Регион</option>
                        <option value="3">Регион</option>
                    </select>
                </div>
                <div class="form__field-wrapper">
                    <label for="city" class="form__field-label">Город</label>
                    <input type="text" id="city" class="form__field" value="Москва">
                </div>
            </div>
            <div class="form__field-wrapper">
                <label for="interests" class="form__field-label">Интересы</label>
                <div class="modal-form__select-results js-select-results">
                </div>
                <div class="select-wrapper js-select-wrapper">
                    <div class="select-trigger js-select-trigger">Выберите из списка</div>
                    <div class="select-dropdown">
                        <ul>
                            <li class="js-select-option">Спорт</li>
                            <li class="js-select-option">Музыка</li>
                            <li class="js-select-option">Книги</li>
                            <li class="js-select-option">Рыбалка</li>
                            <li class="js-select-option">Театр</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form__button-row">
                <button class="form__submit btn btn--fullblue-l js-wave btn--milky"><span class="text">Далее</span></button>
            </div>
        </form>
    </div>
</div>











