<section class="rules-section">
    <h2 class="rules-section__title">Правила</h2>
    <div class="rules-section__inner">
        <div class="swiper-container rules-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide rules-slide">
                    <img src="assets/images/download.jpg" srcset="assets/images/download@2x.jpg 2x, assets/images/download@3x.jpg 3x" width="780" height="1102">
                </div>
                <div class="swiper-slide rules-slide">
                    <img src="assets/images/download.jpg" srcset="assets/images/download@2x.jpg 2x, assets/images/download@3x.jpg 3x" width="780" height="1102">
                </div>
                <div class="swiper-slide rules-slide">
                    <img src="assets/images/download.jpg" srcset="assets/images/download@2x.jpg 2x, assets/images/download@3x.jpg 3x" width="780" height="1102">
                </div>
                <div class="swiper-slide rules-slide">
                    <img src="assets/images/download.jpg" srcset="assets/images/download@2x.jpg 2x, assets/images/download@3x.jpg 3x" width="780" height="1102">
                </div>
                <div class="swiper-slide rules-slide">
                    <img src="assets/images/download.jpg" srcset="assets/images/download@2x.jpg 2x, assets/images/download@3x.jpg 3x" width="780" height="1102">
                </div>
                <div class="swiper-slide rules-slide">
                    <img src="assets/images/download.jpg" srcset="assets/images/download@2x.jpg 2x, assets/images/download@3x.jpg 3x" width="780" height="1102">
                </div>
                <div class="swiper-slide rules-slide">
                    <img src="assets/images/download.jpg" srcset="assets/images/download@2x.jpg 2x, assets/images/download@3x.jpg 3x" width="780" height="1102">
                </div>
                <div class="swiper-slide rules-slide">
                    <img src="assets/images/download.jpg" srcset="assets/images/download@2x.jpg 2x, assets/images/download@3x.jpg 3x" width="780" height="1102">
                </div>
                <div class="swiper-slide rules-slide">
                    <img src="assets/images/download.jpg" srcset="assets/images/download@2x.jpg 2x, assets/images/download@3x.jpg 3x" width="780" height="1102">
                </div>
            </div>
            <div class="swiper-button-prev btn btn--blue">назад</div>
            <div class="swiper-button-next btn btn--blue">вперед</div>
            <div class="swiper-pagination"></div>
        </div>
        <a href="#" class="btn btn--blue rules-section__download">скачать</a>
    </div>
</section>