<button class="scroll-down" type="button">
    <span class="icon">
        <svg width="33" height="52">
            <use xlink:href="#scroll" />
        </svg>
    </span>
    <span class="text">прокрутите <br>вниз</span>
</button>