<div class="similar-links">
    <h2 class="similar-links__title">
        <span>Материалы по теме</span>
    </h2>
    <ul>
        <li class="similar-link">
            <h3 class="similar-link__title">
                <a href="#">Немифическая польза молока</a>
            </h3>
            <div class="similar-link__tags">
                <a href="#" class="similar-link__tag">Факты об упаковке</a>
            </div>
        </li>
        <li class="similar-link">
            <h3 class="similar-link__title">
                <a href="#">Питание для загара</a>
            </h3>
            <div class="similar-link__tags">
                <a href="#" class="similar-link__tag">Статьи</a>
            </div>
        </li>
        <li class="similar-link">
            <h3 class="similar-link__title">
                <a href="#">Чай и&nbsp;кофе: почему полезней с молоком</a>
            </h3>
            <div class="similar-link__tags">
                <a href="#" class="similar-link__tag">Статьи</a>
            </div>
        </li>
    </ul>
</div>