<section class="subscribe-block">
    <div class="subscribe-block__wrapper">
        <form action="#" method="post" class="subscribe-form">
            <h3 class="subscribe-block__title">ПОДПИШИСЬ НА&nbsp;ОБНОВЛЕНИЕ НАШЕГО БЛОГА</h3>
            <div class="subscribe-form__field-wrapper">
                <input type="email" id="email" class="subscribe-form__field">
                <button class="subscribe-form__btn btn btn--fullblue js-wave btn--milky"><span class="text">подписаться</span></button>
            </div>
        </form>
    </div>
</section>