<div class="overlay  js-modal _show">
    <div class="modal _sz">
        <button type="button" class="modal-close js-modal-close">Закрыть</button>
        <div class="modal__inner">
            <div class="modal__img">
                <img src="assets/images/logo-selo@2x.png" with="103" height="122" alt="">
            </div>
            <h4 class="modal__inner-title">Это что-то<br>новенькое!</h4>
            <p class="modal__descr">Поздравляем, теперь зарегистрировав код, вам доступна новая страница «Село Зелёное» на которой вы найдёте больше информации о молоке.
            </p>
            <a href="landing-sz.html" class="btn modal__btn">Смотреть</a>
        </div>
    </div>
</div>