<a href="#" class="user-block js-user-block">
    <div class="user-block__image" style="background-image: url('assets/images/oval@2x.jpg')"></div>
    <div class="user-block__info">
        <h4 class="user-block__name">Admin admin</h4>
        <div class="user-block__row">
            <div class="points">153 <span class="cur">Б</span> баллов</div>
            <button type="button" class="user-block__add">+</button>
        </div>
    </div>
</a>