<section class="winners-section">
    <h2 class="winners-section__title">Победители</h2>
    <div class="winners-section__inner">
        <div class="winners-slider">
            <header class="winners-slider__header">
                <p class="winners-slider__tag"></p>
                <p class="winners-slider__amount">гарантированные призы</p>
                <div class="winners-slider__date">28.03.2019</div>
            </header>
            <div class="winners-slider__body swiper-container winnersPrizes">
                <div class="swiper-wrapper">
                    <!--<div class="swiper-slide winners-slide">-->
                        <!--<ul class="winners-slide__inner winners-list scrollable">-->

                        <!--</ul>-->
                    <!--</div>-->
                    <div class="swiper-slide winners-slide">
                        <ul class="winners-slide__inner winners-list scrollable">
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Virgie Lindsey</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Lottie Pearson</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Millie Barnett</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Estella Clarke</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Cynthia Cox</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Virgie Lindsey</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Lottie Pearson</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Millie Barnett</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Estella Clarke</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Cynthia Cox</span>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide winners-slide">
                        <ul class="winners-slide__inner winners-list scrollable">
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Virgie Lindsey</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Lottie Pearson</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Millie Barnett</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Estella Clarke</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Cynthia Cox</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Virgie Lindsey</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Lottie Pearson</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Millie Barnett</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Estella Clarke</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Cynthia Cox</span>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide winners-slide">
                        <ul class="winners-slide__inner winners-list scrollable">
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Virgie Lindsey</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Lottie Pearson</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Millie Barnett</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Estella Clarke</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Cynthia Cox</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Virgie Lindsey</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Lottie Pearson</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Millie Barnett</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Estella Clarke</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Cynthia Cox</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="winners-slider">
            <header class="winners-slider__header">
                <p class="winners-slider__tag"></p>
                <p class="winners-slider__amount">Еженедельные призы</p>
                <div class="winners-slider__date">28.03.2019</div>
            </header>
            <div class="winners-slider__body swiper-container winners500">
                <div class="swiper-wrapper">
                    <div class="swiper-slide winners-slide">
                        <ul class="winners-slide__inner winners-list scrollable">
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Virgie Lindsey</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Lottie Pearson</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Millie Barnett</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Estella Clarke</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Cynthia Cox</span>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide winners-slide">
                        <ul class="winners-slide__inner winners-list scrollable">
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Virgie Lindsey</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Lottie Pearson</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Millie Barnett</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Estella Clarke</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Cynthia Cox</span>
                            </li>
                        </ul>
                    </div> <div class="swiper-slide winners-slide">
                    <ul class="winners-slide__inner winners-list scrollable">
                        <li class="winner">
                            <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                            </span>
                            <span class="winner__name">Virgie Lindsey</span>
                        </li>
                        <li class="winner">
                            <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                            </span>
                            <span class="winner__name">Lottie Pearson</span>
                        </li>
                        <li class="winner">
                            <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                            </span>
                            <span class="winner__name">Millie Barnett</span>
                        </li>
                        <li class="winner">
                            <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                            </span>
                            <span class="winner__name">Estella Clarke</span>
                        </li>
                        <li class="winner">
                            <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                            </span>
                            <span class="winner__name">Cynthia Cox</span>
                        </li>
                    </ul>
                </div> <div class="swiper-slide winners-slide">
                    <ul class="winners-slide__inner winners-list scrollable">
                        <li class="winner">
                            <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                            </span>
                            <span class="winner__name">Virgie Lindsey</span>
                        </li>
                        <li class="winner">
                            <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                            </span>
                            <span class="winner__name">Lottie Pearson</span
                        </li>
                        <li class="winner">
                            <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                            </span>
                            <span class="winner__name">Millie Barnett</span>
                        </li>
                        <li class="winner">
                            <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                            </span>
                            <span class="winner__name">Estella Clarke</span>
                        </li>
                        <li class="winner">
                            <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                            </span>
                            <span class="winner__name">Cynthia Cox</span>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="winners-slider">
            <header class="winners-slider__header">
                <p class="winners-slider__tag"></p>
                <p class="winners-slider__amount">Главный приз</p>
                <div class="winners-slider__date">18.03.2019&nbsp;&mdash; 25.03.2019</div>
            </header>
            <div class="winners-slider__body swiper-container winners1000">
                <div class="swiper-wrapper">
                    <div class="swiper-slide winners-slide">
                        <ul class="winners-slide__inner winners-list scrollable">
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Virgie Lindsey</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Lottie Pearson</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Millie Barnett</span>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide winners-slide">
                        <ul class="winners-slide__inner winners-list scrollable">
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Virgie Lindsey</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Lottie Pearson</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Millie Barnett</span>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide winners-slide">
                        <ul class="winners-slide__inner winners-list scrollable">
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Virgie Lindsey</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Lottie Pearson</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Millie Barnett</span>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide winners-slide">
                        <ul class="winners-slide__inner winners-list scrollable">
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Virgie Lindsey</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Lottie Pearson</span>
                            </li>
                            <li class="winner">
                                <span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">
                                </span>
                                <span class="winner__name">Millie Barnett</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <!--<div class="winners-slider">-->
            <!--<header class="winners-slider__header">-->
                <!--<p class="winners-slider__tag">подарочный сертификат</p>-->
                <!--<p class="winners-slider__amount">50&nbsp;000 руб</p>-->
                <!--<div class="winners-slider__date">февраль 2019</div>-->
            <!--</header>-->
            <!--<div class="winners-slider__body swiper-container winners50000">-->
                <!--<div class="swiper-wrapper">-->
                    <!--<div class="swiper-slide winners-slide">-->
                        <!--<p class="winners-slide__text">Нет победителей</p>-->
                        <!--&lt;!&ndash;<ul class="winners-slide__inner winners-list scrollable">&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="winner">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="winner__name">Virgie Lindsey</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="swiper-slide winners-slide">&ndash;&gt;-->
                        <!--&lt;!&ndash;<ul class="winners-slide__inner winners-list scrollable">&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="winner">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="winner__name">Virgie Lindsey</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="swiper-slide winners-slide">&ndash;&gt;-->
                        <!--&lt;!&ndash;<ul class="winners-slide__inner winners-list scrollable">&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="winner">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="winner__name">Virgie Lindsey</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="swiper-slide winners-slide">&ndash;&gt;-->
                        <!--&lt;!&ndash;<ul class="winners-slide__inner winners-list scrollable">&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="winner">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="winner__name">Virgie Lindsey</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="swiper-button-prev"></div>-->
                <!--<div class="swiper-button-next"></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="winners-slider">-->
            <!--<header class="winners-slider__header">-->
                <!--<p class="winners-slider__tag">подарочный сертификат</p>-->
                <!--<p class="winners-slider__amount">50&nbsp;000 руб</p>-->
                <!--<div class="winners-slider__date">июнь 2018</div>-->
            <!--</header>-->
            <!--<div class="winners-slider__body swiper-container winners50000">-->
                <!--<div class="swiper-wrapper">-->
                    <!--<div class="swiper-slide winners-slide">-->
                        <!--<ul class="winners-slide__inner winners-list scrollable">-->
                            <!--<li class="winner">-->
                                <!--<span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">-->
                                <!--</a>-->
                                <!--<span class="winner__name">Virgie Lindsey</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="swiper-slide winners-slide">-->
                        <!--<ul class="winners-slide__inner winners-list scrollable">-->
                            <!--<li class="winner">-->
                                <!--<span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">-->
                                <!--</a>-->
                                <!--<span class="winner__name">Virgie Lindsey</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="swiper-slide winners-slide">-->
                        <!--<ul class="winners-slide__inner winners-list scrollable">-->
                            <!--<li class="winner">-->
                                <!--<span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">-->
                                <!--</a>-->
                                <!--<span class="winner__name">Virgie Lindsey</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="swiper-slide winners-slide">-->
                        <!--<ul class="winners-slide__inner winners-list scrollable">-->
                            <!--<li class="winner">-->
                                <!--<span class="winner__img" style="background-image: url('assets/images/oval@2x.jpg')">-->
                                <!--</a>-->
                                <!--<span class="winner__name">Virgie Lindsey</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="swiper-button-prev"></div>-->
                <!--<div class="swiper-button-next"></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section>