<footer class="page-footer">
    <div class="page-footer__wrapper">
        <div class="page-footer__main-col">
            <nav class="page-footer__nav">
                <ul class="footer-navigation">
                    <li class="footer-navigation__item">
                        <a href="#" class="footer-navigation__link">Знаю</a>
                        <ul class="footer-subnavigation">
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Молочные термин</a>
                            </li>
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Статьи и&nbsp;новости</a>
                            </li>
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Исследования</a>
                            </li>
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Лайфхаки</a>
                            </li>
                        </ul>
                    </li>

                    <li class="footer-navigation__item">
                        <a href="#" class="footer-navigation__link">Проверяю</a>
                        <ul class="footer-subnavigation">
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Мифы о&nbsp;молоке</a>
                            </li>
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Факты</a>
                            </li>
                        </ul>
                    </li>

                    <li class="footer-navigation__item">
                        <a href="#" class="footer-navigation__link">Доверяю</a>
                        <ul class="footer-subnavigation">
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Детали производства</a>
                            </li>
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Преимущества упаковки</a>
                            </li>
                        </ul>
                    </li>

                    <li class="footer-navigation__item">
                        <a href="#" class="footer-navigation__link">Покупаю</a>
                        <ul class="footer-subnavigation">
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Продукция партнеров</a>
                            </li>
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Специальные <br>предложения</a>
                            </li>
                        </ul>
                    </li>

                    <li class="footer-navigation__item">
                        <a href="#" class="footer-navigation__link">Пробую</a>
                        <ul class="footer-subnavigation">
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Рецепты</a>
                            </li>
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Опросы</a>
                            </li>
                        </ul>
                    </li>

                    <li class="footer-navigation__item">
                        <a href="#" class="footer-navigation__link">Участвую</a>
                        <ul class="footer-subnavigation">
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Условия акции</a>
                            </li>
                            <li class="footer-subnavigation__item">
                                <a href="#" class="footer-subnavigation__link">Мотивация участия</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!--div class="page-footer__row">
                            //= ../blocks/lang-block.html
                        </div-->
            <div class="page-footer__row">
                <div class="page-footer__social social">
                    <a href="#" class="social-btn social-btn--vk">
                        <svg class="icon" width="23" height="12">
                            <use xlink:href="#vk" />
                        </svg>
                    </a>
                    <a href="#" class="social-btn social-btn--tw">
                        <svg class="icon" width="20" height="16">
                            <use xlink:href="#tw" />
                        </svg>
                    </a>
                    <a href="#" class="social-btn social-btn--insta">
                        <svg class="icon" width="44" height="43">
                            <use xlink:href="#insta" />
                        </svg>
                    </a>
                </div>
                <ul class="footer-menu">
                    <li>
                        <a href="#">Сериал о&nbsp;молоке</a>
                    </li>
                    <li>
                        <a href="#">Часто задаваемые вопросы</a>
                    </li>
                    <li>
                        <a href="#">Обратная связь</a>
                    </li>
                    <li>
                        <a href="#">Пользовательское соглашение</a>
                    </li>
                    <li>
                        <a href="#">Правила</a>
                    </li>
                    <li>
                        <a href="#">Положение об&nbsp;обработке персональных данных</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-footer__aside-col">
          <div class="appstore-btns">
            <a class="appstore-btns__btn appstore-btns__btn--1" href="#"></a>
            <a class="appstore-btns__btn appstore-btns__btn--2" href="#"></a>
          </div>
        </div>
    </div>
</footer>
