<header class="page-header js-header">
    <div class="page-header__wrapper">
        <div class="page-header__main-col">
            <a href="main.html" class="logo">
            </a>
            <nav class="main-navigation">
                <ul class="main-navigation__list">
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="iknow.html" class="main-navigation__link">Здoрoвье и&nbsp;красота</a>
                        <ul class="subnav">
                            <li class="subnav__item current">
                                <a href="#" class="subnav__link">Молочные термины</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Статьи и&nbsp;новости</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Исследования</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Лайфхаки</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="icheck.html" class="main-navigation__link">Семья и&nbsp;досуг</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Мифы о&nbsp;молоке</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Факты</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="itrust.html" class="main-navigation__link">Забота о&nbsp;будущем</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Детали производства</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Преимущества упаковки</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="ibuy.html" class="main-navigation__link">Рецепты</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Продукция партнеров</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Специальные <br>предложения</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="itry.html" class="main-navigation__link">Факты о&nbsp;молоке</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Рецепты</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Опросы</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item main-navigation__list-item--marked">
                        <a href="#" class="main-navigation__link main-navigation__link--marked">ПОДРОБНЕЕ ОБ&nbsp;АКЦИИ</a>
                    </li>
                    <li class="main-navigation__list-item">
                        <a href="iparticipate.html" class="main-navigation__link">победители</a>
                    </li>
                    <li class="main-navigation__list-item">
                        <a href="iparticipate.html" class="main-navigation__link">призы</a>
                    </li>
                    <li class="main-navigation__list-item">
                        <a href="iparticipate.html" class="main-navigation__link">продукт</a>
                    </li>
                </ul>
                <button class="main-navigation__search-trigger js-search-trigger" type="button">
                    <svg width="17" height="16">
                        <use xlink:href="#icon-search" />
                    </svg>
                    <span class="text">поиск</span>
                </button>
                <div class="search-mobile js-search">
                    <form action="#" method="post" class="search-form">
                        <div class="search-form__field-wrapper">
                            <input type="search" id="search-field-m" class="search-form__field">
                            <button class="search-form__btn btn btn--fullblue js-wave btn--milky"><span class="wave-el"></span><span class="text">найти</span></button>
                        </div>
                    </form>
                    <button class="search-mobile__close js-search-close" type="button">
                        <span class="icon"></span>
                    </button>
                </div>
            </nav>
            <div class="modal-aside">
              //= ../blocks/login-block.html
              //= ../blocks/login-popup.html
            </div>
        </div>
        <div class="page-header__aside-col">
            <div class="page-header__menu-title">меню</div>
            <div class="user-block">
                <a href="#" class="user-block__image" style="background-image: url('assets/images/5ka/ava.svg')"></a>
                <a href="#" class="user-block__info">
                    <h4 class="user-block__name">анна Петрова</h4>
                </a>
                <a href="#" class="user-block__out">
                  <svg width="20" height="20">
                    <use xlink:href="#login" />
                  </svg>
                </a>
            </div>
            //= ../blocks/menu-trigger.html
        </div>
    </div>
    <div class="search-block js-search">
        <button class="search-block__close js-search-close" type="button">
            <span class="text">закрыть</span>
            <span class="icon"></span>
        </button>
        <div class="search-block__wrapper">
            <form action="#" method="post" class="search-form">
                <label for="search-field" class="search-form__label">поиск</label>
                <div class="search-form__field-wrapper">
                    <input type="search" id="search-field" class="search-form__field">
                    <button class="search-form__btn btn btn--fullblue js-wave btn--milky"><span class="wave-el"></span><span class="text">найти</span></button>
                </div>
            </form>
        </div>
    </div>
</header>
