<header class="page-header _fixed">
    <div class="page-header__wrapper">
        <div class="page-header__main-col">
            <a href="main.html" class="logo">
                <svg width="99" height="100">
                    <use xlink:href="#logo" />
                </svg>
            </a>
            <nav class="main-navigation">
                <ul class="main-navigation__list">
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="iknow.html" class="main-navigation__link">Знаю</a>
                        <ul class="subnav">
                            <li class="subnav__item current">
                                <a href="#" class="subnav__link">Молочные термины</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Статьи и&nbsp;новости</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Исследования</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Лайфхаки</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="icheck.html" class="main-navigation__link">Проверяю</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Мифы о&nbsp;молоке</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Факты</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="itrust.html" class="main-navigation__link">Доверяю</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Детали производства</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Преимущества упаковки</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="ibuy.html" class="main-navigation__link">Покупаю</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Продукция партнеров</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Специальные <br>предложения</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="itry.html" class="main-navigation__link">Пробую</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Рецепты</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Опросы</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="iparticipate.html" class="main-navigation__link">Участвую</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Условия акции</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Мотивация участия</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            //= ../blocks/lang-block.html
        </div>
        <div class="page-header__aside-col">
            <div class="page-header__menu-title">меню</div>
            //= ../blocks/user-block.html
            //= ../blocks/menu-trigger.html
        </div>
    </div>
    <div class="search-block js-search show _nested">
        <button class="search-block__close js-search-close" type="button">
            <span class="text">закрыть</span>
            <span class="icon"></span>
        </button>
        <div class="search-block__wrapper">
            <form action="#" method="post" class="search-form">
                <label for="search-field" class="search-form__label">поиск по&nbsp;сайту</label>
                <div class="search-form__field-wrapper">
                    <input type="search" id="search-field" class="search-form__field">
                    <button class="search-form__btn btn btn--fullblue js-wave btn--milky"><span class="wave-el"></span><span class="text">найти</span></button>
                </div>
            </form>
        </div>
    </div>
</header>