<header class="page-header js-header">
    <div class="page-header__wrapper">
        <div class="page-header__main-col">
            <a href="main.html" class="logo">
                <svg width="99" height="100">
                    <use xlink:href="#logo" />
                </svg>
            </a>
            <nav class="main-navigation">
                <ul class="main-navigation__list">
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="iknow.html" class="main-navigation__link">Здoрoвье и красота</a>
                        <ul class="subnav">
                            <li class="subnav__item current">
                                <a href="#" class="subnav__link">Молочные термины</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Статьи и&nbsp;новости</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Исследования</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Лайфхаки</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="icheck.html" class="main-navigation__link">Семья и досуг</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Мифы о&nbsp;молоке</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Факты</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="itrust.html" class="main-navigation__link">Забота о будущем</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Детали производства</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Преимущества упаковки</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="ibuy.html" class="main-navigation__link">Рецепты</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Продукция партнеров</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Специальные <br>предложения</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="itry.html" class="main-navigation__link">Факты о молоке</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Рецепты</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Опросы</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <a href="#" class="main-navigation__link main-navigation__link--marked">ПОДРОБНЕЕ ОБ АКЦИИ</a>
                    </li>
                    <li class="main-navigation__list-item">
                        <a href="iparticipate.html" class="main-navigation__link">победители</a>
                    </li>
                    <li class="main-navigation__list-item">
                        <a href="iparticipate.html" class="main-navigation__link">призы</a>
                    </li>
                    <li class="main-navigation__list-item">
                        <a href="iparticipate.html" class="main-navigation__link">продукт</a>
                    </li>
                </ul>
            </nav>
            <div class="modal-aside">
                //= ../blocks/login-block.html
                //= ../blocks/login-popup.html
            </div>
        </div>
        <div class="page-header__aside-col">
            <div class="page-header__menu-title">меню</div>
            <a href="#" class="login-link js-login-link">
                <span class="text">ЛИЧНЫЙ КАБИНЕТ</span>
                <span class="icon">
                <svg width="20" height="20">
                <use xlink:href="#login" />
                </svg>
                </span>
            </a>
            //= ../blocks/menu-trigger.html
        </div>
    </div>
</header>
