<header class="page-header js-header">
    <div class="page-header__wrapper">
        <div class="page-header__main-col">
            <a href="main.html" class="logo">
                <svg width="99" height="100">
                    <use xlink:href="#logo" />
                </svg>
            </a>
            <nav class="main-navigation">
                <ul class="main-navigation__list">
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="iknow.html" class="main-navigation__link">Знаю</a>
                        <ul class="subnav">
                            <li class="subnav__item current">
                                <a href="#" class="subnav__link">Молочные термины</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Статьи и новости</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Исследования</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Лайфхаки</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="icheck.html" class="main-navigation__link">Проверяю</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Мифы о молоке</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Факты</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item current">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="itrust.html" class="main-navigation__link">Доверяю</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Детали производства</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Преимущества упаковки</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="ibuy.html" class="main-navigation__link">Покупаю</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Продукция партнеров</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Специальные <br>предложения</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="itry.html" class="main-navigation__link">Пробую</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Рецепты</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Опросы</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-navigation__list-item">
                        <button type="button" class="main-navigation__trigger js-subnav-trigger"></button>
                        <a href="iparticipate.html" class="main-navigation__link">Участвую</a>
                        <ul class="subnav">
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Условия акции</a>
                            </li>
                            <li class="subnav__item">
                                <a href="#" class="subnav__link">Мотивация участия</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            //= ../blocks/lang-block.html
            <div class="modal-aside">
                //= ../blocks/intro-aside.html
                //= ../blocks/profile-popup.html
            </div>
        </div>
        <div class="page-header__aside-col">
            <div class="page-header__menu-title">меню</div>
            //= ../blocks/user-block.html
            //= ../blocks/menu-trigger.html
        </div>
    </div>
</header>