.page-footer

    .lang-block
        margin-left: auto
        margin-bottom: 25px
        margin-right: 56px
        padding-top: 0

        @media (max-width: 1024px)
            display: flex
            margin-right: 28px

        @media (max-width: 767px)
            margin-top: 34px
            flex-direction: column
            margin-left: 6px
            margin-right: 22px

            li
                margin-bottom: 11px

    &__wrapper
        display: flex
        @media (max-width: 767px)
          flex-direction: column

    &__row
        display: flex

        &:last-child
            margin-top: auto

        &:nth-child(2)

            @media (max-width: 1024px)
                flex-direction: column
                order: 2
                margin-top: -34px
                padding: 40px 0

        &:nth-child(3)

            @media (max-width: 1024px)
                order: 1
                flex-direction: column

    &__main-col
        display: flex
        flex-direction: column
        background-color: #013764
        min-width: 75%

        @media (max-width: 1440px)
          min-width: 72%
        @media (max-width: 1024px)
            display: flex
            flex-direction: column
            padding-top: 40px

        @media (max-width: 767px)
            flex-direction: row

    &__aside-col
        width: 25%
        min-width: 25%
        background-color: #013764
        @media (max-width: 1440px)
          min-width: 28%
          width: 28%
        @media (max-width: 767px)
            width: 100%
            max-width: 100%

    &__nav
        margin-bottom: 0

        @media (max-width: 1024px)
            display: none

    &__social
        margin-left: 40px
        margin-right: auto

        @media (min-width: 1920px)
            margin-right: 0
            width: 33.333333%

        @media (max-width: 1024px)
            order: 2

        @media (max-width: 767px)
            margin-left: 20px
            margin-top: 10px
            padding-bottom: 10px

.appstore-btns
  display: flex
  padding-top: 150px
  @media (max-width: 1270px)
    padding-top: 128px
  @media (max-width: 1023px)
    padding-top: 155px
  @media (max-width: 767px)
    padding-left: 20px
    padding-top: 0
    padding-bottom: 30px
  &__btn
    width: 158px
    height: 52px
    border: 1px solid #FFFFFF
    border-radius: 10px
    background-position: center
    background-repeat: no-repeat
    @media (max-width: 1270px)
      width: 95px
      height: 31px
      background-size: 84% auto
    &--1
      background-image: url('../images/5ka/appstore-1.png')
      margin-right: 18px
      @media (max-width: 1023px)
        margin-right: 10px
    &--2
      background-image: url('../images/5ka/appstore-2.png')

.footer-navigation
    @include list-reset
    display: flex
    justify-content: space-between
    margin-bottom: 5px
    padding: 40px 40px 0 40px

    &__item
        font-family: $font
        font-weight: 700
        font-size: 15px
        line-height: 20px
        letter-spacing: 1.6px

        @media (max-width: 1439px)
            padding-right: 10px

    &__link
        display: block
        margin-bottom: 22px
        color: #fff

.footer-subnavigation
    @include list-reset

    &__item
        margin-bottom: 8px
        font-family: $font
        font-weight: 400
        font-size: 12px
        line-height: 12px
        letter-spacing: 1.2px

        &:last-child
            margin-bottom: 0

    &__link
        color: #fff

.footer-menu
    @include list-reset
    display: flex
    flex-wrap: wrap
    max-width: 662px
    margin-left: auto
    margin-right: 40px
    padding-bottom: 25px

    @media (min-width: 1920px)
        margin-left: 0

    @media (max-width: 1024px)
        order: 1
        margin: 0 0 18px 0
        padding: 0 40px

    @media (max-width: 767px)
        padding-left: 20px
        padding-right: 0

    li
        @include hover
        margin-bottom: 9px
        margin-right: 30px
        font-family: $font
        font-weight: 400
        font-size: 12px
        line-height: 20px
        letter-spacing: 1.2px

        @media (max-width: 767px)
            margin-bottom: 11px
            line-height: 16px

    a
        color: #fff


.preloader
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #fff
    z-index: 9999

    img
        +vAlignAbs()
        display: block
