.page-header
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 128px
    z-index: 11

    @media (max-width: 1023px)
      pointer-events: none

    @media (max-width: 767px)
      pointer-events: auto

    &._white-screen

        .logo svg
            fill: $blue

        .user-block__name
            color: $blue

            @media (min-width: 1025px)
                color: #fff

        .user-block__add
            @media (max-width: 1023px)
                border-color: $blue

            &:before, &:after
                @media (max-width: 1023px)
                    background-color: $blue

        .points
            color: $blue

            @media (min-width: 1025px)
                color: rgba(255, 255, 255, 0.6)

        .main-navigation a
            color: $d-blue

        .lang-block a
            color: $d-blue

        .lang-block li.current a
            border-color: $d-blue

        .menu-trigger span,
        .menu-trigger span:before,
        .menu-trigger span:after
            background-color: $blue

        .login-link
            @media (max-width: 1023px)
                color: $blue

                svg
                    fill: $blue
                    stroke: $blue

        &._fixed

            .logo svg
                fill: $d-blue

            .user-block__name
                color: $blue

        &._full

            .main-navigation a

                @media (max-width: 1023px)
                    color: #fff

            .menu-trigger span:before,
            .menu-trigger span:after
                background-color: #fff

            .login-link
                @media (max-width: 1023px)
                    color: #fff

                    svg
                        fill: #fff
                        stroke: #fff

    @media (max-width: 1023px)
        position: absolute
        display: flex
        justify-content: flex-end
        height: auto
        overflow: hidden
        pointer-events: none

        &:before
            content: ""
            position: absolute
            right: 0
            top: 0
            bottom: 0
            width: 50%
            height: 100%
            background-color: $blue
            transform: translateX(100%)
            transition: transform 0.3s ease

            ._muu &
                background-color: #293763

            @media (max-width: 767px)
                width: 100%

    &__wrapper
        display: flex
        position: relative

        @media (max-width: 1023px)
            flex-direction: column
            width: 50%
            position: static

        @media (max-width: 767px)
            width: 100%
            max-height: 105px
            overflow: hidden

        &::after
          content: ''
          width: 100%
          height: 90px
          background-color: #185491
          position: absolute
          top: 0
          left: 0
          z-index: -1

          @media (max-width: 1279px)
            height: 70px

          @media (max-width: 1023px)
            height: 80px
          @media (max-width: 767px)
            height: 40px

          ._fixed &
            display: none

    &__main-col
        //flex: 0 0 85%
        width: 85%
        display: flex
        align-items: flex-start

        @media (max-width: 1600px)
          width: auto

        @media (max-width: 1023px)
            order: 2
            flex: none
            flex-direction: column
            width: 100%
            pointer-events: none
            min-height: 150px
            overflow: hidden
        ._5ka &
          width: 87%
          @media (max-width: 1600px)
            width: auto
          @media (max-width: 1023px)
            width: 100%

    &__aside-col
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        //flex: 0 0 15%
        width: 15%
        pointer-events: auto

        @media (max-width: 1600px)
          width: auto

        @media (max-width: 1023px)
            order: 1
            flex-direction: row
            align-items: flex-start
            flex: none
            width: 100%
        ._5ka &
          width: 13%
          @media (max-width: 1600px)
            width: 12%
          @media (max-width: 1279px)
            width: auto
          @media (max-width: 1023px)
            width: 100%

    &__menu-title
        position: relative
        display: none
        margin: 0
        max-width: 0
        text-transform: uppercase
        font-family: $font-alt
        font-weight: 700
        font-size: 13px
        line-height: 20px
        color: #fff
        letter-spacing: 1.5px
        opacity: 0
        transition: opacity 0.3s ease
        overflow: hidden

        @media (max-width: 1023px)
            display: block

    &._fixed
        position: fixed
        height: 60px
        transition: background-color 0.15s ease, box-shadow 0.3s ease
        background-color: #fff
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2)
        z-index: 100

        @media (max-width: 1023px)
            overflow: visible

.logo
  background: url('../images/5ka/logo.png') 0 0 no-repeat
  background-size: contain
  width: 112px
  height: 112px
  margin-right: 72px
  margin-left: 46px
  margin-top: 18px
  position: relative
  @media (max-width: 1600px)
    margin-right: 25px
    margin-left: 32px
  @media (max-width: 1279px)
    width: 74px
    height: 74px
    margin-right: 24px
    margin-left: 20px
    margin-top: 14px
  @media (max-width: 1023px)
    width: 102px
    height: 102px
    pointer-events: auto
    margin-left: 31px
    margin-top: 12px
    position: absolute
    top: 0
    left: 0
  @media (max-width: 767px)
    width: 51px
    height: 51px
    margin-left: 20px
    margin-top: 10px
  &::after
    content: ''
    background: #1C558F
    position: absolute
    top: -3px
    left: -3px
    width: 118px
    height: 118px
    border-radius: 50%
    z-index: -1
    @media (max-width: 1279px)
      display: block
      width: 80px
      height: 80px
    @media (max-width: 1023px)
      width: 108px
      height: 108px
    @media (max-width: 767px)
      top: -4px
      left: -4px
      width: 59px
      height: 59px

    ._fixed &
      display: none
  ._fixed &
    margin-top: 10px

.logo-muu
    @include hover
    position: relative
    margin-right: 30px
    width: 115px
    height: 141px
    background-color: #fff
    border-radius: 0 0 10px 10px

    @media (max-width: 1279px)
        position: absolute
        top: 0
        left: 150px

    @media (max-width: 768px)
        left: 93px
        width: 83px
        height: 85px

    ._fixed &
        display: none

    svg
        @include center
        display: block
        width: 86px
        max-width: 90%

    img
        @include center
        transform: translate(-50%, -50%) rotate(-15deg) translateX(5px)
        max-width: 96%
        height: auto

.logo-landing
    @include hover
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-end
    margin-right: 30px
    box-sizing: border-box
    padding: 0 8px 29px
    width: 115px
    height: 141px
    background-color: #fff
    border-radius: 0 0 10px 10px

    @media (max-width: 1279px)
        position: absolute
        top: 0
        left: 150px

    @media (max-width: 768px)
        left: 93px
        padding: 0 4px 13px
        width: 83px
        height: 85px

        ._krai &
            width: 98px
            height: 92px

    ._fixed &
        align-self: center
        width: 71px
        height: 48px
        padding: 0

        @media (max-width: 768px)
            top: 5px

    img
        flex: none
        display: block
        max-width: 100%
        height: auto

    &._special
        padding-bottom: 13px
        border: 2px solid #4f6ab2
        border-top: none

        ._fixed &
            border: none
            padding-bottom: 0

        img:nth-child(2)
            margin-top: 12px

            ._fixed &
                display: none

.logo-sz
    @include hover
    position: relative
    margin-right: 30px
    width: 115px
    height: 141px
    background-color: #076134
    border-radius: 0 0 10px 10px

    @media (max-width: 1279px)
        position: absolute
        top: 0
        left: 150px

    @media (max-width: 768px)
        left: 93px
        width: 83px
        height: 85px

    img
        display: block
        width: 100%
        height: auto

    ._fixed &
        margin-right: auto
        width: 68px
        height: 61px
        border-radius: 0
        overflow: hidden

        img
            margin: -11px auto 0
            width: 60px

.page-header._full
    background-color: $transparent
    //background-image: linear-gradient(to bottom, #fff 0%, #fff 60px, $transparent 60px, $transparent 100%)

    @media(max-width: 1023px)
        min-height: 100%
        z-index: 51

        &:before
            transform: translateX(0)

        .login-link .text
            font-size: 0
            line-height: 13px

        .main-navigation
            opacity: 1
            z-index: 1
            pointer-events: initial

        .page-header

            &__wrapper
                height: 100vh
                max-height: 100vh
                overflow: auto

            &__menu-title
                opacity: 1
                margin: 40px 10px 0 40px
                max-width: 100%

                @media (max-width: 767px)
                    margin-top: 30px
                    margin-left: 20px

            &__main-col
                pointer-events: initial
                min-height: 604px
                overflow: auto

                @media (max-width: 767px)
                    min-height: calc(100vh - 100px)

        .user-block
            position: relative
            margin-left: auto
            width: auto

            &__info
                display: none

    @media(max-width: 767px)
        max-height: 100vh
        overflow: auto

        .page-header

            &__wrapper
                height: auto

.page-header._full._fixed

    @media(max-width: 1023px)
        min-height: 100%

        .menu-trigger span,
        .menu-trigger span:before,
        .menu-trigger span:after
            background-color: #fff

        .login-link svg
            fill: #fff
            stroke: #fff

        .page-header

            &__menu-title
                margin-top: 24px

        .main-navigation__link
            color: #fff
            padding-bottom: 0

        .main-navigation__list-item.expanded

            .main-navigation__link
                padding-bottom: 21px

    @media (max-width: 767px)

        .main-navigation
            padding-top: 16px

            &__trigger
                top: 19px

        .page-header__menu-title
            margin-top: 31px

        .menu-trigger
            margin-top: 30px

        .menu-trigger span
            background-color: $transparent
